{
    "openapi": "3.0.0",
    "info": {
      "title": "compliance",
      "version": "1.0.0",
      "description": "Tax Deducted at Source (TDS) is an indirect method of collecting Income Tax. TDS is based on the principle of “Pay as you earn” which is beneficial for both the Government and the taxpayer. It is where a person making a payment of specified nature is liable to deduct tax at a prescribed rate. This ensures continuous revenue for the Government by way of Tax Deducted at the Source.\n\nThe Payer making a payment is also responsible to deposit TDS with the Income Tax Department within a specified date and file a TDS Return. Once filed, the deposited amount will be shown in the Payee's Form 26AS which they can then use to claim tax credits when filing ITR.\n\nHowever, staying TDS compliant can be a hassle for businesses, as they are required to :\n\n1. Deduct TDS from payments that are liable for TDS Deduction at an appropriate rate.\n    \n2. Deposit TDS to Government before the due date.\n    \n3. File TDS Returns on a Quarterly basis.\n    \n4. Issue a TDS Certificate by the deductor to the deductee.\n    \n\nOrganizations deducting TDS have to remain compliant with each of the steps. Failure to do so results in TDS Penalties by Authorities. Sandbox provides TDS Compliance APIs to help you automate end-to-end TDS compliance."
    },
    "servers": [
      {
        "url": "https://api.sandbox.co.in"
      },
      {
        "url": "https://test-api.sandbox.co.in"
      }
    ],
    "paths": {
      "/tds/compliance/206ab/check": {
        "post": {
          "summary": "Section 206AB & 206CCA Compliance Check",
          "tags": [
            "TDS Compliance Check"
          ],
          "parameters": [
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "description": "API version",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Specified person",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string",
                            "enum": [
                              "in.co.sandbox.tds.compliance.206ab_check.response"
                            ]
                          },
                          "pan": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "pan_allotment_date": {
                            "type": "integer"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "specified_person_us_206ab_&_206cca": {
                            "type": "string"
                          },
                          "pan_status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 Invalid PAN pattern",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.206ab_check.request"
                      ]
                    },
                    "pan": {
                      "description": "10-character alphanumeric unique identifier for an income tax-payer.",
                      "pattern": "[A-Z]{3}[PCFTGHLABJ]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}",
                      "type": "string"
                    },
                    "consent": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity",
                    "pan",
                    "consent",
                    "reason"
                  ]
                }
              }
            }
          }
        }
      },
      "/tds/compliance/csi/otp": {
        "post": {
          "summary": "Generate OTP",
          "tags": [
            "Download CSI"
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-x-amzn-RequestId": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "access-control-allow-headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Requested-With": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Date": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "mobile_number": {
                            "type": "string"
                          },
                          "from": {
                            "type": "integer"
                          },
                          "to": {
                            "type": "integer"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      },
                      "code": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 - Unprocessable Entity",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.deductors.otp.request"
                      ]
                    },
                    "tan": {
                      "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "type": "string"
                    },
                    "mobile_number": {
                      "description": "Mobile Number to send the OTP. Pattern: [1-9]{1}[0-9]{9}",
                      "pattern": "[1-9]{1}[0-9]{9}",
                      "type": "string"
                    },
                    "from": {
                      "description": "Date from which challan details are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "to": {
                      "description": "Date till which challan details are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "consent": {
                      "description": "Consent of the end-user to get their information. Possible values: Y or y",
                      "type": "string"
                    },
                    "reason": {
                      "description": "Indicate the purpose. Min length: 20 characters",
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity",
                    "tan",
                    "mobile_number",
                    "from",
                    "to",
                    "consent",
                    "reason"
                  ]
                }
              }
            }
          }
        }
      },
      "/tds/compliance/csi/otp/verify": {
        "post": {
          "summary": "Verify OTP",
          "tags": [
            "Download CSI"
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-x-amzn-RequestId": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "access-control-allow-headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Requested-With": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Date": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "from": {
                            "type": "integer"
                          },
                          "to": {
                            "type": "integer"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "csi_url": {
                            "type": "string"
                          }
                        }
                      },
                      "code": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.deductors.csi.request"
                      ]
                    },
                    "reference_id": {
                      "type": "string"
                    },
                    "otp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity",
                    "reference_id",
                    "otp"
                  ]
                }
              }
            }
          }
        }
      },
      "/tds/compliance/fvu/generate": {
        "post": {
          "summary": "Create FVU Generation Job",
          "tags": [
            "FVU Generation"
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "description": "JWT Authorization token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "Public key required to authorize API access.",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "filing_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "txt_file_upload_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "csi_file_upload_url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 - Unprocessable Entity",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.fvu.generate.request"
                      ]
                    },
                    "financial_year": {
                      "description": "Financial Year (e.g. FY 2024-25)",
                      "example": "FY 2024-25",
                      "type": "string"
                    },
                    "quarter": {
                      "enum": [
                        "Q1",
                        "Q2",
                        "Q3",
                        "Q4"
                      ],
                      "example": "Q1",
                      "type": "string"
                    },
                    "form": {
                      "enum": [
                        "26Q",
                        "27Q",
                        "24Q",
                        "27EQ"
                      ],
                      "example": "26Q",
                      "type": "string"
                    },
                    "tan": {
                      "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "type": "string"
                    },
                    "filing_type": {
                      "description": "Type of TDS/TCS Return",
                      "example": "regular",
                      "enum": [
                        "regular",
                        "correction"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity",
                    "financial_year",
                    "tan",
                    "form",
                    "quarter",
                    "filing_type"
                  ]
                }
              }
            }
          }
        },
        "get": {
          "summary": "Fetch FVU Generation Status",
          "tags": [
            "FVU Generation"
          ],
          "parameters": [
            {
              "name": "job_id",
              "in": "query",
              "required": false,
              "description": "Unique identifier of a job",
              "deprecated": false,
              "schema": {}
            },
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "description": "JWT Authorization token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "Public key required to authorize API access.",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "filing_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          },
                          "fvu_zip_file_url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 Invalid Job ID",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "521": {
              "description": "521 Data not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/tds/compliance/fvu/generate/search": {
        "post": {
          "summary": "Search FVU Generation Job",
          "tags": [
            "FVU Generation"
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "description": "JWT Authorization token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "Public key required to authorize API access.",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 job success",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string",
                            "enum": [
                              "in.co.sandbox.tds.compliance.fvu.generate.paginated_list"
                            ]
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "integer"
                                },
                                "@entity": {
                                  "type": "string"
                                },
                                "job_id": {
                                  "type": "string"
                                },
                                "tan": {
                                  "type": "string"
                                },
                                "financial_year": {
                                  "type": "string"
                                },
                                "quarter": {
                                  "type": "string"
                                },
                                "form": {
                                  "type": "string"
                                },
                                "filing_type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "transaction_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.fvu.generate.search"
                      ]
                    },
                    "financial_year": {
                      "description": "Financial Year (e.g. FY 2024-25)",
                      "type": "string"
                    },
                    "form": {
                      "description": "TDS return form",
                      "type": "string"
                    },
                    "quarter": {
                      "description": "Quarter (e.g. Q2)",
                      "type": "string"
                    },
                    "tan": {
                      "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "type": "string"
                    },
                    "filing_type": {
                      "description": "Type of TDS/TCS Return",
                      "type": "string"
                    },
                    "from_date": {
                      "description": "Date from which jobs are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "to_date": {
                      "description": "Date till which jobs are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "page_size": {
                      "description": "Number of records in the API response. Maximum allowed size is 50",
                      "type": "integer"
                    },
                    "last_evaluated_key": {
                      "description": "Base64 encoding of the stringified JSON object, which includes x-api-key, created_at, and job_id",
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity"
                  ]
                }
              }
            }
          }
        }
      },
      "/tds/compliance/e-file": {
        "post": {
          "summary": "Create TDS Return Filing Job",
          "tags": [
            "E-File TDS Return"
          ],
          "parameters": [
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "description": "API version",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Job created",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Requested-With": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Date": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "fvu_upload_file_url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 Invalid Form",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Requested-With": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Date": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.e-file.request"
                      ]
                    },
                    "financial_year": {
                      "description": "Financial Year (e.g. FY 2022-23)",
                      "example": "FY 2024-25",
                      "type": "string"
                    },
                    "form": {
                      "description": "TDS/TCS return form",
                      "enum": [
                        "24Q",
                        "26Q",
                        "27Q",
                        "27EQ"
                      ],
                      "type": "string"
                    },
                    "quarter": {
                      "enum": [
                        "Q1",
                        "Q2",
                        "Q3",
                        "Q4"
                      ],
                      "type": "string"
                    },
                    "tan": {
                      "example": "AHMA09719B",
                      "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity",
                    "financial_year",
                    "quarter",
                    "tan",
                    "form"
                  ]
                }
              }
            }
          }
        },
        "get": {
          "summary": "Fetch TDS Return Job Status",
          "tags": [
            "E-File TDS Return"
          ],
          "parameters": [
            {
              "name": "job_id",
              "in": "query",
              "required": true,
              "description": "Unique identifier of the job",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "description": "API version",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Job Succeeded",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "x-amzn-Remapped-Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Requested-With": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-Remapped-Date": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "filing_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "receipt_number": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          },
                          "receipt_file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "fvu_file_url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "form27a_file_url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "521": {
              "description": "521 Data not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/tds/compliance/e-file/search": {
        "post": {
          "summary": "Fetch Jobs",
          "tags": [
            "E-File TDS Return"
          ],
          "parameters": [
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Job succeeded",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "integer"
                                },
                                "@entity": {
                                  "type": "string"
                                },
                                "job_id": {
                                  "type": "string"
                                },
                                "tan": {
                                  "type": "string"
                                },
                                "financial_year": {
                                  "type": "string"
                                },
                                "quarter": {
                                  "type": "string"
                                },
                                "form": {
                                  "type": "string"
                                },
                                "filing_type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "transaction_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string"
                    },
                    "tan": {
                      "type": "string"
                    },
                    "quarter": {
                      "type": "string"
                    },
                    "form": {
                      "type": "string"
                    },
                    "financial_year": {
                      "type": "string"
                    },
                    "from_date": {
                      "type": "integer"
                    },
                    "to_date": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "last_evaluated_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/tds/compliance/traces/deductors/forms/{certificate_type}": {
        "post": {
          "summary": "Submit TDS Certificate Download Job",
          "tags": [
            "TDS Certificate"
          ],
          "parameters": [
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "remember_me": {
                            "type": "boolean"
                          },
                          "created_at": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 Missing Credentials",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.traces.credentials"
                      ]
                    },
                    "username": {
                      "description": "Username of the TRACES portal",
                      "type": "string"
                    },
                    "password": {
                      "description": "The password of the TRACES portal",
                      "type": "string"
                    },
                    "tan": {
                      "type": "string"
                    },
                    "security_captcha": {
                      "description": "Details required to generate TDS certificates",
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "enum": [
                            "in.co.sandbox.tds.compliance.traces.credentials.security_captcha"
                          ]
                        },
                        "quarter": {
                          "enum": [
                            "Q1",
                            "Q2",
                            "Q3",
                            "Q4"
                          ],
                          "type": "string"
                        },
                        "financial_year": {
                          "description": "Financial Year (e.g. FY 2022-23)",
                          "example": "FY 2024-25",
                          "type": "string"
                        },
                        "form": {
                          "description": "TDS return form",
                          "enum": [
                            "24Q",
                            "26Q",
                            "27Q"
                          ],
                          "type": "string"
                        },
                        "bsr_code": {
                          "description": "Bank-Branch Code/ Form 24G Receipt Number",
                          "type": "string"
                        },
                        "challan_date": {
                          "description": "EPOCH timestamp of challan paid on date (in milliseconds)",
                          "type": "integer"
                        },
                        "challan_serial_no": {
                          "description": "Bank Challan Number. Priority in choosing challan : Challan with distinct 3 payments (PAN-amount combination) > Challan with distinct 2 payments > Challan with distinct 1 payment",
                          "type": "string"
                        },
                        "provisional_receipt_number": {
                          "description": "Provisional regular return receipt number of recently filed return",
                          "type": "string"
                        },
                        "challan_amount": {
                          "description": "total amount of the challan",
                          "type": "integer"
                        },
                        "unique_pan_amount_combination_for_challan": {
                          "description": "Three different PANs and total TDS deposited against them in the mentioned Challan",
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "remember_me": {
                      "description": "Whether to remember the credentials",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "@entity",
                    "username",
                    "password",
                    "tan",
                    "security_captcha",
                    "remember_me"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "certificate_type",
            "in": "path",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "enum": [
                "form16",
                "form16a"
              ]
            }
          }
        ]
      },
      "/tds/compliance/traces/deductors/forms/{certificate_type}/status": {
        "post": {
          "summary": "Poll Certificate Job Status",
          "tags": [
            "TDS Certificate"
          ],
          "parameters": [
            {
              "name": "job_id",
              "in": "query",
              "required": true,
              "description": "Check job status of Download Form16",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 - Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "tan": {
                            "type": "string"
                          },
                          "quarter": {
                            "type": "string"
                          },
                          "form": {
                            "type": "string"
                          },
                          "financial_year": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "remember_me": {
                            "type": "boolean"
                          },
                          "created_at": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422 - Unprocessable Entity",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "521": {
              "description": "521 Data Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    },
                    "tan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "certificate_type",
            "in": "path",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "enum": [
                "form16",
                "form16a"
              ]
            }
          }
        ]
      },
      "/tds/compliance/traces/deductors/forms/{certificate_type}/search": {
        "post": {
          "summary": "Fetch Jobs",
          "tags": [
            "TDS Certificate"
          ],
          "parameters": [
            {
              "name": "authorization",
              "in": "header",
              "required": true,
              "description": "JWT access token",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "required": true,
              "description": "API key for identification",
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": false,
              "deprecated": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Jobs fetched",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "timestamp": {
                        "type": "integer"
                      },
                      "transaction_id": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "@entity": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@entity": {
                                  "type": "string"
                                },
                                "job_id": {
                                  "type": "string"
                                },
                                "tan": {
                                  "type": "string"
                                },
                                "financial_year": {
                                  "type": "string"
                                },
                                "quarter": {
                                  "type": "string"
                                },
                                "form": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "integer"
                                },
                                "updated_at": {
                                  "type": "integer"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "remember_me": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "last_evaluated_key": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@entity": {
                      "type": "string",
                      "enum": [
                        "in.co.sandbox.tds.compliance.certificate.job.search"
                      ]
                    },
                    "tan": {
                      "description": "Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                      "type": "string"
                    },
                    "quarter": {
                      "description": "Quarter (e.g. Q2)",
                      "type": "string"
                    },
                    "form": {
                      "description": "TDS return form",
                      "type": "string"
                    },
                    "financial_year": {
                      "description": "Financial Year (e.g. FY 2022-23)",
                      "type": "string"
                    },
                    "from_date": {
                      "description": "Date from which jobs are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "to_date": {
                      "description": "Date till which jobs are to be fetched. Value in EPOCH timestamp",
                      "type": "integer"
                    },
                    "page_size": {
                      "description": "Number of records in the API response. Maximum allowed size is 50",
                      "type": "integer"
                    },
                    "last_evaluated_key": {
                      "description": "Base64 encoding of the stringified JSON object, which includes x-api-key, created_at, and job_id",
                      "type": "string"
                    }
                  },
                  "required": [
                    "@entity"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "certificate_type",
            "in": "path",
            "required": true,
            "deprecated": false,
            "schema": {
              "type": "string",
              "enum": [
                "form16",
                "form16a"
              ]
            }
          }
        ]
      }
    }
  }