{
    "openapi": "3.0.0",
    "info": {
        "title": "compliance",
        "version": "1.0.0",
        "description": "Tax Deducted at Source (TDS) is an indirect method of collecting Income Tax. TDS is based on the principle of “Pay as you earn” which is beneficial for both the Government and the taxpayer. It is where a person making a payment of specified nature is liable to deduct tax at a prescribed rate. This ensures continuous revenue for the Government by way of Tax Deducted at the Source.\n\nThe Payer making a payment is also responsible to deposit TDS with the Income Tax Department within a specified date and file a TDS Return. Once filed, the deposited amount will be shown in the Payee's Form 26AS which they can then use to claim tax credits when filing ITR.\n\nHowever, staying TDS compliant can be a hassle for businesses, as they are required to :\n\n1. Deduct TDS from payments that are liable for TDS Deduction at an appropriate rate.\n    \n2. Deposit TDS to Government before the due date.\n    \n3. File TDS Returns on a Quarterly basis.\n    \n4. Issue a TDS Certificate by the deductor to the deductee.\n    \n\nOrganizations deducting TDS have to remain compliant with each of the steps. Failure to do so results in TDS Penalties by Authorities. Sandbox provides TDS Compliance APIs to help you automate end-to-end TDS compliance."
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/tds/compliance/206ab/check": {
            "post": {
                "summary": "Section 206AB & 206CCA Compliance Check",
                "tags": [
                    "TDS Compliance Check"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "enum": [
                                                        "in.co.sandbox.tds.compliance.206ab_check.response"
                                                    ]
                                                },
                                                "pan": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "pan_allotment_date": {
                                                    "type": "integer"
                                                },
                                                "financial_year": {
                                                    "type": "string"
                                                },
                                                "specified_person_us_206ab_&_206cca": {
                                                    "type": "string"
                                                },
                                                "pan_status": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 Specified person": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXPX1234A",
                                                "name": "SXXXXJ MXXXXXXXXR",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "y",
                                                "pan_status": "operative"
                                            }
                                        }
                                    },
                                    "200 Specified person (2)": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXPX1234L",
                                                "name": "MXXXA PXXXL",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "y",
                                                "pan_status": "operative"
                                            }
                                        }
                                    },
                                    "200 Specified person (3)": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXCX1234B",
                                                "name": "IXXL CXXP",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "y",
                                                "pan_status": "operative"
                                            }
                                        }
                                    },
                                    "200 Specified person with inoperative pan": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXPX1234H",
                                                "name": "AXXXV KXXXA",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "y",
                                                "pan_status": "inoperative"
                                            }
                                        }
                                    },
                                    "200 Specified person with inoperative pan (2)": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXAX2345A",
                                                "name": "MXXR SXXR",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "y",
                                                "pan_status": "inoperative"
                                            }
                                        }
                                    },
                                    "200 Not a specified person": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXPX1234B",
                                                "name": "JXXXR MXXXXXXA",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "n",
                                                "pan_status": "operative"
                                            }
                                        }
                                    },
                                    "200 Not a specified person (2)": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXBX3456B",
                                                "name": "FXXD TXXXG",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "n",
                                                "pan_status": "operative"
                                            }
                                        }
                                    },
                                    "200 Not a specified person with inoperative pan": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXPX1234B",
                                                "name": "RXXXL SXXXH",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "n",
                                                "pan_status": "inoperative"
                                            }
                                        }
                                    },
                                    "200 Not a specified person with inoperative pan (2)": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "pan": "XXXTX1234P",
                                                "name": "EXXXN MXXL",
                                                "pan_allotment_date": 1527100200000,
                                                "financial_year": "FY 2024-25",
                                                "specified_person_us_206ab_&_206cca": "n",
                                                "pan_status": "inoperative"
                                            }
                                        }
                                    },
                                    "200 Invalid PAN": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.206ab_check.response",
                                                "message": "Invalid PAN"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 Invalid PAN pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1687348772740,
                                            "transaction_id": "780b2332-d96e-4ef5-b7bc-d7b40e59fa9e",
                                            "message": "Invalid Pan pattern"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.compliance.206ab_check.request"
                                        ]
                                    },
                                    "pan": {
                                        "description": "10-character alphanumeric unique identifier for an income tax-payer.",
                                        "pattern": "[A-Z]{3}[PCFTGHLABJ]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}",
                                        "type": "string"
                                    },
                                    "consent": {
                                        "type": "string"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "pan",
                                    "consent",
                                    "reason"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/tds/compliance/csi/otp": {
            "post": {
                "summary": "Generate OTP",
                "tags": [
                    "Download CSI"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-Remapped-x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "access-control-allow-origin": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "access-control-allow-headers": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-Remapped-Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "x-amzn-Remapped-Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Requested-With": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-Remapped-Date": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "tan": {
                                                    "type": "string"
                                                },
                                                "mobile_number": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                },
                                                "reference_id": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "timestamp": 1731669661517,
                                            "transaction_id": "166148b8-25e3-4ef2-b052-5a27098ebb0e",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.otp.response",
                                                "tan": "AHMA09719B",
                                                "mobile_number": "1234567890",
                                                "from": 1722450600000,
                                                "to": 1730313000000,
                                                "reference_id": "FOS005981930273",
                                                "message": "OTP sent successfully"
                                            },
                                            "code": 200
                                        }
                                    },
                                    "200 Invalid TAN": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.csi.response",
                                                "message": "Invalid TAN"
                                            }
                                        }
                                    },
                                    "200 OTP already generated": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.csi.response",
                                                "message": "OTP generated for this TAN, please try after 30 seconds"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Unprocessable Entity": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid TAN pattern"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.compliance.deductors.otp.request"
                                        ]
                                    },
                                    "tan": {
                                        "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "type": "string"
                                    },
                                    "mobile_number": {
                                        "description": "Mobile Number to send the OTP. Pattern: [1-9]{1}[0-9]{9}",
                                        "pattern": "[1-9]{1}[0-9]{9}",
                                        "type": "string"
                                    },
                                    "from": {
                                        "description": "Date from which challan details are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "to": {
                                        "description": "Date till which challan details are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "consent": {
                                        "description": "Consent of the end-user to get their information. Possible values: Y or y",
                                        "type": "string"
                                    },
                                    "reason": {
                                        "description": "Indicate the purpose. Min length: 20 characters",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "tan",
                                    "mobile_number",
                                    "from",
                                    "to",
                                    "consent",
                                    "reason"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/tds/compliance/csi/otp/verify": {
            "post": {
                "summary": "Verify OTP",
                "tags": [
                    "Download CSI"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "x-amzn-Remapped-x-amzn-RequestId": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "access-control-allow-origin": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "access-control-allow-headers": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-Remapped-Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "x-amzn-Remapped-Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Requested-With": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-Remapped-Date": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "tan": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                },
                                                "reference_id": {
                                                    "type": "string"
                                                },
                                                "csi_url": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "timestamp": 1731669721578,
                                            "transaction_id": "8a0c097f-8e6d-4c11-8228-87d3c8cc44ce",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.csi.response",
                                                "tan": "AHMA09719B",
                                                "from": 1722450600000,
                                                "to": 1730313000000,
                                                "reference_id": "FOS005981930273",
                                                "csi_url": ".."
                                            },
                                            "code": 200
                                        }
                                    },
                                    "200 Invalid OTP": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.csi",
                                                "message": "The OTP you have entered is incorrect."
                                            }
                                        }
                                    },
                                    "200 OTP Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.deductors.csi",
                                                "message": "OTP expired"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.compliance.deductors.csi.request"
                                        ]
                                    },
                                    "reference_id": {
                                        "type": "string"
                                    },
                                    "otp": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "reference_id",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/tds/compliance/fvu/generate": {
            "post": {
                "summary": "Create FVU Generation Job",
                "tags": [
                    "FVU Generation"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT Authorization token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Public key required to authorize API access.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "tan": {
                                                    "type": "string"
                                                },
                                                "financial_year": {
                                                    "type": "string"
                                                },
                                                "quarter": {
                                                    "type": "string"
                                                },
                                                "form": {
                                                    "type": "string"
                                                },
                                                "filing_type": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "txt_file_upload_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "csi_file_upload_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "4ef92975-aea8-4628-9eaa-18eb439c13d9",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "regular",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "txt_file_upload_url": "https://test-api.sandbox.co.in/tds/compliance/tan/financial_year/quarter/form/e61fd4d6-dedd-4803-ab45.txt",
                                                "csi_file_upload_url": "https://test-api.sandbox.co.in/tds/compliance/tan/financial_year/quarter/form/e61fd4d6-dedd-4803-ab45.csi"
                                            }
                                        }
                                    },
                                    "200 Job created for Correction return": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "f845f37e-7f05-4de9-a282-a3b23b9d370a",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2022-23",
                                                "quarter": "Q4",
                                                "form": "24Q",
                                                "filing_type": "correction",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "txt_file_upload_url": "https://test-api.sandbox.co.in/tds/compliance/tan/financial_year/quarter/form/e61fd4d6-dedd-4803-ab45.txt",
                                                "csi_file_upload_url": "https://test-api.sandbox.co.in/tds/compliance/tan/financial_year/quarter/form/e61fd4d6-dedd-4803-ab45.csi",
                                                "conso_file_upload_url": "https://test-api.sandbox.co.in/tds/compliance/tan/financial_year/quarter/form/e61fd4d6-dedd-4803-ab45.tds"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Unprocessable Entity": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid TAN pattern"
                                        }
                                    },
                                    "422 Invalid Form": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid form type: 22Q"
                                        }
                                    },
                                    "422 Invalid Financial Year": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid financial year: FY 2022-2"
                                        }
                                    },
                                    "422 Invalid Quarter": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid quarter: Q9"
                                        }
                                    },
                                    "422 Invalid Filing Type": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid filing_type: original"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.compliance.fvu.generate.request"
                                        ]
                                    },
                                    "financial_year": {
                                        "description": "Financial Year (e.g. FY 2024-25)",
                                        "example": "FY 2024-25",
                                        "type": "string"
                                    },
                                    "quarter": {
                                        "enum": [
                                            "Q1",
                                            "Q2",
                                            "Q3",
                                            "Q4"
                                        ],
                                        "example": "Q1",
                                        "type": "string"
                                    },
                                    "form": {
                                        "enum": [
                                            "26Q",
                                            "27Q",
                                            "24Q",
                                            "27EQ"
                                        ],
                                        "example": "26Q",
                                        "type": "string"
                                    },
                                    "tan": {
                                        "description": "TAN of deductor/collector. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "type": "string"
                                    },
                                    "filing_type": {
                                        "description": "Type of TDS/TCS Return",
                                        "example": "regular",
                                        "enum": [
                                            "regular",
                                            "correction"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "financial_year",
                                    "tan",
                                    "form",
                                    "quarter",
                                    "filing_type"
                                ]
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Fetch FVU Generation Status",
                "tags": [
                    "FVU Generation"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "query",
                        "required": false,
                        "description": "Unique identifier of a job",
                        "deprecated": false,
                        "schema": {}
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT Authorization token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Public key required to authorize API access.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Job Queued",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "filing_type": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Succeeded",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "filing_type": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "fvu_zip_file_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Failed",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "filing_type": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "validation_report_file_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "4ef92975-aea8-4628-9eaa-18eb439c13d9",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "regular",
                                                "status": "succeeded",
                                                "created_at": 1763362637000,
                                                "updated_at": 1763362637000,
                                                "fvu_zip_file_url": "https://in-co-sandbox-tds-compliance-fvu-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/4ef92975-aea8-4628-9eaa-18eb439c13d9.zip"
                                            }
                                        }
                                    },
                                    "200 Job succeeded for Correction return": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "445731fc-f785-4672-989a-6d332149e06f",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "correction",
                                                "status": "succeeded",
                                                "created_at": 1763362637000,
                                                "updated_at": 1763362637000,
                                                "fvu_zip_file_url": "https://in-co-sandbox-tds-compliance-fvu-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/f845f37e-7f05-4de9-a282-a3b23b9d370a.zip"
                                            }
                                        }
                                    },
                                    "200 Job failed": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "7a9176ef-1e59-4b8e-a1de-ee15b09963f8",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "regular",
                                                "status": "failed",
                                                "created_at": 1763362637000,
                                                "updated_at": 1763362637000,
                                                "validation_report_file_url": "https://in-co-sandbox-tds-compliance-fvu-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/9693f3f9-e7dd-4a70-9390-0501ab7f4d27_error.json"
                                            }
                                        }
                                    },
                                    "200 Job Queued": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "db544879-a592-466f-a948-83b5a11cd52d",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "regular",
                                                "status": "queued",
                                                "created_at": 1763362637000,
                                                "updated_at": 1763362637000
                                            }
                                        }
                                    },
                                    "200 Job created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                "job_id": "a88ce705-e16f-4a44-9b56-273bfbc039d5",
                                                "tan": "AHMA09719B",
                                                "financial_year": "FY 2024-25",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "filing_type": "regular",
                                                "status": "created",
                                                "created_at": 1763362637000
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 Invalid Job ID": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid Job ID: 123313jojj"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "521 Data not found": {
                                        "value": {
                                            "code": 521,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Data not found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tds/compliance/fvu/generate/search": {
            "post": {
                "summary": "Search FVU Generation Job",
                "tags": [
                    "FVU Generation"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT Authorization token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Public key required to authorize API access.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Encoding": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "enum": [
                                                        "in.co.sandbox.tds.compliance.fvu.generate.paginated_list"
                                                    ]
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "created_at": {
                                                                "type": "integer"
                                                            },
                                                            "@entity": {
                                                                "type": "string"
                                                            },
                                                            "job_id": {
                                                                "type": "string"
                                                            },
                                                            "tan": {
                                                                "type": "string"
                                                            },
                                                            "financial_year": {
                                                                "type": "string"
                                                            },
                                                            "quarter": {
                                                                "type": "string"
                                                            },
                                                            "form": {
                                                                "type": "string"
                                                            },
                                                            "filing_type": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 job success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763035746825,
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.compliance.fvu.generate.paginated_list",
                                                "items": [
                                                    {
                                                        "created_at": 1762511623903,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "6622b26a-9601-4692-9c9c-a9b3a1ff8a6e",
                                                        "tan": "AHMA44270C",
                                                        "financial_year": "FY 2023-24",
                                                        "quarter": "Q3",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "created"
                                                    },
                                                    {
                                                        "created_at": 1762238825579,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "c4894d31-c59d-4955-b5a8-5c124e3e8072",
                                                        "tan": "AHMA00000C",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "created"
                                                    },
                                                    {
                                                        "created_at": 1762238798138,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "83526ecf-9401-4472-9894-0dded05a5b2d",
                                                        "tan": "AHMA00000C",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "created"
                                                    },
                                                    {
                                                        "created_at": 1761819084423,
                                                        "updated_at": 1761819130863,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "6f006f8d-7680-47de-8982-950a6bba48c2",
                                                        "tan": "AHMQ00112A",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "succeeded"
                                                    },
                                                    {
                                                        "created_at": 1761818231823,
                                                        "updated_at": 1761818280529,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "98e92413-b1a1-4f15-9efc-84f0b617dd64",
                                                        "tan": "AHMQ00112A",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "failed"
                                                    },
                                                    {
                                                        "created_at": 1761738587585,
                                                        "updated_at": 1761738622697,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "183a31e4-fdc4-437b-8054-f87121af6dcc",
                                                        "tan": "AHMQ00112A",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "24Q",
                                                        "filing_type": "regular",
                                                        "status": "succeeded"
                                                    },
                                                    {
                                                        "created_at": 1761738584006,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "e5142096-8182-46e7-8e19-b12159f8c965",
                                                        "tan": "AHMQ00112A",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "24Q",
                                                        "filing_type": "regular",
                                                        "status": "created"
                                                    },
                                                    {
                                                        "created_at": 1761737173402,
                                                        "updated_at": 1761737219289,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "1c8fce43-401e-4876-a78d-1043f81a7954",
                                                        "tan": "AHMQ00112A",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "24Q",
                                                        "filing_type": "regular",
                                                        "message": "Form mismatch",
                                                        "status": "failed"
                                                    },
                                                    {
                                                        "created_at": 1761732724431,
                                                        "updated_at": 1761732773453,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "5c7dfb7d-7915-42e2-b0d5-7aa93449a648",
                                                        "tan": "AHMS45586C",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "filing_type": "regular",
                                                        "status": "succeeded"
                                                    },
                                                    {
                                                        "created_at": 1761659003619,
                                                        "updated_at": 1761659086073,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "2c35a44b-e61b-4a70-9a92-079354710133",
                                                        "tan": "AHMS45586C",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
                                                        "form": "24Q",
                                                        "filing_type": "regular",
                                                        "status": "succeeded"
                                                    },
                                                    {
                                                        "created_at": 1761634299914,
                                                        "updated_at": 1761634345747,
                                                        "@entity": "in.co.sandbox.tds.compliance.fvu.generate.job",
                                                        "job_id": "56625794-b1a9-4d7d-a26d-7fcbd18632a7",
                                                        "tan": "BLRR32170F",
                                                        "financial_year": "FY 2025-26",
                                                        "quarter": "Q2",
[...]
