{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "servers": [
        {
            "url": "https://api.sandbox.co.in",
            "description": "Production"
        },
        {
            "url": "https://test-api.sandbox.co.in",
            "description": "Test"
        }
    ],
    "paths": {
        "/bank/{ifsc}/accounts/{account_number}/verify?": {
            "get": {
                "summary": "Bank Account Verification [Penny-Drop]",
                "description": "",
                "operationId": "bank-account-verification-api",
                "parameters": [
                    {
                        "name": "ifsc",
                        "in": "path",
                        "description": "11-digit alpha-numeric code used to identify the bank branches",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_number",
                        "in": "path",
                        "description": "Bank account number. Max length: 40 characters.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "description": "Pass true to accept the cached response. If the header is not passed, or if false is sent as the value, the request will hit the origin.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"35b2f6a0-0a80-42c4-88db-75857ad69dec\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Bank Account details verified successfully.\",\n        \"account_exists\": true,\n        \"name_at_bank\": \"John Doe\",\n        \"utr\": \"329613870973\",\n        \"amount_deposited\": \"1\"\n    }\n}"
                                    },
                                    "Invalid Account Number or IFSC": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"83163cf0-adc4-4b5a-8f1a-9d0817385431\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Invalid account number or ifsc provided\",\n        \"account_exists\": false\n    }\n}"
                                    },
                                    "NRE account": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"33f8ce3e-ca54-4364-ae85-2f54bae21610\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Given account is an NRE account\",\n        \"account_exist\": true\n    }\n}"
                                    },
                                    "Account is blocked": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"2c6e5010-b565-47f1-812a-9c83d5d87922\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Account is blocked\",\n        \"account_exists\": true\n    }\n}"
                                    },
                                    "IFSC is invalid": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"6feab746-fcda-4772-b268-9b1e29937b96\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"IFSC is invalid\"\n    }\n}"
                                    },
                                    "Source bank declined": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"6feab746-fcda-4772-b268-9b1e29937b96\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Source bank declined\"\n    }\n}"
                                    },
                                    "Beneficiary bank offline": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"fb9f2593-0c98-4cd3-954a-aacc7cecbc66\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Beneficiary bank offline\"\n    }\n}"
                                    },
                                    "NPCI Unavailable": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"eb69f2b4-b07d-4593-b6e9-5f141c023aea\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"NPCI is Unavailable\"\n    }\n}"
                                    },
                                    "IMPS Mode fail": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"e9c15dcc-135b-4d85-81a8-54011248a8d2\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"IMPS Mode fail\"\n    }\n}"
                                    },
                                    "Failed at Beneficiary Bank": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"6d22c2bc-4875-4caa-b6a1-304a666baa6e\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"Failed at beneficiary bank\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "35b2f6a0-0a80-42c4-88db-75857ad69dec"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Bank Account details verified successfully."
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "name_at_bank": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "utr": {
                                                            "type": "string",
                                                            "example": "329613870973"
                                                        },
                                                        "amount_deposited": {
                                                            "type": "string",
                                                            "example": "1"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid Account Number or IFSC",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "83163cf0-adc4-4b5a-8f1a-9d0817385431"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Invalid account number or ifsc provided"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": false,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "NRE account",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "33f8ce3e-ca54-4364-ae85-2f54bae21610"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Given account is an NRE account"
                                                        },
                                                        "account_exist": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Account is blocked",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "2c6e5010-b565-47f1-812a-9c83d5d87922"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Account is blocked"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "IFSC is invalid",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "6feab746-fcda-4772-b268-9b1e29937b96"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "IFSC is invalid"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Source bank declined",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "6feab746-fcda-4772-b268-9b1e29937b96"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Source bank declined"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Beneficiary bank offline",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "fb9f2593-0c98-4cd3-954a-aacc7cecbc66"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Beneficiary bank offline"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "NPCI Unavailable",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "eb69f2b4-b07d-4593-b6e9-5f141c023aea"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "NPCI is Unavailable"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "IMPS Mode fail",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "e9c15dcc-135b-4d85-81a8-54011248a8d2"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "IMPS Mode fail"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Failed at Beneficiary Bank",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "6d22c2bc-4875-4caa-b6a1-304a666baa6e"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Failed at beneficiary bank"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid IFSC pattern": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid IFSC pattern\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Phone should be numeric": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Phone should be numeric\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Please provide a valid bank account": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Please provide a valid bank account\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Please provide a valid phone number": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Please provide a valid phone number\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid IFSC provided": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid IFSC provided\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid bank account number or ifsc provided": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid bank account number or ifsc provided\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Invalid IFSC pattern",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid IFSC pattern"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Phone should be numeric",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Phone should be numeric"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Please provide a valid bank account",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Please provide a valid bank account"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Please provide a valid phone number",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Please provide a valid phone number"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid IFSC provided",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid IFSC provided"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid bank account number or ifsc provided",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid bank account number or ifsc provided"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Internal Server Error": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Internal Server Error\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Failed at bank": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Failed at bank\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Transaction failed": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Transaction Failed\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "IMPS not supported on Beneficiary Account": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"IMPS not supported on Beneficiary Account\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Internal Server Error",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Internal Server Error"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Failed at bank",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed at bank"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Transaction failed",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Transaction Failed"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "IMPS not supported on Beneficiary Account",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "IMPS not supported on Beneficiary Account"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Source Unavailable": {
                                        "value": "{\n  \"code\": 503,\n  \"message\": \"Source Unavailable\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 503,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Source Unavailable"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/bank/{ifsc}": {
            "get": {
                "summary": "IFSC Verification",
                "description": "",
                "operationId": "ifsc-verification-api",
                "parameters": [
                    {
                        "name": "ifsc",
                        "in": "path",
                        "description": "11-digit alpha-numeric code used to identify the bank branches",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n  \"BRANCH\": \"PARK STREET\",\n  \"CENTRE\": \"JAIPUR\",\n  \"DISTRICT\": \"JAIPUR\",\n  \"STATE\": \"RAJASTHAN\",\n  \"ADDRESS\": \"3 PARK STREET M I ROAD M I ROAD\",\n  \"CONTACT\": \"9875003333\",\n  \"MICR\": \"302240007\",\n  \"RTGS\": true,\n  \"CITY\": \"JAIPUR\",\n  \"NEFT\": true,\n  \"IMPS\": true,\n  \"BANK\": \"HDFC Bank\",\n  \"BANKCODE\": \"HDFC\",\n  \"IFSC\": \"HDFC0001234\"\n}"
                                    },
                                    "Not Found": {
                                        "value": "\"Not Found\""
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Success",
                                            "type": "object",
                                            "properties": {
                                                "BRANCH": {
                                                    "type": "string",
                                                    "example": "PARK STREET"
                                                },
                                                "CENTRE": {
                                                    "type": "string",
                                                    "example": "JAIPUR"
                                                },
                                                "DISTRICT": {
                                                    "type": "string",
                                                    "example": "JAIPUR"
                                                },
                                                "STATE": {
                                                    "type": "string",
                                                    "example": "RAJASTHAN"
                                                },
                                                "ADDRESS": {
                                                    "type": "string",
                                                    "example": "3 PARK STREET M I ROAD M I ROAD"
                                                },
                                                "CONTACT": {
                                                    "type": "string",
                                                    "example": "9875003333"
                                                },
                                                "MICR": {
                                                    "type": "string",
                                                    "example": "302240007"
                                                },
                                                "RTGS": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "default": true
                                                },
                                                "CITY": {
                                                    "type": "string",
                                                    "example": "JAIPUR"
                                                },
                                                "NEFT": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "default": true
                                                },
                                                "IMPS": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "default": true
                                                },
                                                "BANK": {
                                                    "type": "string",
                                                    "example": "HDFC Bank"
                                                },
                                                "BANKCODE": {
                                                    "type": "string",
                                                    "example": "HDFC"
                                                },
                                                "IFSC": {
                                                    "type": "string",
                                                    "example": "HDFC0001234"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not Found",
                                            "type": "string",
                                            "example": "Not Found"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/bank/{ifsc}/accounts/{account_number}/penniless-verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Less]",
                "description": "",
                "operationId": "bank-account-verification-penny-less-api",
                "parameters": [
                    {
                        "name": "ifsc",
                        "in": "path",
                        "description": "11-digit alpha-numeric code used to identify the bank branches. [Select Banks](https://developer.sandbox.co.in/reference/kyc-master-data#supported-bank-for-bank-account-verification-pennyless) have enabled Pennyless Verification.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "account_number",
                        "in": "path",
                        "description": "Bank account number",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "description": "Pass true to accept the cached response. If the header is not passed, or if false is sent as the value, the request will hit the origin.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string",
                            "default": "1.0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n\t\"data\": {\n    \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n\t\t\"account_exists\": true,\n\t\t\"name_at_bank\": \"JOHN DOE\"\n\t},\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid Account Number or IFSC": {
                                        "value": "{\n\t\"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Invalid account number or ifsc provided\",\n        \"account_exists\": false\n    },\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Beneficiary bank offline": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"fb9f2593-0c98-4cd3-954a-aacc7cecbc66\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Beneficiary bank offline\"\n    }\n}"
                                    },
                                    "Invalid account number or ifsc provided": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"83163cf0-adc4-4b5a-8f1a-9d0817385431\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Invalid account number or ifsc provided\",\n        \"account_exists\": false\n    }\n}"
                                    },
                                    "IMPS Mode fail": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"e9c15dcc-135b-4d85-81a8-54011248a8d2\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_drop_verification_response\",\n        \"message\": \"IMPS Mode fail\"\n    }\n}"
                                    },
                                    "Account is blocked": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"2c6e5010-b565-47f1-812a-9c83d5d87922\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Account is blocked\",\n        \"account_exists\": true\n    }\n}"
                                    },
                                    "Given account is an NRE account": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"33f8ce3e-ca54-4364-ae85-2f54bae21610\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Given account is an NRE account\",\n        \"account_exist\": true\n    }\n}"
                                    },
                                    "Failed at beneficiary bank": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1698047469406,\n    \"transaction_id\": \"6d22c2bc-4875-4caa-b6a1-304a666baa6e\",\n    \"data\": {\n        \"@entity\": \"@in.co.sandbox.bank.account.penny_less_verification_response\",\n        \"message\": \"Failed at beneficiary bank\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "name_at_bank": {
                                                            "type": "string",
                                                            "example": "JOHN DOE"
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid Account Number or IFSC",
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Invalid account number or ifsc provided"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": false,
                                                            "default": true
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Beneficiary bank offline",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "fb9f2593-0c98-4cd3-954a-aacc7cecbc66"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Beneficiary bank offline"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid account number or ifsc provided",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "83163cf0-adc4-4b5a-8f1a-9d0817385431"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Invalid account number or ifsc provided"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": false,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "IMPS Mode fail",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "e9c15dcc-135b-4d85-81a8-54011248a8d2"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "IMPS Mode fail"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Account is blocked",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "2c6e5010-b565-47f1-812a-9c83d5d87922"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Account is blocked"
                                                        },
                                                        "account_exists": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Given account is an NRE account",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "33f8ce3e-ca54-4364-ae85-2f54bae21610"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Given account is an NRE account"
                                                        },
                                                        "account_exist": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Failed at beneficiary bank",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1698047469406,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "6d22c2bc-4875-4caa-b6a1-304a666baa6e"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Failed at beneficiary bank"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid IFSC pattern": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid IFSC pattern\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid IFSC pattern"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Source bank declined": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Source bank declined\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Failed at bank": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Failed at bank\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Source bank declined",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Source bank declined"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Failed at bank",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed at bank"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Source Unavailable": {
                                        "value": "{\n  \"code\": 503,\n  \"message\": \"Source Unavailable\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 503,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Source Unavailable"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        }
    }
}