{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/mca/directors/{din}": {
            "get": {
                "summary": "Director Master Data",
                "description": "API to get director master data using DIN (Director Identification Number)",
                "operationId": "mca-director-master-data-api-deprecated",
                "parameters": [
                    {
                        "name": "din",
                        "in": "path",
                        "description": "8-digit unique identification number, which is allotted by the central government to each individual who is a director of any company",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "consent",
                        "in": "query",
                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "Purpose for which the user has given their consent. Min length: 20 characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1645523361549,\n    \"transaction_id\": \"4069ded1-032d-40c9-acb5-0221d8af716e\",\n    \"data\": {\n        \"llp_data\": [],\n        \"company_data\": [\n            {\n                \"end_date\": \"-\",\n                \"active_compliance\": \"ACTIVE compliant\",\n                \"company_name\": \"JOHN DOE PRIVATE LIMITED\",\n                \"begin_date\": \"19/03/2015\",\n                \"cin/fcrn\": \"U12300GJ2015PTC123456\"\n            },\n            {\n                \"end_date\": \"-\",\n                \"active_compliance\": \"ACTIVE compliant\",\n                \"company_name\": \"JD PRIVATE LIMITED\",\n                \"begin_date\": \"09/06/2017\",\n                \"cin/fcrn\": \"U12300GJ2017PTC123456\"\n            }\n        ],\n        \"director_data\": {\n            \"din\": \"79934699\",\n            \"name\": \"JOHN DOE\"\n        }\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1645523361549,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "4069ded1-032d-40c9-acb5-0221d8af716e"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "llp_data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                },
                                                "company_data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "end_date": {
                                                                "type": "string",
                                                                "example": "-"
                                                            },
                                                            "active_compliance": {
                                                                "type": "string",
                                                                "example": "ACTIVE compliant"
                                                            },
                                                            "company_name": {
                                                                "type": "string",
                                                                "example": "JOHN DOE PRIVATE LIMITED"
                                                            },
                                                            "begin_date": {
                                                                "type": "string",
                                                                "example": "19/03/2015"
                                                            },
                                                            "cin/fcrn": {
                                                                "type": "string",
                                                                "example": "U12300GJ2015PTC123456"
                                                            }
                                                        }
                                                    }
                                                },
                                                "director_data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "din": {
                                                            "type": "string",
                                                            "example": "79934699"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "JOHN DOE"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Please Provide A Valid DIN": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"DIN Entered does not match our Records, Please enter a Valid DIN.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "DIN Entered does not match our Records, Please enter a Valid DIN."
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/mca/companies/{id}": {
            "get": {
                "summary": "Company Master Data",
                "description": "API to get company master data using CIN (Company Identification Number)",
                "operationId": "mca-company-master-data-api-deprecated",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "21 characters alpha-numeric unique identification code, which is allotted by the central government to each company or 7 characters alpha-numeric unique identification code issued to LLP",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "consent",
                        "in": "query",
                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "Purpose for which the user has given their consent. Min length: 20 characters",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "CIN": {
                                        "value": "{\n\t\"data\": {\n\t\t\"company_master_data\": {\n\t\t\t\"company_category\": \"Company limited by Shares\",\n\t\t\t\"email_id\": \"john@doe.com\",\n\t\t\t\"class_of_company\": \"Private\",\n\t\t\t\"number_of_members(applicable_in_case_of_company_without_share_capital)\": \"0\",\n\t\t\t\"address_other_than_r/o_where_all_or_any_books_of_account_and_papers_are_maintained\": \"-\",\n\t\t\t\"date_of_last_agm\": \"30/09/2019\",\n\t\t\t\"registered_address\": \"123, ABC LAKEVIEW TOWER OPPOSITE A COMPLEX, AHMEDABAD Ahmedabad GJ 380015 IN\",\n\t\t\t\"registration_number\": \"999999\",\n\t\t\t\"paid_up_capital(rs)\": \"100000\",\n\t\t\t\"whether_listed_or_not\": \"Unlisted\",\n\t\t\t\"suspended_at_stock_exchange\": \"-\",\n\t\t\t\"cin\": \"U12345AB1234ABC123456\",\n\t\t\t\"company_subcategory\": \"Non-govt company\",\n\t\t\t\"authorised_capital(rs)\": \"100000\",\n\t\t\t\"company_status(for_efiling)\": \"Active\",\n\t\t\t\"roc_code\": \"RoC-Ahmedabad\",\n\t\t\t\"date_of_balance_sheet\": \"31/03/2019\",\n\t\t\t\"date_of_incorporation\": \"09/06/2017\",\n\t\t\t\"company_name\": \"JOHN DOE PRIVATE LIMITED\"\n\t\t},\n\t\t\"charges\": [],\n\t\t\"directors/signatory_details\": [\n\t\t\t{\n\t\t\t\t\"end_date\": \"-\",\n\t\t\t\t\"din/pan\": \"99999999\",\n\t\t\t\t\"begin_date\": \"09/06/2017\",\n\t\t\t\t\"surrendered_din\": \"\",\n\t\t\t\t\"name\": \"JOHN DOE\"\n\t\t\t}\n\t\t]\n\t},\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    " LLPIN": {
                                        "value": "{\n\t\"data\": {\n\t\t\"charges\": [],\n\t\t\"directors/signatory_details\": [\n\t\t\t{\n\t\t\t\t\"end_date\": \"-\",\n\t\t\t\t\"surrendered_din\": \"\",\n\t\t\t\t\"din/pan\": \"8888888\",\n\t\t\t\t\"begin_date\": \"31/03/2010\",\n\t\t\t\t\"name\": \"JANE DOE\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"end_date\": \"-\",\n\t\t\t\t\"surrendered_din\": \"\",\n\t\t\t\t\"din/pan\": \"9999999\",\n\t\t\t\t\"begin_date\": \"31/03/2010\",\n\t\t\t\t\"name\": \"JACK DOE\"\n\t\t\t}\n\t\t],\n\t\t\"company_master_data\": {\n\t\t\t\"email_id\": \"jane@doe.com\",\n\t\t\t\"registered_address\": \"1234, WILSON GARDEN BANGALORE Bangalore KA 560027 IN\",\n\t\t\t\"date_of_last_financial_year_end_date_for_which_annual_return_filed\": \"31/03/2019\",\n\t\t\t\"date_of_last_financial_year_end_date_for_which_statement_of_accounts_and_solvency_filed\": \"31/03/2019\",\n\t\t\t\"main_division_of_business_activity_to_be_carried_out_in_india\": \"74\",\n\t\t\t\"previous_firm/_company_details,_if_applicable\": \"\",\n\t\t\t\"llpin\": \"ABC-1234\",\n\t\t\t\"roc_code\": \"RoC-Bangalore\",\n\t\t\t\"number_of_designated_partners\": \"2\",\n\t\t\t\"date_of_incorporation\": \"24/04/2009\",\n\t\t\t\"llp_name\": \"JANE DOE CONSULTING LLP\",\n\t\t\t\"total_obligation_of_contribution\": \"15000\",\n\t\t\t\"llp_status\": \"Active\",\n\t\t\t\"description_of_main_division\": \"Other Business Activities\",\n\t\t\t\"number_of_partners\": \"0\"\n\t\t}\n\t},\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "CIN",
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "company_master_data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "company_category": {
                                                                    "type": "string",
                                                                    "example": "Company limited by Shares"
                                                                },
                                                                "email_id": {
                                                                    "type": "string",
                                                                    "example": "john@doe.com"
                                                                },
                                                                "class_of_company": {
                                                                    "type": "string",
                                                                    "example": "Private"
                                                                },
                                                                "number_of_members(applicable_in_case_of_company_without_share_capital)": {
                                                                    "type": "string",
                                                                    "example": "0"
                                                                },
                                                                "address_other_than_r/o_where_all_or_any_books_of_account_and_papers_are_maintained": {
                                                                    "type": "string",
                                                                    "example": "-"
                                                                },
                                                                "date_of_last_agm": {
                                                                    "type": "string",
                                                                    "example": "30/09/2019"
                                                                },
                                                                "registered_address": {
                                                                    "type": "string",
                                                                    "example": "123, ABC LAKEVIEW TOWER OPPOSITE A COMPLEX, AHMEDABAD Ahmedabad GJ 380015 IN"
                                                                },
                                                                "registration_number": {
                                                                    "type": "string",
                                                                    "example": "999999"
                                                                },
                                                                "paid_up_capital(rs)": {
                                                                    "type": "string",
                                                                    "example": "100000"
                                                                },
                                                                "whether_listed_or_not": {
                                                                    "type": "string",
                                                                    "example": "Unlisted"
                                                                },
                                                                "suspended_at_stock_exchange": {
                                                                    "type": "string",
                                                                    "example": "-"
                                                                },
                                                                "cin": {
                                                                    "type": "string",
                                                                    "example": "U12345AB1234ABC123456"
                                                                },
                                                                "company_subcategory": {
                                                                    "type": "string",
                                                                    "example": "Non-govt company"
                                                                },
                                                                "authorised_capital(rs)": {
                                                                    "type": "string",
                                                                    "example": "100000"
                                                                },
                                                                "company_status(for_efiling)": {
                                                                    "type": "string",
                                                                    "example": "Active"
                                                                },
                                                                "roc_code": {
                                                                    "type": "string",
                                                                    "example": "RoC-Ahmedabad"
                                                                },
                                                                "date_of_balance_sheet": {
                                                                    "type": "string",
                                                                    "example": "31/03/2019"
                                                                },
                                                                "date_of_incorporation": {
                                                                    "type": "string",
                                                                    "example": "09/06/2017"
                                                                },
                                                                "company_name": {
                                                                    "type": "string",
                                                                    "example": "JOHN DOE PRIVATE LIMITED"
                                                                }
                                                            }
                                                        },
                                                        "charges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        },
                                                        "directors/signatory_details": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "end_date": {
                                                                        "type": "string",
                                                                        "example": "-"
                                                                    },
                                                                    "din/pan": {
                                                                        "type": "string",
                                                                        "example": "99999999"
                                                                    },
                                                                    "begin_date": {
                                                                        "type": "string",
                                                                        "example": "09/06/2017"
                                                                    },
                                                                    "surrendered_din": {
                                                                        "type": "string",
                                                                        "example": ""
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "JOHN DOE"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": " LLPIN",
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "charges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        },
                                                        "directors/signatory_details": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "end_date": {
                                                                        "type": "string",
                                                                        "example": "-"
                                                                    },
                                                                    "surrendered_din": {
                                                                        "type": "string",
                                                                        "example": ""
                                                                    },
                                                                    "din/pan": {
                                                                        "type": "string",
                                                                        "example": "8888888"
                                                                    },
                                                                    "begin_date": {
                                                                        "type": "string",
                                                                        "example": "31/03/2010"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "JANE DOE"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "company_master_data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "email_id": {
                                                                    "type": "string",
                                                                    "example": "jane@doe.com"
                                                                },
                                                                "registered_address": {
                                                                    "type": "string",
                                                                    "example": "1234, WILSON GARDEN BANGALORE Bangalore KA 560027 IN"
                                                                },
                                                                "date_of_last_financial_year_end_date_for_which_annual_return_filed": {
                                                                    "type": "string",
                                                                    "example": "31/03/2019"
                                                                },
                                                                "date_of_last_financial_year_end_date_for_which_statement_of_accounts_and_solvency_filed": {
                                                                    "type": "string",
                                                                    "example": "31/03/2019"
                                                                },
                                                                "main_division_of_business_activity_to_be_carried_out_in_india": {
                                                                    "type": "string",
                                                                    "example": "74"
                                                                },
                                                                "previous_firm/_company_details,_if_applicable": {
                                                                    "type": "string",
                                                                    "example": ""
                                                                },
                                                                "llpin": {
                                                                    "type": "string",
                                                                    "example": "ABC-1234"
                                                                },
                                                                "roc_code": {
                                                                    "type": "string",
                                                                    "example": "RoC-Bangalore"
                                                                },
                                                                "number_of_designated_partners": {
                                                                    "type": "string",
                                                                    "example": "2"
                                                                },
                                                                "date_of_incorporation": {
                                                                    "type": "string",
                                                                    "example": "24/04/2009"
                                                                },
                                                                "llp_name": {
                                                                    "type": "string",
                                                                    "example": "JANE DOE CONSULTING LLP"
                                                                },
                                                                "total_obligation_of_contribution": {
                                                                    "type": "string",
                                                                    "example": "15000"
                                                                },
                                                                "llp_status": {
                                                                    "type": "string",
                                                                    "example": "Active"
                                                                },
                                                                "description_of_main_division": {
                                                                    "type": "string",
                                                                    "example": "Other Business Activities"
                                                                },
                                                                "number_of_partners": {
                                                                    "type": "string",
                                                                    "example": "0"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Entered CIN/LLPIN/FLLPIN/FCRN is not found. Please enter valid details.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Unprocessable Entity - Invalid pattern": {
                                        "value": "\n{\n  \"code\": 422,\n  \"message\": \"CIN/FCRN/LLPIN/FLLPIN must be of the pattern [ADDDDDAADDDDAAADDDDDD] for CIN, [FDDDDD] for FCRN, [AAA-DDDD] for LLPIN and [FAAA-DDDD] for FLLPIN where A is an alphabet, D is a digit (0-9) and F is a literal F\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Entered CIN/LLPIN/FLLPIN/FCRN is not found. Please enter valid details."
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Unprocessable Entity - Invalid pattern",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "CIN/FCRN/LLPIN/FLLPIN must be of the pattern [ADDDDDAADDDDAAADDDDDD] for CIN, [FDDDDD] for FCRN, [AAA-DDDD] for LLPIN and [FAAA-DDDD] for FLLPIN where A is an alphabet, D is a digit (0-9) and F is a literal F"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/mca/company/master-data/search": {
            "post": {
                "summary": "Company Master Data",
                "description": "",
                "operationId": "mca-company-master-data-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "id",
                                    "consent",
                                    "reason"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "entity name",
                                        "default": "in.co.sandbox.kyc.mca.master_data.request"
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "21 characters alpha-numeric unique identification code, which is allotted by the central government to each company or 7 characters alpha-numeric unique identification code issued to LLP"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Purpose for which the user has given their consent."
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.mca.master_data.request",
                                        "id": "U12345AB1234ABC123456",
                                        "consent": "y",
                                        "reason": "for KYC"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "CIN": {
                                        "value": "{\n  \"code\": 200,\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n  \"data\": {\n    \"@entity\": \"in.co.sandbox.kyc.mca.company\",\n    \"company_master_data\": {\n      \"@entity\": \"in.co.sandbox.kyc.mca.company.master_data\",\n      \"company_category\": \"Company limited by Shares\",\n      \"email_id\": \"john@doe.com\",\n      \"class_of_company\": \"Private\",\n      \"date_of_last_agm\": \"30/09/2019\",\n      \"registered_address\": \"123, ABC LAKEVIEW TOWER OPPOSITE A COMPLEX, AHMEDABAD Ahmedabad GJ 380015 IN\",\n      \"registration_number\": \"999999\",\n      \"paid_up_capital(rs)\": \"100000\",\n      \"whether_listed_or_not\": \"Unlisted\",\n      \"suspended_at_stock_exchange\": \"-\",\n      \"cin\": \"U12300GJ2017PTC123456\",\n      \"company_subcategory\": \"Non-govt company\",\n      \"authorised_capital(rs)\": \"100000\",\n      \"company_status(for_efiling)\": \"Active\",\n      \"roc_code\": \"RoC-Ahmedabad\",\n      \"date_of_balance_sheet\": \"31/03/2019\",\n      \"date_of_incorporation\": \"09/06/2017\",\n      \"company_name\": \"JOHN DOE PRIVATE LIMITED\",\n      \"active_compliance\": \"ACTIVE Compliant\",\n      \"rd_region\": \"RD South East Region\",\n      \"balance_sheets\": [],\n      \"annual_returns\": []\n    },\n    \"charges\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.company.charges\",\n        \"date_of_creation\": \"06/02/2019\",\n        \"date_of_modification\": \"-\",\n        \"charge_amount\": \"2000000000\",\n        \"status\": \"Closed\"\n      }\n    ],\n    \"directors/signatory_details\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.company.directors_signatory_details\",\n        \"end_date\": \"-\",\n        \"din/pan\": \"99999999\",\n        \"begin_date\": \"09/06/2017\",\n        \"designation\": \"Director\",\n        \"name\": \"JOHN DOE\"\n      }\n    ]\n  }\n}"
                                    },
                                    " LLPIN": {
                                        "value": "{\n  \"code\": 200,\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n  \"data\": {\n    \"@entity\": \"in.co.sandbox.kyc.mca.llp\",\n    \"llp_master_data\": {\n      \"@entity\": \"in.co.sandbox.kyc.mca.llp.master_data\",\n      \"email_id\": \"jane@doe.com\",\n      \"registered_address\": \"1234, WILSON GARDEN BANGALORE Bangalore KA 560027 IN\",\n      \"main_division_of_business_activity_to_be_carried_out_in_india\": \"74\",\n      \"previous_firm/_company_details,_if_applicable\": \"\",\n      \"llpin\": \"XXX-0123\",\n      \"roc_code\": \"RoC-Bangalore\",\n      \"number_of_designated_partners\": \"2\",\n      \"date_of_incorporation\": \"24/04/2009\",\n      \"llp_name\": \"JANE DOE CONSULTING LLP\",\n      \"total_obligation_of_contribution\": \"15000\",\n      \"llp_status\": \"Active\",\n      \"description_of_main_division\": \"Other Business Activities\",\n      \"number_of_partners\": \"0\",\n      \"llp_strike_off/_amalgamated_date\": \"\",\n      \"status_under_cirp\": \"\",\n      \"rd_region\": \"RD South East Region\"\n    },\n    \"charges\": [],\n    \"directors/signatory_details\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.llp.directors_signatory_details\",\n        \"end_date\": \"-\",\n        \"designation\": \"Designated Partner\",\n        \"din/pan\": \"99963999\",\n        \"begin_date\": \"31/03/2010\",\n        \"name\": \"JANE DOE\"\n      },\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.llp.directors_signatory_details\",\n        \"end_date\": \"-\",\n        \"designation\": \"Designated Partner\",\n        \"din/pan\": \"99967999\",\n        \"begin_date\": \"31/03/2010\",\n        \"name\": \"JACK DOE\"\n      }\n    ],\n    \"balance_sheets\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.llp.balance_sheet\",\n        \"date_of_filing\": \"31/03/2023\",\n        \"financial_year\": \"31/03/2023\"\n      },\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.llp.balance_sheet\",\n        \"date_of_filing\": \"31/03/2022\",\n        \"financial_year\": \"31/03/2022\"\n      }\n    ],\n    \"annual_returns\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.llp.annual_return\",\n        \"date_of_filing\": \"31/03/2023\",\n        \"financial_year\": \"31/03/2023\"\n      }\n    ]\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "CIN",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.mca.company"
                                                        },
                                                        "company_master_data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "@entity": {
                                                                    "type": "string",
                                                                    "example": "in.co.sandbox.kyc.mca.company.master_data"
                                                                },
                                                                "company_category": {
                                                                    "type": "string",
                                                                    "example": "Company limited by Shares"
                                                                },
                                                                "email_id": {
                                                                    "type": "string",
                                                                    "example": "john@doe.com"
                                                                },
                                                                "class_of_company": {
                                                                    "type": "string",
                                                                    "example": "Private"
                                                                },
                                                                "date_of_last_agm": {
                                                                    "type": "string",
                                                                    "example": "30/09/2019"
                                                                },
                                                                "registered_address": {
                                                                    "type": "string",
                                                                    "example": "123, ABC LAKEVIEW TOWER OPPOSITE A COMPLEX, AHMEDABAD Ahmedabad GJ 380015 IN"
                                                                },
                                                                "registration_number": {
                                                                    "type": "string",
                                                                    "example": "999999"
                                                                },
                                                                "paid_up_capital(rs)": {
                                                                    "type": "string",
                                                                    "example": "100000"
                                                                },
                                                                "whether_listed_or_not": {
                                                                    "type": "string",
                                                                    "example": "Unlisted"
                                                                },
                                                                "suspended_at_stock_exchange": {
                                                                    "type": "string",
                                                                    "example": "-"
                                                                },
                                                                "cin": {
                                                                    "type": "string",
                                                                    "example": "U12300GJ2017PTC123456"
                                                                },
                                                                "company_subcategory": {
                                                                    "type": "string",
                                                                    "example": "Non-govt company"
                                                                },
                                                                "authorised_capital(rs)": {
                                                                    "type": "string",
                                                                    "example": "100000"
                                                                },
                                                                "company_status(for_efiling)": {
                                                                    "type": "string",
                                                                    "example": "Active"
                                                                },
                                                                "roc_code": {
                                                                    "type": "string",
                                                                    "example": "RoC-Ahmedabad"
                                                                },
                                                                "date_of_balance_sheet": {
                                                                    "type": "string",
                                                                    "example": "31/03/2019"
                                                                },
                                                                "date_of_incorporation": {
                                                                    "type": "string",
                                                                    "example": "09/06/2017"
                                                                },
                                                                "company_name": {
                                                                    "type": "string",
                                                                    "example": "JOHN DOE PRIVATE LIMITED"
                                                                },
                                                                "active_compliance": {
                                                                    "type": "string",
                                                                    "example": "ACTIVE Compliant"
                                                                },
                                                                "rd_region": {
                                                                    "type": "string",
                                                                    "example": "RD South East Region"
                                                                },
                                                                "balance_sheets": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {}
                                                                    }
                                                                },
                                                                "annual_returns": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {}
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "charges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@entity": {
                                                                        "type": "string",
                                                                        "example": "in.co.sandbox.kyc.mca.company.charges"
                                                                    },
                                                                    "date_of_creation": {
                                                                        "type": "string",
                                                                        "example": "06/02/2019"
                                                                    },
                                                                    "date_of_modification": {
                                                                        "type": "string",
                                                                        "example": "-"
                                                                    },
                                                                    "charge_amount": {
                                                                        "type": "string",
                                                                        "example": "2000000000"
                                                                    },
                                                                    "status": {
                                                                        "type": "string",
                                                                        "example": "Closed"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "directors/signatory_details": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@entity": {
                                                                        "type": "string",
                                                                        "example": "in.co.sandbox.kyc.mca.company.directors_signatory_details"
                                                                    },
                                                                    "end_date": {
                                                                        "type": "string",
                                                                        "example": "-"
                                                                    },
                                                                    "din/pan": {
                                                                        "type": "string",
                                                                        "example": "99999999"
                                                                    },
                                                                    "begin_date": {
                                                                        "type": "string",
                                                                        "example": "09/06/2017"
                                                                    },
                                                                    "designation": {
                                                                        "type": "string",
                                                                        "example": "Director"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "JOHN DOE"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": " LLPIN",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.mca.llp"
                                                        },
                                                        "llp_master_data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "@entity": {
                                                                    "type": "string",
                                                                    "example": "in.co.sandbox.kyc.mca.llp.master_data"
                                                                },
                                                                "email_id": {
                                                                    "type": "string",
                                                                    "example": "jane@doe.com"
                                                                },
                                                                "registered_address": {
                                                                    "type": "string",
                                                                    "example": "1234, WILSON GARDEN BANGALORE Bangalore KA 560027 IN"
                                                                },
                                                                "main_division_of_business_activity_to_be_carried_out_in_india": {
                                                                    "type": "string",
                                                                    "example": "74"
                                                                },
                                                                "previous_firm/_company_details,_if_applicable": {
                                                                    "type": "string",
                                                                    "example": ""
                                                                },
                                                                "llpin": {
                                                                    "type": "string",
                                                                    "example": "XXX-0123"
                                                                },
                                                                "roc_code": {
                                                                    "type": "string",
                                                                    "example": "RoC-Bangalore"
                                                                },
                                                                "number_of_designated_partners": {
                                                                    "type": "string",
                                                                    "example": "2"
                                                                },
                                                                "date_of_incorporation": {
                                                                    "type": "string",
                                                                    "example": "24/04/2009"
                                                                },
                                                                "llp_name": {
                                                                    "type": "string",
                                                                    "example": "JANE DOE CONSULTING LLP"
                                                                },
                                                                "total_obligation_of_contribution": {
                                                                    "type": "string",
                                                                    "example": "15000"
                                                                },
                                                                "llp_status": {
                                                                    "type": "string",
                                                                    "example": "Active"
                                                                },
                                                                "description_of_main_division": {
                                                                    "type": "string",
                                                                    "example": "Other Business Activities"
                                                                },
                                                                "number_of_partners": {
                                                                    "type": "string",
                                                                    "example": "0"
                                                                },
                                                                "llp_strike_off/_amalgamated_date": {
                                                                    "type": "string",
                                                                    "example": ""
                                                                },
                                                                "status_under_cirp": {
                                                                    "type": "string",
                                                                    "example": ""
                                                                },
                                                                "rd_region": {
                                                                    "type": "string",
                                                                    "example": "RD South East Region"
                                                                }
                                                            }
                                                        },
                                                        "charges": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        },
                                                        "directors/signatory_details": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@entity": {
                                                                        "type": "string",
                                                                        "example": "in.co.sandbox.kyc.mca.llp.directors_signatory_details"
                                                                    },
                                                                    "end_date": {
                                                                        "type": "string",
                                                                        "example": "-"
                                                                    },
                                                                    "designation": {
                                                                        "type": "string",
                                                                        "example": "Designated Partner"
                                                                    },
                                                                    "din/pan": {
                                                                        "type": "string",
                                                                        "example": "99963999"
                                                                    },
                                                                    "begin_date": {
                                                                        "type": "string",
                                                                        "example": "31/03/2010"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "JANE DOE"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "balance_sheets": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@entity": {
                                                                        "type": "string",
                                                                        "example": "in.co.sandbox.kyc.mca.llp.balance_sheet"
                                                                    },
                                                                    "date_of_filing": {
                                                                        "type": "string",
                                                                        "example": "31/03/2023"
                                                                    },
                                                                    "financial_year": {
                                                                        "type": "string",
                                                                        "example": "31/03/2023"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "annual_returns": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "@entity": {
                                                                        "type": "string",
                                                                        "example": "in.co.sandbox.kyc.mca.llp.annual_return"
                                                                    },
                                                                    "date_of_filing": {
                                                                        "type": "string",
                                                                        "example": "31/03/2023"
                                                                    },
                                                                    "financial_year": {
                                                                        "type": "string",
                                                                        "example": "31/03/2023"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": 422,\n    \"timestamp\": 1713795996395,\n    \"transaction_id\": \"d4e974ab-0346-44ce-94c8-242076392100\",\n    \"message\": \"Entered CIN/LLPIN/FLLPIN/FCRN is not found. Please enter valid details.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1713795996395,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "d4e974ab-0346-44ce-94c8-242076392100"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Entered CIN/LLPIN/FLLPIN/FCRN is not found. Please enter valid details."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/mca/director/master-data/search": {
            "post": {
                "summary": "Director Master Data",
                "description": "",
                "operationId": "mca-director-master-data-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "id",
                                    "reason",
                                    "consent"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "Entity name",
                                        "default": "in.co.sandbox.kyc.mca.master_data.request"
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "8-digit unique identification number, which is allotted by the central government to each individual who is a director of any company"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Purpose for which the user has given their consent. Min length: 20 characters"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.mca.master_data.request",
                                        "id": "9999999",
                                        "consent": "y",
                                        "reason": "for KYC"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 200,\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n  \"data\": {\n    \"@entity\": \"in.co.sandbox.kyc.mca.director\",\n    \"director_data\": {\n      \"@entity\": \"in.co.sandbox.kyc.mca.director.director_data\",\n      \"din\": \"99999999\",\n      \"name\": \"JOHN DOE\"\n    },\n    \"llp_data\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.director.llp_data\",\n        \"end_date\": \"-\",\n        \"llp_name\": \"JOHN DOE PRIVATE LIMITED\",\n        \"designation\": \"Director\",\n        \"begin_date\": \"19/03/2015\",\n        \"llpin/fllpin\": \"ABC-1234\"\n      }\n    ],\n    \"company_data\": [\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.director.company_data\",\n        \"end_date\": \"-\",\n        \"company_name\": \"JOHN DOE PRIVATE LIMITED\",\n        \"designation\": \"Director\",\n        \"begin_date\": \"19/03/2015\",\n        \"cin/fcrn\": \"U12300GJ2015PTC123456\"\n      },\n      {\n        \"@entity\": \"in.co.sandbox.kyc.mca.director.company_data\",\n        \"end_date\": \"-\",\n        \"designation\": \"Director\",\n        \"company_name\": \"JD PRIVATE LIMITED\",\n        \"begin_date\": \"09/06/2017\",\n        \"cin/fcrn\": \"U12300GJ2017PTC123456\"\n      }\n    ]\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "example": "in.co.sandbox.kyc.mca.director"
                                                },
                                                "director_data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.mca.director.director_data"
                                                        },
                                                        "din": {
                                                            "type": "string",
                                                            "example": "99999999"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "JOHN DOE"
                                                        }
                                                    }
                                                },
                                                "llp_data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "example": "in.co.sandbox.kyc.mca.director.llp_data"
                                                            },
                                                            "end_date": {
                                                                "type": "string",
                                                                "example": "-"
                                                            },
                                                            "llp_name": {
                                                                "type": "string",
                                                                "example": "JOHN DOE PRIVATE LIMITED"
                                                            },
                                                            "designation": {
                                                                "type": "string",
                                                                "example": "Director"
                                                            },
                                                            "begin_date": {
                                                                "type": "string",
                                                                "example": "19/03/2015"
                                                            },
                                                            "llpin/fllpin": {
                                                                "type": "string",
                                                                "example": "ABC-1234"
                                                            }
                                                        }
                                                    }
                                                },
                                                "company_data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "example": "in.co.sandbox.kyc.mca.director.company_data"
                                                            },
                                                            "end_date": {
                                                                "type": "string",
                                                                "example": "-"
                                                            },
                                                            "company_name": {
                                                                "type": "string",
                                                                "example": "JOHN DOE PRIVATE LIMITED"
                                                            },
                                                            "designation": {
                                                                "type": "string",
                                                                "example": "Director"
                                                            },
                                                            "begin_date": {
                                                                "type": "string",
                                                                "example": "19/03/2015"
                                                            },
                                                            "cin/fcrn": {
                                                                "type": "string",
                                                                "example": "U12300GJ2015PTC123456"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Please Provide A Valid DIN": {
                                        "value": "{\n    \"code\": 422,\n    \"timestamp\": 1713795968247,\n    \"transaction_id\": \"c53e772b-bb20-43e2-8a65-cd97ca06055e\",\n    \"message\": \"DIN Entered does not match MCA Records, Please enter a Valid DIN.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1713795968247,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "c53e772b-bb20-43e2-8a65-cd97ca06055e"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "DIN Entered does not match MCA Records, Please enter a Valid DIN."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/kyc/msme/search": {
            "post": {
                "summary": "MSME Udyam Number Verification",
                "description": "",
                "operationId": "msme-verification-api",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "JWT Authorization token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Public key required to authorize API access",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
[...]
