{
    "openapi": "3.0.0",
    "info": {
        "title": "reports",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/tds/reports/txt": {
            "post": {
                "summary": "Create TDS Reports Job",
                "tags": [
                    "TDS"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "enum": [
                                                        "in.co.sandbox.tds.reports.job"
                                                    ]
                                                },
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "tan": {
                                                    "type": "string"
                                                },
                                                "quarter": {
                                                    "type": "string"
                                                },
                                                "form": {
                                                    "type": "string"
                                                },
                                                "financial_year": {
                                                    "type": "string"
                                                },
                                                "previous_receipt_number": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "json_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1708926739000,
                                            "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1708926739000,
                                                "json_url": "https://test-api.sandbox.co.in/tds/reports/in-co-sandbox-tds-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    },
                                    "200 Form 27Q Job created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q4",
                                                "form": "27Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "json_url": "https://test-api.sandbox.co.in/tds/reports/in-co-sandbox-tds-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    },
                                    "200 Form 24Q-Q3 Job created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "24043690-b905-491e-9dc3-950995532e2f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "24043690-b905-491e-9dc3-950995532e2f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "json_url": "https://test-api.sandbox.co.in/tds/reports/in-co-sandbox-tds-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    },
                                    "200 Form 24Q-Q4 Job created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "c8c2b692-9742-4842-b72e-3441f07be0a0",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "c8c2b692-9742-4842-b72e-3441f07be0a0",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q4",
                                                "form": "24Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "json_url": "https://test-api.sandbox.co.in/tds/reports/in-co-sandbox-tds-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    },
                                    "200 Submitted Job will fail": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                                "tan": "BLRC23456F",
                                                "quarter": "Q4",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "json_url": "https://test-api.sandbox.co.in/tds/reports/in-co-sandbox-tds-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Unprocessable Entity": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid TAN pattern"
                                        }
                                    },
                                    "422 Invalid Form": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid form type: 22Q"
                                        }
                                    },
                                    "422 Invalid Financial Year": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid financial year: FY 2022-2"
                                        }
                                    },
                                    "422 Invalid Quarter": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid quarter: Q9"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.reports.request"
                                        ]
                                    },
                                    "financial_year": {
                                        "description": "Financial Year for which TDS is being filed. (eg. FY 2024-25)",
                                        "example": "FY 2024-25",
                                        "type": "string"
                                    },
                                    "form": {
                                        "description": "TDS return form",
                                        "type": "string",
                                        "enum": [
                                            "24Q",
                                            "26Q",
                                            "27Q"
                                        ]
                                    },
                                    "quarter": {
                                        "description": "Quarter for which TDS is being filed",
                                        "type": "string",
                                        "enum": [
                                            "Q1",
                                            "Q2",
                                            "Q3",
                                            "Q4"
                                        ]
                                    },
                                    "tan": {
                                        "description": "TAN of deductor. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "example": "AHMA09719B",
                                        "type": "string",
                                        "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}"
                                    },
                                    "previous_receipt_number": {
                                        "description": "Receipt Number of previously filed TDS Return",
                                        "example": "123456789123456",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "financial_year",
                                    "form",
                                    "quarter",
                                    "tan"
                                ]
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Fetch TDS Reports Job",
                "tags": [
                    "TDS"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "query",
                        "required": true,
                        "description": "Unique identifier of the job",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Job Queued",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Succeeded",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "txt_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Failed",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "form": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "validation_report_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "200 - Job Created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "48c70ad8-f5df-4dd7-8aff-a71d48992336",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q4",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1701250588000
                                            }
                                        }
                                    },
                                    "200 - Job Queued": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "0fb396f6-9eb6-48b9-926d-25296286f9ee",
                                                "tan": "AHMQ00112A",
                                                "quarter": "Q4",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "queued",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012505755000
                                            }
                                        }
                                    },
                                    "200 - Job Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q4",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "succeeded",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506055000,
                                                "txt_url": "https://in-co-sandbox-tds-reports-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/0bd87749-8c4d-4127-aede-74d55e2bbf54_report.txt"
                                            }
                                        }
                                    },
                                    "200 Form 27Q Job Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "form": "27Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "succeeded",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506055000,
                                                "txt_url": "https://in-co-sandbox-tds-reports-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/6ee21a60-f910-464a-8e36-06e611e52512_report.txt"
                                            }
                                        }
                                    },
                                    "200 Form 24Q-Q3 Job Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "24043690-b905-491e-9dc3-950995532e2f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "form": "24Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "succeeded",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506055000,
                                                "txt_url": "https://in-co-sandbox-tds-reports-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/1d7cb866-1ad3-4ac9-9c94-e0b93e26c521_report.txt"
                                            }
                                        }
                                    },
                                    "200 Form 24Q-Q4 Job Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "c8c2b692-9742-4842-b72e-3441f07be0a0",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q4",
                                                "form": "24Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "succeeded",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506055000,
                                                "txt_url": "https://in-co-sandbox-tds-reports-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/form/62ec5ac0-88b2-4aa5-a4a2-9a26cbe95fa8_report.txt"
                                            }
                                        }
                                    },
                                    "200 Job Failed": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.job",
                                                "job_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                                "tan": "BLRC23456F",
                                                "quarter": "Q4",
                                                "form": "26Q",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "failed",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506055000,
                                                "validation_report_url": "https://in-co-sandbox-tds-reports-test.s3.ap-south-1.amazonaws.com/tan/financial_year/quarter/a1d166c2-6d26-4180-931b-95fc6d2c1fc5_error.xlsx"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "521 - Data not found": {
                                        "value": {
                                            "code": 521,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Data not found: 174b4fbf-0d0f-4c46-93d8-790d6d3ae0ee"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tds/reports/txt/search": {
            "post": {
                "summary": "Fetch Jobs",
                "tags": [
                    "TDS"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string"
                                                            },
                                                            "job_id": {
                                                                "type": "string"
                                                            },
                                                            "tan": {
                                                                "type": "string"
                                                            },
                                                            "financial_year": {
                                                                "type": "string"
                                                            },
                                                            "quarter": {
                                                                "type": "string"
                                                            },
                                                            "form": {
                                                                "type": "string"
                                                            },
                                                            "previous_receipt_number": {
                                                                "type": "string",
                                                                "format": "utc-millisec"
                                                            },
                                                            "created_at": {
                                                                "type": "integer"
                                                            },
                                                            "updated_at": {
                                                                "type": "integer"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "last_evaluated_key": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1715757773000,
                                            "transaction_id": "109469b2-0748-4135-a569-e86fc9e45756",
                                            "data": {
                                                "@entity": "in.co.sandbox.tds.reports.paginated_list",
                                                "items": [
                                                    {
                                                        "@entity": "in.co.sandbox.tds.reports.job",
                                                        "job_id": "096c4812-1829-4ee1-a3c6-3bd291654b72",
                                                        "tan": "AHMS12345C",
                                                        "financial_year": "FY 2023-24",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "previous_receipt_number": "1234567890123",
                                                        "created_at": 1714529043000,
                                                        "updated_at": 1714529044000,
                                                        "status": "succeeded"
                                                    },
                                                    {
                                                        "@entity": "in.co.sandbox.tds.reports.job",
                                                        "job_id": "096c4812-1829-4ee1-a3c6-3bd291654b72",
                                                        "tan": "sample-value",
                                                        "financial_year": "FY 2023-24",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "previous_receipt_number": "1234567890123",
                                                        "created_at": 1714527043000,
                                                        "updated_at": 1714527044000,
                                                        "status": "failed",
                                                        "message": "Invalid Workbook"
                                                    },
                                                    {
                                                        "@entity": "in.co.sandbox.tds.reports.job",
                                                        "job_id": "096c4812-1829-4ee1-a3c6-3bd291654b72",
                                                        "tan": "sample-value",
                                                        "financial_year": "FY 2023-24",
                                                        "quarter": "Q2",
                                                        "form": "26Q",
                                                        "previous_receipt_number": "1234567890123",
                                                        "created_at": 1714530043000,
                                                        "updated_at": 1714530044000,
                                                        "status": "failed",
                                                        "message": "Validation error"
                                                    }
                                                ],
                                                "last_evaluated_key": "eydadadadada...=="
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tds.reports.jobs.search"
                                        ]
                                    },
                                    "tan": {
                                        "description": "TAN of deductor. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "example": "AHMA09719B",
                                        "type": "string"
                                    },
                                    "quarter": {
                                        "description": "Quarter for which TDS is being filed",
                                        "type": "string",
                                        "enum": [
                                            "Q1",
                                            "Q2",
                                            "Q3",
                                            "Q4"
                                        ]
                                    },
                                    "form": {
                                        "description": "TDS return form",
                                        "type": "string",
                                        "enum": [
                                            "24Q",
                                            "26Q",
                                            "27Q"
                                        ]
                                    },
                                    "financial_year": {
                                        "description": "Financial Year for which TDS is being filed. (eg. FY 2024-25)",
                                        "example": "FY 2024-25",
                                        "type": "string"
                                    },
                                    "from_date": {
                                        "description": "Date from which jobs are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "to_date": {
                                        "description": "Date till which jobs are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "page_size": {
                                        "description": "Number of records in the API response. Maximum allowed size is 50",
                                        "type": "integer"
                                    },
                                    "last_evaluated_key": {
                                        "description": "Base64 encoding of the stringified JSON object, which includes x-api-key, created_at, and job_id",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/tcs/reports/txt": {
            "post": {
                "summary": "Create TCS Reports Job",
                "tags": [
                    "TCS"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "enum": [
                                                        "in.co.sandbox.tcs.reports.job"
                                                    ]
                                                },
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "tan": {
                                                    "type": "string"
                                                },
                                                "quarter": {
                                                    "type": "string"
                                                },
                                                "financial_year": {
                                                    "type": "string"
                                                },
                                                "previous_receipt_number": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "json_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763102487000,
                                                "json_url": "https://test-api.sandbox.co.in/tcs/reports/in-co-sandbox-tcs-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    },
                                    "200 Submitted Job will fail": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                                "tan": "BLRC23456F",
                                                "quarter": "Q3",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1763362637000,
                                                "json_url": "https://test-api.sandbox.co.in/tcs/reports/in-co-sandbox-tcs-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e.json"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Unprocessable Entity": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid Tan pattern"
                                        }
                                    },
                                    "422 Invalid Quarter": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Invalid quarter: Q5"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "422 Invalid Quarter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Fetch TCS Reports status",
                "tags": [
                    "TCS"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "query",
                        "required": true,
                        "description": "Unique identifier of the job",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Job Queued",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Succeeded",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "txt_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Job Failed",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string"
                                                        },
                                                        "job_id": {
                                                            "type": "string"
                                                        },
                                                        "tan": {
                                                            "type": "string"
                                                        },
                                                        "quarter": {
                                                            "type": "string"
                                                        },
                                                        "financial_year": {
                                                            "type": "string"
                                                        },
                                                        "previous_receipt_number": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "type": "integer"
                                                        },
                                                        "updated_at": {
                                                            "type": "integer"
                                                        },
                                                        "validation_report_url": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763102487000,
                                            "transaction_id": "9bd36a1d-bd63-439f-8115-5b4b2948bda8 ",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "created",
                                                "created_at": 1701250588000
                                            }
                                        }
                                    },
                                    "200 - Job Queued": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "0fb396f6-9eb6-48b9-926d-25296286f9ee",
                                                "tan": "BLRC23456F",
                                                "quarter": "Q4",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "queued",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012506755000
                                            }
                                        }
                                    },
                                    "200 - Job Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                                "tan": "AHMA09719B",
                                                "quarter": "Q3",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "succeeded",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012507755000,
                                                "txt_url": "https://s3.ap-south-1.amazonaws.com/in-co-sandbox-tcs-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e_report.txt"
                                            }
                                        }
                                    },
                                    "200 - Job Failed": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.job",
                                                "job_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                                "tan": "BLRC23456F",
                                                "quarter": "Q3",
                                                "financial_year": "FY 2023-24",
                                                "previous_receipt_number": "123456789012345",
                                                "status": "failed",
                                                "created_at": 1701250588000,
                                                "updated_at": 17012507755000,
                                                "validation_report_url": "https://s3.ap-south-1.amazonaws.com/in-co-sandbox-tcs-reports-test/tan/financial_year/quarter/80716d9a-4aa0-4905-8ff1-0aca61042a0e_validation_report.xlsx"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "521 - Data not found": {
                                        "value": {
                                            "code": 521,
                                            "timestamp": 1763362637000,
                                            "transaction_id": "e2b9145f-69d5-4bbe-a6de-be6fc08b426f",
                                            "message": "Data not found: 174b4fbf-0d0f-4c46-93d8-790d6d3ae0ee"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tcs/reports/txt/search": {
            "post": {
                "summary": "Fetch Jobs",
                "tags": [
                    "TCS"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string"
                                                            },
                                                            "job_id": {
                                                                "type": "string"
                                                            },
                                                            "tan": {
                                                                "type": "string"
                                                            },
                                                            "quarter": {
                                                                "type": "string"
                                                            },
                                                            "financial_year": {
                                                                "type": "string"
                                                            },
                                                            "previous_receipt_number": {
                                                                "type": "string",
                                                                "format": "utc-millisec"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                },
                                                "last_evaluated_key": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1715757773000,
                                            "transaction_id": "109469b2-0748-4135-a569-e86fc9e45756",
                                            "data": {
                                                "@entity": "in.co.sandbox.tcs.reports.paginated_list",
                                                "items": [
                                                    {
                                                        "@entity": "in.co.sandbox.tcs.reports.job",
                                                        "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                        "tan": "AHMA09719B",
                                                        "quarter": "Q3",
                                                        "financial_year": "FY 2023-24",
                                                        "previous_receipt_number": "123456789012345",
                                                        "status": "created",
                                                        "created_at": 1701250588000
                                                    },
                                                    {
                                                        "@entity": "in.co.sandbox.tcs.reports.job",
                                                        "job_id": "0fb396f6-9eb6-48b9-926d-25296286f9ee",
                                                        "tan": "BLRC23456F",
                                                        "quarter": "Q4",
                                                        "financial_year": "FY 2023-24",
                                                        "previous_receipt_number": "123456789012345",
                                                        "status": "queued",
                                                        "created_at": 1701250588000,
                                                        "updated_at": 17012506755000
                                                    },
                                                    {
                                                        "@entity": "in.co.sandbox.tcs.reports.job",
                                                        "job_id": "46d96540-e4e0-4188-81f5-959f4732490f",
                                                        "tan": "AHMA09719B",
                                                        "quarter": "Q3",
                                                        "financial_year": "FY 2023-24",
                                                        "previous_receipt_number": "123456789012345",
                                                        "filling_type": "original",
                                                        "status": "succeeded",
                                                        "created_at": 1701250588000,
                                                        "updated_at": 17012507755000
                                                    },
                                                    {
                                                        "@entity": "in.co.sandbox.tcs.reports.job",
                                                        "job_id": "77a45361-9646-4ee0-93ed-9471bb8a615e",
                                                        "tan": "BLRC23456F",
                                                        "quarter": "Q3",
                                                        "financial_year": "FY 2023-24",
                                                        "previous_receipt_number": "123456789012345",
                                                        "filling_type": "original",
                                                        "status": "failed",
                                                        "created_at": 1701250588000,
                                                        "updated_at": 17012507755000,
                                                        "message": "Validation error"
                                                    }
                                                ],
                                                "last_evaluated_key": "eydadadadada...=="
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "enum": [
                                            "in.co.sandbox.tcs.reports.jobs.search"
                                        ]
                                    },
                                    "tan": {
                                        "description": "TAN of deductor. Regular Expression: [A-Z]{4}[0-9]{5}[A-Z]{1}",
                                        "type": "string",
                                        "example": "AHMA09719B",
                                        "pattern": "[A-Z]{4}[0-9]{5}[A-Z]{1}"
                                    },
                                    "quarter": {
                                        "description": "Quarter for which TDS is being filed",
                                        "type": "string",
                                        "enum": [
                                            "Q1",
                                            "Q2",
                                            "Q3",
                                            "Q4"
                                        ]
                                    },
                                    "financial_year": {
                                        "description": "Financial Year for which TDS is being filed. (eg. FY 2024-25)",
                                        "example": "FY 2024-25",
                                        "type": "string"
                                    },
                                    "from_date": {
                                        "description": "Date from which jobs are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "to_date": {
                                        "description": "Date till which jobs are to be fetched. Value in EPOCH timestamp",
                                        "type": "integer"
                                    },
                                    "page_size": {
                                        "description": "Number of records in the API response. Maximum allowed size is 50",
                                        "type": "integer"
                                    },
                                    "last_evaluated_key": {
                                        "description": "Base64 encoding of the stringified JSON object, which includes x-api-key, created_at, and job_id",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}