{
    "openapi": "3.1.0",
    "info": {
      "title": "Sandbox API [Prod]",
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://api.sandbox.co.in"
      }
    ],
    "components": {
      "securitySchemes": {}
    },
    "security": [
      {}
    ],
  "paths": {
    "/it/reports/capital-gains/securities/domestic": {
      "post": {
        "summary": "Submit Job",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "description": "Type of input file. Allowed values: tradewise_settlement or tradebook.",
            "schema": {
              "type": "string"
            },
            "example": "tradewise_settlement"
          },
          {
            "name": "financial_year",
            "in": "query",
            "description": "Financial year for which the report is generated. Use format FY 20XX-XX (e.g., FY 2024-25).",
            "schema": {
              "type": "string"
            },
            "example": "FY 2025-26"
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": false,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.",
            "deprecated": false,
            "schema": {},
            "example": "application/xlsx"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {},
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {},
            "example": "{{version}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {},
            "example": "{{access_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 22 May 2025 05:19:36 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "555"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "9c6846f0-92db-4da3-b982-1b97967c320e"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "K9EMOGeMhcwEDdA="
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "example": "Root=1-682eb3e7-665f40986390cfd9708b3ce5;Parent=30e48adca11273eb;Sampled=0;Lineage=2:07fece59:0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "security_type": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "status": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "string"
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "timestamp": 1747891175423,
                  "data": {
                    "created_at": 1747891176339,
                    "updated_at": 1747891176339,
                    "@entity": "in.co.sandbox.it.reports.tax_pnl.securities.job",
                    "security_type": "domestic",
                     
                    "status": "created",
                    "job_id": "9c6846f0-92db-4da3-b982-1b97967c320e"
                  },
                  "transaction_id": "9c6846f0-92db-4da3-b982-1b97967c320e"
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "securities",
          "domestic",
          "capital gains"
        ]
      },
      "get": {
        "summary": "Get Job",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
            "schema": {
              "type": "string"
            },
            "example": "{{tax_pnl_job_id}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {},
            "example": "{{access_token}}"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {},
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {},
            "example": "{{version}}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 19 Sep 2023 10:05:24 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "124"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "f3dcdd8e-6226-4198-b0c2-a4d98b3477a7"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "Lf7PsEmGBcwFZzA="
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "example": "Root=1-65097264-031201533731cfc03d70d2de;Sampled=0;lineage=a374957f:0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  }
                },
                "example": {
                  "transaction_id": "f3dcdd8e-6226-4198-b0c2-a4d98b3477a7",
                  "code": 200,
                  "data": {
                    "status": "created"
                  },
                  "timestamp": "1695117924000"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Param",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 19 Sep 2023 10:03:45 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "79005d16-9807-4898-9c96-f58f38e393fc"
              },
              "x-amzn-ErrorType": {
                "schema": {
                  "type": "string"
                },
                "example": "BadRequestException"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "Lf7APGRMhcwFoyg="
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                },
                "example": {
                  "message": "Missing required request parameters: [job_id]"
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "securities",
          "domestic",
          "capital gains"
        ]
      }
    },
    "/it/reports/tax-pnl/securities/domestic": {
      "get": {
        "summary": "Get Job",
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
            "deprecated": false,
            "schema": {},
            "example": "{{tax_pnl_job_id}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{access_token}}"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            },
            "example": "{{version}}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 19 Sep 2023 10:05:24 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "124"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "f3dcdd8e-6226-4198-b0c2-a4d98b3477a7"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "Lf7PsEmGBcwFZzA="
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "example": "Root=1-65097264-031201533731cfc03d70d2de;Sampled=0;lineage=a374957f:0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  }
                },
                "example": {
                  "transaction_id": "f3dcdd8e-6226-4198-b0c2-a4d98b3477a7",
                  "code": 200,
                  "data": {
                    "status": "created"
                  },
                  "timestamp": "1695117924000"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Param",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 19 Sep 2023 10:03:45 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "60"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "79005d16-9807-4898-9c96-f58f38e393fc"
              },
              "x-amzn-ErrorType": {
                "schema": {
                  "type": "string"
                },
                "example": "BadRequestException"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "Lf7APGRMhcwFoyg="
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                },
                "example": {
                  "message": "Missing required request parameters: [job_id]"
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "securities",
          "domestic"
        ]
      },
      "post": {
        "summary": "Submit Job",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "tradewise_settlement"
          },
          {
            "name": "financial_year",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "FY 2025-26"
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": false,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.",
            "deprecated": false,
            "schema": {},
            "example": "application/xlsx"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {},
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {},
            "example": "{{version}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {},
            "example": "{{access_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 22 May 2025 05:19:36 GMT"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "555"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                },
                "example": "9c6846f0-92db-4da3-b982-1b97967c320e"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "gzip"
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                },
                "example": "K9EMOGeMhcwEDdA="
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "example": "Root=1-682eb3e7-665f40986390cfd9708b3ce5;Parent=30e48adca11273eb;Sampled=0;Lineage=2:07fece59:0"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "security_type": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "status": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "string"
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "timestamp": 1747891175423,
                  "data": {
                    "created_at": 1747891176339,
                    "updated_at": 1747891176339,
                    "@entity": "in.co.sandbox.it.reports.tax_pnl.securities.job",
                    "security_type": "domestic",
                     
                    "status": "created",
                    "job_id": "9c6846f0-92db-4da3-b982-1b97967c320e"
                  },
                  "transaction_id": "9c6846f0-92db-4da3-b982-1b97967c320e"
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "securities",
          "domestic"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "@entity": {
                    "type": "string"
                  },
                  "sheets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "@entity": {
                                "type": "string"
                              },
                              "header": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "rows": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "tradebook_workbook",
                "@entity": "workbook",
                "sheets": [
                  {
                    "name": "stock_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "stock_tradebook_table",
                        "@entity": "table",
                        "header": [
                          "trade_id",
                          "isin",
                          "symbol",
                          "is_listed",
                          "is_stt_paid",
                          "quantity",
                          "date",
                          "price",
                          "transaction_type",
                          "fmv",
                          "brokerage",
                          "clearing_charges",
                          "exchange_transaction_charges",
                          "sebi_turnover_fees",
                          "stt",
                          "stamp_duty",
                          "sgst",
                          "cgst",
                          "igst",
                          "other_transfer_expenses",
                          "label",
                          "product_type"
                        ],
                        "rows": [
                          [
                            "SUNMAQYIBRDSM4Y2TVW9",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            25,
                            1718582400000,
                            4203.45,
                            "buy",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "CJ1CLC4YCBFEZ4CVDNMH",
                            "INE002A01018",
                            "AJANTAPHARMA",
                            true,
                            true,
                            1590,
                            1463356800000,
                            136,
                            "buy",
                            438,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "PEB6U5ERJBDTNFSLPOI2",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            37,
                            1482451200000,
                            4089,
                            "buy",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "KZUG2ZMGMH4WFE2C9RMG",
                            "INE03Q201024",
                            "GLS",
                            true,
                            true,
                            50,
                            1499644800000,
                            5000,
                            "buy",
                            5500,
                            21.5,
                            22.6,
                            23.5,
                            58,
                            67,
                            21.5,
                            21.5,
                            21.5,
                            21.5,
                            21.5,
                            null,
                            "delivery"
                          ],
                          [
                            "VTHPFZ7KXVG5LMNZNBHT",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            1540,
                            1592611200000,
                            189,
                            "buy",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "YKSLVQ6HJEUROPF8Z7TL",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            435,
                            1602547200000,
                            209,
                            "buy",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "KQN4SO7YRL1T1YKS8XSO",
                            "INE01C001018",
                            "ADANIPORTS",
                            true,
                            true,
                            348,
                            1631145600000,
                            270,
                            "buy",
                            137,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "XEPL8VAO3PWPBVZRBSCE",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            200,
                            1631923200000,
                            221,
                            "buy",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "XEPL8VAO3PWPBVZRBSCE",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            85,
                            1632009600000,
                            225,
                            "buy",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ZVQAT2PZ1RSLYWWYZTXP",
                            "INE767A01016",
                            "ADANIENT",
                            true,
                            true,
                            57,
                            1710288000000,
                            1950,
                            "buy",
                            1260,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "YYUFIXODHUCNJPZL0TB1",
                            "INE767A01016",
                            "ADANIENT",
                            true,
                            true,
                            23,
                            1745884800000,
                            2016,
                            "buy",
                            1260,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ZR0GPABQCZJDEBAVL85E",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            29,
                            1746921600000,
                            4198.05,
                            "buy",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ZDUUQFIZKFI1LPZJIGC1",
                            "INE364U01010",
                            "ADANIGREEN",
                            true,
                            true,
                            47,
                            1749340800000,
                            310,
                            "buy",
                            127,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "J9SYLEPLST8YFGPUOFCG",
                            "INE002A01018",
                            "AJANTAPHARMA",
                            true,
                            true,
                            145,
                            1749945600000,
                            578,
                            "buy",
                            438,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "KZ4XUMQL7O4OL1T0NWLW",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            140,
                            1750032000000,
                            327,
                            "buy",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "G3NSSV7XHVFUJ8BTPBIR",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            29,
                            1752364800000,
                            4221,
                            "buy",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "JOQYLFGNAJXEBBANLTJ9",
                            "INE364U01010",
                            "ADANIGREEN",
                            true,
                            true,
                            20,
                            1752710400000,
                            290,
                            "buy",
                            127,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ABHV4GJO8FEWYZYYZXJ9",
                            "INE01C001018",
                            "ADANIPORTS",
                            true,
                            true,
                            20,
                            1721174400000,
                            429,
                            "buy",
                            137,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "8BARHLFV3FZVGYTSJ012",
                            "INE03Q201024",
                            "GLS",
                            true,
                            true,
                            50,
                            1752312475956,
                            5000,
                            "sell",
                            5500,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "CYX9TQSTWUYK8C9Z7BCE",
                            "INE002A01018",
                            "AJANTAPHARMA",
                            true,
                            true,
                            645,
                            1769642020179,
                            580,
                            "sell",
                            438,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "K0TMWRLU5HDBSNDITGWA",
                            "INE01C001018",
                            "ADANIPORTS",
                            true,
                            true,
                            256,
                            1748898675819,
                            409,
                            "sell",
                            137,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "NJK6VY186PT29EQOL5ZS",
                            "INE767A01016",
                            "ADANIENT",
                            true,
                            true,
                            60,
                            1773604877992,
                            2300,
                            "sell",
                            1260,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "DPB5UCBWCTWCCZQZAECT",
                            "INE767A01016",
                            "ADANIENT",
                            true,
                            true,
                            20,
                            1773830433667,
                            2456,
                            "sell",
                            1260,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "OCFAGNA9WLZOS2GPVEWY",
                            "INE364U01010",
                            "ADANIGREEN",
                            true,
                            true,
                            40,
                            1763130929850,
                            365,
                            "sell",
                            127,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "USTNCKBL23ZGYFBS1FWW",
                            "INE01C001018",
                            "ADANIPORTS",
                            true,
                            true,
                            44,
                            1774199712397,
                            418,
                            "sell",
                            137,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "G4FILRR9JSAWETX5BFEG",
                            "INE01C001018",
                            "ADANIPORTS",
                            true,
                            true,
                            58,
                            1773283556238,
                            447,
                            "sell",
                            137,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "3S1E2CVMTK3I115OG5IT",
                            "INE002A01018",
                            "AJANTAPHARMA",
                            true,
                            true,
                            900,
                            1758080507721,
                            618,
                            "sell",
                            438,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "HJWC2DJPNJV7KBYAVLMP",
                            "INE002A01018",
                            "AJANTAPHARMA",
                            true,
                            true,
                            190,
                            1747474320748,
                            689,
                            "sell",
                            438,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "8LWK9OAGZ64HKNYHYX6H",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            31,
                            1758132355304,
                            4217.67,
                            "sell",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ROJM9PXLTVRGADTWZXMX",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            10,
                            1761069806897,
                            4228,
                            "sell",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ROJM9PXLTVRGADTWZXMX",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            9,
                            1752202262858,
                            4249,
                            "sell",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "1JQ2PDASHYXZCVH6IFTC",
                            "INE462A01022",
                            "BAYERCROP",
                            true,
                            true,
                            70,
                            1774247525697,
                            4278.08,
                            "sell",
                            4199.55,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "IAVLRAW3OKLIHPD0DLKQ",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            640,
                            1751356488905,
                            265,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "YHEZMWYMV85DIO52CY1B",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            110,
                            1768648883439,
                            257,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "7UBKDTDSUWJEWXI71MB5",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            250,
                            1744248500579,
                            317,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "SVYLOESSMFAWL2P1V4YN",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            260,
                            1773069853789,
                            334,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "T2D14C472FNCQD8A9SEL",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            730,
                            1758219413841,
                            339,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "IHQR3WDABXX5LWECAVD4",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            349,
                            1768900564083,
                            345,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ],
                          [
                            "ZJZZOQLJZWYQRMSHK2E3",
                            "INE00E101023",
                            "BIKAJI",
                            true,
                            true,
                            321,
                            1756389295773,
                            370,
                            "sell",
                            0,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            45.6,
                            null,
                            "delivery"
                          ]
                        ]
                      }
                    ]
                  },
                  {
                    "name": "future_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "future_tradebook_table",
                        "@entity": "table",
                        "header": [
                          "trade_id",
                          "isin",
                          "contract_name",
                          "asset_class",
                          "quantity",
                          "date",
                          "price",
                          "transaction_type",
                          "brokerage",
                          "clearing_charges",
                          "exchange_transaction_charges",
                          "sebi_turnover_fees",
                          "stt",
                          "stamp_duty",
                          "sgst",
                          "cgst",
                          "igst",
                          "other_transfer_expenses",
                          "label"
                        ],
                        "rows": [
                          [
                            "GGFCHMYLKDQYZRRINTEE",
                            "INE914J01012",
                            "BANKNIFTY01Jun2023FUT",
                            "equity",
                            45,
                            1711756800000,
                            363.1,
                            "buy",
                            51,
                            98,
                            75,
                            55,
                            32,
                            219,
                            11,
                            142,
                            55,
                            36,
                            null
                          ],
                          [
                            "AUGUWEK01EI4YOIMH7RK",
                            "INE519I01013",
                            "BANKNIFTY15Jun2023FUT",
                            "equity",
                            50,
                            1714176000000,
                            363.15,
                            "buy",
                            7,
                            56,
                            55,
                            223,
                            245,
                            330,
                            106,
                            144,
                            103,
                            9,
                            null
                          ],
                          [
                            "55MCNYCUWJO7C3ZAXWIX",
                            "INE512D09106",
                            "FUTCOMCRUDEOIL16OCT2022",
                            "commodity",
                            100,
                            1727731200000,
                            415,
                            "buy",
                            107,
                            8,
                            114,
                            111,
                            90,
                            43,
                            36,
                            48,
                            119,
                            21,
                            null
                          ],
                          [
                            "JDNI9UJFKN2PGFJZ5U9O",
                            "INE579I01014",
                            "FUTCURUSDINR27JAN2023",
                            "currency",
                            135,
                            1728585600000,
                            90.69,
                            "buy",
                            134,
                            183,
                            209,
                            9,
                            100,
                            50,
                            202,
                            60,
                            140,
                            214,
                            null
                          ],
                          [
                            "5NGIOMFGDRBG5Q8XTNBP",
                            "INE512R02109",
                            "NIFTY23JAN2023FUT",
                            "equity",
                            75,
                            1728412800000,
                            147.89,
                            "buy",
                            143,
                            44,
                            39,
                            61,
                            130,
                            216,
                            102,
                            90,
                            158,
                            37,
                            null
                          ],
                          [
                            "ANH3LZISNL7R8DPFNHJ0",
                            "INE512R02109",
                            "NIFTY23JAN2023FUT",
                            "equity",
                            125,
                            1728979200000,
                            153.89,
                            "buy",
                            84,
                            60,
                            3,
                            129,
                            221,
                            239,
                            11,
                            42,
                            160,
                            8,
                            null
                          ],
                          [
                            "S4LOWQJP4P6SFB42C460",
                            "INE769A01020",
                            "FINNIFTY25JAN2023FUT",
                            "equity",
                            35,
                            1729756800000,
                            3450.67,
                            "buy",
                            23,
                            98,
                            64,
                            214,
                            268,
                            161,
                            118,
                            116,
                            9,
                            21,
                            null
                          ],
                          [
                            "Z0FCJBWODSL8GF3KKVPY",
                            "INE563D01013",
                            "NIFTY15JAN2023FUT",
                            "equity",
                            250,
                            1730620800000,
                            168,
                            "buy",
                            27,
                            73,
                            8,
                            224,
                            284,
                            306,
                            42,
                            111,
                            5,
                            17,
                            null
                          ],
                          [
                            "CIKTMLOWJQLROEGJXMFF",
                            "INE118D01016",
                            "NIFTY25JAN2023FUT",
                            "equity",
                            100,
                            1729584000000,
                            175.55,
                            "buy",
                            65,
                            76,
                            54,
                            192,
                            58,
                            74,
                            149,
                            50,
                            17,
                            20,
                            null
                          ],
                          [
                            "NKN2PS2TJZWDA9CDP1RA",
                            "INE002A01018",
                            "FINNIFTY15FEB2023FUT",
                            "equity",
                            155,
                            1730707200000,
                            194.9,
                            "buy",
                            39,
                            85,
                            72,
                            144,
                            40,
                            15,
                            16,
                            39,
                            66,
                            47,
                            null
                          ],
                          [
                            "TWF45MCZTDWEWSJXU3EF",
                            "INE0C5901014",
                            "NIFTY23FEB2023FUT",
                            "equity",
                            175,
                            1730828800000,
                            194.9,
                            "buy",
                            50,
                            107,
                            81,
                            244,
                            314,
                            247,
                            91,
                            42,
                            72,
                            44,
                            null
                          ],
                          [
                            "8LEGU2BN0HXVHXYBIIRZ",
                            "INE435D01014",
                            "BANKNIFTY20MAR2023FUT",
                            "equity",
                            125,
                            1730950400000,
                            1500,
                            "buy",
                            62,
                            53,
                            28,
                            146,
                            85,
                            446,
                            149,
                            77,
                            165,
                            22,
                            null
                          ],
                          [
                            "GB8MD1GQRMB7M3KIPYBT",
                            "INE0C5901014",
                            "NIFTY17APR2023FUT",
                            "equity",
                            145,
                            1731260800000,
                            457.89,
                            "buy",
                            131,
                            77,
                            80,
                            49,
                            161,
                            373,
                            17,
                            130,
                            77,
                            16,
                            null
                          ],
                          [
                            "GUEQKVCN1OGWGMPXO1WQ",
                            "INE322R01014",
                            "FINNIFTY20MAY2023FUT",
                            "equity",
                            130,
                            1731699200000,
                            698.03,
                            "buy",
                            85,
                            110,
                            89,
                            148,
                            121,
                            426,
                            32,
                            65,
                            22,
                            31,
                            null
                          ],
                          [
                            "JG3ZELDXI8SYG4HLXSCG",
                            "INE694N01015",
                            "RIL15OCT2023FUT",
                            "equity",
                            50,
                            1726963200000,
                            559.39,
                            "buy",
                            111,
                            42,
                            44,
                            189,
                            145,
                            307,
                            57,
                            64,
                            43,
                            28,
                            null
                          ],
                          [
                            "1HLEP1MBFH5JINCYGEJB",
                            "INE197R01010",
                            "RIL01NOV2023FUT",
                            "equity",
                            175,
                            1728000000000,
                            1000,
                            "buy",
                            72,
                            52,
                            33,
                            117,
                            71,
                            327,
                            39,
                            67,
                            132,
                            3,
                            null
                          ],
                          [
                            "YFVS53SUIXO1FBXICSP8",
                            "INE576G01015",
                            "INFY30OCT2023FUT",
                            "equity",
                            100,
                            1728518400000,
                            175,
                            "buy",
                            40,
                            81,
                            12,
                            197,
                            124,
                            314,
                            159,
                            79,
                            166,
                            3,
                            null
                          ],
                          [
                            "EGTDOZWR9NJKLHJDXYSO",
                            "INE197R01010",
                            "RIL31OCT2023FUT",
                            "equity",
                            250,
                            1728864000000,
                            186,
                            "buy",
                            150,
                            2,
                            17,
                            244,
                            29,
                            366,
                            100,
                            41,
                            15,
                            36,
                            null
                          ],
                          [
                            "JBJYWGG6VA3VFF3J7OWZ",
                            "INE512R01010",
                            "INFY25OCTFUT",
                            "equity",
                            225,
                            1729123200000,
                            180,
                            "buy",
                            69,
                            65,
                            61,
                            243,
                            278,
                            69,
                            18,
                            109,
                            55,
                            17,
                            null
                          ],
                          [
                            "52VUZC1SJ5MW4IKAJPIA",
                            "INE512D09106",
                            "FUTCOMCRUDEOIL16OCT2022",
                            "commodity",
                            25,
                            1744467694986,
                            423,
                            "sell",
                            106,
                            107,
                            78,
                            45,
                            79,
                            100,
                            14,
                            58,
                            70,
                            85,
                            null
                          ],
                          [
                            "2FPD4QFGHO2ICG3SK0KG",
                            "INE512D09106",
                            "FUTCOMCRUDEOIL16OCT2022",
                            "commodity",
                            50,
                            1728681600000,
                            456,
                            "buy",
                            80,
                            89,
                            33,
                            66,
                            61,
                            71,
                            116,
                            120,
                            55,
                            33,
                            null
                          ],
                          [
                            "XPDDDCPTROUOHFWCQH7O",
                            "INE512D09106",
                            "FUTCOMCRUDEOIL16OCT2022",
                            "commodity",
                            125,
                            1768596734295,
                            449,
                            "sell",
                            4,
                            73,
                            78,
                            84,
                            113,
                            71,
                            1,
                            75,
                            118,
                            18,
                            null
                          ],
                          [
                            "KMY2EC1UMISH0BUMIEGT",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            50,
                            1729632000000,
                            135,
                            "buy",
                            237,
                            56,
                            15,
                            18,
                            104,
                            15,
                            22,
                            76,
                            89,
                            112,
                            null
                          ],
                          [
                            "KMY2EC1UMISH0BUMIEGT",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            80,
                            1729632000000,
                            142,
                            "buy",
                            188,
                            53,
                            11,
                            89,
                            31,
                            92,
                            119,
                            77,
                            58,
                            6,
                            null
                          ],
                          [
                            "JAWOZXSLWYKHKUWGWS6L",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            70,
                            1771205810599,
                            148,
                            "sell",
                            77,
                            57,
                            74,
                            83,
                            42,
                            83,
                            110,
                            104,
                            60,
                            102,
                            null
                          ],
                          [
                            "JAWOZXSLWYKHKUWGWS6L",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            30,
                            1762268156139,
                            150,
                            "sell",
                            187,
                            112,
                            77,
                            67,
                            93,
                            19,
                            84,
                            19,
                            54,
                            47,
                            null
                          ],
                          [
                            "1AW8BG2NTK1BPSLMR0TV",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            140,
                            1730419200000,
                            137,
                            "buy",
                            234,
                            97,
                            29,
                            100,
                            39,
                            72,
                            49,
                            115,
                            110,
                            93,
                            null
                          ],
                          [
                            "XOUZUWMHBDCRPKRGDD1Q",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            80,
                            1751059490639,
                            154,
                            "sell",
                            136,
                            76,
                            35,
                            49,
                            98,
                            56,
                            75,
                            2,
                            15,
                            75,
                            null
                          ],
                          [
                            "XOUZUWMHBDCRPKRGDD1Q",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            20,
                            1732060800000,
                            153,
                            "buy",
                            211,
                            31,
                            34,
                            6,
                            18,
                            105,
                            104,
                            41,
                            67,
                            52,
                            null
                          ],
                          [
                            "LAGBHUZEYUH1K2OMGP49",
                            "INE573G07017",
                            "FUTCOMSILVERM21Nov2022",
                            "commodity",
                            130,
                            1746751858366,
                            156,
                            "sell",
                            110,
                            41,
                            105,
                            57,
                            47,
                            64,
                            63,
                            34,
                            46,
                            26,
                            null
                          ],
                          [
                            "GR4XEL9XWBSYPARPT0EF",
                            "INE113J07012",
                            "FUTCOMGOLD29OCT2023",
                            "commodity",
                            55,
                            1752075290423,
                            124.56,
                            "sell",
                            103,
                            48,
                            70,
                            111,
                            21,
                            40,
                            84,
                            69,
                            15,
                            16,
                            null
                          ],
                          [
                            "M5ZXEWJZFFR9DR1ECYIE",
                            "INE113J07012",
                            "FUTCOMGOLD29OCT2023",
                            "commodity",
                            55,
                            1726272000000,
                            121,
                            "buy",
                            125,
                            52,
                            36,
                            22,
                            92,
                            17,
                            67,
                            79,
                            46,
                            109,
                            null
                          ],
                          [
                            "FUWODRFMJFABB1VZGX5D",
                            "INE113J07012",
                            "FUTCOMGOLD29NOV2023",
                            "commodity",
                            85,
                            1728604800000,
                            135,
                            "buy",
                            212,
                            24,
                            78,
                            32,
                            52,
                            54,
                            7,
                            83,
                            8,
                            119,
                            null
                          ],
                          [
                            "XVFHRXHI6QWNJUUKBJ0J",
                            "INE113J07012",
                            "FUTCOMGOLD29NOV2023",
                            "commodity",
                            35,
                            1729036800000,
                            138,
                            "buy",
                            25,
                            89,
                            59,
                            114,
                            63,
                            56,
                            108,
                            2,
                            64,
                            35,
                            null
                          ],
                          [
                            "OHNNDTMWFFACP6JQ82GM",
                            "INE113J07012",
                            "FUTCOMGOLD29NOV2023",
                            "commodity",
                            90,
                            1766545293127,
                            142,
                            "sell",
                            108,
                            57,
                            19,
                            77,
                            25,
                            94,
                            115,
                            78,
                            71,
                            117,
                            null
                          ],
                          [
                            "RRCAFBZWEKTPVLYJCRB4",
                            "INE113J07012",
                            "FUTCOMGOLD29NOV2023",
                            "commodity",
                            10,
                            1767533278432,
                            149,
                            "sell",
                            130,
                            3,
                            116,
                            15,
                            41,
                            119,
                            118,
                            26,
                            76,
                            77,
                            null
                          ],
                          [
                            "JDNI9UJFKN2PGFJZ5U9O",
                            "INE579I01014",
                            "FUTCURUSDINR27JAN2023",
                            "currency",
                            145,
                            1728585600000,
                            87.45,
                            "buy",
                            212,
                            202,
                            223,
                            125,
                            116,
                            48,
                            71,
                            75,
                            100,
                            24,
                            null
                          ],
                          [
                            "4TXSMROXNCO4YKN01YBF",
                            "INE579I01014",
                            "FUTCURUSDINR27JAN2023",
                            "currency",
                            165,
                            1771973461682,
                            94.78,
                            "sell",
                            177,
                            48,
                            234,
                            38,
                            176,
                            182,
                            159,
                            80,
                            200,
                            136,
                            null
                          ],
                          [
                            "D1VHUJNJ1WGO9JVCK2AZ",
                            "INE579I01014",
                            "FUTCURUSDINR27JAN2023",
                            "currency",
                            100,
                            1753820344176,
                            45.98,
                            "sell",
                            97,
                            219,
                            153,
                            19,
                            118,
                            231,
                            228,
                            31,
                            185,
                            186,
                            null
                          ],
                          [
                            "D1VHUJNJ1WGO9JVCK2AZ",
                            "INE579I01014",
                            "FUTCURUSDINR27JAN2023",
                            "currency",
                            15,
                            1771795091847,
                            78.3,
                            "sell",
                            94,
                            93,
                            127,
                            162,
                            79,
                            232,
                            149,
                            211,
                            83,
                            6,
                            null
                          ],
                          [
                            "UVSIUTXLTZHDRHICW9C0",
                            "INE645F01015",
                            "FUTCUREURINR13MAY2023",
                            "currency",
                            50,
                            1763676835290,
                            245.78,
                            "sell",
                            46,
                            228,
                            186,
                            237,
                            75,
                            6,
                            46,
                            97,
                            203,
                            34,
                            null
                          ],
                          [
                            "V7L7EV2WB1F06YIJSHQS",
                            "INE645F01015",
                            "FUTCUREURINR13MAY2023",
                            "currency",
                            50,
                            1731174400000,
                            260.7,
                            "buy",
                            178,
                            162,
                            152,
                            207,
                            202,
                            185,
                            95,
                            232,
                            121,
                            209,
                            null
                          ],
                          [
                            "8GTJ7JADP09KTKDPFWQJ",
                            "INE645F01015",
                            "FUTCUREURINR13MAY2023",
                            "currency",
                            145,
                            1750492920896,
                            278,
                            "sell",
                            20,
                            164,
                            152,
                            121,
                            98,
                            148,
                            35,
                            194,
                            110,
                            34,
                            null
                          ],
                          [
                            "XNAQJZ3OTJFDZ2FEGVVQ",
                            "INE645F01015",
                            "FUTCUREURINR13MAY2023",
                            "currency",
                            145,
                            1711756800000,
                            289,
                            "buy",
                            25,
                            85,
                            159,
                            60,
                            145,
                            36,
                            46,
                            146,
                            237,
                            157,
                            null
                          ],
                          [
                            "NU9Y7DKWYXX1B8HUGX0G",
                            "INE714H01019",
                            "FUTCURGBPINR27OCT2023",
                            "currency",
                            75,
                            1725667200000,
                            4500,
                            "buy",
                            21,
                            179,
                            65,
                            29,
                            21,
                            92,
                            124,
                            178,
                            153,
                            12,
                            null
                          ],
                          [
                            "NU9Y7DKWYXX1B8HUGX0G",
                            "INE714H01019",
                            "FUTCURGBPINR27OCT2023",
                            "currency",
                            75,
                            1774239395461,
                            4509,
                            "sell",
                            15,
                            93,
                            151,
                            111,
                            104,
                            103,
                            55,
                            238,
                            153,
                            97,
                            null
                          ],
                          [
                            "7BN92HT8TUYNDOW29YPQ",
                            "INE714H01019",
                            "FUTCURGBPINR27OCT2023",
                            "currency",
                            113,
                            1726185600000,
                            4492.367,
                            "buy",
                            57,
                            230,
                            240,
                            67,
                            116,
                            76,
                            6,
                            3,
                            169,
                            150,
                            null
                          ],
                          [
                            "QRJDSFMYL79ULAWADZ4C",
                            "INE714H01019",
                            "FUTCURGBPINR27OCT2023",
                            "currency",
                            60,
                            1750448250099,
                            4499.876,
                            "sell",
                            145,
                            184,
                            130,
                            50,
                            35,
                            17,
                            90,
                            146,
                            149,
                            199,
                            null
                          ],
                          [
                            "FZJQJNQWOJE78OSAKILB",
                            "INE714H01019",
                            "FUTCURGBPINR27OCT2023",
                            "currency",
                            43,
                            1770416893638,
                            5008.596,
                            "sell",
                            47,
                            22,
                            47,
                            31,
                            24,
                            32,
                            128,
                            195,
                            47,
                            87,
                            null
                          ],
                          [
                            "BZAB3NIFLVXCEWLNXF0C",
                            "INE632P01025",
                            "FUTCURJPYINR24AUG2023",
                            "currency",
                            120,
                            1761818827953,
                            345.89,
                            "sell",
                            7,
                            203,
                            116,
                            18,
                            12,
                            64,
                            159,
                            151,
                            211,
                            148,
                            null
                          ],
                          [
                            "EUCWBOWYUQF5LLS2MG9P",
                            "INE632P01025",
                            "FUTCURJPYINR24AUG2023",
                            "currency",
                            80,
                            1731788800000,
                            325.67,
                            "buy",
                            44,
                            87,
                            14,
                            179,
                            169,
                            178,
                            97,
                            26,
                            72,
                            170,
                            null
                          ],
                          [
                            "EUCWBOWYUQF5LLS2MG9P",
                            "INE632P01025",
                            "FUTCURJPYINR24AUG2023",
                            "currency",
                            30,
                            1731788800000,
                            319.78,
                            "buy",
                            89,
                            205,
                            71,
                            145,
                            106,
                            166,
                            209,
                            67,
                            6,
                            124,
                            null
                          ],
                          [
                            "MUYD0KEIED2TJLMOBKEM",
                            "INE632P01025",
                            "FUTCURJPYINR24AUG2023",
                            "currency",
                            40,
                            1746531637884,
[...]
