{
    "openapi": "3.1.0",
    "info": {
      "title": "Sandbox API [Prod]",
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://api.sandbox.co.in"
      }
    ],
    "components": {
      "securitySchemes": {}
    },
    "security": [
      {}
    ],
    "paths": {
      "/itr-reporting/taxpayer/{pan}/itrs/{assessment_year}/validate": {
        "post": {
          "summary": "Validate ITR",
          "description": "",
          "operationId": "validate-itr",
          "parameters": [
            {
              "name": "pan",
              "in": "path",
              "description": "PAN of individual",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "assessment_year",
              "in": "path",
              "description": "AY for which ITR is being prepared",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "JWT Authorization token",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "description": "Public key required to authorize API access.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "default": "1.0"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200",
              "content": {
                "application/json": {
                  "examples": {
                    "Result": {
                      "value": "{}"
                    }
                  },
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "400": {
              "description": "400",
              "content": {
                "application/json": {
                  "examples": {
                    "Result": {
                      "value": "{}"
                    }
                  },
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "deprecated": false
        }
      },
      "/itr-reporting/taxpayer/{pan}/itrs/{assessment_year}/": {
        "post": {
          "summary": "Prepare ITR",
          "description": "Prepare Income Tax Return and generate JSON",
          "operationId": "prepare-itr",
          "parameters": [
            {
              "name": "pan",
              "in": "path",
              "description": "PAN of individual",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "assessment_year",
              "in": "path",
              "description": "AY for which ITR is being prepared",
              "schema": {
                "type": "string"
              },
              "required": true
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "JWT Authorization token",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-key",
              "in": "header",
              "description": "Public key required to authorize API access",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-api-version",
              "in": "header",
              "schema": {
                "type": "string",
                "default": "1.0"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "RAW_BODY": {
                      "type": "string",
                      "format": "json"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200",
              "content": {
                "application/json": {
                  "examples": {
                    "Result": {
                      "value": "{\n    \"code\": 200,\n    \"data\": {\n        \"ITR\": {\n            \"ITR1\": {\n                \"CreationInfo\": {\n                    \"IntermediaryCity\": \"Ahmedabad\",\n                    \"JSONCreationDate\": \"2023-03-28\",\n                    \"Digest\": \"J2meHK6joJxebVWzK/0T4HsVd87Knmv9KSOWTDraoXY=\",\n                    \"SWVersionNo\": \"2022.0.0\",\n                    \"SWCreatedBy\": \"SW00012223\",\n                    \"JSONCreatedBy\": \"SW00012223\"\n                },\n                \"Schedule80D\": {\n                    \"Sec80DSelfFamSrCtznHealth\": {\n                        \"SelfAndFamilySeniorCitizen\": 0,\n                        \"HealthInsPremSlfFam\": 0,\n                        \"ParentsSeniorCitizenFlag\": \"P\",\n                        \"SeniorCitizenFlag\": \"S\",\n                        \"Parents\": 0,\n                        \"HlthInsPremParents\": 0,\n                        \"MedicalExpSlfFamSrCtzn\": 0,\n                        \"MedicalExpParentsSrCtzn\": 0,\n                        \"HlthInsPremSlfFamSrCtzn\": 0,\n                        \"ParentsSeniorCitizen\": 0,\n                        \"HlthInsPremParentsSrCtzn\": 0,\n                        \"EligibleAmountOfDedn\": 0,\n                        \"PrevHlthChckUpSlfFamSrCtzn\": 0,\n                        \"SelfAndFamily\": 0,\n                        \"PrevHlthChckUpParentsSrCtzn\": 0,\n                        \"PrevHlthChckUpParents\": 0,\n                        \"PrevHlthChckUpSlfFam\": 0\n                    }\n                },\n                \"TDSonSalaries\": {\n                    \"TDSonSalary\": [\n                        {\n                            \"EmployerOrDeductorOrCollectDetl\": {\n                                \"TAN\": \"DHGK47639U\",\n                                \"EmployerOrDeductorOrCollecterName\": \"Acne Infosoft\"\n                            },\n                            \"IncChrgSal\": 1455000,\n                            \"TotalTDSSal\": 365500\n                        }\n                    ],\n                    \"TotalTDSonSalaries\": 365500\n                },\n                \"ITR1_IncomeDeductions\": {\n                    \"Salary\": 1600000,\n                    \"InterestPayable\": 0,\n                    \"GrossSalary\": 1630000,\n                    \"TotalIncomeOfHP\": 0,\n                    \"IncomeNotified89AType\": [],\n                    \"AllwncExemptUs10\": {\n                        \"TotalAllwncExemptUs10\": 120000,\n                        \"AllwncExemptUs10Dtls\": [\n                            {\n                                \"SalOthNatOfInc\": \"10(5)\",\n                                \"SalOthAmount\": 80000,\n                                \"SalNatureDesc\": \"10(5)\"\n                            },\n                            {\n                                \"SalOthNatOfInc\": \"10(13A)\",\n                                \"SalOthAmount\": 40000,\n                                \"SalNatureDesc\": \"10(13A)\"\n                            }\n                        ]\n                    },\n                    \"NetSalary\": 1510000,\n                    \"ProfessionalTaxUs16iii\": 5000,\n                    \"ExemptIncAgriOthUs10\": {\n                        \"ExemptIncAgriOthUs10Total\": 72000,\n                        \"ExemptIncAgriOthUs10Dtls\": [\n                            {\n                                \"NatureDesc\": \"OTH\",\n                                \"OthNatOfInc\": \"PPF Interest\",\n                                \"OthAmount\": 15000\n                            },\n                            {\n                                \"NatureDesc\": \"OTH\",\n                                \"OthNatOfInc\": \"Other Exempt Income\",\n                                \"OthAmount\": 27000\n                            },\n                            {\n                                \"NatureDesc\": \"OTH\",\n                                \"OthNatOfInc\": \"Gift\",\n                                \"OthAmount\": 30000\n                            }\n                        ]\n                    },\n                    \"GrossTotIncome\": 1562982,\n                    \"UsrDeductUndChapVIA\": {\n                        \"Section80DD\": 0,\n                        \"Section80EE\": 0,\n                        \"Section80GG\": 0,\n                        \"Section80EEA\": 0,\n                        \"Section80GGA\": 0,\n                        \"Section80TTA\": 6982,\n                        \"Section80DDB\": 0,\n                        \"Section80EEB\": 0,\n                        \"Section80TTB\": 0,\n                        \"Section80CCC\": 0,\n                        \"Section80GGC\": 0,\n                        \"Section80U\": 0,\n                        \"Section80CCDEmployer\": 0,\n                        \"TotalChapVIADeductions\": 6982,\n                        \"Section80C\": 0,\n                        \"Section80D\": 0,\n                        \"Section80CCD1B\": 0,\n                        \"Section80G\": 0,\n                        \"Section80E\": 0,\n                        \"Section80CCDEmployeeOrSE\": 0\n                    },\n                    \"IncomeFromSal\": 1455000,\n                    \"TotalIncome\": 1556000,\n                    \"ProfitsInSalary\": 10000,\n                    \"DeductionUs16\": 55000,\n                    \"TypeOfHP\": \"S\",\n                    \"GrossRentReceived\": 0,\n                    \"DeductionUs57iia\": 0,\n                    \"EntertainmentAlw16ii\": 0,\n                    \"OthersInc\": {\n                        \"OthersIncDtlsOthSrc\": [\n                            {\n                                \"OthSrcNatureDesc\": \"SAV\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthAmount\": 6982\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"IFD\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthAmount\": 25000\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"TAX\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthAmount\": 0\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"OTH\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthNatOfInc\": \"Other Interest\",\n                                \"OthSrcOthAmount\": 0\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"FAP\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthAmount\": 0\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"OTH\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthNatOfInc\": \"Income From Other Sources\",\n                                \"OthSrcOthAmount\": 20000\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"OTH\",\n                                \"NOT89A\": [],\n                                \"OthSrcOthNatOfInc\": \"Dividend from Foreign Company\",\n                                \"OthSrcOthAmount\": 0\n                            },\n                            {\n                                \"OthSrcNatureDesc\": \"DIV\",\n                                \"DividendInc\": {\n                                    \"DateRange\": {\n                                        \"Upto15Of6\": 12000,\n                                        \"Upto15Of9\": 12000,\n                                        \"Up16Of3To31Of3\": 0,\n                                        \"Up16Of12To15Of3\": 17000,\n                                        \"Up16Of9To15Of12\": 15000\n                                    }\n                                },\n                                \"NOT89A\": [],\n                                \"OthSrcOthNatOfInc\": \"Dividend Income\",\n                                \"OthSrcOthAmount\": 56000\n                            }\n                        ]\n                    },\n                    \"DeductionUs16ia\": 50000,\n                    \"PerquisitesValue\": 20000,\n                    \"IncomeOthSrc\": 107982,\n                    \"DeductUndChapVIA\": {\n                        \"Section80DD\": 0,\n                        \"Section80EE\": 0,\n                        \"Section80GG\": 0,\n                        \"Section80EEA\": 0,\n                        \"Section80GGA\": 0,\n                        \"Section80TTA\": 6982,\n                        \"Section80DDB\": 0,\n                        \"Section80EEB\": 0,\n                        \"Section80TTB\": 0,\n                        \"Section80CCC\": 0,\n                        \"Section80GGC\": 0,\n                        \"Section80U\": 0,\n                        \"Section80CCDEmployer\": 0,\n                        \"TotalChapVIADeductions\": 6982,\n                        \"Section80C\": 0,\n                        \"Section80D\": 0,\n                        \"Section80CCD1B\": 0,\n                        \"Section80G\": 0,\n                        \"Section80E\": 0,\n                        \"Section80CCDEmployeeOrSE\": 0\n                    }\n                },\n                \"Refund\": {\n                    \"BankAccountDtls\": {\n                        \"AddtnlBankDetails\": [\n                            {\n                                \"BankName\": \"SBI\",\n                                \"IFSCCode\": \"SBIN0021260\",\n                                \"UseForRefund\": \"true\",\n                                \"BankAccountNo\": \"231293120\"\n                            }\n                        ]\n                    },\n                    \"RefundDue\": 70030\n                },\n                \"PersonalInfo\": {\n                    \"EmployerCategory\": \"OTH\",\n                    \"Address\": {\n                        \"MobileNo\": 8226795678,\n                        \"StateCode\": \"11\",\n                        \"CountryCode\": \"91\",\n                        \"LocalityOrArea\": \"Mumatpura\",\n                        \"ResidenceNo\": \"Mumatpura Road\",\n                        \"CityOrTownOrDistrict\": \"Ahmedabad\",\n                        \"EmailAddress\": \"sam.c@acne.com\",\n                        \"PinCode\": 380047,\n                        \"CountryCodeMobile\": 91\n                    },\n                    \"DOB\": \"1995-04-25\",\n                    \"AadhaarCardNo\": \"738298734567\",\n                    \"AssesseeName\": {\n                        \"SurNameOrOrgName\": \"Curram\",\n                        \"FirstName\": \"Sam\"\n                    },\n                    \"PAN\": \"AJFPA4867Q\"\n                },\n                \"TaxPaid\": {\n                    \"BalTaxPayable\": 0,\n                    \"TaxesPaid\": {\n                        \"TDS\": 365500,\n                        \"TCS\": 0,\n                        \"AdvanceTax\": 0,\n                        \"SelfAssessmentTax\": 0,\n                        \"TotalTaxesPaid\": 365500\n                    }\n                },\n                \"FilingStatus\": {\n                    \"IncrExpAggAmt1LkElctrctyPrYrFlg\": \"N\",\n                    \"clauseiv7provisio139iDtls\": [],\n                    \"IncrExpAggAmt2LkTrvFrgnCntryFlg\": \"N\",\n                    \"SeventhProvisio139\": \"N\",\n                    \"NewTaxRegime\": \"N\",\n                    \"DepAmtAggAmtExcd1CrPrYrFlg\": \"N\",\n                    \"ReturnFileSec\": 12\n                },\n                \"Form_ITR1\": {\n                    \"SchemaVer\": \"Ver1.0\",\n                    \"Description\": \"For Indls having Income from Salary, Pension, family pension and Interest\",\n                    \"FormVer\": \"Ver1.0\",\n                    \"AssessmentYear\": \"2022\",\n                    \"FormName\": \"ITR-1\"\n                },\n                \"ITR1_TaxComputation\": {\n                    \"TotTaxPlusIntrstPay\": 295472,\n                    \"Rebate87A\": 0,\n                    \"TotalIntrstPay\": 5000,\n                    \"EducationCess\": 11172,\n                    \"TaxPayableOnRebate\": 279300,\n                    \"GrossTaxLiability\": 290472,\n                    \"NetTaxLiability\": 290472,\n                    \"Section89\": 0,\n                    \"TotalTaxPayable\": 279300,\n                    \"IntrstPay\": {\n                        \"IntrstPayUs234C\": 0,\n                        \"IntrstPayUs234A\": 0,\n                        \"LateFilingFee234F\": 5000,\n                        \"IntrstPayUs234B\": 0\n                    }\n                },\n                \"Verification\": {\n                    \"Capacity\": \"S\",\n                    \"Declaration\": {\n                        \"AssesseeVerName\": \"Sam Curram\",\n                        \"AssesseeVerPAN\": \"AJFPA4867Q\",\n                        \"FatherName\": \"Jimmy\"\n                    },\n                    \"Place\": \"Ahmedabad\"\n                }\n            }\n        }\n    }\n}"
                    }
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200,
                        "default": 0
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ITR": {
                            "type": "object",
                            "properties": {
                              "ITR1": {
                                "type": "object",
                                "properties": {
                                  "CreationInfo": {
                                    "type": "object",
                                    "properties": {
                                      "IntermediaryCity": {
                                        "type": "string",
                                        "example": "Ahmedabad"
                                      },
                                      "JSONCreationDate": {
                                        "type": "string",
                                        "example": "2023-03-28"
                                      },
                                      "Digest": {
                                        "type": "string",
                                        "example": "J2meHK6joJxebVWzK/0T4HsVd87Knmv9KSOWTDraoXY="
                                      },
                                      "SWVersionNo": {
                                        "type": "string",
                                        "example": "2022.0.0"
                                      },
                                      "SWCreatedBy": {
                                        "type": "string",
                                        "example": "SW00012223"
                                      },
                                      "JSONCreatedBy": {
                                        "type": "string",
                                        "example": "SW00012223"
                                      }
                                    }
                                  },
                                  "Schedule80D": {
                                    "type": "object",
                                    "properties": {
                                      "Sec80DSelfFamSrCtznHealth": {
                                        "type": "object",
                                        "properties": {
                                          "SelfAndFamilySeniorCitizen": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "HealthInsPremSlfFam": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "ParentsSeniorCitizenFlag": {
                                            "type": "string",
                                            "example": "P"
                                          },
                                          "SeniorCitizenFlag": {
                                            "type": "string",
                                            "example": "S"
                                          },
                                          "Parents": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "HlthInsPremParents": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "MedicalExpSlfFamSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "MedicalExpParentsSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "HlthInsPremSlfFamSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "ParentsSeniorCitizen": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "HlthInsPremParentsSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "EligibleAmountOfDedn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "PrevHlthChckUpSlfFamSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "SelfAndFamily": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "PrevHlthChckUpParentsSrCtzn": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "PrevHlthChckUpParents": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "PrevHlthChckUpSlfFam": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "TDSonSalaries": {
                                    "type": "object",
                                    "properties": {
                                      "TDSonSalary": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "EmployerOrDeductorOrCollectDetl": {
                                              "type": "object",
                                              "properties": {
                                                "TAN": {
                                                  "type": "string",
                                                  "example": "DHGK47639U"
                                                },
                                                "EmployerOrDeductorOrCollecterName": {
                                                  "type": "string",
                                                  "example": "Acne Infosoft"
                                                }
                                              }
                                            },
                                            "IncChrgSal": {
                                              "type": "integer",
                                              "example": 1455000,
                                              "default": 0
                                            },
                                            "TotalTDSSal": {
                                              "type": "integer",
                                              "example": 365500,
                                              "default": 0
                                            }
                                          }
                                        }
                                      },
                                      "TotalTDSonSalaries": {
                                        "type": "integer",
                                        "example": 365500,
                                        "default": 0
                                      }
                                    }
                                  },
                                  "ITR1_IncomeDeductions": {
                                    "type": "object",
                                    "properties": {
                                      "Salary": {
                                        "type": "integer",
                                        "example": 1600000,
                                        "default": 0
                                      },
                                      "InterestPayable": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "GrossSalary": {
                                        "type": "integer",
                                        "example": 1630000,
                                        "default": 0
                                      },
                                      "TotalIncomeOfHP": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "IncomeNotified89AType": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {}
                                        }
                                      },
                                      "AllwncExemptUs10": {
                                        "type": "object",
                                        "properties": {
                                          "TotalAllwncExemptUs10": {
                                            "type": "integer",
                                            "example": 120000,
                                            "default": 0
                                          },
                                          "AllwncExemptUs10Dtls": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "SalOthNatOfInc": {
                                                  "type": "string",
                                                  "example": "10(5)"
                                                },
                                                "SalOthAmount": {
                                                  "type": "integer",
                                                  "example": 80000,
                                                  "default": 0
                                                },
                                                "SalNatureDesc": {
                                                  "type": "string",
                                                  "example": "10(5)"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "NetSalary": {
                                        "type": "integer",
                                        "example": 1510000,
                                        "default": 0
                                      },
                                      "ProfessionalTaxUs16iii": {
                                        "type": "integer",
                                        "example": 5000,
                                        "default": 0
                                      },
                                      "ExemptIncAgriOthUs10": {
                                        "type": "object",
                                        "properties": {
                                          "ExemptIncAgriOthUs10Total": {
                                            "type": "integer",
                                            "example": 72000,
                                            "default": 0
                                          },
                                          "ExemptIncAgriOthUs10Dtls": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "NatureDesc": {
                                                  "type": "string",
                                                  "example": "OTH"
                                                },
                                                "OthNatOfInc": {
                                                  "type": "string",
                                                  "example": "PPF Interest"
                                                },
                                                "OthAmount": {
                                                  "type": "integer",
                                                  "example": 15000,
                                                  "default": 0
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "GrossTotIncome": {
                                        "type": "integer",
                                        "example": 1562982,
                                        "default": 0
                                      },
                                      "UsrDeductUndChapVIA": {
                                        "type": "object",
                                        "properties": {
                                          "Section80DD": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EE": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GG": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EEA": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GGA": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80TTA": {
                                            "type": "integer",
                                            "example": 6982,
                                            "default": 0
                                          },
                                          "Section80DDB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EEB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80TTB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCC": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GGC": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80U": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCDEmployer": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "TotalChapVIADeductions": {
                                            "type": "integer",
                                            "example": 6982,
                                            "default": 0
                                          },
                                          "Section80C": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80D": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCD1B": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80G": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80E": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCDEmployeeOrSE": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          }
                                        }
                                      },
                                      "IncomeFromSal": {
                                        "type": "integer",
                                        "example": 1455000,
                                        "default": 0
                                      },
                                      "TotalIncome": {
                                        "type": "integer",
                                        "example": 1556000,
                                        "default": 0
                                      },
                                      "ProfitsInSalary": {
                                        "type": "integer",
                                        "example": 10000,
                                        "default": 0
                                      },
                                      "DeductionUs16": {
                                        "type": "integer",
                                        "example": 55000,
                                        "default": 0
                                      },
                                      "TypeOfHP": {
                                        "type": "string",
                                        "example": "S"
                                      },
                                      "GrossRentReceived": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "DeductionUs57iia": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "EntertainmentAlw16ii": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "OthersInc": {
                                        "type": "object",
                                        "properties": {
                                          "OthersIncDtlsOthSrc": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "OthSrcNatureDesc": {
                                                  "type": "string",
                                                  "example": "SAV"
                                                },
                                                "NOT89A": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "properties": {}
                                                  }
                                                },
                                                "OthSrcOthAmount": {
                                                  "type": "integer",
                                                  "example": 6982,
                                                  "default": 0
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "DeductionUs16ia": {
                                        "type": "integer",
                                        "example": 50000,
                                        "default": 0
                                      },
                                      "PerquisitesValue": {
                                        "type": "integer",
                                        "example": 20000,
                                        "default": 0
                                      },
                                      "IncomeOthSrc": {
                                        "type": "integer",
                                        "example": 107982,
                                        "default": 0
                                      },
                                      "DeductUndChapVIA": {
                                        "type": "object",
                                        "properties": {
                                          "Section80DD": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EE": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GG": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EEA": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GGA": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80TTA": {
                                            "type": "integer",
                                            "example": 6982,
                                            "default": 0
                                          },
                                          "Section80DDB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80EEB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80TTB": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCC": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80GGC": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80U": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCDEmployer": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "TotalChapVIADeductions": {
                                            "type": "integer",
                                            "example": 6982,
                                            "default": 0
                                          },
                                          "Section80C": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80D": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCD1B": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80G": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80E": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "Section80CCDEmployeeOrSE": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Refund": {
                                    "type": "object",
                                    "properties": {
                                      "BankAccountDtls": {
                                        "type": "object",
                                        "properties": {
                                          "AddtnlBankDetails": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "BankName": {
                                                  "type": "string",
                                                  "example": "SBI"
                                                },
                                                "IFSCCode": {
                                                  "type": "string",
                                                  "example": "SBIN0021260"
                                                },
                                                "UseForRefund": {
                                                  "type": "string",
                                                  "example": "true"
                                                },
                                                "BankAccountNo": {
                                                  "type": "string",
                                                  "example": "231293120"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "RefundDue": {
                                        "type": "integer",
                                        "example": 70030,
                                        "default": 0
                                      }
                                    }
                                  },
                                  "PersonalInfo": {
                                    "type": "object",
                                    "properties": {
                                      "EmployerCategory": {
                                        "type": "string",
                                        "example": "OTH"
                                      },
                                      "Address": {
                                        "type": "object",
                                        "properties": {
                                          "MobileNo": {
                                            "type": "integer",
                                            "example": 8226795678,
                                            "default": 0
                                          },
                                          "StateCode": {
                                            "type": "string",
                                            "example": "11"
                                          },
                                          "CountryCode": {
                                            "type": "string",
                                            "example": "91"
                                          },
                                          "LocalityOrArea": {
                                            "type": "string",
                                            "example": "Mumatpura"
                                          },
                                          "ResidenceNo": {
                                            "type": "string",
                                            "example": "Mumatpura Road"
                                          },
                                          "CityOrTownOrDistrict": {
                                            "type": "string",
                                            "example": "Ahmedabad"
                                          },
                                          "EmailAddress": {
                                            "type": "string",
                                            "example": "sam.c@acne.com"
                                          },
                                          "PinCode": {
                                            "type": "integer",
                                            "example": 380047,
                                            "default": 0
                                          },
                                          "CountryCodeMobile": {
                                            "type": "integer",
                                            "example": 91,
                                            "default": 0
                                          }
                                        }
                                      },
                                      "DOB": {
                                        "type": "string",
                                        "example": "1995-04-25"
                                      },
                                      "AadhaarCardNo": {
                                        "type": "string",
                                        "example": "738298734567"
                                      },
                                      "AssesseeName": {
                                        "type": "object",
                                        "properties": {
                                          "SurNameOrOrgName": {
                                            "type": "string",
                                            "example": "Curram"
                                          },
                                          "FirstName": {
                                            "type": "string",
                                            "example": "Sam"
                                          }
                                        }
                                      },
                                      "PAN": {
                                        "type": "string",
                                        "example": "AJFPA4867Q"
                                      }
                                    }
                                  },
                                  "TaxPaid": {
                                    "type": "object",
                                    "properties": {
                                      "BalTaxPayable": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "TaxesPaid": {
                                        "type": "object",
                                        "properties": {
                                          "TDS": {
                                            "type": "integer",
                                            "example": 365500,
                                            "default": 0
                                          },
                                          "TCS": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "AdvanceTax": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "SelfAssessmentTax": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "TotalTaxesPaid": {
                                            "type": "integer",
                                            "example": 365500,
                                            "default": 0
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "FilingStatus": {
                                    "type": "object",
                                    "properties": {
                                      "IncrExpAggAmt1LkElctrctyPrYrFlg": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "clauseiv7provisio139iDtls": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {}
                                        }
                                      },
                                      "IncrExpAggAmt2LkTrvFrgnCntryFlg": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "SeventhProvisio139": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "NewTaxRegime": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "DepAmtAggAmtExcd1CrPrYrFlg": {
                                        "type": "string",
                                        "example": "N"
                                      },
                                      "ReturnFileSec": {
                                        "type": "integer",
                                        "example": 12,
                                        "default": 0
                                      }
                                    }
                                  },
                                  "Form_ITR1": {
                                    "type": "object",
                                    "properties": {
                                      "SchemaVer": {
                                        "type": "string",
                                        "example": "Ver1.0"
                                      },
                                      "Description": {
                                        "type": "string",
                                        "example": "For Indls having Income from Salary, Pension, family pension and Interest"
                                      },
                                      "FormVer": {
                                        "type": "string",
                                        "example": "Ver1.0"
                                      },
                                      "AssessmentYear": {
                                        "type": "string",
                                        "example": "2022"
                                      },
                                      "FormName": {
                                        "type": "string",
                                        "example": "ITR-1"
                                      }
                                    }
                                  },
                                  "ITR1_TaxComputation": {
                                    "type": "object",
                                    "properties": {
                                      "TotTaxPlusIntrstPay": {
                                        "type": "integer",
                                        "example": 295472,
                                        "default": 0
                                      },
                                      "Rebate87A": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "TotalIntrstPay": {
                                        "type": "integer",
                                        "example": 5000,
                                        "default": 0
                                      },
                                      "EducationCess": {
                                        "type": "integer",
                                        "example": 11172,
                                        "default": 0
                                      },
                                      "TaxPayableOnRebate": {
                                        "type": "integer",
                                        "example": 279300,
                                        "default": 0
                                      },
                                      "GrossTaxLiability": {
                                        "type": "integer",
                                        "example": 290472,
                                        "default": 0
                                      },
                                      "NetTaxLiability": {
                                        "type": "integer",
                                        "example": 290472,
                                        "default": 0
                                      },
                                      "Section89": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "TotalTaxPayable": {
                                        "type": "integer",
                                        "example": 279300,
                                        "default": 0
                                      },
                                      "IntrstPay": {
                                        "type": "object",
                                        "properties": {
                                          "IntrstPayUs234C": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "IntrstPayUs234A": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          },
                                          "LateFilingFee234F": {
                                            "type": "integer",
                                            "example": 5000,
                                            "default": 0
                                          },
                                          "IntrstPayUs234B": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "Verification": {
                                    "type": "object",
                                    "properties": {
                                      "Capacity": {
                                        "type": "string",
                                        "example": "S"
                                      },
                                      "Declaration": {
                                        "type": "object",
                                        "properties": {
                                          "AssesseeVerName": {
                                            "type": "string",
                                            "example": "Sam Curram"
                                          },
                                          "AssesseeVerPAN": {
                                            "type": "string",
                                            "example": "AJFPA4867Q"
                                          },
                                          "FatherName": {
                                            "type": "string",
                                            "example": "Jimmy"
                                          }
                                        }
                                      },
                                      "Place": {
                                        "type": "string",
                                        "example": "Ahmedabad"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "422": {
              "description": "422",
              "content": {
                "application/json": {
                  "examples": {
                    "Result": {
                      "value": "{\n    \"code\": 422,\n    \"message\": \"unprocessable entity\",\n    \"data\": {\n        \"label\": \"itr 1\",\n        \"valid\": false,\n        \"value\": {\n            \"tax_computation\": {\n                \"label\": \"tax computation\",\n                \"valid\": false,\n                \"value\": {\n                    \"surcharge\": {\n                        \"label\": \"surcharge\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"interest_234_b\": {\n                        \"label\": \"interest 234 b\",\n                        \"valid\": true,\n                        \"value\": 10439\n                    },\n                    \"gross_normal_income\": {\n                        \"label\": \"gross normal income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"gross_total_income\": {\n                        \"label\": \"gross total income\",\n                        \"valid\": true,\n                        \"value\": 874300\n                    },\n                    \"interest_234_a\": {\n                        \"label\": \"interest 234 a\",\n                        \"valid\": true,\n                        \"value\": 7227\n                    },\n                    \"interest_234_c\": {\n                        \"label\": \"interest 234 c\",\n                        \"valid\": true,\n                        \"value\": 4056\n                    },\n                    \"carry_forward_loss\": {\n                        \"label\": \"carry forward loss\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_chapter_vi_a_deduction\": {\n                        \"label\": \"total chapter vi a deduction\",\n                        \"valid\": true,\n                        \"value\": 10000\n                    },\n                    \"total_taxable_house_property\": {\n                        \"label\": \"total taxable house property\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"tax_payable_on_special_rate_income\": {\n                        \"label\": \"tax payable on special rate income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_taxable_business_profession\": {\n                        \"label\": \"total taxable business profession\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_taxable_capital_gains\": {\n                        \"label\": \"total taxable capital gains\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_normal_income\": {\n                        \"label\": \"total normal income\",\n                        \"valid\": true,\n                        \"value\": 864300\n                    },\n                    \"total_special_income\": {\n                        \"label\": \"total special income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"net_tax_payable\": {\n                        \"label\": \"net tax payable\",\n                        \"valid\": true,\n                        \"value\": 115496\n                    },\n                    \"serialVersionUID\": {\n                        \"label\": \"serialVersionUID\",\n                        \"valid\": true,\n                        \"value\": -453683663472464221\n                    },\n                    \"tax_payable_on_normal_rate_income\": {\n                        \"label\": \"tax payable on normal rate income\",\n                        \"valid\": true,\n                        \"value\": 85360\n                    },\n                    \"fees_234_f\": {\n                        \"label\": \"fees 234 f\",\n                        \"valid\": true,\n                        \"value\": 5000\n                    },\n                    \"total_exempt_income\": {\n                        \"label\": \"total exempt income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_tax_collected_at_source\": {\n                        \"label\": \"total tax collected at source\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_tax_deducted_at_source\": {\n                        \"label\": \"total tax deducted at source\",\n                        \"valid\": true,\n                        \"value\": 8403\n                    },\n                    \"relief\": {\n                        \"label\": \"relief\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_advance_tax\": {\n                        \"label\": \"total advance tax\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"total_taxable_salary\": {\n                        \"label\": \"total taxable salary\",\n                        \"valid\": true,\n                        \"value\": 840300\n                    },\n                    \"total_taxable_other\": {\n                        \"label\": \"total taxable other\",\n                        \"valid\": true,\n                        \"value\": 79000\n                    },\n                    \"current_year_loss_adjusted\": {\n                        \"label\": \"current year loss adjusted\",\n                        \"valid\": true,\n                        \"value\": 45000\n                    },\n                    \"rebate\": {\n                        \"label\": \"rebate\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"brought_forward_loss_adjusted\": {\n                        \"label\": \"brought forward loss adjusted\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"tax_payable_on_total_income\": {\n                        \"label\": \"tax payable on total income\",\n                        \"valid\": true,\n                        \"value\": 85360\n                    },\n                    \"gross_special_income\": {\n                        \"label\": \"gross special income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"aggregate_income\": {\n                        \"label\": \"aggregate income\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"cess\": {\n                        \"label\": \"cess\",\n                        \"valid\": true,\n                        \"value\": 3414\n                    },\n                    \"total_income\": {\n                        \"label\": \"total income\",\n                        \"valid\": true,\n                        \"value\": 864300\n                    },\n                    \"due\": {\n                        \"label\": \"due\",\n                        \"valid\": false,\n                        \"issues\": [\n                            {\n                                \"message\": \"Max value: 0\",\n                                \"code\": \"MAX\",\n                                \"level\": \"ERROR\"\n                            }\n                        ],\n                        \"value\": 107090\n                    },\n                    \"total_interest_and_penalty\": {\n                        \"label\": \"total interest and penalty\",\n                        \"valid\": true,\n                        \"value\": 26722\n                    },\n                    \"tax_after_rebate\": {\n                        \"label\": \"tax after rebate\",\n                        \"valid\": true,\n                        \"value\": 85360\n                    },\n                    \"total_taxes_paid\": {\n                        \"label\": \"total taxes paid\",\n                        \"valid\": true,\n                        \"value\": 8403\n                    },\n                    \"gross_tax_payable\": {\n                        \"label\": \"gross tax payable\",\n                        \"valid\": true,\n                        \"value\": 88774\n                    },\n                    \"total_self_assessment_tax\": {\n                        \"label\": \"total self assessment tax\",\n                        \"valid\": true,\n                        \"value\": 0\n                    },\n                    \"refund\": {\n                        \"label\": \"refund\",\n                        \"valid\": true,\n                        \"value\": 0\n                    }\n                }\n            },\n            \"form_10_ie_filed_on\": {\n                \"label\": \"form 10 ie filed on\",\n                \"valid\": true,\n                \"value\": null\n            },\n            \"form_10_ie_acknowledgement_number\": {\n                \"label\": \"form 10 ie acknowledgement number\",\n                \"valid\": true,\n                \"value\": null\n            },\n            \"type\": {\n                \"label\": \"type\",\n                \"valid\": true,\n                \"value\": \"Original\"\n            },\n            \"serialVersionUID\": {\n                \"label\": \"serialVersionUID\",\n                \"valid\": true,\n                \"value\": -3371585658911809659\n            },\n            \"filed_under_section\": {\n                \"label\": \"filed under section\",\n                \"valid\": true,\n                \"value\": \"After the due date u/s 139(4)\"\n            },\n            \"id\": {\n                \"label\": \"id\",\n                \"valid\": true,\n                \"value\": \"9C1823C63D6EAB49819BB68EAA565851\"\n            },\n            \"is_current_assessment_year\": {\n                \"label\": \"is current assessment year\",\n                \"valid\": true,\n                \"value\": null\n            },\n            \"original_return_filed_date\": {\n                \"label\": \"original return filed date\",\n                \"valid\": true,\n                \"value\": null\n            },\n            \"incomes\": {\n                \"valid\": true,\n                \"value\": [\n                    {\n                        \"label\": \"salary\",\n                        \"valid\": true,\n                        \"value\": {\n                            \"net_salary\": {\n                                \"label\": \"net salary\",\n                                \"valid\": true,\n                                \"value\": 895300\n                            },\n                            \"tds\": {\n                                \"label\": \"tds\",\n                                \"valid\": true,\n                                \"value\": {\n                                    \"tan\": {\n                                        \"label\": \"tan\",\n                                        \"valid\": true,\n                                        \"value\": \"PDES03028F\"\n                                    },\n                                    \"tax_amount\": {\n                                        \"label\": \"tax amount\",\n                                        \"valid\": true,\n                                        \"value\": 8403\n                                    },\n                                    \"serialVersionUID\": {\n                                        \"label\": \"serialVersionUID\",\n                                        \"valid\": true,\n                                        \"value\": 5915913528126955159\n                                    },\n                                    \"income_head\": {\n                                        \"label\": \"income head\",\n                                        \"valid\": true,\n                                        \"value\": \"Salary\"\n                                    },\n                                    \"financial_year\": {\n                                        \"label\": \"financial year\",\n                                        \"valid\": true,\n                                        \"value\": \"FY 2021-22\"\n                                    },\n                                    \"credit_amount\": {\n                                        \"label\": \"credit amount\",\n                                        \"valid\": true,\n                                        \"value\": 840300\n                                    },\n                                    \"deductor\": {\n                                        \"label\": \"deductor\",\n                                        \"valid\": true,\n                                        \"value\": \"Acne Infosoft Pvt Ltd.\"\n                                    },\n                                    \"id\": {\n                                        \"label\": \"id\",\n                                        \"valid\": true,\n                                        \"value\": \"F7DD5B83AB501A3EE0530100007F8A86\"\n                                    },\n                                    \"pan\": {\n                                        \"label\": \"pan\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    }\n                                }\n                            },\n                            \"gross_income\": {\n                                \"label\": \"gross income\",\n                                \"valid\": true,\n                                \"value\": 1060000\n                            },\n                            \"description\": {\n                                \"label\": \"description\",\n                                \"valid\": true,\n                                \"value\": null\n                            },\n                            \"deductions\": {\n                                \"valid\": true,\n                                \"value\": [\n                                    {\n                                        \"label\": \"deduction\",\n                                        \"valid\": true,\n                                        \"value\": {\n                                            \"qualified\": {\n                                                \"label\": \"qualified\",\n                                                \"valid\": true,\n                                                \"value\": 0\n                                            },\n                                            \"serialVersionUID\": {\n                                                \"label\": \"serialVersionUID\",\n                                                \"valid\": true,\n                                                \"value\": 2439839388258153843\n                                            },\n                                            \"eligible\": {\n                                                \"label\": \"eligible\",\n                                                \"valid\": true,\n                                                \"value\": 0\n                                            },\n                                            \"section\": {\n                                                \"label\": \"section\",\n                                                \"valid\": true,\n                                                \"value\": \"16(ii)\"\n                                            },\n                                            \"id\": {\n                                                \"label\": \"id\",\n                                                \"valid\": true,\n                                                \"value\": \"F7DD5B83AB481A3EE0530100007F8A86\"\n                                            },\n                                            \"is_chapter_vi_a\": {\n                                                \"label\": \"is chapter vi a\",\n                                                \"valid\": true,\n                                                \"value\": false\n                                            }\n                                        }\n                                    },\n                                    {\n                                        \"label\": \"deduction\",\n                                        \"valid\": true,\n                                        \"value\": {\n                                            \"qualified\": {\n                                                \"label\": \"qualified\",\n                                                \"valid\": true,\n                                                \"value\": 5000\n                                            },\n                                            \"serialVersionUID\": {\n                                                \"label\": \"serialVersionUID\",\n                                                \"valid\": true,\n                                                \"value\": 2439839388258153843\n                                            },\n                                            \"eligible\": {\n                                                \"label\": \"eligible\",\n                                                \"valid\": true,\n                                                \"value\": 5000\n                                            },\n                                            \"section\": {\n                                                \"label\": \"section\",\n                                                \"valid\": true,\n                                                \"value\": \"16(iii)\"\n                                            },\n                                            \"id\": {\n                                                \"label\": \"id\",\n                                                \"valid\": true,\n                                                \"value\": \"F7DD5B83AB491A3EE0530100007F8A86\"\n                                            },\n                                            \"is_chapter_vi_a\": {\n                                                \"label\": \"is chapter vi a\",\n                                                \"valid\": true,\n                                                \"value\": false\n                                            }\n                                        }\n                                    },\n                                    {\n                                        \"label\": \"deduction\",\n                                        \"valid\": true,\n                                        \"value\": {\n                                            \"qualified\": {\n                                                \"label\": \"qualified\",\n                                                \"valid\": true,\n                                                \"value\": 50000\n                                            },\n                                            \"serialVersionUID\": {\n                                                \"label\": \"serialVersionUID\",\n                                                \"valid\": true,\n                                                \"value\": 2439839388258153843\n                                            },\n                                            \"eligible\": {\n                                                \"label\": \"eligible\",\n                                                \"valid\": true,\n                                                \"value\": 50000\n                                            },\n                                            \"section\": {\n                                                \"label\": \"section\",\n                                                \"valid\": true,\n                                                \"value\": \"16(ia)\"\n                                            },\n                                            \"id\": {\n                                                \"label\": \"id\",\n                                                \"valid\": true,\n                                                \"value\": \"F7DD92B8650A266AE0530100007F9A70\"\n                                            },\n                                            \"is_chapter_vi_a\": {\n                                                \"label\": \"is chapter vi a\",\n                                                \"valid\": true,\n                                                \"value\": false\n                                            }\n                                        }\n                                    }\n                                ]\n                            },\n                            \"head\": {\n                                \"label\": \"head\",\n                                \"valid\": true,\n                                \"value\": \"Salary\"\n                            },\n                            \"serialVersionUID\": {\n                                \"label\": \"serialVersionUID\",\n                                \"valid\": true,\n                                \"value\": -62892972604270535\n                            },\n                            \"net_taxable_income\": {\n                                \"label\": \"net taxable income\",\n                                \"valid\": true,\n                                \"value\": 840300\n                            },\n                            \"perquisites\": {\n                                \"label\": \"perquisites\",\n                                \"valid\": true,\n                                \"value\": 135000\n                            },\n                            \"is_foreign\": {\n                                \"label\": \"is foreign\",\n                                \"valid\": true,\n                                \"value\": false\n                            },\n                            \"basic_salary\": {\n                                \"label\": \"basic salary\",\n                                \"valid\": true,\n                                \"value\": 875000\n                            },\n                            \"is_exempt\": {\n                                \"label\": \"is exempt\",\n                                \"valid\": true,\n                                \"value\": false\n                            },\n                            \"employer\": {\n                                \"label\": \"employer\",\n                                \"valid\": true,\n                                \"value\": {\n                                    \"tan\": {\n                                        \"label\": \"tan\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"address\": {\n                                        \"label\": \"address\",\n                                        \"valid\": true,\n                                        \"value\": {\n                                            \"area\": {\n                                                \"label\": \"area\",\n                                                \"valid\": true,\n                                                \"value\": \"Navrangpura\"\n                                            },\n                                            \"country\": {\n                                                \"label\": \"country\",\n                                                \"valid\": true,\n                                                \"value\": \"India\"\n                                            },\n                                            \"serialVersionUID\": {\n                                                \"label\": \"serialVersionUID\",\n                                                \"valid\": true,\n                                                \"value\": 3358580470936331714\n                                            },\n                                            \"is_primary\": {\n                                                \"label\": \"is primary\",\n                                                \"valid\": true,\n                                                \"value\": null\n                                            },\n                                            \"city\": {\n                                                \"label\": \"city\",\n                                                \"valid\": true,\n                                                \"value\": \"Ahmedabad\"\n                                            },\n                                            \"street\": {\n                                                \"label\": \"street\",\n                                                \"valid\": true,\n                                                \"value\": \"Old Street\"\n                                            },\n                                            \"district\": {\n                                                \"label\": \"district\",\n                                                \"valid\": true,\n                                                \"value\": null\n                                            },\n                                            \"id\": {\n                                                \"label\": \"id\",\n                                                \"valid\": true,\n                                                \"value\": \"B4727E237B4B11133CD06AD55BB10A89\"\n                                            },\n                                            \"state\": {\n                                                \"label\": \"state\",\n                                                \"valid\": true,\n                                                \"value\": \"Gujarat\"\n                                            },\n                                            \"full_address\": {\n                                                \"label\": \"full address\",\n                                                \"valid\": true,\n                                                \"value\": null\n                                            },\n                                            \"type\": {\n                                                \"label\": \"type\",\n                                                \"valid\": true,\n                                                \"value\": null\n                                            },\n                                            \"postal_code\": {\n                                                \"label\": \"postal code\",\n                                                \"valid\": true,\n                                                \"value\": \"380056\"\n                                            }\n                                        }\n                                    },\n                                    \"filing_category\": {\n                                        \"label\": \"filing category\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"country_of_residence\": {\n                                        \"label\": \"country of residence\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"nri_status\": {\n                                        \"label\": \"nri status\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"pan_holder_type\": {\n                                        \"label\": \"pan holder type\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"residential_status_description\": {\n                                        \"label\": \"residential status description\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"serialVersionUID\": {\n                                        \"label\": \"serialVersionUID\",\n                                        \"valid\": true,\n                                        \"value\": 6004132086252107070\n                                    },\n                                    \"avatar_id\": {\n                                        \"label\": \"avatar id\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"avatar_url\": {\n                                        \"label\": \"avatar url\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"contact\": {\n                                        \"label\": \"contact\",\n                                        \"valid\": true,\n                                        \"value\": null\n                                    },\n                                    \"name\": {\n                                        \"label\": \"name\",\n                                        \"valid\": true,\n                                        \"value\": \"Acne Infosoft Pvt Ltd.\"\n                               
[...]
