{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/calculators/income-tax/advance-tax/new": {
            "post": {
                "summary": "Calculate Advance Tax - New Regime",
                "description": "API to calculate Advance Tax installment as per New Regime.",
                "operationId": "calculate-advance-tax-as-per-new-regime-api",
                "parameters": [
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "1.0"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Public key required to authorize the API access",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "JWT Authorization Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": 200,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"data\": {\n        \"advance_tax_installments\": [\n            [\n                218400,\n                15,\n                32760,\n                35000,\n                0,\n                3,\n                0\n            ],\n            [\n                218400,\n                45,\n                98280,\n                35000,\n                63280,\n                3,\n                1898\n            ],\n            [\n                218400,\n                75,\n                163800,\n                35000,\n                128800,\n                3,\n                3864\n            ],\n            [\n                218400,\n                100,\n                218400,\n                35000,\n                183400,\n                1,\n                1834\n            ]\n        ]\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1620724192345,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "advance_tax_installments": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer",
                                                            "example": 218400,
                                                            "default": 0
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": 500,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"message\": \"Failed to calculate Advance Tax\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 500,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1620724192345,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to calculate Advance Tax"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/it/calculator/tax-pnl/securities/foreign": {
            "post": {
                "summary": "Submit Tax P&L Job",
                "tags": [
                    "tax-pnl",
                    "securities",
                    "foreign"
                ],
                "parameters": [
                    {
                        "name": "input",
                        "in": "query",
                        "required": true,
                        "description": "Type of input file. Allowed values: tradewise_settlement or tradebook.",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "tradewise_settlement",
                            "enum": [
                                "tradewise_settlement",
                                "tradebook"
                            ]
                        }
                    },
                    {
                        "name": "output",
                        "in": "query",
                        "required": true,
                        "description": "Output format to generate. Allowed values: tradewise_tax_pnl or scripwise_tax_pnl.",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "tradewise_tax_pnl",
                            "enum": [
                                "tradewise_tax_pnl",
                                "scripwise_tax_pnl"
                            ]
                        }
                    },
                    {
                        "name": "financial_year",
                        "in": "query",
                        "required": true,
                        "description": "Financial year for which the report is generated. Use format FY 20XX-XX (e.g., FY 2024-25).",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^FY\\s20\\d{2}-\\d{2}$"
                        }
                    },
                    {
                        "name": "x-accept-type",
                        "in": "header",
                        "required": false,
                        "description": "application/json or application/xlsx",
                        "deprecated": false,
                        "schema": {}
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": false,
                        "description": "Your API key used to authenticate and authorize the request.",
                        "deprecated": false,
                        "schema": {}
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
                        "deprecated": false,
                        "schema": {}
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
                        "deprecated": false,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "utc-millisec"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "transaction_id": "df7e958a-3837-400d-a169-4337351915da",
                                            "code": 200,
                                            "data": {
                                                "job_id": "df7e958a-3837-400d-a169-4337351915da",
                                                "url": "https://s3.ap-south-1.amazonaws.com/in-co-sandbox-it-calculator-securities-tax-pnl-dev/df7e958a-3837-400d-a169-4337351915da.input?X-Amz-Security-Token=IQoJb3JpZ2luX2VjENL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiSDBGAiEA67xcZ9GjxnNvDiQpDLAJw65OA%2BiILzUrLmFDflTzrBUCIQCVtWi6wHQ4d%2FbI%2F6uM8j7qzm7wwHlTkfnv14qsXkxAYiq7Awi7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDA3Mjc1NTMzNTk3OCIMv3n31iRmmOC7Y%2F4xKo8DXPmo%2FrkTuuj4Y2NFDjVFdgkSDZr%2FXc68K3vTyqPYpLVXNL2X1FXY4HNN0pbNMSbE4GoHs308VnSJV6lKUZEHcKcUixkqbyFV0bPKruzHnsnAj0Do7Ma4YO%2BaXuYaRjatnPRYmtq9TAh%2BMWOFonDgHnoLukU%2BU6vkDvP9HWYB2GwmWd2mk4PSXLK%2FdJBsggjd8h6rhWHneqaQ9HAJWphuCnTgDE2ClSWexKgNmnguOS2eysaceUutja8lqJQbPbeIaWRtOrwDhzFZ2vfA0w%2FOqb7DbXT4R%2Bh6Nkc1XdPQuURA3KGsQuUSHgrxKxizjYAenj3j6Uih5coS56d%2B4cRv4jAPxhzavUbguSDjBnpdZfjJKkg4xo1Vvvv3Ulvdk%2FpqVCGfYtmn0541iqtnTvf6Ggx9jljRE9vX%2Fxw0QSetCHsPczPMG6TIHFImxoGGOhARwK3l1we2oHP8VP3OqiaMEU%2ByAMfj5sjEOlMmvJMMcu9v91vyeGGRt9bJzOUSSKkrmUjDcQH%2BwESU%2FCpDHgxUMMfipagGOp0BiQlpq0GAPlxXSvtNUMF%2FPoH8s7IxtpXsatDLZeCaIaFcT1gL%2BTIyBfSzl76u3ls%2Bf28CXatl9Ekgp3W76%2FCu3IX%2FtqDFwCDjS7hjXgldm1tIxLMBB%2BclTZIOQku2w%2FGpO1Zt2LKswT5PM%2BzVOWs1FUgKJfOMFK%2BjKsi8jUUO8z%2FZguBZURzvIwVlJqxz5N2Bd5dr9cfx62PmcIAlJw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230919T100048Z&X-Amz-SignedHeaders=host&X-Amz-Expires=86399&X-Amz-Credential=ASIARB4EOKMVEAXRE2AL%2F20230919%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=b327f891339b04f3ca8fbb1a33d05d19245188ce8ff30801e543dde74ce8f896"
                                            },
                                            "timestamp": "1695117648000"
                                        }
                                    },
                                    "200 - Success 1": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1764238413503,
                                            "data": {
                                                "created_at": 1764238413653,
                                                "updated_at": 1764238413653,
                                                "@entity": "in.co.sandbox.it.calculator.tax_pnl.securities.job",
                                                "security_type": "foreign",
                                                "url": "https://in-co-sbox-it-calc-tax-pnl-sec-dev.s3.ap-south-1.amazonaws.com/foreign/d56aded2-8632-44ca-9283-240a2b6ba3e2/workbook.input?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIARB4EOKMVLGPKU5NY%2F20251127%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20251127T101333Z&X-Amz-Expires=86400&X-Amz-Signature=ecb18fb0688202818b93bbb6925baaa7cd40dd3bc41a7f6ce4e5a7fb5d53e62f&X-Amz-SignedHeaders=host&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject",
                                                "status": "created",
                                                "job_id": "d56aded2-8632-44ca-9283-240a2b6ba3e2"
                                            },
                                            "transaction_id": "d56aded2-8632-44ca-9283-240a2b6ba3e2"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400 - Bad Request",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-ErrorType": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        }
                                    }
                                },
                                "examples": {
                                    "Invalid Params": {
                                        "value": {
                                            "message": "Missing required request parameters: [output, input]"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "section": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "scheme": {
                                                    "type": "string"
                                                },
                                                "assessee": {
                                                    "type": "string"
                                                },
                                                "allowable": {
                                                    "type": "string"
                                                },
                                                "allowable_percentage": {
                                                    "type": "string",
                                                    "format": "color"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Get Job Status",
                "tags": [
                    "tax-pnl",
                    "securities",
                    "foreign"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "query",
                        "required": true,
                        "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
                        "deprecated": false,
                        "schema": {}
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Your API key used to authenticate and authorize the request.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
                        "schema": {
                            "type": "string",
                            "default": "1.0.0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "utc-millisec"
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "transaction_id": "f3dcdd8e-6226-4198-b0c2-a4d98b3477a7",
                                            "code": 200,
                                            "data": {
                                                "status": "created"
                                            },
                                            "timestamp": "1695117924000"
                                        }
                                    },
                                    "200 - Success 1": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1764238516423,
                                            "data": {
                                                "created_at": 1764238413653,
                                                "updated_at": 1764238413653,
                                                "@entity": "in.co.sandbox.it.calculator.tax_pnl.securities.job",
                                                "security_type": "foreign",
                                                "status": "created",
                                                "job_id": "d56aded2-8632-44ca-9283-240a2b6ba3e2"
                                            },
                                            "transaction_id": "3d334c06-eaa1-4fbc-92be-8cfc378fde7f"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400 - Bad Request",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-ErrorType": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        }
                                    }
                                },
                                "examples": {
                                    "Invalid Param": {
                                        "value": {
                                            "message": "Missing required request parameters: [job_id]"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/it/calculator/crypto/tax-pnl": {
            "post": {
                "summary": "Submit Tax P&L Job",
                "tags": [
                    "tax-pnl",
                    "crypto",
                    "tax-pnl"
                ],
                "parameters": [
                    {
                        "name": "report",
                        "in": "query",
                        "required": true,
                        "description": "Specifies the report type to fetch",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "tradewise"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "description": "Start of the date range filter in Unix Epoch timestamp (milliseconds). Settlements from this timestamp onward will be included",
                        "deprecated": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "description": "End of the date range filter in Unix Epoch timestamp (milliseconds). Settlements up to this timestamp will be included.",
                        "deprecated": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "x-accept-type",
                        "in": "header",
                        "required": true,
                        "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "application/json",
                            "enum": [
                                "application/json",
                                "application/xlsx"
                            ]
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "1.0.0"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "report": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tradebook_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1676979940157,
                                            "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                            "data": {
                                                "@entity": "in.co.sandbox.it.calculator.cryto.tax_pnl.job",
                                                "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                "report": "tradewise",
                                                "from": 1682945614000,
                                                "to": 1683291214000,
                                                "status": "created",
                                                "tradebook_url": "https://test-api.sandbox.co.in/it/calculator/in-co-sandbox-it-calculator-crypto-tax-pnl-dev/c01f847c-c42e-4577-9d01-a7208401a922.json"
                                            }
                                        }
                                    },
                                    "200 - Success 1": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1764238552410,
                                            "data": {
                                                "created_at": 1764238555778,
                                                "@entity": "in.co.sandbox.it.calculator.crypto.tax_pnl.job",
                                                "job_id": "fd590001-fae2-49be-8385-c040b5371750",
                                                "from": 0,
                                                "to": 1695024009000,
                                                "algo": "fifo",
                                                "tradebook_url": "https://in-co-sandbox-it-calculator-crypto-tax-pnl-dev.s3.ap-south-1.amazonaws.com/fd590001-fae2-49be-8385-c040b5371750.input?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIARB4EOKMVJA2VVLLO%2F20251127%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20251127T101556Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiRzBFAiAf7qqkIi8nDmnuKKm2u4mtgUnfvrystW1Xb6c%2BFkphhwIhAM3YZSE6POOS4H6MC%2FSPGrlhVcg6PicNkJyB6ZC7gT%2B6KrsDCJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMDcyNzU1MzM1OTc4IgxX5avms0mkS%2BtVjVIqjwMz%2BG%2Bae7MMtI4VxaK1jvoYB8KLpT2SErTJl1cXAQC7Iq0bECaInpitwly%2B0wD5F28AwWednD8Gwat2a8e0%2FDTzUhSLFTChpmpc2pdx50i67e%2B4pjxUYj52U4EjWEzVZ2dLHqJtmf0IMRPB9xdBlfvd9yGKNmFVElvdCNhn%2FuX7oWdeJIFEdy1K%2BmNzspSgjC5yO8%2BeefjbO2yZ7Rltf8L10A%2FBYk7ac2N%2B0482jWMWGKIjxXuFrgPY8bpWWguBzr7dlEjKhjHPPrbsLMKu9EJg6SuNivfKV04AVYgq42%2BBKZoo5xDqmOeEqAfYar2KMHIHA6lX9PJEXeTHWt91Ue8rVePm8YbjJ9qk6qXelZFgm37Y1bqDI%2F1T4og5%2Biz8qE4AHGLs4%2Fdx%2FTYe9oiXoQGSm6UzYro8MqoBE7Ws%2BLGsxKZuM09gJuUtg2jUrR3ksKQHn2QTal8PsR%2FQRUxD1ufJph5EKhreZaeRaLoA23lcIfK95eoim%2B%2FMXTZLlWTLZE9bFXnwdCcxIVYkAdQUNlQw2cmgyQY6ngGXDkcIF%2FoCrSvYlTzJPYfkFND9f9arWWHG84PIRbBNcuf8Co5IeTMjicUls8cjnSmbG17QhZRCAtAteYRYoIsdm3469zVIkWoBc44JmFGMpvzlL6nr2sTvn3m7kI0U3XYEImhH%2FydjzQvtaqhokEVJXkxeo4qS7WYa32OCizzuwqZq9e2T0ygkix1zu7gJ%2B8ztNo40xomUDC9vatJPdw%3D%3D&X-Amz-Signature=26b0f3545bfe36f4d7a88b8b485fce7d4b1aced04eda59318b541a795d204664&X-Amz-SignedHeaders=host&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject",
                                                "status": "created"
                                            },
                                            "transaction_id": "e58ef68e-a0a8-4c36-84bc-cdd427bd9757"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        }
                                    }
                                },
                                "examples": {
                                    "Invalid report": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1619519433924,
                                            "transaction_id": "328e459b-5be7-4658-b490-ceee6adbc0a8",
                                            "message": "Invalid report: tradewize"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Poll Tax P&L Job",
                "tags": [
                    "tax-pnl",
                    "crypto",
                    "tax-pnl"
                ],
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "query",
                        "required": true,
                        "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "x-accept-type",
                        "in": "header",
                        "required": true,
                        "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "default": "application/json",
                            "enum": [
                                "application/xlsx",
                                "application/json"
                            ]
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Your API key used to authenticate and authorize the request.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "job_id": {
                                                    "type": "string"
                                                },
                                                "report": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "integer"
                                                },
                                                "to": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tax_pnl_workbook_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1676979940157,
                                            "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                            "data": {
                                                "@entity": "in.co.sandbox.it.calculator.cryto.tax_pnl.job",
                                                "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                                "report": "tradewise",
                                                "from": 1682945614000,
                                                "to": 1683291214000,
                                                "status": "succeeded",
                                                "tax_pnl_workbook_url": "https://in-co-sandbox-it-calculator-crypto-tax-pnl-dev.s3.ap-south-1.amazonaws.com/tax_pnl_workbook.json"
                                            }
                                        }
                                    },
                                    "Queued": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1676979940157,
                                            "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                            "data": {
                                                "@entity": "in.co.sandbox.it.calculator.cryto.tax_pnl.job",
                                                "job_id": "2aa54d2b-68f6-4871-866a-4eba957a8672",
                                                "report": "tradewise",
                                                "from": 1682945614000,
                                                "to": 1683291214000,
                                                "status": "queued"
                                            }
                                        }
                                    },
                                    "Failed": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1665427380314,
                                            "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                                            "data": {
                                                "@entity": "in.co.sandbox.it.calculator.cryto.tax_pnl.job",
                                                "job_id": "6e8d1908-c062-4846-a811-8f73054acd65",
                                                "report": "tradewise",
                                                "from": 1682945614000,
                                                "to": 1683291214000,
                                                "status": "failed",
                                                "message": "Sell quantity is more than buy quantity for : MATIC"
                                            }
                                        }
                                    },
                                    "Crypto Futures": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1713181384514,
                                            "transaction_id": "cbc5d76f-d139-49ca-9cdf-2ae7d791b4b8",
                                            "data": {
                                                "created_at": 1713181251463,
                                                "@entity": "in.co.sandbox.it.calculator.crypto.tax_pnl.job",
                                                "job_id": "b7c37bd2-9c44-42fb-835f-87e292ab0936",
                                                "from": 0,
                                                "to": 1695024009000,
                                                "tax_pnl_workbook_url": "https://in-co-sandbox-it-calculator-crypto-tax-pnl-dev.s3.ap-south-1.amazonaws.com/b7c37bd2-9c44-42fb-835f-87e292ab0936.xlsx?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIARB4EOKMVJA6N4I6S%2F20240415%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240415T114304Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGwaCmFwLXNvdXRoLTEiSDBGAiEAo4lvy5Tm96QnuXUVJQxDa85ssm2gDWtIoz0eYLx86GwCIQDbLHQZe8bOpUWcTkuWQXY4751fIEETxH1RykE3CYveQSq7Awil%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDA3Mjc1NTMzNTk3OCIMCpzbgnU%2FzXzJnFWtKo8DTFo%2ByA71iJYuSP%2FuYP3BAeJ%2Bhw6iPmxuw5QYajUFFNDcadl0n0vWDummM8o3754KFdKprdD6Wf3A%2BGc4IvQSlv6TDFZWc5djzHcSxo2DKtEQ4RlGtO5wM8MB2ohYi1x%2BS7YqOenGxSdPdEeH%2FldCOI8RLIzr2W3Vkdun%2F1wmgJrefEu%2BuiYCrS1l%2B7rYgceK13yzDoF70ZuFjYFXbRCaf6m2pezrV1FDYyRVTKBL9SI9DS%2FWgNtqT6%2BZx26N17qCtOox3q%2BkZqxsr2ndLSNx%2FJONN4hrdb069gQozsLipdC%2BU2jTQwKLs6gkv4BJ7%2BexdA1bcTBY64vkGt5A%2Fv9InciJVrFSTrPgHFW4jZKRG4g%2FK70iWY9LkPVAPeyY5Ix5FezyMCyGLF%2FWUchJD91myBV9jYrtJrlpU7c2TnPEI049BRhaSVZZHWwbW1tcT%2B8gu34ug1W6E%2FqcmF%2F%2BWY0J3ntsYZgDfxDVMrE6%2Ba%2Be5tZgcLHcjdTtIeaQn%2B4skHRxKeguTTEG8ntT3gL5BoxrMMGk9LAGOp0BNb7qGcwjIQ2o3t9r0XMrriC3S%2BNDU%2BDVsQ1hYdUVOVj8TQ5nctBMlBXu6YICzAEtf5GzUOXcRqhHxoHZBzKvK%2F%2B5%2Fy%2Bp5q6ZkatMQ3NZWIJ9haSV2X6r80RivYxxXIx1okuDkJ1rm%2FojU7jowAR0yHGb0XvR31UELrJAn7b7YLRWmb6adjOBFWoVl69GuyEsottaSZWs%2BkHh7Ui9Dw%3D%3D&X-Amz-Signature=43b0032d9f94aeed0a2df2c67f52a19f0747cc06ab13bbe7e09d33b985963e25&X-Amz-SignedHeaders=host&x-id=GetObject",
                                                "status": "succeeded"
                                            }
                                        }
                                    },
                                    "Spot Buy/Sell": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1713182410238,
                                            "transaction_id": "bdd1d80c-204f-4c9e-a656-24d9900988cd",
                                            "data": {
                                                "created_at": 1713182352797,
                                                "@entity": "in.co.sandbox.it.calculator.crypto.tax_pnl.job",
                                                "job_id": "597c9587-ae3d-462f-8d27-e2e33a01facc",
                                                "from": 0,
                                                "to": 1695024009000,
                                                "tax_pnl_workbook_url": "https://in-co-sandbox-it-calculator-crypto-tax-pnl-dev.s3.ap-south-1.amazonaws.com/597c9587-ae3d-462f-8d27-e2e33a01facc.xlsx?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIARB4EOKMVPOAV2DXF%2F20240415%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240415T120010Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGwaCmFwLXNvdXRoLTEiRzBFAiEAyzbGCmJlxWhaEq4IK9tvN9gM4sVQZYDZmn5lky%2BHn2MCIEyqlmJtr4cer%2F1rJvQaOyirG%2FOd1u7x72iL6baUpF8YKrsDCKX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMDcyNzU1MzM1OTc4IgyTGdP8EP0cSkRy5I4qjwN%2B3QxiQsrBQw60dMfML%2BvKm7yqAKy6Hg3sTU7ROnaLAYiXPz6eqQv23bVmfZkXQ2dGSdEK3h4DC7unZCXOdHpdc3ShODhVwoX2KZnBIfhNUAixflQ1PFzwSzGLFSvPfEywFFgSARyH7UKev%2FMBf7pR5RjdVnm7rX3e%2FXFe%2FeAf%2BkuFU7EDHFa1dZy73Y6V%2BV%2FTUNNFdp75bzqNnXfW%2Frj2ZI%2F90lyYHPmHwoqIGyCLxHETd1tO4k%2FUKkD2OY%2BHcrb5QsBwaz2RB3cpqwqvk8W%2BKnqCSFLyzRhDkmZz4Zz3i%2BJBzdD%2FtFkUN4xK8uo2eM2W5yDizrKqYRoAl8kKD4s1fBO49qPhsSCeBcRVDGBCywuxbMcQR7Ow8r%2F4IER223eKdFnxSgjY4CIyE7FmM1btn0bMrneYErtl6DSrnyXd9oPC35D%2BiR91RAz6thOAvBOtJzjACcDpc0qrLap1icVXeeF79Uy9ZMRdWCpy60LuC%2BrZ6C56B0aVWWhQNu4ECSnGx9xzFQOYbgKUD1z%2F8hYwnqz0sAY6ngFk1brQapO4Z48GHaS%2Bprd%2FUbGbBYHslbec31JTIS1Hye%2B3J%2BWeW6EUiRgnyZSBX7EYtzv5W4iaeHwbvUrmfzXif%2BBqPz6FKdiZOt%2Bwy57MYEGNV9ASdbDthjV2VBrVeqx2IIU05UjEPpjRP16xkGaNqja7Cm0aOFGDSVoYQinHKA4dC7ZeG6%2BTN8r0qzYxOcRL9n8BoOlnSf7JB0s2dg%3D%3D&X-Amz-Signature=6d4a50b15e82c5952028044b44aa0a940bf2e256b42a2f12efcbb2ad2850df3f&X-Amz-SignedHeaders=host&x-id=GetObject",
                                                "status": "succeeded"
                                            }
                                        }
                                    },
                                    "Spot,Futures & Other": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1713184196642,
                                            "transaction_id": "8af8d6ec-e333-432c-a022-5df9d625d5b9",
                                            "data": {
                                                "created_at": 1713184129214,
                                                "@entity": "in.co.sandbox.it.calculator.crypto.tax_pnl.job",
                                                "job_id": "ca3aa495-5218-444b-9cd6-8fe72051abd5",
                                                "from": 0,
                                                "to": 1695024009000,
                                                "tax_pnl_workbook_url": "https://in-co-sandbox-it-calculator-crypto-tax-pnl-dev.s3.ap-south-1.amazonaws.com/ca3aa495-5218-444b-9cd6-8fe72051abd5.xlsx?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIARB4EOKMVBH6NMMW5%2F20240415%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240415T122957Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGwaCmFwLXNvdXRoLTEiRjBEAiBj6jWUPzRfKPk0EnI6bIt2nYZCwsdSgI6m%2FGrIYJXMZAIgNGjwxNUVxmAEyhVzkp4WiiB%2BaY9pqDvtV3leP5BqItIquwMIpv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwwNzI3NTUzMzU5NzgiDFbEn%2B0eHI7Nzc8WwSqPA%2FziDc%2FzG1AxtOvm4ut7sL%2B4p6e0JsbZdulY8IaKhaukHLod%2FGsyJNHshNChRz1qC77of1Wri6OaYKbPFlwoWVjxKn9nZZHcbb4XGrBW7X5xWbH1fNLx14WT%2FotesRQO6jurTGhczJX05hyNn%2BFJXqb5gHLkQ%2BQGjmHtYa7QehsYAaLpPmI5%2B%2BVbNKV69pSy8BSGNSqxOuFcZxSB0jPSVQ9FPy1eS0KZqyaRHm6aNwqXxn6c%2FQ90CM8Nwa0QME0WQpia%2FBS28AkejefEHBr6oMjXxs7jfmj2Mtnf084j7HHI4T61FCh9%2B7m0ptVXhtF8vsqztkUnNR5HrxTc3pi9Sqwtw%2F%2BLhx9YNUbzcEG6Pz%2F%2FnSgkxhX69wJcDIR1rt75Eto769mehuuEUfg7BFT%2FmqvtJns3aJmcveRrsXxgAwD1N8yUqhaD%2FXtsj4V38sGNmRB%2FqbTmDc3vE61WWS67jjla49tiohL8r9VNDKMSK76jsy8SxkHqsU77ddVMeNGZ8IBnhiVc6mvzcOn8krChlzD%2BuvSwBjqfAUiIiGRUfwpK%2BTUvcX%2BKDUiJWt8Um6zhVMYrww%2BYUrbl4zoChrpxfKzwP%2FQMaaOnHC4Wg3oEsCicfEb%2BhgAP7scxVZsWx0%2FJ0T%2FRzMVR4l2%2F91RAZ6cqehBFyA37x9BqrF4g6IGkw5GnAWty2B0bUHB3JcOvXDG5NLkDlQHNE8koFt1AQZbqSx%2FlIWFJadocs%2Fr3l7NsdvVG7u%2Bmqc8iEQ%3D%3D&X-Amz-Signature=bd9c829d1bf3ceb2c403e2eb73613f2d021c0bc7c43d2227fc33d6a8a340ea08&X-Amz-SignedHeaders=host&x-id=GetObject",
                                                "status": "succeeded"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        }
                                    }
                                },
                                "examples": {
                                    "Data not found": {
                                        "value": {
                                            "code": 521,
                                            "timestamp": 1672226687297,
                                            "transaction_id": "a4d95225-1802-475b-a990-e57af523ea6e",
                                            "message": "Data not found: 7baed565-4dc2-46a1-89c2-be35a0a38081"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/it-calculators/securities/tax-loss-harvesting/tradebook": {
            "post": {
                "summary": "Calculate Tax Loss Harvesting From Tradebook",
                "description": "",
                "operationId": "calculate-tax-loss-harvesting-from-tradebook",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "JWT Access Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API Key to uniquely identify API user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "RAW_BODY": {
                                        "type": "string",
                                        "format": "json"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"transaction_id\": \"b792eb68-1443-4766-b96f-bdee37278d4a\",\n    \"code\": 200,\n    \"timestamp\": 1654694255000,\n    \"data\": {\n        \"sheets\": [\n            {\n                \"blocks\": [\n                    {\n                        \"name\": \"Tradebook\",\n                        \"header\": [\n                            [\n                                \"isin\",\n                                \"symbol\",\n                                \"quantity\",\n                                \"date\",\n                                \"price\",\n                                \"transaction_type\",\n                                \"fmv\",\n                                \"brokerage\",\n                                \"clearing_charges\",\n                                \"exchange_transaction_charges\",\n                                \"sebi_turnover_fees\",\n                                \"stt\",\n                                \"stamp_duty\",\n                                \"sgst\",\n                                \"cgst\",\n                                \"igst\",\n                                \"other_transfer_expenses\",\n                                \"corporate_action\"\n                            ]\n                        ],\n                        \"rows\": [\n                            [\n                                null,\n                                \"ITC\",\n                                0.20000000,\n                                1666248367000,\n                                9.7500,\n                                \"SELL\",\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                null\n                            ],\n                            [\n                                null,\n                                \"HUL\",\n                                0.67509531,\n                                1666248367000,\n                                9.0100,\n                                \"SELL\",\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                null\n                            ],\n                            [\n                                null,\n                                \"TCS\",\n                                0.00149749,\n                                1666248367000,\n                                3338.9200,\n                                \"SELL\",\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                null\n                            ]\n                        ],\n                        \"@entity\": \"table\"\n                    },\n                    {\n                        \"name\": \"Tax Loss Harvesting Summary\",\n                        \"@entity\": \"list\",\n                        \"items\": [\n                            [\n                                \"pre_harvest_stcg\",\n                                200000\n                            ],\n                            [\n                                \"pre_harvest_ltcg\",\n                                120000\n                            ],\n                            [\n                                \"post_harvest_stcg\",\n                                100000\n                            ],\n                            [\n                                \"post_harvest_ltcg\",\n                                10000\n                            ],\n                            [\n                                \"taxes_saved\",\n                                16000\n                            ]\n                        ]\n                    }\n                ],\n                \"name\": \"Equity\"\n            },\n            {\n                \"blocks\": [\n                    {\n                        \"name\": \"Tradebook\",\n                        \"header\": [\n                            [\n                                \"isin\",\n                                \"type\",\n                                \"symbol\",\n                                \"quantity\",\n                                \"date\",\n                                \"price\",\n                                \"transaction_type\",\n                                \"fmv\",\n                                \"brokerage\",\n                                \"clearing_charges\",\n                                \"exchange_transaction_charges\",\n                                \"sebi_turnover_fees\",\n                                \"stt\",\n                                \"stamp_duty\",\n                                \"sgst\",\n                                \"cgst\",\n                                \"igst\",\n                                \"other_transfer_expenses\",\n                                \"corporate_action\"\n                            ]\n                        ],\n                        \"rows\": [\n                            [\n                                null,\n                                \"Debt\",\n                                \"HDFC Short-Term Bond ETF\",\n                                35,\n                                1666248367000,\n                                6.0000,\n                                \"SELL\",\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                null\n                            ],\n                            [\n                                null,\n                                \"Equity\",\n                                \"HDFC BSE 500 ETF\",\n                                15.0,\n                                1666248367000,\n                                6.0000,\n                                \"SELL\",\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                0,\n                                null\n                            ]\n                        ],\n                        \"@entity\": \"table\"\n                    },\n                    {\n                        \"name\": \"Tax Loss Harvesting Summary\",\n                        \"@entity\": \"list\",\n                        \"items\": [\n                            [\n                                \"pre_harvest_stcg\",\n                                200000\n                            ],\n                            [\n                                \"pre_harvest_ltcg\",\n                                120000\n                            ],\n                            [\n                                \"post_harvest_stcg\",\n                                100000\n                            ],\n                            [\n                                \"post_harvest_ltcg\",\n                                10000\n                            ],\n                            [\n                                \"taxes_saved\",\n                                16000\n                            ]\n                        ]\n                    }\n                ],\n                \"name\": \"Mutual Funds\"\n            }\n        ]\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "b792eb68-1443-4766-b96f-bdee37278d4a"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1654694255000,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "sheets": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "blocks": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string",
                                                                            "example": "Tradebook"
                                                                        },
                                                                        "header": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "string",
                                                                                    "example": "isin"
                                                                                }
                                                                            }
                                                                        },
                                                                        "rows": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "array",
                                                                                "items": {}
                                                                            }
                                                                        },
                                                                        "@entity": {
                                                                            "type": "string",
                                                                            "example": "table"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Equity"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Symbol Required": {
                                        "value": "{\n    \"code\": 500,\n    \"message\": \"Symbol is required [sheet : Foreign Equity row : 1]\"\n}"
                                    },
                                    "Result": {
                                        "value": "{\n    \"code\": 500,\n    \"message\": \"Invalid ISIN [sheet : Foreign Equity row : 1]\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Symbol Required",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Symbol is required [sheet : Foreign Equity row : 1]"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 500,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid ISIN [sheet : Foreign Equity row : 1]"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/it-calculator/old": {
            "post": {
                "summary": "Calculate Income Tax - Old Regime",
                "description": "API to calculate Income Tax with deductions as described in the Old Regime.",
                "operationId": "calculate-income-tax-old-regime-api",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "JWT Authorization token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "Public key required to authorize API access",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "1.0"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "RAW_BODY": {
                                        "type": "string",
                                        "format": "json"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"incomes\": [\n        {\n            \"net_salary\": 1510000,\n            \"tds\": {\n                \"tax_amount\": 365500,\n                \"tan\": \"DHGK47639U\",\n                \"financial_year\": \"FY 2021-22\",\n                \"income_head\": \"Salary\",\n                \"credit_amount\": 1455000,\n                \"deductor\": \"Acne Infosoft\",\n                \"id\": \"F7DD5B81BD471A3EE0530100007F8A86\",\n                \"@entity\": \"tds\"\n            },\n            \"gross_income\": 1630000,\n            \"deductions\": [\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"section\": \"16(ii)\",\n                    \"id\": \"F7DD92B630DD266AE0530100007F9A70\",\n                    \"is_chapter_vi_a\": false,\n                    \"@entity\": \"deduction\"\n                },\n                {\n                    \"qualified\": 5000,\n                    \"eligible\": 5000,\n                    \"section\": \"16(iii)\",\n                    \"id\": \"F7DD92B630DE266AE0530100007F9A70\",\n                    \"is_chapter_vi_a\": false,\n                    \"@entity\": \"deduction\"\n                },\n                {\n                    \"qualified\": 50000,\n                    \"eligible\": 50000,\n                    \"section\": \"16(ia)\",\n                    \"id\": \"F7DD92B630DC266AE0530100007F9A70\",\n                    \"is_chapter_vi_a\": false,\n                    \"@entity\": \"deduction\"\n                }\n            ],\n            \"@entity\": \"salary\",\n            \"head\": \"Salary\",\n            \"net_taxable_income\": 1455000,\n            \"perquisites\": 20000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"basic_salary\": 1600000,\n            \"employer\": {\n                \"address\": {\n                    \"area\": \"Vastrapur\",\n                    \"country\": \"India\",\n                    \"city\": \"Ahmedabad\",\n                    \"street\": \"Vastrapur Lake\",\n                    \"id\": \"22CD7221504894CDA6B1333BBCC9DA0B\",\n                    \"state\": \"Gujarat\",\n                    \"postal_code\": \"380015\",\n                    \"@entity\": \"address\"\n                },\n                \"name\": \"Acne Infosoft\",\n                \"category\": \"Other\",\n                \"@entity\": \"employer\"\n            },\n            \"id\": \"22CD7221504894CDA6B1333BBCC9DA0B\",\n            \"allowances\": [\n                {\n                    \"qualified\": 80000,\n                    \"eligible\": 80000,\n                    \"is_exempt\": true,\n                    \"section\": \"10(5)\",\n                    \"id\": \"F7DD92B630DF266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                },\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"is_exempt\": true,\n                    \"section\": \"10(10)\",\n                    \"id\": \"F7DD92B630E0266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                },\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"is_exempt\": true,\n                    \"section\": \"10(10AA)\",\n                    \"id\": \"F7DD92B630E4266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                },\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"is_exempt\": true,\n                    \"section\": \"10(10A)\",\n                    \"id\": \"F7DD92B630E2266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                },\n                {\n                    \"qualified\": 40000,\n                    \"eligible\": 40000,\n                    \"is_exempt\": true,\n                    \"section\": \"10(13A)\",\n                    \"id\": \"F7DD92B630E3266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                },\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"is_exempt\": true,\n                    \"section\": \"10\",\n                    \"id\": \"F7DD92B630E1266AE0530100007F9A70\",\n                    \"@entity\": \"allowance\"\n                }\n            ],\n            \"taxable_income\": 1455000,\n            \"profit\": 10000\n        },\n        {\n            \"co_owners\": [],\n            \"nav\": 0,\n            \"gross_income\": 0,\n            \"address\": {\n                \"area\": \"Navrangpura\",\n                \"country\": \"India\",\n                \"city\": \"Ahmedabad\",\n                \"street\": \"HL College\",\n                \"id\": \"F7DD92B630E5266AE0530100007F9A70\",\n                \"state\": \"Gujarat\",\n                \"postal_code\": \"380015\",\n                \"@entity\": \"address\"\n            },\n            \"deductions\": [],\n            \"@entity\": \"self_occupied_house_property_income\",\n            \"head\": \"House Property\",\n            \"net_taxable_income\": 0,\n            \"exemptions\": [\n                {\n                    \"qualified\": 0,\n                    \"eligible\": 0,\n                    \"section\": \"24(b)\",\n                    \"id\": \"F7DD92B630E6266AE0530100007F9A70\",\n                    \"@entity\": \"exemption\"\n                }\n            ],\n            \"annual_value\": 0,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Self Occupied\",\n            \"id\": \"716B8997477AD8B14D64A493A2A68CE9\",\n            \"taxable_income\": 0\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 6982,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Savings Interest\",\n            \"id\": \"F7DD5B81BD481A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 6982,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 25000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Fixed Deposit Interest\",\n            \"id\": \"F7DD5B81BD491A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 25000,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 0,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Interest on Tax Refund\",\n            \"id\": \"F7DD5B81BD4A1A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 0,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Other Interest\",\n            \"id\": \"F7DD5B81BD4B1A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 15000,\n            \"is_foreign\": false,\n            \"is_exempt\": true,\n            \"sub_head\": \"PPF Interest\",\n            \"id\": \"F7DD5B81BD521A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 27000,\n            \"is_foreign\": false,\n            \"is_exempt\": true,\n            \"sub_head\": \"Other Exempt Income\",\n            \"id\": \"F7DD5B81BD531A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 30000,\n            \"is_foreign\": false,\n            \"is_exempt\": true,\n            \"sub_head\": \"Gift\",\n            \"id\": \"F7DD5B81BD541A3EE0530100007F8A86\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"net_taxable_income\": 12000,\n            \"gross_income\": 12000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Dividend from Domestic Company\",\n            \"id\": \"F7DD92B630F1266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 12000,\n            \"@entity\": \"dividend_income\",\n            \"quarter\": 1\n        },\n        {\n            \"head\": \"Other\",\n            \"net_taxable_income\": 12000,\n            \"gross_income\": 12000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Dividend from Domestic Company\",\n            \"id\": \"F7DD92B630F2266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 12000,\n            \"@entity\": \"dividend_income\",\n            \"quarter\": 2\n        },\n        {\n            \"head\": \"Other\",\n            \"net_taxable_income\": 15000,\n            \"gross_income\": 15000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Dividend from Domestic Company\",\n            \"id\": \"F7DD92B630F3266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 15000,\n            \"@entity\": \"dividend_income\",\n            \"quarter\": 3\n        },\n        {\n            \"head\": \"Other\",\n            \"net_taxable_income\": 17000,\n            \"gross_income\": 17000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Dividend from Domestic Company\",\n            \"id\": \"F7DD92B630F4266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 17000,\n            \"@entity\": \"dividend_income\",\n            \"quarter\": 4\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 0,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Family Pension\",\n            \"id\": \"F7DD92B630F9266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 20000,\n            \"is_foreign\": false,\n            \"is_exempt\": false,\n            \"sub_head\": \"Income From Other Sources\",\n            \"id\": \"F7DD92B630FA266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 20000,\n            \"@entity\": \"other_income\"\n        },\n        {\n            \"head\": \"Other\",\n            \"gross_income\": 0,\n            \"is_foreign\": true,\n            \"is_exempt\": false,\n            \"sub_head\": \"Dividend from Foreign Company\",\n            \"id\": \"F7DD92B630FB266AE0530100007F9A70\",\n            \"deductions\": [],\n            \"taxable_income\": 0,\n            \"@entity\": \"other_income\"\n        }\n    ],\n    \"regime_action\": \"Stay\",\n    \"regime\": \"Old\",\n    \"tax_computation\": {\n        \"surcharge\": 0,\n        \"interest_234_b\": 0,\n        \"gross_normal_income\": 0,\n        \"gross_total_income\": 1562982,\n        \"interest_234_a\": 0,\n        \"interest_234_c\": 0,\n        \"carry_forward_loss\": 0,\n        \"total_chapter_vi_a_deduction\": 6982,\n        \"total_taxable_house_property\": 0,\n        \"tax_payable_on_special_rate_income\": 0,\n        \"total_taxable_business_profession\": 0,\n        \"total_taxable_capital_gains\": 0,\n        \"total_normal_income\": 1556000,\n        \"total_special_income\": 0,\n        \"net_tax_payable\": 295472,\n        \"@entity\": \"tax_computation\",\n        \"tax_payable_matrix\": [\n            [\n                1556000,\n                250000,\n                1306000,\n                279300\n            ],\n            [\n                0,\n                0,\n                0,\n                0\n            ],\n            [\n                0,\n                0,\n                0,\n                0\n            ],\n            [\n                0,\n                0,\n                0,\n                0\n            ],\n            [\n                0,\n                0,\n                0,\n                0\n            ],\n            [\n                0,\n                0,\n                0,\n                0\n            ],\n            [\n                1556000,\n                250000,\n                1306000,\n                279300\n            ]\n        ],\n        \"tax_payable_on_normal_rate_income\": 279300,\n        \"fees_234_f\": 5000,\n        \"total_exempt_income\": 72000,\n        \"total_tax_collected_at_source\": 0,\n        \"total_tax_deducted_at_source\": 365500,\n        \"relief\": 0,\n        \"total_advance_tax\": 0,\n        \"total_taxable_salary\": 1455000,\n        \"total_taxable_other\": 107982,\n        \"current_year_loss_adjusted\": 0,\n        \"rebate\": 0,\n        \"brought_forward_loss_adjusted\": 0,\n        \"tax_payable_on_total_income\": 279300,\n        \"gross_special_income\": 0,\n        \"aggregate_income\": 0,\n        \"cess\": 11172,\n        \"total_income\": 1556000,\n        \"due\": 0,\n        \"total_interest_and_penalty\": 5000,\n        \"tax_after_rebate\": 279300,\n        \"total_taxes_paid\": 365500,\n        \"gross_tax_payable\": 290472,\n        \"total_self_assessment_tax\": 0,\n        \"refund\": 70030\n    },\n    \"assessment_year\": \"AY 2022-23\",\n    \"due_date\": \"31/07/2022\",\n    \"type\": \"Original\",\n    \"tax_credits\": [\n        {\n            \"tax_amount\": 365500,\n            \"tan\": \"DHGK47639U\",\n            \"financial_year\": \"FY 2021-22\",\n            \"income_head\": \"Salary\",\n            \"credit_amount\": 1455000,\n            \"deductor\": \"Acne Infosoft\",\n            \"id\": \"F7DD5B81BD471A3EE0530100007F8A86\",\n            \"@entity\": \"tds\"\n        }\n    ],\n    \"@entity\": \"itr_1\",\n    \"form\": \"ITR-1\",\n    \"tax_payer\": {\n        \"address\": {\n            \"area\": \"Mumatpura\",\n            \"country\": \"India\",\n            \"city\": \"Ahmedabad\",\n            \"street\": \"Mumatpura Road\",\n            \"id\": \"C31ADB50645E4B94EB68ABEE622C2330\",\n            \"state\": \"Gujarat\",\n            \"postal_code\": \"380047\",\n            \"@entity\": \"address\"\n        },\n        \"filing_category\": \"General\",\n        \"gender\": \"Male\",\n        \"last_name\": \"Curram\",\n        \"pan_holder_type\": \"Individual\",\n        \"@entity\": \"individual\",\n        \"dob\": \"25/04/1995\",\n        \"contact\": {\n            \"country_code\": \"91\",\n            \"mobile\": \"8226795678\",\n            \"id\": \"C31ADB50645E4B94EB68ABEE622C2330\",\n            \"email\": \"sam.c@acne.com\",\n            \"@entity\": \"contact\"\n        },\n        \"residential_status\": \"Resident\",\n        \"aadhaar\": \"738298734567\",\n        \"id\": \"C31ADB50645E4B94EB68ABEE622C2330\",\n        \"tax_payer_status\": \"Active\",\n        \"pan\": \"AJFPA4867Q\",\n        \"first_name\": \"Sam\",\n        \"fathers_name\": \"Jimmy\"\n    },\n    \"filed_under_section\": \"After the due date u/s 139(4)\",\n    \"id\": \"49490557E6220D2A96D27ADD46C19723\",\n    \"bank_accounts\": [\n        {\n            \"account_number\": \"231293120\",\n            \"country\": \"India\",\n            \"is_refund_account\": true,\n            \"bank_name\": \"SBI\",\n            \"id\": \"75947736D4717C21C82156B33A93DBD2\",\n            \"type\": \"Savings\",\n            \"ifsc\": \"SBIN0021260\",\n            \"is_foreign_account\": false,\n            \"@entity\": \"bank_account\"\n        }\n    ],\n    \"chapter_vi_a_deductions\": [\n        {\n            \"qualified\": 6982,\n            \"eligible\": 6982,\n            \"section\": \"80TTA\",\n            \"is_chapter_vi_a\": true,\n            \"@entity\": \"deduction\"\n        },\n        {\n            \"qualified\": 5000,\n            \"eligible\": 0,\n            \"section\": \"16(iii)\",\n            \"id\": \"F7DD92B630DE266AE0530100007F9A70\",\n            \"is_chapter_vi_a\": false,\n            \"@entity\": \"deduction\"\n        },\n        {\n            \"qualified\": 0,\n            \"eligible\": 0,\n            \"section\": \"16(ii)\",\n            \"id\": \"F7DD92B630DD266AE0530100007F9A70\",\n            \"is_chapter_vi_a\": false,\n            \"@entity\": \"deduction\"\n        },\n        {\n            \"qualified\": 50000,\n         
[...]
