{
  "openapi": "3.1.0",
  "info": {
    "title": "Sandbox API [Prod]",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.co.in"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/it/calculator/tax-pnl/real-estate": {
      "post": {
        "summary": "/it/calculator/real-estate/tax-pnl",
        "parameters": [
          {
            "name": "financial_year",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FY 2025-26"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for user-level authorization. ",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{access_token}}"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 11 Dec 2024 08:17:55 GMT"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=60"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "sheets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "@entity": {
                                "type": "string"
                              },
                              "blocks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "@entity": {
                                      "type": "string"
                                    },
                                    "header": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "rows": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "data": {
                    "name": "tradewise_tax_pnl_workbook",
                    "@entity": "workbook",
                    "sheets": [
                      {
                        "name": "tax_pnl_summary_sheet",
                        "@entity": "sheet",
                        "blocks": [
                          {
                            "name": "asset_wise_summary_table",
                            "@entity": "table",
                            "header": [
                              "asset_class",
                              "asset_type",
                              "income_head",
                              "income_sub_head",
                              "tax_rate",
                              "section",
                              "holding_period",
                              "turnover",
                              "turnover_inr",
                              "buy_value",
                              "buy_value_inr",
                              "cost_of_acquisition",
                              "cost_of_acquisition_inr",
                              "sell_value",
                              "sell_value_inr",
                              "realized_pnl",
                              "realized_pnl_inr",
                              "transfer_expenses",
                              "transfer_expenses_inr",
                              "net_realized_pnl",
                              "net_realize_pnl_inr",
                              "taxable_pnl",
                              "taxable_pnl_inr"
                            ],
                            "rows": [
                              [
                                "real_estate",
                                "residential_property",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                17833300,
                                17833300,
                                15694300,
                                15694300,
                                15694300,
                                15694300,
                                17833300,
                                17833300,
                                2139000,
                                2139000,
                                33000,
                                33000,
                                2106000,
                                2106000,
                                2104100,
                                2104100
                              ],
                              [
                                "real_estate",
                                "residential_property",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                32000000,
                                32000000,
                                40630000,
                                40630000,
                                145799449.54,
                                145799449.54,
                                32000000,
                                32000000,
                                -8630000,
                                -8630000,
                                40500,
                                40500,
                                -8670500,
                                -8670500,
                                -114069949.54,
                                -114069949.54
                              ],
                              [
                                "real_estate",
                                "commercial_property",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                346300,
                                346300,
                                10056000,
                                10056000,
                                10056000,
                                10056000,
                                346300,
                                346300,
                                -9709700,
                                -9709700,
                                18500,
                                18500,
                                -9728200,
                                -9728200,
                                -9741750,
                                -9741750
                              ],
                              [
                                "real_estate",
                                "commercial_property",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                25100000,
                                25100000,
                                9490000,
                                9490000,
                                21463984.34,
                                21463984.34,
                                25100000,
                                25100000,
                                15610000,
                                15610000,
                                25900,
                                25900,
                                15584100,
                                15584100,
                                3354715.66,
                                3354715.66
                              ],
                              [
                                "real_estate",
                                "non_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                12104000,
                                12104000,
                                18700000,
                                18700000,
                                18700000,
                                18700000,
                                12104000,
                                12104000,
                                -6596000,
                                -6596000,
                                26500,
                                26500,
                                -6622500,
                                -6622500,
                                -6645355,
                                -6645355
                              ],
                              [
                                "real_estate",
                                "non_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                34582000,
                                34582000,
                                23590000,
                                23590000,
                                65210138.19,
                                65210138.19,
                                34582000,
                                34582000,
                                10992000,
                                10992000,
                                52000,
                                52000,
                                10940000,
                                10940000,
                                -30970138.19,
                                -30970138.19
                              ],
                              [
                                "real_estate",
                                "rural_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                413000,
                                413000,
                                11130303,
                                11130303,
                                11130303,
                                11130303,
                                413000,
                                413000,
                                -10717303,
                                -10717303,
                                24900,
                                24900,
                                -10742203,
                                -10742203,
                                0,
                                0
                              ],
                              [
                                "real_estate",
                                "rural_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                24737050,
                                24737050,
                                6795000,
                                6795000,
                                14440270.42,
                                14440270.42,
                                24737050,
                                24737050,
                                17942050,
                                17942050,
                                29400,
                                29400,
                                17912650,
                                17912650,
                                0,
                                0
                              ],
                              [
                                "real_estate",
                                "urban_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                413000,
                                413000,
                                10901000,
                                10901000,
                                10901000,
                                10901000,
                                413000,
                                413000,
                                -10488000,
                                -10488000,
                                24900,
                                24900,
                                -10512900,
                                -10512900,
                                -10540970,
                                -10540970
                              ],
                              [
                                "real_estate",
                                "urban_agricultural_land",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                34582000,
                                34582000,
                                23150000,
                                23150000,
                                66631744.2,
                                66631744.2,
                                34582000,
                                34582000,
                                11432000,
                                11432000,
                                52000,
                                52000,
                                11380000,
                                11380000,
                                -32391744.2,
                                -32391744.2
                              ]
                            ]
                          },
                          {
                            "name": "quarter_wise_tax_pnl_summary_table",
                            "@entity": "table",
                            "header": [
                              "asset_class",
                              "asset_type",
                              "quarter",
                              "income_head",
                              "income_sub_head",
                              "tax_rate",
                              "section",
                              "holding_period",
                              "turnover",
                              "turnover_inr",
                              "buy_value",
                              "buy_value_inr",
                              "cost_of_acquisition",
                              "cost_of_acquisition_inr",
                              "sell_value",
                              "sell_value_inr",
                              "realized_pnl",
                              "realized_pnl_inr",
                              "transfer_expenses",
                              "transfer_expenses_inr",
                              "net_realized_pnl",
                              "net_realized_pnl_inr",
                              "taxable_pnl",
                              "taxable_pnl_inr"
                            ],
                            "rows": [
                              [
                                "real_estate",
                                "residential_property",
                                "1",
                                "capital_gains",
                                "real_estate",
                                "slab_rate",
                                null,
                                "short_term",
                                31109600,
                                31109600,
                                66481603,
                                66481603,
                                66481603,
                                66481603,
                                31109600,
                                31109600,
                                -35372003,
                                -35372003,
                                127800,
                                127800,
                                -35499803,
                                -35499803,
                                -24823975,
                                -24823975
                              ],
                              [
                                "real_estate",
                                "residential_property",
                                "1",
                                "capital_gains",
                                "real_estate",
                                "20",
                                null,
                                "long_term",
                                151001050,
                                151001050,
                                103655000,
                                103655000,
                                313545586.69,
                                313545586.69,
                                151001050,
                                151001050,
                                47346050,
                                47346050,
                                199800,
                                199800,
                                47146250,
                                47146250,
                                -174077116.27,
                                -174077116.27
                              ]
                            ]
                          },
                          {
                            "name": "tax_pnl_summary_table",
                            "@entity": "table",
                            "header": [
                              "serial_number",
                              "asset_type",
                              "property_name",
                              "holding_period",
                              "tax_rate",
                              "turnover",
                              "turnover_inr",
                              "buy_date",
                              "buy_value",
                              "buy_value_inr",
                              "cost_of_acquisition",
                              "cost_of_acquisition_inr",
                              "sell_date",
                              "sell_value",
                              "sell_value_inr",
                              "total_cost_of_improvement",
                              "total_cost_of_improvement_inr",
                              "country",
                              "realized_pnl",
                              "realized_pnl_inr",
                              "transfer_expenses",
                              "transfer_expenses_inr",
                              "net_realized_pnl",
                              "net_realized_pnl_inr",
                              "taxable_pnl",
                              "taxable_pnl_inr"
                            ],
                            "rows": [
                              [
                                "6abba3b3-d061-45f5-a947-c6a944663605",
                                "residential_property",
                                "RESID 1",
                                "short_term",
                                "slab_rate",
                                17500000,
                                17500000,
                                1696185000000,
                                15000000,
                                15000000,
                                15000000,
                                15000000,
                                1712255400000,
                                17500000,
                                17500000,
                                0,
                                0,
                                "India",
                                2500000,
                                2500000,
                                10000,
                                10000,
                                2490000,
                                2490000,
                                2490000,
                                2490000
                              ],
                              [
                                "5053d42f-48e2-49de-bcb8-192c65dbb0e8",
                                "residential_property",
                                "RESID 2",
                                "long_term",
                                "20",
                                12000000,
                                12000000,
                                989001000000,
                                35000000,
                                35000000,
                                127050000,
                                127050000,
                                1712169000000,
                                12000000,
                                12000000,
                                50000,
                                50000,
                                "India",
                                -23000000,
                                -23000000,
                                33000,
                                33000,
                                -23033000,
                                -23033000,
                                -115133000,
                                -115133000
                              ],
                              [
                                "6eda97c5-29da-4a9e-a897-e40573a214d3",
                                "residential_property",
                                "RESID 3",
                                "short_term",
                                "slab_rate",
                                333300,
                                333300,
                                1709058600000,
                                694300,
                                694300,
                                694300,
                                694300,
                                1712169000000,
                                333300,
                                333300,
                                1900,
                                1900,
                                "India",
                                -361000,
                                -361000,
                                23000,
                                23000,
                                -384000,
                                -384000,
                                -385900,
                                -385900
                              ],
                              [
                                "27a82fdd-8a27-40da-99c3-0047f802c8d9",
                                "residential_property",
                                "RESID 4",
                                "long_term",
                                "20",
                                20000000,
                                20000000,
                                1079980200000,
                                5630000,
                                5630000,
                                18749449.54,
                                18749449.54,
                                1712169000000,
                                20000000,
                                20000000,
                                180000,
                                180000,
                                "India",
                                14370000,
                                14370000,
                                7500,
                                7500,
                                14362500,
                                14362500,
                                1063050.46,
                                1063050.46
                              ],
                              [
                                "abcc4d1c-d60f-4e94-9d87-9f49ba264dfd",
                                "commercial_property",
                                "COM 1",
                                "short_term",
                                "slab_rate",
                                245300,
                                245300,
                                1698863400000,
                                156000,
                                156000,
                                156000,
                                156000,
                                1712169000000,
                                245300,
                                245300,
                                1250,
                                1250,
                                "India",
                                89300,
                                89300,
                                6000,
                                6000,
                                83300,
                                83300,
                                82050,
                                82050
                              ],
                              [
                                "5fb652a9-579a-4aa5-8d44-aa860c327a80",
                                "commercial_property",
                                "COM 2",
                                "long_term",
                                "20",
                                600000,
                                600000,
                                1134325800000,
                                900000,
                                900000,
                                2792307.69,
                                2792307.69,
                                1712169000000,
                                600000,
                                600000,
                                5400,
                                5400,
                                "India",
                                -300000,
                                -300000,
                                8900,
                                8900,
                                -308900,
                                -308900,
                                -2206607.69,
                                -2206607.69
                              ],
                              [
                                "61b18521-8ad2-46c0-91e0-548522415527",
                                "commercial_property",
                                "COM 3",
                                "short_term",
                                "slab_rate",
                                101000,
                                101000,
                                1705170600000,
                                9900000,
                                9900000,
                                9900000,
                                9900000,
                                1712169000000,
                                101000,
                                101000,
                                12300,
                                12300,
                                "India",
                                -9799000,
                                -9799000,
                                12500,
                                12500,
                                -9811500,
                                -9811500,
                                -9823800,
                                -9823800
                              ],
                              [
                                "592994fb-3b14-4ec7-9203-502cd8927bec",
                                "commercial_property",
                                "COM 4",
                                "long_term",
                                "20",
                                24500000,
                                24500000,
                                1286649000000,
                                8590000,
                                8590000,
                                18671676.65,
                                18671676.65,
                                1712169000000,
                                24500000,
                                24500000,
                                250000,
                                250000,
                                "India",
                                15910000,
                                15910000,
                                17000,
                                17000,
                                15893000,
                                15893000,
                                5561323.35,
                                5561323.35
                              ],
                              [
                                "97a96c85-0915-425d-ab8d-028ffa87c87f",
                                "non_agricultural_land",
                                "NA 1",
                                "short_term",
                                "slab_rate",
                                12000000,
                                12000000,
                                1690050600000,
                                9000000,
                                9000000,
                                9000000,
                                9000000,
                                1712169000000,
                                12000000,
                                12000000,
                                10555,
                                10555,
                                "India",
                                3000000,
                                3000000,
                                14000,
                                14000,
                                2986000,
                                2986000,
                                2975445,
                                2975445
                              ],
                              [
                                "6832ec27-3ca8-47bd-96d9-715df757c5f0",
                                "non_agricultural_land",
                                "NA 2",
                                "short_term",
                                "slab_rate",
                                104000,
                                104000,
                                1705170600000,
                                9700000,
                                9700000,
                                9700000,
                                9700000,
                                1712169000000,
                                104000,
                                104000,
                                12300,
                                12300,
                                "India",
                                -9596000,
                                -9596000,
                                12500,
                                12500,
                                -9608500,
                                -9608500,
                                -9620800,
                                -9620800
                              ],
                              [
                                "22f50de5-5671-4154-b9ba-f9b80a2f2298",
                                "non_agricultural_land",
                                "NA 3",
                                "long_term",
                                "20",
                                10000000,
                                10000000,
                                1139509800000,
                                15000000,
                                15000000,
                                46538461.54,
                                46538461.54,
                                1712169000000,
                                10000000,
                                10000000,
                                40000,
                                40000,
                                "India",
                                -5000000,
                                -5000000,
                                35000,
                                35000,
                                -5035000,
                                -5035000,
                                -36613461.54,
                                -36613461.54
                              ],
                              [
                                "991d604c-989f-4530-948b-fa2e609c2d56",
                                "non_agricultural_land",
                                "NA 4",
                                "long_term",
                                "20",
                                24582000,
                                24582000,
                                1286649000000,
                                8590000,
                                8590000,
                                18671676.65,
                                18671676.65,
                                1712169000000,
                                24582000,
                                24582000,
                                250000,
                                250000,
                                "India",
                                15992000,
                                15992000,
                                17000,
                                17000,
                                15975000,
                                15975000,
                                5643323.35,
                                5643323.35
                              ],
                              [
                                "5cc0a35e-0067-4ab4-b8ac-fffb5f167851",
                                "urban_agricultural_land",
                                "UA 1",
                                "short_term",
                                "slab_rate",
                                309000,
                                309000,
                                1697740200000,
                                201000,
                                201000,
                                201000,
                                201000,
                                1712169000000,
                                309000,
                                309000,
                                15770,
                                15770,
                                "India",
                                108000,
                                108000,
                                12400,
                                12400,
                                95600,
                                95600,
                                79830,
                                79830
                              ],
                              [
                                "8d0840bf-7b78-4414-8fdc-383063d0b38f",
                                "urban_agricultural_land",
                                "UA 2",
                                "short_term",
                                "slab_rate",
                                104000,
                                104000,
                                1705170600000,
                                10700000,
                                10700000,
                                10700000,
                                10700000,
                                1712169000000,
                                104000,
                                104000,
                                12300,
                                12300,
                                "India",
                                -10596000,
                                -10596000,
                                12500,
                                12500,
                                -10608500,
                                -10608500,
                                -10620800,
                                -10620800
                              ],
                              [
                                "11691108-f6db-458e-bef8-fef3d9474cfc",
                                "urban_agricultural_land",
                                "UA 3",
                                "long_term",
                                "20",
                                24582000,
                                24582000,
                                1286649000000,
                                5590000,
                                5590000,
                                12150718.56,
                                12150718.56,
                                1712169000000,
                                24582000,
                                24582000,
                                250000,
                                250000,
                                "India",
                                18992000,
                                18992000,
                                17000,
                                17000,
                                18975000,
                                18975000,
                                12164281.44,
                                12164281.44
                              ],
                              [
                                "7a9e34f7-11eb-4faa-a6e3-434626379f7b",
                                "urban_agricultural_land",
                                "UA 4",
                                "long_term",
                                "20",
                                10000000,
                                10000000,
                                1139509800000,
                                17560000,
                                17560000,
                                54481025.64,
                                54481025.64,
                                1712169000000,
                                10000000,
                                10000000,
                                40000,
                                40000,
                                "India",
                                -7560000,
                                -7560000,
                                35000,
                                35000,
                                -7595000,
                                -7595000,
                                -44556025.64,
                                -44556025.64
                              ],
                              [
                                "380e091f-1d9b-47c4-b9a8-9447e65529b4",
                                "rural_agricultural_land",
                                "RA 2",
                                "long_term",
                                "20",
                                24582000,
                                24582000,
                                1286649000000,
                                6594000,
                                6594000,
                                13740790.42,
                                13740790.42,
                                1711823400000,
                                24582000,
                                24582000,
                                250000,
                                250000,
                                "India",
                                17988000,
                                17988000,
                                17000,
                                17000,
                                17971000,
                                17971000,
                                0,
                                0
                              ],
                              [
                                "25448851-2156-42ba-9812-4bd23e441cb9",
                                "rural_agricultural_land",
                                "RA 4",
                                "short_term",
                                "slab_rate",
                                104000,
                                104000,
                                1705170600000,
                                10900000,
                                10900000,
                                10900000,
                                10900000,
                                1711823400000,
                                104000,
                                104000,
                                12300,
                                12300,
                                "India",
                                -10796000,
                                -10796000,
                                12500,
                                12500,
                                -10808500,
                                -10808500,
                                0,
                                0
                              ],
                              [
                                "0e027d00-5c76-46e7-b164-38746bfa2bf5",
                                "rural_agricultural_land",
                                "RA 1",
                                "long_term",
                                "20",
                                155050,
                                155050,
                                1003516200000,
                                201000,
                                201000,
                                699480,
                                699480,
                                1705084200000,
                                155050,
                                155050,
                                15770,
                                15770,
                                "India",
                                -45950,
                                -45950,
                                12400,
                                12400,
                                -58350,
                                -58350,
                                0,
                                0
                              ],
                              [
                                "cfb66c3b-ae78-4559-9755-ee83ba1f5540",
                                "rural_agricultural_land",
                                "RA 3",
                                "short_term",
                                "slab_rate",
                                309000,
                                309000,
                                1697740200000,
                                230303,
                                230303,
                                230303,
                                230303,
                                1705084200000,
                                309000,
                                309000,
                                1330,
                                1330,
                                "India",
                                78697,
                                78697,
                                12400,
                                12400,
                                66297,
                                66297,
                                0,
                                0
                              ]
                            ]
                          },
                          {
                            "name": "cost_of_improvement_table",
                            "@entity": "table",
                            "header": [
                              "settlement_serial_number",
                              "financial_year",
                              "cost",
                              "indexed_cost"
                            ]
                          },
                          {
                            "name": "capital_gains_income_adjustment_table",
                            "@entity": "table",
                            "header": [
                              "tax_rate",
                              "holding_period",
                              "section",
                              "taxable_income",
                              "income_setoff_against_15_percent",
                              "income_setoff_against_30_percent",
                              "income_setoff_against_slab_rate",
                              "income_setoff_against_10_percent",
                              "income_setoff_against_20_percent",
                              "net_taxable_income"
                            ],
                            "rows": [
                              [
                                "15",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "30",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "slab_rate",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "10",
                                "long_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "10",
                                "long_term",
                                "10(11A)",
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "20",
                                "long_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ]
                            ]
                          },
                          {
                            "name": "capital_gains_loss_adjustment_table",
                            "@entity": "table",
                            "header": [
                              "tax_rate",
                              "holding_period",
                              "section",
                              "taxable_loss",
                              "loss_setoff_against_15_percent",
                              "loss_setoff_against_30_percent",
                              "loss_setoff_against_slab_rate",
                              "loss_setoff_against_10_percent",
                              "loss_setoff_against_20_percent",
                              "total_losses_setoff",
                              "losses_remaining"
                            ],
                            "rows": [
                              [
                                "15",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "30",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "slab_rate",
                                "short_term",
                                null,
                                162744336,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                162744336
                              ],
                              [
                                "10",
                                "long_term",
                                null,
                                null,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "20",
                                "long_term",
                                null,
                                35499803,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                35499803
                              ]
                            ]
                          },
                          {
                            "name": "current_year_income_adjustment_table",
                            "@entity": "table",
                            "header": [
                              "tax_rate",
                              "holding_period",
                              "section",
                              "taxable_income",
                              "income_setoff_against_15_percent",
                              "income_setoff_against_30_percent",
                              "income_setoff_against_slab_rate",
                              "income_setoff_against_10_percent",
                              "income_setoff_against_20_percent",
                              "net_taxable_income"
                            ],
                            "rows": [
                              [
                                "business_and_profession",
                                "non_speculative",
                                null,
                                null,
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "business_and_profession",
                                "speculative",
                                null,
                                null,
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "15",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "30",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "slab_rate",
                                "short_term",
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "10",
                                "long_term",
                                null,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "10",
                                "long_term",
                                "10(11A)",
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "capital_gains",
                                "securities",
                                "20",
                                "long_term",
                                null,
                                0,
                                0,
                                0,
                                0
                              ]
                            ]
                          },
                          {
                            "name": "current_year_loss_adjustment_table",
                            "@entity": "table",
                            "header": [
                              "tax_rate",
                              "holding_period",
                              "section",
                              "taxable_loss",
                              "loss_setoff_against_15_percent",
                              "loss_setoff_against_30_percent",
                              "loss_setoff_against_slab_rate",
                              "loss_setoff_against_10_percent",
                              "loss_setoff_against_20_percent",
                              "total_losses_setoff",
                              "losses_remaining"
                            ],
                            "rows": [
                              [
                                "business_and_profession",
                                "non_speculative",
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ],
                              [
                                "other",
                                "other_exempt_income",
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0,
                                0
                              ]
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "real-estate"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "@entity": {
                    "type": "string"
                  },
                  "sheets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "@entity": {
                                "type": "string"
                              },
                              "header": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "rows": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "real_estate_tradewise_settlement_workbook",
                "@entity": "workbook",
                "sheets": [
                  {
                    "name": "tradewise_settlement_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "tradewise_settlement_table",
                        "@entity": "table",
                        "header": [
                          "serial_number",
                          "asset_type",
                          "property_name",
                          "country",
                          "curency",
                          "buy_date",
                          "buy_price",
                          "cost_of_acquisition",
                          "sell_date",
                          "sell_price",
                          "transfer_expenses"
                        ],
                        "rows": [
                          [
                            "6abba3b3-d061-45f5-a947-c6a944663605",
                            "residential_property",
                            "RESID 1",
                            "India",
                            "INR",
                            1696185000000,
                            15000000,
                            0,
                            1712255400000,
                            17500000,
                            10000
                          ],
                          [
                            "592994fb-3b14-4ec7-9203-502cd8927bec",
                            "commercial_property",
                            "COM ",
                            "India",
                            "INR",
                            1011175420000,
                            8590000,
                            0,
                            1712169000000,
                            245000000,
                            17000
                          ],
                          [
                            "991d604c-989f-4530-948b-fa2e609c2d56",
                            "non_agricultural_land",
                            "NA ",
                            "India",
                            "EUR",
                            1286649000000,
                            8590000,
                            0,
                            1712169000000,
                            24582000,
                            17000
                          ],
                          [
                            "cfb66c3b-ae78-4559-9755-ee83ba1f5540",
                            "agricultural_land",
                            "UA",
                            "India",
                            "USD",
                            1697740200000,
                            230303,
                            0,
                            1712169000000,
                            309000,
                            12400
                          ]
                        ]
                      },
                      {
                        "name": "cost_of_improvement_table",
                        "@entity": "table",
                        "header": [
                          "settlement_serial_number",
                          "financial_year",
                          "cost",
                          "indexed_cost"
                        ],
                        "rows": [
                          [
                            "592994fb-3b14-4ec7-9203-502cd8927bec",
                            "FY 2010-11",
                            250000,
                            null
                          ],
                          [
                            "991d604c-989f-4530-948b-fa2e609c2d56",
                            "FY 2012-13",
                            250000,
                            null
                          ],
                          [
                            "cfb66c3b-ae78-4559-9755-ee83ba1f5540",
                            "FY 2023-24",
                            1330,
                            null
                          ]
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/it/calculator/tax-pnl/other": {
      "post": {
        "summary": "/it/calculator/other/tax-pnl",
        "parameters": [
          {
            "name": "financial_year",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "FY 2025-26"
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "application/json"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{version}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token for user-level authorization. ",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{access_token}}"
          }
        ],
        "responses": {},
        "tags": [
          "tax-pnl",
          "other"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "@entity": {
                    "type": "string"
                  },
                  "sheets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "@entity": {
                                "type": "string"
                              },
                              "header": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "rows": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "other_tradewise_settlement_workbook",
                "@entity": "workbook",
                "sheets": [
                  {
                    "name": "tradewise_settlement_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "tradewise_settlement_table",
                        "@entity": "table",
                        "header": [
                          "serial_number",
                          "asset_type",
                          "asset_name",
                          "country",
                          "currency",
                          "buy_date",
                          "buy_price",
                          "cost_of_acquisition",
                          "sell_date",
                          "sell_price",
                          "transfer_expenses"
                        ],
                        "rows": [
                          [
                            "6abba3b3-d061-45f5-a947-c6a944663605",
                            "jewelry",
                            "jew",
                            "india",
                            "INR",
                            1696185000000,
                            25000000,
                            25000000,
                            1712255400000,
                            17500100,
                            10000
                          ],
                          [
                            "592994fb-3b14-4ec7-9203-502cd8927bec",
                            "art",
                            "art",
                            "india",
                            "INR",
                            1286649000000,
                            9590000,
                            9590000,
                            1712169000000,
                            24520000,
                            17000
                          ],
                          [
                            "991d604c-989f-4530-948b-fa2e609c2d56",
                            "car",
                            "car",
                            "india",
                            "INR",
                            1286649000000,
                            8590010,
                            8590010,
                            1712169000000,
                            24582000,
                            17000
                          ],
                          [
                            "cfb66c3b-ae78-4559-9755-ee83ba1f5540",
                            "other",
                            "other",
                            "india",
                            "INR",
                            1697740200000,
                            2301010,
                            2301010,
                            1712169000000,
                            1309000,
                            12400
                          ]
                        ]
                      },
                      {
                        "name": "cost_of_improvement_table",
                        "@entity": "table",
                        "header": [
                          "settlement_serial_number",
                          "financial_year",
                          "cost",
                          "indexed_cost"
                        ],
                        "rows": [
                          [
                            "592994fb-3b14-4ec7-9203-502cd8927bec",
                            "FY 2011-12",
                            250000,
                            null
                          ],
                          [
                            "991d604c-989f-4530-948b-fa2e609c2d56",
                            "FY 2012-13",
                            250000,
                            null
                          ],
                          [
                            "cfb66c3b-ae78-4559-9755-ee83ba1f5540",
                            "FY 2023-24",
                            1330,
                            null
                          ]
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/it/calculator/tax-pnl/crypto": {
      "post": {
        "summary": "Submit Tax P&L Job",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "tradebook"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "tradewise_pnl"
          },
          {
            "name": "financial_year",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "FY 2025-26"
          },
          {
            "name": "algo",
            "in": "query",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "fifo"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}"
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{version}}"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Token for user-level authorization. ",
            "deprecated": false,
            "schema": {
              "type": "string"
            },
            "example": "{{access_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "string"
                        },
                        "report": {
                          "type": "string"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "tradebook_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "timestamp": 1676979940157,
                  "transaction_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                  "data": {
                    "@entity": "in.co.sandbox.it.calculator.cryto.tax_pnl.job",
                    "job_id": "c01f847c-c42e-4577-9d01-a7208401a922",
                    "report": "tradewise",
                    "from": 1682945614000,
                    "to": 1683291214000,
                    "status": "created",
                    "tradebook_url": "https://test-api.sandbox.co.in/it/calculator/in-co-sandbox-it-calculator-crypto-tax-pnl-dev/c01f847c-c42e-4577-9d01-a7208401a922.json"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                },
                "example": {
                  "code": 422,
                  "timestamp": 1619519433924,
                  "transaction_id": "328e459b-5be7-4658-b490-ceee6adbc0a8",
                  "message": "Invalid report: tradewize"
                }
              }
            }
          }
        },
        "tags": [
          "tax-pnl",
          "crypto"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@entity": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sheets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "@entity": {
                          "type": "string"
                        },
                        "blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "@entity": {
                                "type": "string"
                              },
                              "header": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "rows": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "@entity": "workbook",
                "name": "crypto_currency_tradebook_workbook",
                "sheets": [
                  {
                    "name": "spot_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "spot_tradebook_table",
                        "@entity": "table",
                        "header": [
                          "id",
                          "date",
                          "transaction_type",
                          "label",
                          "received_currency",
                          "received_quantity",
                          "price",
                          "price_currency",
                          "price_inr",
                          "sent_currency",
                          "sent_quantity",
                          "fee_currency",
                          "fee_amount",
                          "fee_amount_inr"
                        ],
                        "rows": [
                          [
                            "acdcwefew3e1113vcd",
                            1682985600000,
                            "buy",
                            null,
                            "BTC",
                            8.4567,
                            265,
                            "INR",
                            2241.0254999999997,
                            null,
                            null,
                            "INR",
                            20,
                            20
                          ],
                          [
                            "nknee38ni9cd3defeve",
                            1687132800000,
                            "buy",
                            null,
                            "XRP",
                            9.0123,
                            58.68,
                            "INR",
                            528.841764,
                            null,
                            null,
                            "INR",
                            50,
                            50
                          ],
                          [
                            "nrezxcetgf2334jk0333d",
                            1690416000000,
                            "sell",
                            null,
                            null,
                            null,
                            278.98,
                            "INR",
                            995.3532134000001,
                            "BTC",
                            3.56783,
                            "INR",
                            10.4564,
                            10.4564
                          ],
                          [
                            "fwhjceco2trsc344f322e",
                            1690934400000,
                            "buy",
                            null,
                            "BTC",
                            10.9873,
                            309.8,
                            "INR",
                            3403.86554,
                            null,
                            null,
                            "INR",
                            288,
                            288
                          ],
                          [
                            "fwhjceco2trsc344f322e",
                            1690934400000,
                            "sell",
                            null,
                            null,
                            null,
                            75.35,
                            "INR",
                            679.0768049999999,
                            "XRP",
                            6.3544,
                            "INR",
                            145.89,
                            145.89
                          ],
                          [
                            "zxc1rtvmk3456hkkve3w",
                            1696291200000,
                            "sell",
                            null,
                            null,
                            null,
                            48.49,
                            "INR",
                            65.92700399999998,
                            "XRP",
                            1.3596,
                            null,
                            null,
                            null
                          ],
                          [
                            "zxc1rtvmk3456hkkve3w",
                            1696291200000,
                            "sell",
                            null,
                            null,
                            null,
                            48.49,
                            "INR",
                            62.954567000000004,
                            "XRP",
                            1.2983,
                            null,
                            null,
                            null
                          ],
                          [
                            "klop3sdcwf23445dwedc",
                            1594684800000,
                            "buy",
                            null,
                            "ETH",
                            0.9822,
                            120.455,
                            "INR",
                            118.31090099999999,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "klop3sdcwf2347d12wxbk",
                            1708646400000,
                            "sell",
                            null,
                            null,
                            null,
                            511.698,
                            "INR",
                            233.79481619999999,
                            "ETH",
                            0.4569,
                            null,
                            null,
                            null
                          ],
                          [
                            "efvdf3vmndvnor349023s",
                            1711843200000,
                            "buy",
                            null,
                            "SOL",
                            2000,
                            0.3117,
                            "INR",
                            623.4,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "wg3rg43wfege1dbdg33f",
                            1687392000000,
                            "trade",
                            null,
                            "MATIC",
                            100,
                            2.45,
                            "SOL",
                            88.3669,
                            "SOL",
                            245,
                            null,
                            null,
                            null
                          ],
                          [
                            "gjekbek45vdge32w3fegf",
                            1692057600000,
                            "send",
                            "staking",
                            null,
                            null,
                            null,
                            "INR",
                            560.456,
                            "MATIC",
                            50,
                            null,
                            null,
                            null
                          ],
                          [
                            "egrgrbko4542gfvfg4gv332",
                            1693008000000,
                            "receive",
                            "staking_reward",
                            "MATIC",
                            12.568,
                            null,
                            null,
                            140.8762,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "efkpfemfpe45efrG3r32f2A",
                            1695859200000,
                            "receive",
                            "staking",
                            "MATIC",
                            50,
                            null,
                            null,
                            715.255,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "acdcwefew3e1113vcd",
                            1682985600000,
                            "buy",
                            null,
                            "USDT",
                            350,
                            84.311,
                            "INR",
                            29508.85,
                            null,
                            null,
                            "INR",
                            20,
                            20
                          ],
                          [
                            "nknee38ni9cd3defeve",
                            1687132800000,
                            "sell",
                            null,
                            null,
                            null,
                            85.23,
                            "INR",
                            4261.5,
                            "USDT",
                            50,
                            "INR",
                            50,
                            50
                          ],
                          [
                            "kyjrtgew45568efeg12ds",
                            1687219200000,
                            "send",
                            "margin",
                            null,
                            null,
                            84.311,
                            "INR",
                            5901.77,
                            "USDT",
                            70,
                            null,
                            null,
                            null
                          ],
                          [
                            "hjdj0plsejw3n227890c",
                            1687824000000,
                            "receive",
                            "margin",
                            "USDT",
                            70,
                            84.311,
                            "INR",
                            5901.77,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "nrezxcetgf2334jk0333d",
                            1690416000000,
                            "receive",
                            "margin_gain",
                            "USDT",
                            40,
                            85,
                            "INR",
                            3400,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "fwhjceco2trsc344f322e",
                            1690934400000,
                            "send",
                            "margin",
                            "USDT",
                            null,
                            86.55,
                            "INR",
                            13848,
                            "USDT",
                            160,
                            null,
                            null,
                            null
                          ],
                          [
                            "fwhjceco2trsc344f322e",
                            1691020800000,
                            "sell",
                            null,
                            null,
                            null,
                            88,
                            "INR",
                            8800,
                            "USDT",
                            100,
                            "INR",
                            145.89,
                            145.89
                          ],
                          [
                            "zxc1rtvmk3456hkkve3w",
                            1691020800000,
                            "send",
                            "margin",
                            null,
                            null,
                            88.35,
                            "INR",
                            4417.5,
                            "USDT",
                            50,
                            null,
                            null,
                            null
                          ],
                          [
                            "zxc1rtvmk3456hkkve3w",
                            1694131200000,
                            "receive",
                            "margin",
                            "USDT",
                            160,
                            86.55,
                            "INR",
                            13848,
                            null,
                            null,
                            null,
                            null,
                            null
                          ],
                          [
                            "klop3sdcwf23445dwedc",
                            1694131200000,
                            "send",
                            "margin_loss",
                            null,
                            null,
                            89,
                            "INR",
                            4450,
                            "USDT",
                            50,
                            null,
                            null,
                            null
                          ],
                          [
                            "klop3sdcwf2347d12wxbk",
                            1708646400000,
                            "sell",
                            null,
                            null,
                            null,
                            91.09,
                            "INR",
                            3643.6000000000004,
                            "USDT",
                            40,
                            null,
                            null,
                            null
                          ]
                        ]
                      },
                      {
                        "name": "spot_last_traded_price_table",
                        "@entity": "table",
                        "header": [
                          "symbol",
                          "currency",
                          "last_traded_price",
                          "last_traded_price_inr"
                        ],
                        "rows": [
                          [
                            "BTC",
                            "INR",
                            299.785,
                            299.785
                          ],
                          [
                            "USDT",
                            "INR",
                            95.45,
                            95.45
                          ],
                          [
                            "XRP",
                            "INR",
                            38.45,
                            38.45
                          ],
                          [
                            "SOL",
                            "INR",
                            0.0145,
                            0.0145
                          ],
                          [
                            "ETH",
                            "INR",
                            89.566,
                            89.566
                          ],
                          [
                            "MATIC",
                            "INR",
                            1256.789,
                            1256.789
                          ]
                        ]
                      }
                    ]
                  },
                  {
                    "name": "future_sheet",
                    "@entity": "sheet",
                    "blocks": [
                      {
                        "name": "future_tradebook_table",
                        "@entity": "table",
                        "header": [
                          "id",
                          "contract_name",
                          "transaction_type",
                          "date",
                          "quantity",
                          "price",
                          "price_currency",
                          "price_inr",
                          "fee_amount",
                          "fee_currency",
                          "fee_amount_inr"
                        ],
                        "rows": [
                          [
                            "addf3434mkvefv456h",
                            "BTC-USDT",
                            "buy",
                            1687219200000,
                            1,
                            70,
                            "USDT",
                            5901.77,
[...]
