{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/gst/compliance/tax-payer/otp": {
            "post": {
                "summary": "Generate OTP",
                "description": "",
                "operationId": "taxpayer-generate-otp-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-source",
                        "in": "header",
                        "description": "Source. Possible Values: primary (default) or secondary",
                        "schema": {
                            "type": "string",
                            "default": "primary"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "username",
                                    "gstin"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "Username as per GST portal"
                                    },
                                    "gstin": {
                                        "type": "string",
                                        "description": "GSTIN of the taxpayer"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "username": "acme.com",
                                        "gstin": "29AAACQ3770E000"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"d4ee0240-42e7-42b7-a9a0-9bbe5ff5b008\",\n \"code\": 200,\n \"data\": {\n \"status_cd\": \"1\"\n },\n \"timestamp\": 1711969196000\n}"
                                    },
                                    "OTP generation failed": {
                                        "value": "{\n \"transaction_id\": \"adb88673-6fb3-486c-a7f8-6ee8e0715e73\",\n \"code\": 200,\n \"data\": {\n \"status_cd\": \"0\",\n \"error\": {\n \"message\": \"OTP generation failed as OTP server is down. Contact Support\",\n \"error_cd\": \"TEC4001\"\n }\n },\n \"timestamp\": 1711969373000\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Success",
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "d4ee0240-42e7-42b7-a9a0-9bbe5ff5b008"
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status_cd": {
                                                            "type": "string",
                                                            "example": "1"
                                                        }
                                                    }
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1711969196000,
                                                    "default": 0
                                                }
                                            }
                                        },
                                        {
                                            "title": "OTP generation failed",
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "adb88673-6fb3-486c-a7f8-6ee8e0715e73"
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status_cd": {
                                                            "type": "string",
                                                            "example": "0"
                                                        },
                                                        "error": {
                                                            "type": "object",
                                                            "properties": {
                                                                "message": {
                                                                    "type": "string",
                                                                    "example": "OTP generation failed as OTP server is down. Contact Support"
                                                                },
                                                                "error_cd": {
                                                                    "type": "string",
                                                                    "example": "TEC4001"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1711969373000,
                                                    "default": 0
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid GSTIN pattern": {
                                        "value": "{\n \"transaction_id\": \"f8431702-ed14-4946-afd7-e3f4ab978294\",\n \"code\": 422,\n \"message\": \"Invalid GSTIN pattern\",\n \"timestamp\": 1711969211000\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "f8431702-ed14-4946-afd7-e3f4ab978294"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid GSTIN pattern"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1711969211000,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/gst/compliance/tax-payer/otp/verify": {
            "post": {
                "summary": "Verify OTP",
                "description": "",
                "operationId": "taxpayer-verify-otp-api",
                "parameters": [
                    {
                        "name": "otp",
                        "in": "query",
                        "description": "One time password",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-source",
                        "in": "header",
                        "description": "Source. Possible Values: primary (default) or secondary",
                        "schema": {
                            "type": "string",
                            "default": "primary"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "username",
                                    "gstin"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "description": "Username as per GST portal"
                                    },
                                    "gstin": {
                                        "type": "string",
                                        "description": "GSTIN of the taxpayer"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "username": "acme.com",
                                        "gstin": "29AAACQ3770E000"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"915989bc-5fe4-4a62-8fd1-a466e561b436\",\n \"code\": 200,\n \"data\": {\n \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyOUFBQUNRMzc3MEUwMDAiLCJhdWQiOiJBUEkiLCJhcGlfa2V5Ijoia2V5X2xpdmVfN1R5a3h4eHh4eDw-eHh4eHh4eCIsImlzcyI6ImdzdC5nb3YuaW4iLCJzb3VyY2UiOiJwcmltYXJ5IiwiZXhwIjoxNzEyOTQ3NzExLCJpYXQiOjE3MTI5MjYxMTAsImludGVudCI6IkFDQ0VTU19UT0tFTiIsImVtYWlsIjoiY3VzdG9tZXJAc2FuZGJveC5jby5pbiJ9.uv0RbRhtDPWeB3JtW6ruNdqq6uEhq_mLvJdGDafN9fF0ceYdqAith3vu0lFyqKUzJw4TNS62R26HT6p6j1twfg\",\n \"status_cd\": \"1\",\n \"token_expiry\": 1712947711000,\n \"session_expiry\": 1712947710000\n },\n \"timestamp\": 1712926110000\n}"
                                    },
                                    "Invalid session": {
                                        "value": "{\n \"transaction_id\": \"85da457c-c4ea-4c61-a6c9-62d2698e4c26\",\n \"code\": 200,\n \"data\": {\n \"status_cd\": \"0\",\n \"error\": {\n \"message\": \"Invalid Session\",\n \"error_cd\": \"AUTH4033\"\n }\n },\n \"timestamp\": 1711970516000\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Success",
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "915989bc-5fe4-4a62-8fd1-a466e561b436"
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "access_token": {
                                                            "type": "string",
                                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyOUFBQUNRMzc3MEUwMDAiLCJhdWQiOiJBUEkiLCJhcGlfa2V5Ijoia2V5X2xpdmVfN1R5a3h4eHh4eDw-eHh4eHh4eCIsImlzcyI6ImdzdC5nb3YuaW4iLCJzb3VyY2UiOiJwcmltYXJ5IiwiZXhwIjoxNzEyOTQ3NzExLCJpYXQiOjE3MTI5MjYxMTAsImludGVudCI6IkFDQ0VTU19UT0tFTiIsImVtYWlsIjoiY3VzdG9tZXJAc2FuZGJveC5jby5pbiJ9.uv0RbRhtDPWeB3JtW6ruNdqq6uEhq_mLvJdGDafN9fF0ceYdqAith3vu0lFyqKUzJw4TNS62R26HT6p6j1twfg"
                                                        },
                                                        "status_cd": {
                                                            "type": "string",
                                                            "example": "1"
                                                        },
                                                        "token_expiry": {
                                                            "type": "integer",
                                                            "example": 1712947711000,
                                                            "default": 0
                                                        },
                                                        "session_expiry": {
                                                            "type": "integer",
                                                            "example": 1712947710000,
                                                            "default": 0
                                                        }
                                                    }
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1712926110000,
                                                    "default": 0
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid session",
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "85da457c-c4ea-4c61-a6c9-62d2698e4c26"
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status_cd": {
                                                            "type": "string",
                                                            "example": "0"
                                                        },
                                                        "error": {
                                                            "type": "object",
                                                            "properties": {
                                                                "message": {
                                                                    "type": "string",
                                                                    "example": "Invalid Session"
                                                                },
                                                                "error_cd": {
                                                                    "type": "string",
                                                                    "example": "AUTH4033"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1711970516000,
                                                    "default": 0
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid GSTIN pattern": {
                                        "value": "{\n \"transaction_id\": \"90a6438d-7e4f-468e-8893-32a1f766a2cf\",\n \"code\": 422,\n \"message\": \"Invalid GSTIN pattern\",\n \"timestamp\": 1711970480000\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "90a6438d-7e4f-468e-8893-32a1f766a2cf"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid GSTIN pattern"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1711970480000,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/gst/compliance/tax-payer/session/refresh": {
            "post": {
                "summary": "Refresh Access Token",
                "description": "",
                "operationId": "taxpayer-refresh-access-token-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "Taxpayer access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"7609d16a-008a-42d9-ab2b-7a53c288dc85\",\n \"code\": 200,\n \"data\": {\n \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyOUFBQUNRMzc3MEUwMDAiLCJhdWQiOiJBUEkiLCJhcGlfa2V5Ijoia2V5X2xpdmVfN1R5a3h4eHh4eDw-eHh4eHh4eCIsImlzcyI6ImdzdC5nb3YuaW4iLCJzb3VyY2UiOiJwcmltYXJ5IiwiZXhwIjoxNzEyOTQ3NzExLCJpYXQiOjE3MTI5MjYxMTAsImludGVudCI6IkFDQ0VTU19UT0tFTiIsImVtYWlsIjoiY3VzdG9tZXJAc2FuZGJveC5jby5pbiJ9.uv0RbRhtDPWeB3JtW6ruNdqq6uEhq_mLvJdGDafN9fF0ceYdqAith3vu0lFyqKUzJw4TNS62R26HT6p6j1twfg\",\n \"status_cd\": \"1\",\n \"token_expiry\": 1712947711000,\n \"session_expiry\": 1712947710000\n },\n \"timestamp\": 1712926110000\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "7609d16a-008a-42d9-ab2b-7a53c288dc85"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIyOUFBQUNRMzc3MEUwMDAiLCJhdWQiOiJBUEkiLCJhcGlfa2V5Ijoia2V5X2xpdmVfN1R5a3h4eHh4eDw-eHh4eHh4eCIsImlzcyI6ImdzdC5nb3YuaW4iLCJzb3VyY2UiOiJwcmltYXJ5IiwiZXhwIjoxNzEyOTQ3NzExLCJpYXQiOjE3MTI5MjYxMTAsImludGVudCI6IkFDQ0VTU19UT0tFTiIsImVtYWlsIjoiY3VzdG9tZXJAc2FuZGJveC5jby5pbiJ9.uv0RbRhtDPWeB3JtW6ruNdqq6uEhq_mLvJdGDafN9fF0ceYdqAith3vu0lFyqKUzJw4TNS62R26HT6p6j1twfg"
                                                },
                                                "status_cd": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "token_expiry": {
                                                    "type": "integer",
                                                    "example": 1712947711000,
                                                    "default": 0
                                                },
                                                "session_expiry": {
                                                    "type": "integer",
                                                    "example": 1712947710000,
                                                    "default": 0
                                                }
                                            }
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1712926110000,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/gst/compliance/tax-payer/ledgers/bal/{year}/{month}": {
            "get": {
                "summary": "Cash ITC Balance",
                "description": "",
                "operationId": "cash-itc-balance-api",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Year e.g. 2020",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "Month e.g. 01",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "Taxpayer access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"f573fdc4-adca-4094-bc40-3b0d67209fb8\",\n \"code\": 200,\n \"data\": {\n \"data\": {\n \"cash_bal\": {\n \"sgst\": {\n \"oth\": 0,\n \"intr\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0\n },\n \"sgst_tot_bal\": 0,\n \"cgst\": {\n \"oth\": 0,\n \"intr\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0\n },\n \"igst_tot_bal\": 0,\n \"cess\": {\n \"oth\": 0,\n \"intr\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0\n },\n \"igst\": {\n \"oth\": 0,\n \"intr\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0\n },\n \"cess_tot_bal\": 0,\n \"cgst_tot_bal\": 0\n },\n \"itc_bal\": {\n \"cgst_bal\": 0,\n \"igst_bal\": 0,\n \"sgst_bal\": 0,\n \"cess_bal\": 0\n },\n \"itc_blck_bal\": {\n \"igst_blck_bal\": 0,\n \"cgst_blck_bal\": 0,\n \"sgst_blck_bal\": 0,\n \"cess_blck_bal\": 0\n },\n \"gstin\": \"29AAACQ3770E000\"\n },\n \"status_cd\": \"1\"\n },\n \"timestamp\": 1621509098740\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "f573fdc4-adca-4094-bc40-3b0d67209fb8"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "cash_bal": {
                                                            "type": "object",
                                                            "properties": {
                                                                "sgst": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "sgst_tot_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cgst": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "igst_tot_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cess": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "igst": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "cess_tot_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cgst_tot_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                }
                                                            }
                                                        },
                                                        "itc_bal": {
                                                            "type": "object",
                                                            "properties": {
                                                                "cgst_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "igst_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "sgst_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cess_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                }
                                                            }
                                                        },
                                                        "itc_blck_bal": {
                                                            "type": "object",
                                                            "properties": {
                                                                "igst_blck_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cgst_blck_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "sgst_blck_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cess_blck_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                }
                                                            }
                                                        },
                                                        "gstin": {
                                                            "type": "string",
                                                            "example": "29AAACQ3770E000"
                                                        }
                                                    }
                                                },
                                                "status_cd": {
                                                    "type": "string",
                                                    "example": "1"
                                                }
                                            }
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1621509098740,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/gst/compliance/tax-payer/ledgers/itc": {
            "get": {
                "summary": "ITC Ledger",
                "description": "",
                "operationId": "itc-ledger-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "Taxpayer access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From Date (DD/MM/YYYY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "To Date (DD/MM/YYYY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"f573fdc4-adca-4094-bc40-3b0d67209fb8\",\n \"code\": 200,\n \"data\": {\n \"data\": {\n \"provCrdBalList\": {\n \"provCrdBal\": []\n },\n \"itcLdgDtls\": {\n \"fr_dt\": \"01/01/2023\",\n \"to_dt\": \"01/01/2024\",\n \"cl_bal\": {\n \"sgstTaxBal\": 6161,\n \"igstTaxBal\": 40376,\n \"cgstTaxBal\": 6161,\n \"cessTaxBal\": 0,\n \"tot_rng_bal\": 52698,\n \"desc\": \"Closing Balance\"\n },\n \"gstin\": \"29AAACQ3770E000\",\n \"tr\": [\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 279760,\n \"cgstTaxBal\": 21150,\n \"ref_no\": \"AB241222611372T\",\n \"cgstTaxAmt\": 21150,\n \"tot_rng_bal\": 322060,\n \"tr_typ\": \"Cr\",\n \"dt\": \"19/01/2023\",\n \"ret_period\": \"122022\",\n \"sgstTaxBal\": 21150,\n \"sgstTaxAmt\": 21150,\n \"igstTaxAmt\": 279760,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 322060,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2401230352830\",\n \"cgstTaxAmt\": 21150,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"19/01/2023\",\n \"ret_period\": \"122022\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 21150,\n \"igstTaxAmt\": 279760,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 322060,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 220257,\n \"cgstTaxBal\": 4586,\n \"ref_no\": \"AB240123483550I\",\n \"cgstTaxAmt\": 4586,\n \"tot_rng_bal\": 229429,\n \"tr_typ\": \"Cr\",\n \"dt\": \"21/02/2023\",\n \"ret_period\": \"012023\",\n \"sgstTaxBal\": 4586,\n \"sgstTaxAmt\": 4586,\n \"igstTaxAmt\": 220257,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 229429,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2402230412202\",\n \"cgstTaxAmt\": 4586,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"21/02/2023\",\n \"ret_period\": \"012023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 4586,\n \"igstTaxAmt\": 220257,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 229429,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 185142,\n \"cgstTaxBal\": 4224,\n \"ref_no\": \"AB240223349643C\",\n \"cgstTaxAmt\": 4224,\n \"tot_rng_bal\": 193590,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/03/2023\",\n \"ret_period\": \"022023\",\n \"sgstTaxBal\": 4224,\n \"sgstTaxAmt\": 4224,\n \"igstTaxAmt\": 185142,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 193590,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2403230337205\",\n \"cgstTaxAmt\": 4224,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/03/2023\",\n \"ret_period\": \"022023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 4224,\n \"igstTaxAmt\": 185142,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 193590,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 194395,\n \"cgstTaxBal\": 4626,\n \"ref_no\": \"AB240323888367U\",\n \"cgstTaxAmt\": 4626,\n \"tot_rng_bal\": 203647,\n \"tr_typ\": \"Cr\",\n \"dt\": \"21/04/2023\",\n \"ret_period\": \"032023\",\n \"sgstTaxBal\": 4626,\n \"sgstTaxAmt\": 4626,\n \"igstTaxAmt\": 194395,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 203647,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2404230541619\",\n \"cgstTaxAmt\": 4626,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"21/04/2023\",\n \"ret_period\": \"032023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 4626,\n \"igstTaxAmt\": 194395,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 203647,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 145676,\n \"cgstTaxBal\": 10186,\n \"ref_no\": \"AB240423268369Y\",\n \"cgstTaxAmt\": 10186,\n \"tot_rng_bal\": 166048,\n \"tr_typ\": \"Cr\",\n \"dt\": \"19/05/2023\",\n \"ret_period\": \"042023\",\n \"sgstTaxBal\": 10186,\n \"sgstTaxAmt\": 10186,\n \"igstTaxAmt\": 145676,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 166048,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 38398,\n \"cgstTaxBal\": 10186,\n \"ref_no\": \"DI2405230279921\",\n \"cgstTaxAmt\": 0,\n \"tot_rng_bal\": 58770,\n \"tr_typ\": \"Dr\",\n \"dt\": \"19/05/2023\",\n \"ret_period\": \"042023\",\n \"sgstTaxBal\": 10186,\n \"sgstTaxAmt\": 0,\n \"igstTaxAmt\": 107278,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 107278,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 113486,\n \"cgstTaxBal\": 13975,\n \"ref_no\": \"AB240523404683E\",\n \"cgstTaxAmt\": 3789,\n \"tot_rng_bal\": 141436,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/06/2023\",\n \"ret_period\": \"052023\",\n \"sgstTaxBal\": 13975,\n \"sgstTaxAmt\": 3789,\n \"igstTaxAmt\": 75088,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 82666,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 74584,\n \"cgstTaxBal\": 13975,\n \"ref_no\": \"DI2406230318105\",\n \"cgstTaxAmt\": 0,\n \"tot_rng_bal\": 102534,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/06/2023\",\n \"ret_period\": \"052023\",\n \"sgstTaxBal\": 13975,\n \"sgstTaxAmt\": 0,\n \"igstTaxAmt\": 38902,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 38902,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 137008,\n \"cgstTaxBal\": 24587,\n \"ref_no\": \"AB240623763835V\",\n \"cgstTaxAmt\": 10612,\n \"tot_rng_bal\": 186182,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/07/2023\",\n \"ret_period\": \"062023\",\n \"sgstTaxBal\": 24587,\n \"sgstTaxAmt\": 10612,\n \"igstTaxAmt\": 62424,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 83648,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2407230436575\",\n \"cgstTaxAmt\": 24587,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/07/2023\",\n \"ret_period\": \"062023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 24587,\n \"igstTaxAmt\": 137008,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 186182,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 274929,\n \"cgstTaxBal\": 107060,\n \"ref_no\": \"AB240723332901D\",\n \"cgstTaxAmt\": 107060,\n \"tot_rng_bal\": 489049,\n \"tr_typ\": \"Cr\",\n \"dt\": \"19/08/2023\",\n \"ret_period\": \"072023\",\n \"sgstTaxBal\": 107060,\n \"sgstTaxAmt\": 107060,\n \"igstTaxAmt\": 274929,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 489049,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2408230327783\",\n \"cgstTaxAmt\": 107060,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"19/08/2023\",\n \"ret_period\": \"072023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 107060,\n \"igstTaxAmt\": 274929,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 489049,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 75109,\n \"cgstTaxBal\": 12160,\n \"ref_no\": \"AB240823420839X\",\n \"cgstTaxAmt\": 12160,\n \"tot_rng_bal\": 99429,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/09/2023\",\n \"ret_period\": \"082023\",\n \"sgstTaxBal\": 12160,\n \"sgstTaxAmt\": 12160,\n \"igstTaxAmt\": 75109,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 99429,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2409230367302\",\n \"cgstTaxAmt\": 12160,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/09/2023\",\n \"ret_period\": \"082023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 12160,\n \"igstTaxAmt\": 75109,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 99429,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 60039,\n \"cgstTaxBal\": 11574,\n \"ref_no\": \"AB2409239233157\",\n \"cgstTaxAmt\": 11574,\n \"tot_rng_bal\": 83187,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/10/2023\",\n \"ret_period\": \"092023\",\n \"sgstTaxBal\": 11574,\n \"sgstTaxAmt\": 11574,\n \"igstTaxAmt\": 60039,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 83187,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"ref_no\": \"DI2410230565591\",\n \"cgstTaxAmt\": 11574,\n \"tot_rng_bal\": 0,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/10/2023\",\n \"ret_period\": \"092023\",\n \"sgstTaxBal\": 0,\n \"sgstTaxAmt\": 11574,\n \"igstTaxAmt\": 60039,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 83187,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 107711,\n \"cgstTaxBal\": 3135,\n \"ref_no\": \"AB241023235025W\",\n \"cgstTaxAmt\": 3135,\n \"tot_rng_bal\": 113981,\n \"tr_typ\": \"Cr\",\n \"dt\": \"20/11/2023\",\n \"ret_period\": \"102023\",\n \"sgstTaxBal\": 3135,\n \"sgstTaxAmt\": 3135,\n \"igstTaxAmt\": 107711,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 113981,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 52921,\n \"cgstTaxBal\": 3135,\n \"ref_no\": \"DI2411230247247\",\n \"cgstTaxAmt\": 0,\n \"tot_rng_bal\": 59191,\n \"tr_typ\": \"Dr\",\n \"dt\": \"20/11/2023\",\n \"ret_period\": \"102023\",\n \"sgstTaxBal\": 3135,\n \"sgstTaxAmt\": 0,\n \"igstTaxAmt\": 54790,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 54790,\n \"desc\": \"Other than reverse charge\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 62100,\n \"cgstTaxBal\": 6161,\n \"ref_no\": \"AB241123065466C\",\n \"cgstTaxAmt\": 3026,\n \"tot_rng_bal\": 74422,\n \"tr_typ\": \"Cr\",\n \"dt\": \"18/12/2023\",\n \"ret_period\": \"112023\",\n \"sgstTaxBal\": 6161,\n \"sgstTaxAmt\": 3026,\n \"igstTaxAmt\": 9179,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 15231,\n \"desc\": \"ITC accrued through - Inputs\"\n },\n {\n \"cessTaxAmt\": 0,\n \"igstTaxBal\": 40376,\n \"cgstTaxBal\": 6161,\n \"ref_no\": \"DI2412230154798\",\n \"cgstTaxAmt\": 0,\n \"tot_rng_bal\": 52698,\n \"tr_typ\": \"Dr\",\n \"dt\": \"18/12/2023\",\n \"ret_period\": \"112023\",\n \"sgstTaxBal\": 6161,\n \"sgstTaxAmt\": 0,\n \"igstTaxAmt\": 21724,\n \"cessTaxBal\": 0,\n \"tot_tr_amt\": 21724,\n \"desc\": \"Other than reverse charge\"\n }\n ],\n \"op_bal\": {\n \"sgstTaxBal\": 0,\n \"igstTaxBal\": 0,\n \"cgstTaxBal\": 0,\n \"cessTaxBal\": 0,\n \"tot_rng_bal\": 0,\n \"desc\": \"Opening Balance\"\n }\n }\n },\n \"status_cd\": \"1\"\n },\n \"timestamp\": 1621509098740\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "f573fdc4-adca-4094-bc40-3b0d67209fb8"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "provCrdBalList": {
                                                            "type": "object",
                                                            "properties": {
                                                                "provCrdBal": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {}
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "itcLdgDtls": {
                                                            "type": "object",
                                                            "properties": {
                                                                "fr_dt": {
                                                                    "type": "string",
                                                                    "example": "01/01/2023"
                                                                },
                                                                "to_dt": {
                                                                    "type": "string",
                                                                    "example": "01/01/2024"
                                                                },
                                                                "cl_bal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "sgstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 6161,
                                                                            "default": 0
                                                                        },
                                                                        "igstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 40376,
                                                                            "default": 0
                                                                        },
                                                                        "cgstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 6161,
                                                                            "default": 0
                                                                        },
                                                                        "cessTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot_rng_bal": {
                                                                            "type": "integer",
                                                                            "example": 52698,
                                                                            "default": 0
                                                                        },
                                                                        "desc": {
                                                                            "type": "string",
                                                                            "example": "Closing Balance"
                                                                        }
                                                                    }
                                                                },
                                                                "gstin": {
                                                                    "type": "string",
                                                                    "example": "29AAACQ3770E000"
                                                                },
                                                                "tr": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "cessTaxAmt": {
                                                                                "type": "integer",
                                                                                "example": 0,
                                                                                "default": 0
                                                                            },
                                                                            "igstTaxBal": {
                                                                                "type": "integer",
                                                                                "example": 279760,
                                                                                "default": 0
                                                                            },
                                                                            "cgstTaxBal": {
                                                                                "type": "integer",
                                                                                "example": 21150,
                                                                                "default": 0
                                                                            },
                                                                            "ref_no": {
                                                                                "type": "string",
                                                                                "example": "AB241222611372T"
                                                                            },
                                                                            "cgstTaxAmt": {
                                                                                "type": "integer",
                                                                                "example": 21150,
                                                                                "default": 0
                                                                            },
                                                                            "tot_rng_bal": {
                                                                                "type": "integer",
                                                                                "example": 322060,
                                                                                "default": 0
                                                                            },
                                                                            "tr_typ": {
                                                                                "type": "string",
                                                                                "example": "Cr"
                                                                            },
                                                                            "dt": {
                                                                                "type": "string",
                                                                                "example": "19/01/2023"
                                                                            },
                                                                            "ret_period": {
                                                                                "type": "string",
                                                                                "example": "122022"
                                                                            },
                                                                            "sgstTaxBal": {
                                                                                "type": "integer",
                                                                                "example": 21150,
                                                                                "default": 0
                                                                            },
                                                                            "sgstTaxAmt": {
                                                                                "type": "integer",
                                                                                "example": 21150,
                                                                                "default": 0
                                                                            },
                                                                            "igstTaxAmt": {
                                                                                "type": "integer",
                                                                                "example": 279760,
                                                                                "default": 0
                                                                            },
                                                                            "cessTaxBal": {
                                                                                "type": "integer",
                                                                                "example": 0,
                                                                                "default": 0
                                                                            },
                                                                            "tot_tr_amt": {
                                                                                "type": "integer",
                                                                                "example": 322060,
                                                                                "default": 0
                                                                            },
                                                                            "desc": {
                                                                                "type": "string",
                                                                                "example": "ITC accrued through - Inputs"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "op_bal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "sgstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "igstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "cgstTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "cessTaxBal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot_rng_bal": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "desc": {
                                                                            "type": "string",
                                                                            "example": "Opening Balance"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "status_cd": {
                                                    "type": "string",
                                                    "example": "1"
                                                }
                                            }
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1621509098740,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/gst/compliance/tax-payer/ledgers/cash": {
            "get": {
                "summary": "Cash Ledger",
                "description": "",
                "operationId": "cash-ledger-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "Taxpayer access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From Date (DD/MM/YYYY)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "To Date (DD/MM/YYYY)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n \"transaction_id\": \"f573fdc4-adca-4094-bc40-3b0d67209fb8\",\n \"code\": 200,\n \"data\": {\n \"data\": {\n \"fr_dt\": \"01/04/2024\",\n \"to_dt\": \"11/04/2024\",\n \"cl_bal\": {\n \"igstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"sgstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"cessbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"tot_rng_bal\": 0,\n \"cgstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"desc\": \"Closing Balance\"\n },\n \"gstin\": \"24AAACQ3770E1ZP\",\n \"tr\": [],\n \"op_bal\": {\n \"igstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"sgstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"cessbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"tot_rng_bal\": 0,\n \"cgstbal\": {\n \"intr\": 0,\n \"oth\": 0,\n \"tx\": 0,\n \"fee\": 0,\n \"pen\": 0,\n \"tot\": 0\n },\n \"desc\": \"Opening Balance\"\n }\n },\n \"status_cd\": \"1\"\n },\n \"timestamp\": 1621509098740\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "f573fdc4-adca-4094-bc40-3b0d67209fb8"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "fr_dt": {
                                                            "type": "string",
                                                            "example": "01/04/2024"
                                                        },
                                                        "to_dt": {
                                                            "type": "string",
                                                            "example": "11/04/2024"
                                                        },
                                                        "cl_bal": {
                                                            "type": "object",
                                                            "properties": {
                                                                "igstbal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "sgstbal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "cessbal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "tot_rng_bal": {
                                                                    "type": "integer",
                                                                    "example": 0,
                                                                    "default": 0
                                                                },
                                                                "cgstbal": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "intr": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "oth": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tx": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "fee": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "pen": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "tot": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                },
                                                                "desc": {
                                                                    "type": "string",
                                                                    "example": "Closing Balance"
                                                                }
                                                            }
                                                        },
                                                        "gstin": {
                                                            "type": "string",
                                                            "example": "24AAACQ3770E1ZP"
                                                        },
                                                        "tr": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
[...]
