{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/kyc/digilocker/sessions/init": {
            "post": {
                "summary": "Initiate Session",
                "description": "The Initiate Session API returns a DigiLocker link that the user is redirected to, where they can provide consent for the requested documents.",
                "operationId": "digilocker-api-initiate-session",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types",
                                    "redirect_url"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "Request Entity",
                                        "default": "in.co.sandbox.kyc.digilocker.session.request"
                                    },
                                    "flow": {
                                        "type": "string",
                                        "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                                        "default": "signin",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "type": "array",
                                        "description": "Documents you need consent for. Possible values: aadhaar, pan, driving_license",
                                        "default": [
                                            "aadhaar"
                                        ],
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "redirect_url": {
                                        "type": "string",
                                        "description": "The URL to redirect the user post consent is received"
                                    },
                                    "consent_expiry": {
                                        "type": "integer",
                                        "description": "Consent expiry in epoch (10 digit), must be at least 1 hour later than the current time. Default is 1 hour from now.",
                                        "format": "int32"
                                    },
                                    "options": {
                                        "type": "object",
                                        "description": "Additonal options for customizing user experience",
                                        "properties": {
                                            "pinless": {
                                                "type": "boolean",
                                                "description": "Sign in flow only. Allow user to skip PIN and Login directly with OTP. Possible values: true, false"
                                            },
                                            "usernameless": {
                                                "type": "boolean",
                                                "description": "Sign up flow only. Allow user to skip username setup while DigiLocker sign up. Possible values: true, false"
                                            },
                                            "verified_mobile": {
                                                "type": "string",
                                                "description": "Sign up flow only. Allow user to skip mobile OTP verification during sign up if you have verified it already by passing it in the request."
                                            },
                                            "verification_method": {
                                                "type": "array",
                                                "description": "Sign up flow only. Allow user to verify using specific methods during sign up. Possible values: aadhaar, pan, driving_license, email, username, mobile, other",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.digilocker.session.request",
                                        "flow": "signin",
                                        "doc_types": [
                                            "pan",
                                            "aadhaar",
                                            "driving_license"
                                        ],
                                        "redirect_url": "https://developer.sandbox.co.in/"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Session initiated": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1751975600361,\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.digilocker.session.response\",\n        \"authorization_url\": \"https://digilocker.meripehchaan.gov.in/public/oauth2/1/authorize?response_type=code&client_id=IW55C7A3B0&state=e385432b-575c-4b6f-8928-79136dbc0d4f%7Cf1bd0342-cc1d-4051-8301-e8ee17e3a3c3%7Chttps%3A%2F%2Fdeveloper.sandbox.co.in%2F&code_verifier=ADlMHKsr~L8YIwLoIOGgwwRQoouE-m~Z9yu0KWstrsKrdAtUY2IkmOoDWZNn80_G&code_challenge=pnowXsaM5mBqNR3NfSfsaLBC2JYjoy2eRLOwKNVjFY8&code_challenge_method=S256&scope=files.issueddocs&redirect_uri=https%3A%2F%2Fdeveloper.sandbox.co.in%2F&pla=Y&dl_flow=signup&plsignup=Y&amr=driving_license%2Baadhaar%2Bpan%2Bemail%2Busername%2Bmobile%2Bother&verified_mobile=9004813042&req_doctype=PANCR%2CADHAR%2CDRVLC&consent_valid_till=1752061999\",\n        \"session_id\": \"f1bd0342-cc1d-4051-8301-e8ee17e3a3c3\"\n    },\n    \"transaction_id\": \"a11c4e00-fae1-4092-a55f-b4f0be92ffeb\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1751975600361,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "example": "in.co.sandbox.kyc.digilocker.session.response"
                                                },
                                                "authorization_url": {
                                                    "type": "string",
                                                    "example": "https://digilocker.meripehchaan.gov.in/public/oauth2/1/authorize?response_type=code&client_id=IW55C7A3B0&state=e385432b-575c-4b6f-8928-79136dbc0d4f%7Cf1bd0342-cc1d-4051-8301-e8ee17e3a3c3%7Chttps%3A%2F%2Fdeveloper.sandbox.co.in%2F&code_verifier=ADlMHKsr~L8YIwLoIOGgwwRQoouE-m~Z9yu0KWstrsKrdAtUY2IkmOoDWZNn80_G&code_challenge=pnowXsaM5mBqNR3NfSfsaLBC2JYjoy2eRLOwKNVjFY8&code_challenge_method=S256&scope=files.issueddocs&redirect_uri=https%3A%2F%2Fdeveloper.sandbox.co.in%2F&pla=Y&dl_flow=signup&plsignup=Y&amr=driving_license%2Baadhaar%2Bpan%2Bemail%2Busername%2Bmobile%2Bother&verified_mobile=9004813042&req_doctype=PANCR%2CADHAR%2CDRVLC&consent_valid_till=1752061999"
                                                },
                                                "session_id": {
                                                    "type": "string",
                                                    "example": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "a11c4e00-fae1-4092-a55f-b4f0be92ffeb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/kyc/digilocker/sessions/{session_id}/status": {
            "get": {
                "summary": "Session Status",
                "description": "Session Status API allows you to check the latest status of session and the list of consented documents if consent is received.",
                "operationId": "digilocker-api-session-status",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "description": "Session id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Session created": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1752580258171,\n    \"data\": {\n        \"id\": \"839fd8a0-d645-42e1-a904-bb43353b0139\",\n        \"created_at\": 1752579445983,\n        \"@entity\": \"in.co.sandbox.kyc.digilocker.session\",\n        \"status\": \"created\"\n    },\n    \"transaction_id\": \"800ff751-2191-4b7d-b20a-8301790a3e19\"\n}"
                                    },
                                    "Session succeeded": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1751975475945,\n    \"data\": {\n        \"id\": \"f1bd0342-cc1d-4051-8301-e8ee17e3a3c3\",\n        \"created_at\": 1751975341292,\n        \"updated_at\": 1751975465494,\n        \"@entity\": \"in.co.sandbox.kyc.digilocker.session\",\n        \"status\": \"succeeded\",\n        \"documents_consented\": [\n            \"aadhaar\",\n            \"pan\",\n            \"driving_license\"\n        ]\n    },\n    \"transaction_id\": \"6daaaf0c-21f6-4e32-93b5-19ec4415d7fa\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Session created",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1752580258171,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "839fd8a0-d645-42e1-a904-bb43353b0139"
                                                        },
                                                        "created_at": {
                                                            "type": "integer",
                                                            "example": 1752579445983,
                                                            "default": 0
                                                        },
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.digilocker.session"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "created"
                                                        }
                                                    }
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Session succeeded",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1751975475945,
                                                    "default": 0
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "example": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3"
                                                        },
                                                        "created_at": {
                                                            "type": "integer",
                                                            "example": 1751975341292,
                                                            "default": 0
                                                        },
                                                        "updated_at": {
                                                            "type": "integer",
                                                            "example": 1751975465494,
                                                            "default": 0
                                                        },
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.digilocker.session"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "succeeded"
                                                        },
                                                        "documents_consented": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "aadhaar"
                                                            }
                                                        }
                                                    }
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "6daaaf0c-21f6-4e32-93b5-19ec4415d7fa"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/kyc/digilocker/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Fetch Document",
                "description": "Pass the session id and the document type to fetch the document.",
                "operationId": "digilocker-api-fetch-document",
                "parameters": [
                    {
                        "name": "session_id",
                        "in": "path",
                        "description": "Session id",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "doc_type",
                        "in": "path",
                        "description": "Document you want to fetch",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "aadhaar",
                                "pan",
                                "driving_license"
                            ],
                            "default": "aadhaar"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Document fetched": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1751975529441,\n    \"data\": {\n        \"files\": [\n            {\n                \"@entity\": \"org.quicko.drive.file\",\n                \"url\": \"https://in-co-sandbox-kyc-digilocker-dev.s3.ap-south-1.amazonaws.com/non-persistent/e385432b-575c-4b6f-8928-79136dbc0d4f/4b4bf7aa-f4da-47a8-9b32-895edfc03630/in.gov.uidai-ADHAR-0d5fe4d692c73e23c59a694eaaabc75a.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAWLM5S7CBIHFPFKZB%2F20250708%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20250708T115214Z&X-Amz-Expires=3600&X-Amz-Signature=8cc4b0e8eb3794601c7fdb7e85f3a6bb3a8e1842403c8aeae5c05b7af03bdadb&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject\",\n                \"size\": 16598,\n                \"metadata\": {\n                    \"ContentType\": \"application/xml\",\n                    \"issuer_id\": \"in.gov.uidai\",\n                    \"issuer\": \"Unique Identification Authority of India (UIDAI)\",\n                    \"LastModified\": \"09/05/2025\",\n                    \"description\": \"Aadhaar Card\"\n                }\n            }\n        ]\n    },\n    \"transaction_id\": \"a4d43b74-0f9c-480c-9300-f011100b674b\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 200,
                                            "default": 0
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1751975529441,
                                            "default": 0
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "example": "org.quicko.drive.file"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "example": "https://in-co-sandbox-kyc-digilocker-dev.s3.ap-south-1.amazonaws.com/non-persistent/e385432b-575c-4b6f-8928-79136dbc0d4f/4b4bf7aa-f4da-47a8-9b32-895edfc03630/in.gov.uidai-ADHAR-0d5fe4d692c73e23c59a694eaaabc75a.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAWLM5S7CBIHFPFKZB%2F20250708%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20250708T115214Z&X-Amz-Expires=3600&X-Amz-Signature=8cc4b0e8eb3794601c7fdb7e85f3a6bb3a8e1842403c8aeae5c05b7af03bdadb&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject"
                                                            },
                                                            "size": {
                                                                "type": "integer",
                                                                "example": 16598,
                                                                "default": 0
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "ContentType": {
                                                                        "type": "string",
                                                                        "example": "application/xml"
                                                                    },
                                                                    "issuer_id": {
                                                                        "type": "string",
                                                                        "example": "in.gov.uidai"
                                                                    },
                                                                    "issuer": {
                                                                        "type": "string",
                                                                        "example": "Unique Identification Authority of India (UIDAI)"
                                                                    },
                                                                    "LastModified": {
                                                                        "type": "string",
                                                                        "example": "09/05/2025"
                                                                    },
                                                                    "description": {
                                                                        "type": "string",
                                                                        "example": "Aadhaar Card"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "a4d43b74-0f9c-480c-9300-f011100b674b"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    }
}