{
	"openapi": "3.0.0",
	"info": {
		"title": "analytics",
		"version": "1.0.0",
		"description": "**GST Analytics API** enables businesses to analyze and dive deep into the GST data including reconciliations of GSTR-2B with purchase ledgers, compliance checks of businesses, and more."
	},
	"servers": [
		{
			"url": "https://api.sandbox.co.in"
		},
		{
			"url": "https://test-api.sandbox.co.in"
		}
	],
	"paths": {
		"/gst/analytics/gstr-2a-reconciliation": {
			"post": {
				"summary": "Reconcile GSTR-2A Job",
				"tags": ["GSTR-2A Reconciliation"],
				"parameters": [
					{
						"name": "authorization",
						"in": "header",
						"required": true,
						"description": "JWT access token",
						"deprecated": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-key",
						"in": "header",
						"required": true,
						"description": "API key for identification",
						"deprecated": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-version",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200 Job Created",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": {
											"type": "integer"
										},
										"transaction_id": {
											"type": "string"
										},
										"data": {
											"type": "object",
											"properties": {
												"@entity": {
													"type": "string"
												},
												"job_id": {
													"type": "string"
												},
												"gstin": {
													"type": "string"
												},
												"year": {
													"type": "integer"
												},
												"month": {
													"type": "integer"
												},
												"filing_preference": {
													"type": "string"
												},
												"reconciliation_criteria": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"gstr_2a_url": {
													"type": "string",
													"format": "uri"
												},
												"purchase_ledger_url": {
													"type": "string",
													"format": "uri"
												},
												"created_at": {
													"type": "integer"
												}
											}
										},
										"timestamp": {
											"type": "integer"
										}
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"@entity": {
										"type": "string",
										"enum": ["in.co.sandbox.gst.analytics.gstr-2a_reconciliation.request"]
									},
									"gstin": {
										"type": "string",
										"pattern": "^([0-9]{2}[0-9A-Z]{13})$",
										"description": "GSTIN of the business"
									},
									"year": {
										"type": "integer"
									},
									"month": {
										"type": "integer"
									},
									"reconciliation_criteria": {
										"type": "string"
									}
								},
								"required": ["@entity", "gstin"]
							}
						}
					}
				}
			},
			"get": {
				"summary": "Reconcile GSTR-2A Job Status",
				"tags": ["GSTR-2A Reconciliation"],
				"parameters": [
					{
						"name": "job_id",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "authorization",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-key",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-version",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "200 Reconciliation Job Done",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/gst/analytics/gstr-2b-reconciliation": {
			"post": {
				"summary": "Reconcile GSTR-2B Job",
				"tags": ["GSTR-2B Reconciliation"],
				"parameters": [
					{
						"name": "authorization",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-key",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-version",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200 Job Created",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": {
											"type": "integer"
										},
										"transaction_id": {
											"type": "string"
										},
										"data": {
											"type": "object",
											"properties": {
												"@entity": {
													"type": "string"
												},
												"job_id": {
													"type": "string"
												},
												"gstin": {
													"type": "string"
												},
												"year": {
													"type": "integer"
												},
												"month": {
													"type": "integer"
												},
												"filing_preference": {
													"type": "string"
												},
												"reconciliation_criteria": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"gstr_2b_url": {
													"type": "string",
													"format": "uri"
												},
												"purchase_ledger_url": {
													"type": "string",
													"format": "uri"
												},
												"created_at": {
													"type": "string"
												}
											}
										},
										"timestamp": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"@entity": {
										"type": "string"
									},
									"gstin": {
										"type": "string"
									},
									"year": {
										"type": "string"
									},
									"month": {
										"type": "string"
									},
									"reconciliation_criteria": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"summary": "Reconcile GSTR-2B Job Status",
				"tags": ["GSTR-2B Reconciliation"],
				"parameters": [
					{
						"name": "job_id",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "authorization",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-key",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "x-api-version",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "200 Reconciliation Job Done",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		}
	}
}
