{
    "openapi": "3.1.0",
    "info": {
        "title": "EntityLocker SDK Open APIs",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/kyc/entitylocker-sdk/sessions/create": {
            "post": {
                "summary": "Create Session",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "timestamp": 1750331120324,
                                            "transaction_id": "5ccad959-0bf4-4472-a3dd-d57e2b61b5a9",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "id": "0454f149-26d0-41ef-9f14-c54f4b5f7b70",
                                                "status": "created",
                                                "created_at": 1750331120324
                                            },
                                            "code": 200
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.entitylocker.sdk.session.request"
                                    },
                                    "flow": {
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "company_master_details",
                                                "gstn_details",
                                                "udhyam_certificate"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/entitylocker-sdk/sessions/{session_id}/status": {
            "get": {
                "summary": "Session Status",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.entitylocker.sdk.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "initialized",
                                                        "authorized",
                                                        "succeeded",
                                                        "failed",
                                                        "expired"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "company_master_details",
                                                            "gstn_details",
                                                            "udhyam_certificate"
                                                        ]
                                                    }
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Session Created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "created"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "updated_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "expired"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1754991910851,
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "succeeded",
                                                "documents_consented": [
                                                    "company_master_details",
                                                    "udhyam_certificate"
                                                ],
                                                "id": "5ed01344-d9b2-4b44-b0c7-e2901c834999",
                                                "created_at": 1754990307997,
                                                "updated_at": 1754990726406
                                            },
                                            "transaction_id": "f29f1438-79e2-4090-854e-815d00620bd6"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "SDK Session that is created in the \"Create Session API\"",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/kyc/entitylocker-sdk/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Get Document",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "const": "org.quicko.drive.file"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "ContentType": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer": {
                                                                        "type": "string"
                                                                    },
                                                                    "LastModified": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1751975529441,
                                            "data": {
                                                "files": [
                                                    {
                                                        "@entity": "org.quicko.drive.file",
                                                        "url": "https://in-co-sandbox-kyc-digilocker-dev.s3.ap-south-1.amazonaws.com/non-persistent/e385432b-575c-4b6f-8928-79136dbc0d4f/4b4bf7aa-f4da-47a8-9b32-895edfc03630/in.gov.uidai-ADHAR-0d5fe4d692c73e23c59a694eaaabc75a.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Date=20250708T115214Z&X-Amz-Expires=3600&X-Amz-Signature=8cc4b0e8eb3794601c7fdb7e85f3a6bb3a8e1842403c8aeae5c05b7af03bdadb&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject",
                                                        "size": 16598,
                                                        "metadata": {
                                                            "ContentType": "application/xml",
                                                            "issuer_id": "in.gov.mca",
                                                            "issuer": "Ministry of Corporate Affairs (MCA), Govt. of India",
                                                            "LastModified": "09/05/2025",
                                                            "description": "Company Master Details"
                                                        }
                                                    }
                                                ]
                                            },
                                            "transaction_id": "a4d43b74-0f9c-480c-9300-f011100b674b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400 - Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "400 - Consent not provided": {
                                        "value": {
                                            "code": 400,
                                            "timestamp": 1760432035872,
                                            "message": "Consent for gstn_details not provided",
                                            "transaction_id": "3d1d2d37-3179-4a3c-8397-2287084d1de1"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": "style"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "521 - Data Not Found": {
                                        "value": {
                                            "code": 521,
                                            "timestamp": 1760428752393,
                                            "message": "Data not found for: 839fd8a0-d645-42e1-a904-bb43353b0139",
                                            "transaction_id": "8be099b1-8d19-457e-b907-5b825740d9cc"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "523": {
                        "description": "523 - Invalid Session Lifecycle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "523 - Invalid Session Lifecycle": {
                                        "value": {
                                            "code": 523,
                                            "timestamp": 1760431743347,
                                            "message": "Cannot get document due to invalid session lifecycle",
                                            "transaction_id": "031c9d24-99c4-49cb-b4ba-11e8c3630f9f"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "SDK Session that is created in the \"Create Session API\"",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "doc_type",
                    "in": "path",
                    "required": true,
                    "description": "Document type of the document that is being fetched",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "company_master_details",
                            "gstn_details",
                            "udhyam_certificate"
                        ]
                    }
                }
            ]
        }
    }
}