{
  "openapi": "3.1.0",
  "info": {
    "title": "Sandbox API [Prod]",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.co.in"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/calculators/income-tax/advance-tax/new": {
      "post": {
        "summary": "Calculate Advance Tax - New Regime",
        "description": "API to calculate Advance Tax installment as per New Regime.",
        "operationId": "calculate-advance-tax-as-per-new-regime-api",
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public key required to authorize the API access",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 200,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"data\": {\n        \"advance_tax_installments\": [\n            [\n                218400,\n                15,\n                32760,\n                35000,\n                0,\n                3,\n                0\n            ],\n            [\n                218400,\n                45,\n                98280,\n                35000,\n                63280,\n                3,\n                1898\n            ],\n            [\n                218400,\n                75,\n                163800,\n                35000,\n                128800,\n                3,\n                3864\n            ],\n            [\n                218400,\n                100,\n                218400,\n                35000,\n                183400,\n                1,\n                1834\n            ]\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200,
                      "default": 0
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1620724192345,
                      "default": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "advance_tax_installments": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 218400,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 500,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"message\": \"Failed to calculate Advance Tax\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 500,
                      "default": 0
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1620724192345,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to calculate Advance Tax"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/it/calculator/tax-pnl/securities/foreign": {
      "post": {
        "summary": "Submit Tax P&L Job",
        "tags": [
          "tax-pnl",
          "securities",
          "foreign"
        ],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Type of input file. Allowed values: tradewise_settlement or tradebook.",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "tradewise_settlement",
              "enum": [
                "tradewise_settlement",
                "tradebook"
              ]
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": true,
            "description": "Output format to generate. Allowed values: tradewise_tax_pnl or scripwise_tax_pnl.",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "tradewise_tax_pnl",
              "enum": [
                "tradewise_tax_pnl",
                "scripwise_tax_pnl"
              ]
            }
          },
          {
            "name": "financial_year",
            "in": "query",
            "required": true,
            "description": "Financial year for which the report is generated. Use format FY 20XX-XX (e.g., FY 2024-25).",
            "deprecated": false,
            "schema": {
              "type": "string",
              "pattern": "^FY\\s20\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": false,
            "description": "application/json or application/xlsx",
            "deprecated": false,
            "schema": {}
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {}
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {}
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Params",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-ErrorType": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "section": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "scheme": {
                          "type": "string"
                        },
                        "assessee": {
                          "type": "string"
                        },
                        "allowable": {
                          "type": "string"
                        },
                        "allowable_percentage": {
                          "type": "string",
                          "format": "color"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Job Status",
        "tags": [
          "tax-pnl",
          "securities",
          "foreign"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
            "deprecated": false,
            "schema": {}
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Param",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-ErrorType": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/it/calculator/crypto/tax-pnl": {
      "post": {
        "summary": "Submit Tax P&L Job",
        "tags": [
          "tax-pnl",
          "crypto",
          "tax-pnl"
        ],
        "parameters": [
          {
            "name": "report",
            "in": "query",
            "required": true,
            "description": "Specifies the report type to fetch",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "tradewise"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the date range filter in Unix Epoch timestamp (milliseconds). Settlements from this timestamp onward will be included",
            "deprecated": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the date range filter in Unix Epoch timestamp (milliseconds). Settlements up to this timestamp will be included.",
            "deprecated": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": true,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json",
                "application/xlsx"
              ]
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "1.0.0"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "string"
                        },
                        "report": {
                          "type": "string"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "tradebook_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Poll Tax P&L Job",
        "tags": [
          "tax-pnl",
          "crypto",
          "tax-pnl"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the job whose processing status you want to fetch. Returned in the response when a tax P&L job is created.",
            "deprecated": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-accept-type",
            "in": "header",
            "required": true,
            "description": "Specifies the response format expected from the API. Use application/json for JSON responses or application/xlsx for Excel file downloads.application/xlsx",
            "deprecated": false,
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/xlsx",
                "application/json"
              ]
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key used to authenticate and authorize the request.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "description": "Indicates the version of the API you want to use. Ensures backward-compatible behavior.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for user-level authorization. Typically passed as Bearer {{access_token}}.",
            "deprecated": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "string"
                        },
                        "report": {
                          "type": "string"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "tax_pnl_workbook_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "521": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string",
                      "format": "style"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },  
    "/form-26as/pdf": {
      "post": {
        "summary": "Read Form 26AS Document",
        "description": "",
        "operationId": "read-form-26as-document-api",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "email id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "Password of encrypted Form 26AS",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public key required to authorize API access.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"Part VI\": [],\n    \"financial_year\": \"2022-23\",\n    \"assessment_year\": \"2023-24\",\n    \"name\": \"TONY STARK\",\n    \"Part II\": [\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"22-Jul-2022\",\n                    \"30-Oct-2022\",\n                    \"-\",\n                    \"11582.50\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ],\n            \"total_amount_paid_credited\": \"11582.50\",\n            \"name_of_deductor\": \"UBA Ltd.\",\n            \"total_tax_deducted\": \"0.00\",\n            \"sr_no\": \"1\",\n            \"total_tds_deposited\": \"0.00\",\n            \"tan_of_deductor\": \"HRAB00275C\"\n        },\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"193\",\n                    \"30-Jun-2022\",\n                    \"02-Aug-2022\",\n                    \"-\",\n                    \"413.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"2\",\n                    \"194\",\n                    \"30-Jun-2022\",\n                    \"02-Aug-2022\",\n                    \"-\",\n                    \"413.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"3\",\n                    \"193\",\n                    \"30-Jun-2022\",\n                    \"02-Aug-2022\",\n                    \"B\",\n                    \"-413.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ],\n            \"total_amount_paid_credited\": \"413.00\",\n            \"name_of_deductor\": \"Jio Finance Ltd.\",\n            \"total_tax_deducted\": \"0.00\",\n            \"sr_no\": \"2\",\n            \"total_tds_deposited\": \"0.00\",\n            \"tan_of_deductor\": \"ANDC03708F\"\n        }\n    ],\n    \"Part III\": [],\n    \"Part V\": [],\n    \"pan\": \"ACPPA2608F\",\n    \"Part I\": [\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"status_of_booking\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"09-Nov-2022\",\n                    \"F\",\n                    \"08-Feb-2023\",\n                    \"-\",\n                    \"6912.00\",\n                    \"691.00\",\n                    \"691.00\"\n                ],\n                [\n                    \"2\",\n                    \"194\",\n                    \"25-Jul-2022\",\n                    \"F\",\n                    \"31-Oct-2022\",\n                    \"-\",\n                    \"5031.00\",\n                    \"504.00\",\n                    \"504.00\"\n                ]\n            ],\n            \"total_amount_paid_credited\": \"11943.00\",\n            \"name_of_deductor\": \"STARK INDUSTRIES\",\n            \"total_tax_deducted\": \"1195.00\",\n            \"sr_no\": \"1\",\n            \"total_tds_deposited\": \"1195.00\",\n            \"tan_of_deductor\": \"AHMS41521B\"\n        },\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"status_of_booking\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"02-Dec-2022\",\n                    \"F\",\n                    \"29-Jan-2023\",\n                    \"-\",\n                    \"516.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ],\n            \"total_amount_paid_credited\": \"\",\n            \"name_of_deductor\": \"PEARSON SPECTER LITT\",\n            \"total_tax_deducted\": \"\",\n            \"sr_no\": \"\",\n            \"total_tds_deposited\": \"\",\n            \"tan_of_deductor\": \"CMBF04227G\"\n        },\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"status_of_booking\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"23-Nov-2022\",\n                    \"F\",\n                    \"07-Feb-2023\",\n                    \"-\",\n                    \"1692.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ],\n            \"total_amount_paid_credited\": \"1692.00\",\n            \"name_of_deductor\": \"PEARSON HARDMAN\",\n            \"total_tax_deducted\": \"0.00\",\n            \"sr_no\": \"3\",\n            \"total_tds_deposited\": \"0.00\",\n            \"tan_of_deductor\": \"CMBF04227K\"\n        },\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"status_of_booking\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"10-Nov-2022\",\n                    \"F\",\n                    \"31-Jan-2023\",\n                    \"-\",\n                    \"450.00\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ]\n        },\n        {\n            \"deduction_wise\": [\n                [\n                    \"sr_no\",\n                    \"section\",\n                    \"transaction_date\",\n                    \"status_of_booking\",\n                    \"date_of_booking\",\n                    \"remarks\",\n                    \"amount_paid_credited\",\n                    \"tax_deducted\",\n                    \"tds_deposited\"\n                ],\n                [\n                    \"1\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"-\",\n                    \"1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"2\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"-\",\n                    \"1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"3\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"B\",\n                    \"-1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"4\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"-\",\n                    \"1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"5\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"B\",\n                    \"-1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"6\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"-\",\n                    \"1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ],\n                [\n                    \"7\",\n                    \"194\",\n                    \"20-Jul-2022\",\n                    \"F\",\n                    \"03-Nov-2022\",\n                    \"B\",\n                    \"-1332.87\",\n                    \"0.00\",\n                    \"0.00\"\n                ]\n            ]\n        }\n    ],\n    \"Part IV\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "Part VI": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {

                        }
                      }
                    },
                    "financial_year": {
                      "type": "string",
                      "example": "2022-23"
                    },
                    "assessment_year": {
                      "type": "string",
                      "example": "2023-24"
                    },
                    "name": {
                      "type": "string",
                      "example": "TONY STARK"
                    },
                    "Part II": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deduction_wise": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "sr_no"
                              }
                            }
                          },
                          "total_amount_paid_credited": {
                            "type": "string",
                            "example": "11582.50"
                          },
                          "name_of_deductor": {
                            "type": "string",
                            "example": "UBA Ltd."
                          },
                          "total_tax_deducted": {
                            "type": "string",
                            "example": "0.00"
                          },
                          "sr_no": {
                            "type": "string",
                            "example": "1"
                          },
                          "total_tds_deposited": {
                            "type": "string",
                            "example": "0.00"
                          },
                          "tan_of_deductor": {
                            "type": "string",
                            "example": "HRAB00275C"
                          }
                        }
                      }
                    },
                    "Part III": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {

                        }
                      }
                    },
                    "Part V": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {

                        }
                      }
                    },
                    "pan": {
                      "type": "string",
                      "example": "ACPPA2608F"
                    },
                    "Part I": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deduction_wise": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "sr_no"
                              }
                            }
                          },
                          "total_amount_paid_credited": {
                            "type": "string",
                            "example": "11943.00"
                          },
                          "name_of_deductor": {
                            "type": "string",
                            "example": "STARK INDUSTRIES"
                          },
                          "total_tax_deducted": {
                            "type": "string",
                            "example": "1195.00"
                          },
                          "sr_no": {
                            "type": "string",
                            "example": "1"
                          },
                          "total_tds_deposited": {
                            "type": "string",
                            "example": "1195.00"
                          },
                          "tan_of_deductor": {
                            "type": "string",
                            "example": "AHMS41521B"
                          }
                        }
                      }
                    },
                    "Part IV": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {

                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Incorrect Password": {
                    "value": "{\n  \"status\": 500,\n  \"message\": \"Invalid password\"\n}"
                  },
                  "Password Protected": {
                    "value": "{\n  \"status\": 500,\n  \"message\": \"Form 26AS is password protected\"\n}"
                  },
                  "Failure": {
                    "value": "{\n  \"status\": 500,\n  \"message\": \"Unable to read Form 26AS\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Incorrect Password",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 500,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid password"
                        }
                      }
                    },
                    {
                      "title": "Password Protected",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 500,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Form 26AS is password protected"
                        }
                      }
                    },
                    {
                      "title": "Failure",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 500,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to read Form 26AS"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
        "/it/ocr/form-26as/pdf": {
      "post": {
        "summary": "Form26AS Read",
        "tags": [
          "form26AS"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "x-amzn-Remapped-Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-max-age": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "Part VI": {
                          "type": "array",
                          "items": {}
                        },
                        "financial_year": {
                          "type": "string"
                        },
                        "assessment_year": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "Part II": {
                          "type": "array",
                          "items": {}
                        },
                        "Part III": {
                          "type": "array",
                          "items": {}
                        },
                        "Part V": {
                          "type": "array",
                          "items": {}
                        },
                        "pan": {
                          "type": "string"
                        },
                        "Part I": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "deduction_wise": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "total_amount_paid_credited": {
                                "type": "string",
                                "format": "utc-millisec"
                              },
                              "name_of_deductor": {
                                "type": "string"
                              },
                              "total_tax_deducted": {
                                "type": "string",
                                "format": "utc-millisec"
                              },
                              "sr_no": {
                                "type": "string",
                                "format": "utc-millisec"
                              },
                              "total_tds_deposited": {
                                "type": "string",
                                "format": "utc-millisec"
                              },
                              "tan_of_deductor": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "Part IV": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/it/ocr/form-16/pdf/classify": {
      "post": {
        "summary": "Form16 Classify",
        "tags": [
          "form16"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-transaction-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-request-time",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK (Part A)",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "x-amzn-Remapped-Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-max-age": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string",
                          "format": "utc-millisec"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500 (Password Protected)",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-x-amzn-RequestId": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-headers": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "x-amzn-Remapped-Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amz-apigw-id": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-allow-methods": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Amzn-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "x-amzn-Remapped-Date": {
                "schema": {
                  "type": "string"
                }
              },
              "access-control-max-age": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calculators/income-tax/advance-tax/old": {
      "post": {
        "summary": "Calculate Advance Tax - Old Regime",
        "description": "API to calculate Advance Tax installment with deductions as per Old Regime.",
        "operationId": "calculate-advance-tax-as-per-old-regime-api",
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public key required to authorize the API access",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 200,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"data\": {\n        \"advance_tax_installments\": [\n            [\n                254280,\n                15,\n                38142,\n                35000,\n                3142,\n                3,\n                0\n            ],\n            [\n                254280,\n                45,\n                114426,\n                35000,\n                79426,\n                3,\n                2382\n            ],\n            [\n                254280,\n                75,\n                190710,\n                35000,\n                155710,\n                3,\n                4671\n            ],\n            [\n                254280,\n                100,\n                254280,\n                35000,\n                219280,\n                1,\n                2192\n            ]\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200,
                      "default": 0
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1620724192345,
                      "default": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "advance_tax_installments": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 254280,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 500,\n    \"transaction_id\": \"8225c376-58b2-49e4-a079-c521b97d8864\",\n    \"timestamp\": 1620724192345,\n    \"message\": \"Failed to calculate Advance Tax\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 500,
                      "default": 0
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "8225c376-58b2-49e4-a079-c521b97d8864"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1620724192345,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to calculate Advance Tax"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/itd/eri/tax-payer/authorize": {
      "post": {
        "summary": "Generate OTP",
        "description": "",
        "operationId": "post-otp-request",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API Version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tax_payer_id",
                  "dob"
                ],
                "properties": {
                  "tax_payer_id": {
                    "type": "string",
                    "description": "10-character alpha-numeric taxpayer identifier e.g. PAN, TAN"
                  },
                  "dob": {
                    "type": "string",
                    "description": "Date of Birth of a Taxpayer, Format: DD/MM/YYYY"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1616657388923,\n    \"transaction_id\": \"206bafdf-af4c-44d3-a591-35d32b2454cf\",\n    \"data\": {\n        \"message\": \"OTP has been sent successfully\",\n        \"transaction_id\": \"206bafdf-af4c-44d3-a591-35d32b2454cf\"\n    }\n}"
                  },
                  "Your PAN and Aadhaar is not linked": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1633602894840,\n    \"transaction_id\": \"37a23e0c-1a6f-4870-ba01-6d5dd134a60e\",\n    \"data\": {\n        \"error_code\": \"EF00099\",\n        \"message\": \"Your PAN and Aadhaar is not linked.\"\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1616657388923,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "206bafdf-af4c-44d3-a591-35d32b2454cf"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "OTP has been sent successfully"
                            },
                            "transaction_id": {
                              "type": "string",
                              "example": "206bafdf-af4c-44d3-a591-35d32b2454cf"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Your PAN and Aadhaar is not linked",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1633602894840,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "37a23e0c-1a6f-4870-ba01-6d5dd134a60e"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "error_code": {
                              "type": "string",
                              "example": "EF00099"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your PAN and Aadhaar is not linked."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid request body": {
                    "value": "{\n    \"code\": 400,\n    \"timestamp\": 1616657356446,\n    \"transaction_id\": \"68fe2c10-fe73-4675-aef3-56643c6767fe\",\n    \"message\": \"Invalid request body\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 400,
                      "default": 0
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1616657356446,
                      "default": 0
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "68fe2c10-fe73-4675-aef3-56643c6767fe"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request body"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/itd/eri/tax-payer/authorize/otp": {
      "post": {
        "summary": "Verify OTP",
        "description": "",
        "operationId": "otp-validation",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "query",
            "description": "Transaction ID of Get OTP",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otp",
            "in": "query",
            "description": "OTP sent to taxpayer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API Version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1633604745881,\n    \"transaction_id\": \"1b5e9edd-91a6-463e-b0e1-07fc0a8bc269\",\n    \"data\": {\n        \"access_token\": \"eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5Ijoia2V5X2xpdmVfQXpzTmNldlZGa1lFTEc2Q2U3cUtUQmpmMlo5TEQ4RVIiLCJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJpYXQiOjE2MzM2MDQ3NjIsImV4cCI6MTYzMzY5MTE2MiwiYXVkIjoiQVBJIiwiaXNzIjoiZXJpLnNhbmRib3guY28uaW4iLCJzdWIiOiJBRlFQRzAwMjFBIn0.7BXTDVEwUWS6PsPqMcrUNE40qhWo4pc3IYVGlSLj6SioR7QlEGIefq46qMQW1cfb-6A7hHMNB0VV80cZvzvepQ\"\n    }\n}"
                  },
                  "Incorrect OTP": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1633603469399,\n    \"transaction_id\": \"e0a20f44-759f-41a9-b37e-7299fd964f10\",\n    \"data\": {\n        \"error_code\": \"EF00096\",\n        \"message\": \"The Mobile and Email OTP you have entered is incorrect. Please retry\"\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1633604745881,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "1b5e9edd-91a6-463e-b0e1-07fc0a8bc269"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "access_token": {
                              "type": "string",
                              "example": "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5Ijoia2V5X2xpdmVfQXpzTmNldlZGa1lFTEc2Q2U3cUtUQmpmMlo5TEQ4RVIiLCJpbnRlbnQiOiJBQ0NFU1NfVE9LRU4iLCJpYXQiOjE2MzM2MDQ3NjIsImV4cCI6MTYzMzY5MTE2MiwiYXVkIjoiQVBJIiwiaXNzIjoiZXJpLnNhbmRib3guY28uaW4iLCJzdWIiOiJBRlFQRzAwMjFBIn0.7BXTDVEwUWS6PsPqMcrUNE40qhWo4pc3IYVGlSLj6SioR7QlEGIefq46qMQW1cfb-6A7hHMNB0VV80cZvzvepQ"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Incorrect OTP",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1633603469399,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "e0a20f44-759f-41a9-b37e-7299fd964f10"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "error_code": {
                              "type": "string",
                              "example": "EF00096"
                            },
                            "message": {
                              "type": "string",
                              "example": "The Mobile and Email OTP you have entered is incorrect. Please retry"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/itd/eri/tax-payer/prefilled-json/otp": {
      "post": {
        "summary": "Get Prefill JSON",
        "description": "",
        "operationId": "get-prefill-json",
        "parameters": [
          {
            "name": "tax_payer_id",
            "in": "path",
            "description": "10-character alpha-numeric taxpayer identifier e.g. PAN",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_id",
            "in": "query",
            "description": "Transaction ID obtained from Request Prefilled JSON",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otp",
            "in": "query",
            "description": "OTP sent to Taxpayer Mobile and Email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Public API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API Version",
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1633610314367,\n    \"transaction_id\": \"db574543-13ad-4bab-ac10-7229df313794\",\n    \"data\": {\n        \"personalInfo\": {\n            \"orgFirmInfo\": {\n                \"AssesseeName\": {\n                    \"SurNameOrOrgName\": \"Doe\"\n                },\n                \"DateOFFormOrIncorp\": \"1979-07-31\",\n                \"StatusOrCompanyType\": \"IND\"\n            },\n            \"address\": {\n                \"zipCode\": \"\",\n                \"localityOrArea\": \"Sohna Road\",\n                \"countryCodeMobileNoSec\": 65,\n                \"residenceNo\": \"Doe Ltd\",\n                \"cityOrTownOrDistrict\": \"Gurgaon\",\n                \"mobileNo\": 9999999999,\n                \"emailAddress\": \"john@doe.com\",\n                \"countryCodeMobile\": 65,\n                \"phone\": {},\n                \"countryCode\": \"65\",\n                \"roadOrStreet\": \"Sohna Road\",\n                \"pinCode\": 122018,\n                \"stateCode\": \"12\",\n                \"residenceName\": \"Lakeview\"\n            },\n            \"assesseeName\": {\n                \"firstName\": \"John\",\n                \"surNameOrOrgName\": \"Doe\"\n            },\n            \"assesseeVerName\": \"John Doe\",\n            \"capacity\": \"Self\",\n            \"filingStatus\": {\n                \"residentialStatus\": \"RES\"\n            },\n            \"assesseVerPan\": \"AFQPG0021A\",\n            \"dob\": \"1979-07-31\",\n            \"aadhaarCardNo\": \"MTIzNDEyMzQxMjM0\",\n            \"pan\": \"AFQPG0021A\",\n            \"status\": \"IND\"\n        },\n        \"verification\": {\n            \"declaration\": {\n                \"assesseeVerPAN\": \"AFQPG0021A\",\n                \"assesseeVerName\": \"John Doe\"\n            },\n            \"capacity\": \"Self\"\n        },\n        \"bankAccountDtls\": [\n            {\n                \"addtnlBankDetails\": [\n                    {\n                        \"useForRefund\": \"false\",\n                        \"bankAccountNo\": \"1234567890\",\n                        \"bankName\": \"HDFC\",\n                        \"ifsccode\": \"HDFC0001391\"\n                    },\n                    {\n                        \"useForRefund\": \"true\",\n                        \"bankAccountNo\": \"1234567890\",\n                        \"bankName\": \"HDFC BANK LTD\",\n                        \"ifsccode\": \"HDFC0000001\"\n                    }\n                ]\n            }\n        ],\n        \"filingStatus\": {\n            \"receiptNo\": \"100373810270921\",\n            \"returnFileSec\": 17,\n            \"origRetFiledDate\": \"2021-09-27\"\n        },\n        \"lastFiledITR\": {\n            \"foreignBankDetails\": [],\n            \"usrDeductUndChapVIAType\": {\n                \"section80DDB\": 0,\n                \"section80DD\": 0,\n                \"section80U\": 0\n            },\n            \"schedule80D\": {\n                \"Sec80DSelfFamSrCtznHealth\": {\n                    \"SeniorCitizenFlag\": \"S\",\n                    \"ParentSeniorCitizenFlag\": \"P\"\n                }\n            },\n            \"employerCategory\": \"NA\",\n            \"scheduleAMTC\": {},\n            \"totalNumOfMonths\": 0,\n            \"bankAccountDtls\": [\n                {\n                    \"addtnlBankDetails\": [\n                        {\n                            \"useForRefund\": \"true\",\n                            \"bankAccountNo\": \"1234567890\",\n                            \"bankName\": \"HDFC\",\n                            \"ifsccode\": \"HDFC0001391\"\n                        }\n                    ]\n                }\n            ]\n        }\n    }\n}"
                  },
                  "Incorrect OTP": {
                    "value": "{\n    \"code\": 200,\n    \"timestamp\": 1633610762878,\n    \"transaction_id\": \"a035f2ed-66b5-44a0-ba19-b19d67141682\",\n    \"data\": {\n        \"error_code\": \"EF00096\",\n        \"message\": \"The Mobile and Email OTP you have entered is incorrect. Please retry\"\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1633610314367,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "db574543-13ad-4bab-ac10-7229df313794"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "personalInfo": {
                              "type": "object",
                              "properties": {
                                "orgFirmInfo": {
                                  "type": "object",
                                  "properties": {
                                    "AssesseeName": {
                                      "type": "object",
                                      "properties": {
                                        "SurNameOrOrgName": {
                                          "type": "string",
                                          "example": "Doe"
                                        }
                                      }
                                    },
                                    "DateOFFormOrIncorp": {
                                      "type": "string",
                                      "example": "1979-07-31"
                                    },
                                    "StatusOrCompanyType": {
                                      "type": "string",
                                      "example": "IND"
                                    }
                                  }
                                },
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "zipCode": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "localityOrArea": {
                                      "type": "string",
                                      "example": "Sohna Road"
                                    },
                                    "countryCodeMobileNoSec": {
                                      "type": "integer",
                                      "example": 65,
                                      "default": 0
                                    },
                                    "residenceNo": {
                                      "type": "string",
                                      "example": "Doe Ltd"
                                    },
                                    "cityOrTownOrDistrict": {
                                      "type": "string",
                                      "example": "Gurgaon"
                                    },
                                    "mobileNo": {
                                      "type": "integer",
                                      "example": 9999999999,
                                      "default": 0
                                    },
                                    "emailAddress": {
                                      "type": "string",
                                      "example": "john@doe.com"
                                    },
                                    "countryCodeMobile": {
                                      "type": "integer",
                                      "example": 65,
                                      "default": 0
                                    },
                                    "phone": {
                                      "type": "object",
                                      "properties": {}
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "example": "65"
                                    },
                                    "roadOrStreet": {
                                      "type": "string",
                                      "example": "Sohna Road"
                                    },
                                    "pinCode": {
                                      "type": "integer",
                                      "example": 122018,
                                      "default": 0
                                    },
                                    "stateCode": {
                                      "type": "string",
                                      "example": "12"
                                    },
                                    "residenceName": {
                                      "type": "string",
                                      "example": "Lakeview"
                                    }
                                  }
                                },
                                "assesseeName": {
                                  "type": "object",
                                  "properties": {
                                    "firstName": {
                                      "type": "string",
                                      "example": "John"
                                    },
                                    "surNameOrOrgName": {
                                      "type": "string",
                                      "example": "Doe"
                                    }
                                  }
                                },
                                "assesseeVerName": {
                                  "type": "string",
                                  "example": "John Doe"
                                },
                                "capacity": {
                                  "type": "string",
                                  "example": "Self"
                                },
                                "filingStatus": {
                                  "type": "object",
                                  "properties": {
                                    "residentialStatus": {
                                      "type": "string",
                                      "example": "RES"
                                    }
                                  }
                                },
                                "assesseVerPan": {
                                  "type": "string",
                                  "example": "AFQPG0021A"
                                },
                                "dob": {
                                  "type": "string",
                                  "example": "1979-07-31"
                                },
                                "aadhaarCardNo": {
                                  "type": "string",
                                  "example": "MTIzNDEyMzQxMjM0"
                                },
                                "pan": {
                                  "type": "string",
                                  "example": "AFQPG0021A"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "IND"
                                }
                              }
                            },
                            "verification": {
                              "type": "object",
                              "properties": {
                                "declaration": {
                                  "type": "object",
                                  "properties": {
                                    "assesseeVerPAN": {
                                      "type": "string",
                                      "example": "AFQPG0021A"
                                    },
                                    "assesseeVerName": {
                                      "type": "string",
                                      "example": "John Doe"
                                    }
                                  }
                                },
                                "capacity": {
                                  "type": "string",
                                  "example": "Self"
                                }
                              }
                            },
                            "bankAccountDtls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "addtnlBankDetails": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "useForRefund": {
                                          "type": "string",
                                          "example": "false"
                                        },
                                        "bankAccountNo": {
                                          "type": "string",
                                          "example": "1234567890"
                                        },
                                        "bankName": {
                                          "type": "string",
                                          "example": "HDFC"
                                        },
                                        "ifsccode": {
                                          "type": "string",
                                          "example": "HDFC0001391"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "filingStatus": {
                              "type": "object",
                              "properties": {
                                "receiptNo": {
                                  "type": "string",
                                  "example": "100373810270921"
                                },
                                "returnFileSec": {
                                  "type": "integer",
                                  "example": 17,
                                  "default": 0
                                },
                                "origRetFiledDate": {
                                  "type": "string",
                                  "example": "2021-09-27"
                                }
                              }
                            },
                            "lastFiledITR": {
                              "type": "object",
                              "properties": {
                                "foreignBankDetails": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {}
                                  }
                                },
                                "usrDeductUndChapVIAType": {
                                  "type": "object",
                                  "properties": {
                                    "section80DDB": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "section80DD": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "section80U": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    }
                                  }
                                },
                                "schedule80D": {
                                  "type": "object",
                                  "properties": {
                                    "Sec80DSelfFamSrCtznHealth": {
                                      "type": "object",
                                      "properties": {
                                        "SeniorCitizenFlag": {
                                          "type": "string",
                                          "example": "S"
                                        },
                                        "ParentSeniorCitizenFlag": {
                                          "type": "string",
                                          "example": "P"
                                        }
                                      }
                                    }
                                  }
                                },
                                "employerCategory": {
                                  "type": "string",
                                  "example": "NA"
                                },
                                "scheduleAMTC": {
                                  "type": "object",
                                  "properties": {}
                                },
                                "totalNumOfMonths": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "bankAccountDtls": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "addtnlBankDetails": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "useForRefund": {
                                              "type": "string",
                                              "example": "true"
                                            },
                                            "bankAccountNo": {
                                              "type": "string",
                                              "example": "1234567890"
                                            },
                                            "bankName": {
                                              "type": "string",
                                              "example": "HDFC"
                                            },
                                            "ifsccode": {
                                              "type": "string",
                                              "example": "HDFC0001391"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Incorrect OTP",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1633610762878,
                          "default": 0
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "a035f2ed-66b5-44a0-ba19-b19d67141682"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "error_code": {
                              "type": "string",
                              "example": "EF00096"
                            },
                            "message": {
                              "type": "string",
                              "example": "The Mobile and Email OTP you have entered is incorrect. Please retry"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "get": {
        "summary": "Request Prefill JSON",
        "description": "",
        "operationId": "request-prefill-json",
        "parameters": [
          {
            "name": "assessment_year",
            "in": "query",
            "description": "Assessment year",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2021"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Authorization Token",
            "required": true,
            "schema": {
[...]
