{
    "openapi": "3.1.0",
    "info": {
        "title": "KYC",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/bank/{ifsc}": {
            "get": {
                "summary": "IFSC Verification",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "MICR": {
                                            "type": "string"
                                        },
                                        "BRANCH": {
                                            "type": "string"
                                        },
                                        "ADDRESS": {
                                            "type": "string"
                                        },
                                        "STATE": {
                                            "type": "string"
                                        },
                                        "CONTACT": {
                                            "type": "string"
                                        },
                                        "UPI": {
                                            "type": "boolean"
                                        },
                                        "RTGS": {
                                            "type": "boolean"
                                        },
                                        "CITY": {
                                            "type": "string"
                                        },
                                        "CENTRE": {
                                            "type": "string"
                                        },
                                        "DISTRICT": {
                                            "type": "string"
                                        },
                                        "NEFT": {
                                            "type": "boolean"
                                        },
                                        "IMPS": {
                                            "type": "boolean"
                                        },
                                        "SWIFT": {
                                            "type": "string"
                                        },
                                        "ISO3166": {
                                            "type": "string"
                                        },
                                        "BANK": {
                                            "type": "string"
                                        },
                                        "BANKCODE": {
                                            "type": "string"
                                        },
                                        "IFSC": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404- Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "description": "You can identify a bank branch details from given IFSC code"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Drop]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                },
                                                "utr": {
                                                    "type": "string"
                                                },
                                                "amount_deposited": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500 - Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Bank account verification or penny drop check as is commonly referred to is a way to verify the authenticity of a customer's bank account. This operation can be used to verify a bank account and ifsc code combination. The operation will return a success response (billable) in two cases:\n\n1. The bank account or ifsc code or both are invalid\n2. The bank account and ifsc combination are verified"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/penniless-verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Less]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/kyc/aadhaar/okyc/otp": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Generate OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "OTP Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.response"
                                                        },
                                                        "reference_id": {
                                                            "type": "integer"
                                                        },
                                                        "message": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "OTP Already Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.request"
                                    },
                                    "aadhaar_number": {
                                        "description": "12-digit number issued by the UIDAI",
                                        "type": "string",
                                        "minLength": 12,
                                        "maxLength": 12
                                    },
                                    "consent": {
                                        "description": "Consent of the end-user to get their information for verification purposes.",
                                        "type": "string",
                                        "enum": [
                                            "Y",
                                            "y"
                                        ]
                                    },
                                    "reason": {
                                        "description": "Indicate the purpose for verification.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "aadhaar_number",
                                    "consent",
                                    "reason"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/aadhaar/okyc/otp/verify": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Verify OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.aadhaar.okyc"
                                                },
                                                "reference_id": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "care_of": {
                                                    "type": "string"
                                                },
                                                "full_address": {
                                                    "type": "string"
                                                },
                                                "date_of_birth": {
                                                    "type": "string"
                                                },
                                                "email_hash": {
                                                    "type": "string"
                                                },
                                                "gender": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.address"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "district": {
                                                            "type": "string"
                                                        },
                                                        "house": {
                                                            "type": "string"
                                                        },
                                                        "landmark": {
                                                            "type": "string"
                                                        },
                                                        "pincode": {
                                                            "type": "string"
                                                        },
                                                        "post_office": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "street": {
                                                            "type": "string"
                                                        },
                                                        "subdistrict": {
                                                            "type": "string"
                                                        },
                                                        "vtc": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "year_of_birth": {
                                                    "type": "string"
                                                },
                                                "mobile_hash": {
                                                    "type": "string"
                                                },
                                                "photo": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "share_code": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.request"
                                    },
                                    "reference_id": {
                                        "description": "Reference ID received in the Generate OTP response",
                                        "type": "string"
                                    },
                                    "otp": {
                                        "description": "OTP generated to mobile number associated with Aadhaar",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "reference_id",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/init": {
            "post": {
                "summary": "Initiate session",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session.response"
                                                },
                                                "authorization_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "session_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.digilocker.session.request"
                                    },
                                    "flow": {
                                        "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "description": "Documents you need consent for.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "aadhaar",
                                                "pan",
                                                "driving_license"
                                            ]
                                        }
                                    },
                                    "redirect_url": {
                                        "description": "The URL to redirect the user post consent is received",
                                        "type": "string",
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types",
                                    "redirect_url"
                                ]
                            },
                            "examples": {
                                "200 Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.digilocker.session.request",
                                        "flow": "signin",
                                        "doc_types": [
                                            "aadhaar",
                                            "pan"
                                        ],
                                        "redirect_url": "https://sandbox.co.in"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/{session_id}/status": {
            "get": {
                "summary": "Get session status",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Session Status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                },
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "succeeded",
                                                        "expired",
                                                        "failed"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "aadhaar",
                                                            "pan",
                                                            "driving_license"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "Session id",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ]
        },
        "/kyc/digilocker/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Fetch document",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Encoding": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "const": "org.quicko.drive.file"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "format": "uri"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "ContentType": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer": {
                                                                        "type": "string"
                                                                    },
                                                                    "LastModified": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "Session id",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "doc_type",
                    "in": "path",
                    "required": true,
                    "description": "Document you want to fetch",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "enum": [
                            "aadhaar",
                            "pan",
                            "driving_license"
                        ]
                    }
                }
            ]
        },
        "/kyc/digilocker-sdk/sessions/create": {
            "post": {
                "summary": "Create Session",
                "tags": [
                    "DigiLocker",
                    "DigiLocker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.sdk.session"
                                                },
                                                "id": {
                                                    "description": "Session ID",
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "status": {
                                                    "description": "Status of the Session",
                                                    "type": "string",
                                                    "enum": [
                                                        "created"
                                                    ]
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400 - Invalid request body",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Invalid request body"
                                            ]
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.digilocker.sdk.session.request"
                                    },
                                    "flow": {
                                        "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "description": "Documents you need consent for.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "aadhaar",
                                                "driving_license",
                                                "pan"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker-sdk/sessions/{session_id}/status": {
            "get": {
                "summary": "Session Status",
                "tags": [
                    "DigiLocker",
                    "DigiLocker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string",
                            "deprecated": false
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "type": "string",
                            "deprecated": false
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Session Status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.sdk.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "initialized",
                                                        "authorized",
                                                        "succeeded",
                                                        "failed",
                                                        "expired"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "aadhaar",
                                                            "pan",
                                                            "driving_license"
                                                        ]
                                                    }
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "SDK session created in Create Session API",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ]
        },
        "/kyc/digilocker-sdk/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Get Document",
                "tags": [
                    "DigiLocker",
                    "DigiLocker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "const": "org.quicko.drive.file"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "format": "uri"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "ContentType": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer": {
                                                                        "type": "string"
                                                                    },
                                                                    "LastModified": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400 - Consent not provided",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "521": {
                        "description": "521 - Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "523": {
                        "description": "523 - Invalid Session Lifecycle",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "SDK session created in Create Session API",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "doc_type",
                    "in": "path",
                    "required": true,
                    "description": "Document you want to fetch",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "enum": [
                            "aadhaar",
                            "driving_license",
                            "pan"
                        ]
                    }
                }
            ]
        },
        "/kyc/entitylocker-sdk/sessions/create": {
            "post": {
                "summary": "Create Session",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "code": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "timestamp": 1750331120324,
                                            "transaction_id": "5ccad959-0bf4-4472-a3dd-d57e2b61b5a9",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "id": "0454f149-26d0-41ef-9f14-c54f4b5f7b70",
                                                "status": "created",
                                                "created_at": 1750331120324
                                            },
                                            "code": 200
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.entitylocker.sdk.session.request"
                                    },
                                    "flow": {
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "company_master_details",
                                                "gstn_details",
                                                "udhyam_certificate"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/entitylocker-sdk/sessions/{session_id}/status": {
            "get": {
                "summary": "Session Status",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.entitylocker.sdk.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "initialized",
                                                        "authorized",
                                                        "succeeded",
                                                        "failed",
                                                        "expired"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "company_master_details",
                                                            "gstn_details",
                                                            "udhyam_certificate"
                                                        ]
                                                    }
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Session Created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "created"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "updated_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "expired"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1754991910851,
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.entitylocker.sdk.session",
                                                "status": "succeeded",
                                                "documents_consented": [
                                                    "company_master_details",
                                                    "udhyam_certificate"
                                                ],
                                                "id": "5ed01344-d9b2-4b44-b0c7-e2901c834999",
                                                "created_at": 1754990307997,
                                                "updated_at": 1754990726406
                                            },
                                            "transaction_id": "f29f1438-79e2-4090-854e-815d00620bd6"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "SDK Session that is created in the \"Create Session API\"",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/kyc/entitylocker-sdk/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Get Document",
                "tags": [
                    "Entity Locker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API Key for identification",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
[...]
