{
    "openapi": "3.1.0",
    "info": {
        "title": "KYC",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/bank/{ifsc}": {
            "get": {
                "summary": "IFSC Verification",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "MICR": {
                                            "type": "string"
                                        },
                                        "BRANCH": {
                                            "type": "string"
                                        },
                                        "ADDRESS": {
                                            "type": "string"
                                        },
                                        "STATE": {
                                            "type": "string"
                                        },
                                        "CONTACT": {
                                            "type": "string"
                                        },
                                        "UPI": {
                                            "type": "boolean"
                                        },
                                        "RTGS": {
                                            "type": "boolean"
                                        },
                                        "CITY": {
                                            "type": "string"
                                        },
                                        "CENTRE": {
                                            "type": "string"
                                        },
                                        "DISTRICT": {
                                            "type": "string"
                                        },
                                        "NEFT": {
                                            "type": "boolean"
                                        },
                                        "IMPS": {
                                            "type": "boolean"
                                        },
                                        "SWIFT": {
                                            "type": "string"
                                        },
                                        "ISO3166": {
                                            "type": "string"
                                        },
                                        "BANK": {
                                            "type": "string"
                                        },
                                        "BANKCODE": {
                                            "type": "string"
                                        },
                                        "IFSC": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "MICR": "302240007",
                                            "BRANCH": "PARK STREET",
                                            "ADDRESS": "3 PARK STREET M I ROAD M I ROAD",
                                            "STATE": "RAJASTHAN",
                                            "CONTACT": "+919875003333",
                                            "UPI": true,
                                            "RTGS": true,
                                            "CITY": "JAIPUR",
                                            "CENTRE": "JAIPUR",
                                            "DISTRICT": "JAIPUR",
                                            "NEFT": true,
                                            "IMPS": true,
                                            "SWIFT": "HDFCINBB",
                                            "ISO3166": "IN-RJ",
                                            "BANK": "HDFC Bank",
                                            "BANKCODE": "HDFC",
                                            "IFSC": "HDFC0001234"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404- Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "404 - Not Found": {
                                        "value": {
                                            "message": "Not Found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "You can identify a bank branch details from given IFSC code"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Drop]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                },
                                                "utr": {
                                                    "type": "string"
                                                },
                                                "amount_deposited": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Bank Account details verified successfully.",
                                                "account_exists": true,
                                                "name_at_bank": "John Doe",
                                                "utr": "329613870973",
                                                "amount_deposited": "1"
                                            }
                                        }
                                    },
                                    "200 - Invalid account number or ifsc provided": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Invalid account number or ifsc provided",
                                                "account_exists": false
                                            }
                                        }
                                    },
                                    "200 - Given account is an NRE account": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1698047469406,
                                            "transaction_id": "33f8ce3e-ca54-4364-ae85-2f54bae21610",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Given account is an NRE account",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - Account is blocked": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Account is blocked",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - IFSC is invalid": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "IFSC is invalid"
                                            }
                                        }
                                    },
                                    "200 - Source bank declined": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Source bank declined"
                                            }
                                        }
                                    },
                                    "200 - Beneficiary bank offline": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Beneficiary bank offline"
                                            }
                                        }
                                    },
                                    "200 - NPCI Unavailable": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "NPCI Unavailable"
                                            }
                                        }
                                    },
                                    "200 - IMPS Mode fail": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "IMPS Mode fail"
                                            }
                                        }
                                    },
                                    "200 - Failed at beneficiary bank": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "b1c59449-5627-4f5a-9036-309f06d14c57",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Failed at beneficiary bank"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid IFSC pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "3004036f-c3ba-458a-80d4-3cfc08a4ec91",
                                            "message": "Invalid IFSC pattern"
                                        }
                                    },
                                    "422 - Please provide a valid bank account": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "3004036f-c3ba-458a-80d4-3cfc08a4ec91",
                                            "message": "Please provide a valid bank account"
                                        }
                                    },
                                    "422 - Invalid IFSC provided": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "3004036f-c3ba-458a-80d4-3cfc08a4ec91",
                                            "message": "Invalid IFSC provided"
                                        }
                                    },
                                    "422 - Invalid bank account number or ifsc provided": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "3004036f-c3ba-458a-80d4-3cfc08a4ec91",
                                            "message": "Invalid bank account number or ifsc provided"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500 - Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "500 - Failed at bank": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "9e64515a-9d67-46f6-80c4-2947da30dcb1",
                                            "message": "Failed at bank"
                                        }
                                    },
                                    "500 - Transaction failed": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "9e64515a-9d67-46f6-80c4-2947da30dcb1",
                                            "message": "Transaction failed"
                                        }
                                    },
                                    "500 - IMPS not supported on Beneficiary account": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "9e64515a-9d67-46f6-80c4-2947da30dcb1",
                                            "message": "IMPS not supported on Beneficiary account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1762335242000,
                                            "transaction_id": "9e64515a-9d67-46f6-80c4-2947da30dcb1",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Bank account verification or penny drop check as is commonly referred to is a way to verify the authenticity of a customer's bank account. This operation can be used to verify a bank account and ifsc code combination. The operation will return a success response (billable) in two cases:\n\n1. The bank account or ifsc code or both are invalid\n2. The bank account and ifsc combination are verified"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/penniless-verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Less]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JOHN DOE"
                                            }
                                        }
                                    },
                                    "200 - Success Business": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JOHN DOE PVT LTD"
                                            }
                                        }
                                    },
                                    "200 - Invalid Account or IFSC": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Invalid account number or ifsc provided",
                                                "account_exists": false
                                            }
                                        }
                                    },
                                    "200 - Beneficiary Bank Offline": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Beneficiary bank offline"
                                            }
                                        }
                                    },
                                    "200 - Account Blocked": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Account is blocked",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - NRE Account": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "b2238b0b-b7d9-4525-becc-30893a01370b",
                                            "data": {
                                                "message": "Given account is an NRE account",
                                                "account_exist": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid IFSC pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "3004036f-c3ba-458a-80d4-3cfc08a4ec91",
                                            "message": "Invalid IFSC pattern"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1762336462000,
                                            "transaction_id": "9e64515a-9d67-46f6-80c4-2947da30dcb1",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/kyc/aadhaar/okyc/otp": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Generate OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "OTP Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.response"
                                                        },
                                                        "reference_id": {
                                                            "type": "integer"
                                                        },
                                                        "message": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "OTP Already Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "200 - OTP Generated": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234567,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - Invalid Aadhaar Card": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 78829,
                                                "message": "Invalid Aadhaar Card"
                                            }
                                        }
                                    },
                                    "200 - OTP Already Generated": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "OTP generated for this aadhaar, please try after 45 sec"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid Aadhaar number pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "Invalid Aadhaar number pattern"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.request"
                                    },
                                    "aadhaar_number": {
                                        "description": "12-digit number issued by the UIDAI",
                                        "type": "string",
                                        "minLength": 12,
                                        "maxLength": 12
                                    },
                                    "consent": {
                                        "description": "Consent of the end-user to get their information for verification purposes.",
                                        "type": "string",
                                        "enum": [
                                            "Y",
                                            "y"
                                        ]
                                    },
                                    "reason": {
                                        "description": "Indicate the purpose for verification.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "aadhaar_number",
                                    "consent",
                                    "reason"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/aadhaar/okyc/otp/verify": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Verify OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.aadhaar.okyc"
                                                },
                                                "reference_id": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "care_of": {
                                                    "type": "string"
                                                },
                                                "full_address": {
                                                    "type": "string"
                                                },
                                                "date_of_birth": {
                                                    "type": "string"
                                                },
                                                "email_hash": {
                                                    "type": "string"
                                                },
                                                "gender": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.address"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "district": {
                                                            "type": "string"
                                                        },
                                                        "house": {
                                                            "type": "string"
                                                        },
                                                        "landmark": {
                                                            "type": "string"
                                                        },
                                                        "pincode": {
                                                            "type": "string"
                                                        },
                                                        "post_office": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "street": {
                                                            "type": "string"
                                                        },
                                                        "subdistrict": {
                                                            "type": "string"
                                                        },
                                                        "vtc": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "year_of_birth": {
                                                    "type": "string"
                                                },
                                                "mobile_hash": {
                                                    "type": "string"
                                                },
                                                "photo": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "share_code": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "reference_id": 1234567,
                                                "status": "VALID",
                                                "message": "Aadhaar Card Exists",
                                                "care_of": "S/O: Johnny Doe",
                                                "full_address": "Mangal Kanaka Niwas, Main Cross 3rd, Bengaluru, Bengaluru-Karnataka, India ",
                                                "date_of_birth": "21-04-1985",
                                                "email_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                                                "gender": "M",
                                                "name": "John Doe",
                                                "address": {
                                                    "@entity": "in.co.sandbox.kyc.aadhaar.okyc.address",
                                                    "country": "India",
                                                    "district": "Bengaluru",
                                                    "house": "Mangal Kanaka Niwas",
                                                    "landmark": "",
                                                    "pincode": "581615",
                                                    "post_office": "Bengaluru",
                                                    "state": "Karnataka",
                                                    "street": "Main Cross 3rd",
                                                    "subdistrict": "",
                                                    "vtc": "Bengaluru"
                                                },
                                                "year_of_birth": "1985",
                                                "mobile_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                                                "photo": "data:image/jpeg;base64,/9j/4AAQSk.......mj/2Q==",
                                                "share_code": "1234"
                                            }
                                        }
                                    },
                                    "200 - Invalid OTP": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Invalid OTP"
                                            }
                                        }
                                    },
                                    "200 - OTP Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "OTP Expired"
                                            }
                                        }
                                    },
                                    "200 - Request under process": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Request under process, please try after 30 seconds"
                                            }
                                        }
                                    },
                                    "200 - Invalid Reference ID": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Invalid Reference Id"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - OTP missing in request": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "OTP missing in request"
                                        }
                                    },
                                    "422 - Invalid Reference ID": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "Invalid Reference Id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1750331120324,
                                            "transaction_id": "1b81baa5-2780-4b64-8bb8-37f3c915e9ae",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.request"
                                    },
                                    "reference_id": {
                                        "description": "Reference ID received in the Generate OTP response",
                                        "type": "string"
                                    },
                                    "otp": {
                                        "description": "OTP generated to mobile number associated with Aadhaar",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "reference_id",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/init": {
            "post": {
                "summary": "Initiate session",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session.response"
                                                },
                                                "authorization_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "session_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - OK": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1751975600361,
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.digilocker.session.response",
                                                "authorization_url": "https://digilocker.meripehchaan.gov.in/public/oauth2/1/authorize?response_type=code&client_id=IW55C7A3B0&state=e385432b-575c-4b6f-8928-79136dbc0d4f%7Cf1bd0342-cc1d-4051-8301-e8ee17e3a3c3%7Chttps%3A%2F%2Fdeveloper.sandbox.co.in%2F&code_verifier=ADlMHKsr~L8YIwLoIOGgwwRQoouE-m~Z9yu0KWstrsKrdAtUY2IkmOoDWZNn80_G&code_challenge=pnowXsaM5mBqNR3NfSfsaLBC2JYjoy2eRLOwKNVjFY8&code_challenge_method=S256&scope=files.issueddocs&redirect_uri=https%3A%2F%2Fdeveloper.sandbox.co.in%2F&pla=Y&dl_flow=signup&plsignup=Y&amr=driving_license%2Baadhaar%2Bpan%2Bemail%2Busername%2Bmobile%2Bother&verified_mobile=9004813042&req_doctype=PANCR%2CADHAR%2CDRVLC&consent_valid_till=1752061999",
                                                "session_id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3"
                                            },
                                            "transaction_id": "a11c4e00-fae1-4092-a55f-b4f0be92ffeb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.digilocker.session.request"
                                    },
                                    "flow": {
                                        "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "description": "Documents you need consent for.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "aadhaar",
                                                "pan",
                                                "driving_license"
                                            ]
                                        }
                                    },
                                    "redirect_url": {
                                        "description": "The URL to redirect the user post consent is received",
                                        "type": "string",
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types",
                                    "redirect_url"
                                ]
                            },
                            "examples": {
                                "200 Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.digilocker.session.request",
                                        "flow": "signin",
                                        "doc_types": [
                                            "aadhaar",
                                            "pan"
                                        ],
                                        "redirect_url": "https://sandbox.co.in"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/{session_id}/status": {
            "get": {
                "summary": "Get session status",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - Session Status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                },
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "succeeded",
                                                        "expired",
                                                        "failed"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "aadhaar",
                                                            "pan",
                                                            "driving_license"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Session Created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.digilocker.session",
                                                "status": "created"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1751975475945,
                                            "data": {
                                                "id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3",
                                                "created_at": 1751975341292,
                                                "updated_at": 1751975465494,
                                                "@entity": "in.co.sandbox.kyc.digilocker.session",
                                                "status": "succeeded",
                                                "documents_consented": [
                                                    "aadhaar",
                                                    "pan",
                                                    "driving_license"
                                                ]
                                            },
                                            "transaction_id": "6daaaf0c-21f6-4e32-93b5-19ec4415d7fa"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "Session id",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ]
        },
        "/kyc/digilocker/sessions/{session_id}/documents/{doc_type}": {
            "get": {
                "summary": "Fetch document",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amzn-RequestId": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "Content-Encoding": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "x-amz-apigw-id": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "X-Amzn-Trace-Id": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "files": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@entity": {
                                                                "type": "string",
                                                                "const": "org.quicko.drive.file"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "format": "uri"
                                                            },
                                                            "size": {
                                                                "type": "integer"
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "ContentType": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "issuer": {
                                                                        "type": "string"
                                                                    },
                                                                    "LastModified": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "session_id",
                    "in": "path",
                    "required": true,
                    "description": "Session id",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "doc_type",
                    "in": "path",
                    "required": true,
                    "description": "Document you want to fetch",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "enum": [
                            "aadhaar",
                            "pan",
                            "driving_license"
                        ]
                    }
                }
            ]
        },
        "/kyc/digilocker-sdk/sessions/create": {
            "post": {
                "summary": "Create Session",
                "tags": [
                    "DigiLocker",
                    "DigiLocker SDK"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.sdk.session"
                                                },
                                                "id": {
                                                    "description": "Session ID",
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "status": {
                                                    "description": "Status of the Session",
                                                    "type": "string",
                                                    "enum": [
[...]
