{
    "openapi": "3.1.0",
    "info": {
        "title": "KYC",
        "version": "1.0.0",
        "description": ""
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "paths": {
        "/bank/{ifsc}": {
            "get": {
                "summary": "IFSC Verification",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "deprecated": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "MICR": {
                                            "type": "string"
                                        },
                                        "BRANCH": {
                                            "type": "string"
                                        },
                                        "ADDRESS": {
                                            "type": "string"
                                        },
                                        "STATE": {
                                            "type": "string"
                                        },
                                        "CONTACT": {
                                            "type": "string"
                                        },
                                        "UPI": {
                                            "type": "boolean"
                                        },
                                        "RTGS": {
                                            "type": "boolean"
                                        },
                                        "CITY": {
                                            "type": "string"
                                        },
                                        "CENTRE": {
                                            "type": "string"
                                        },
                                        "DISTRICT": {
                                            "type": "string"
                                        },
                                        "NEFT": {
                                            "type": "boolean"
                                        },
                                        "IMPS": {
                                            "type": "boolean"
                                        },
                                        "SWIFT": {
                                            "type": "string"
                                        },
                                        "ISO3166": {
                                            "type": "string"
                                        },
                                        "BANK": {
                                            "type": "string"
                                        },
                                        "BANKCODE": {
                                            "type": "string"
                                        },
                                        "IFSC": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "MICR": "302240007",
                                            "BRANCH": "PARK STREET",
                                            "ADDRESS": "3 PARK STREET M I ROAD M I ROAD",
                                            "STATE": "RAJASTHAN",
                                            "CONTACT": "+919875003333",
                                            "UPI": true,
                                            "RTGS": true,
                                            "CITY": "JAIPUR",
                                            "CENTRE": "JAIPUR",
                                            "DISTRICT": "JAIPUR",
                                            "NEFT": true,
                                            "IMPS": true,
                                            "SWIFT": "HDFCINBB",
                                            "ISO3166": "IN-RJ",
                                            "BANK": "HDFC Bank",
                                            "BANKCODE": "HDFC",
                                            "IFSC": "HDFC0001234"
                                        }
                                    },
                                    "success": {
                                        "value": {
                                            "CENTRE": "GHAZIABAD",
                                            "UPI": true,
                                            "RTGS": true,
                                            "NEFT": true,
                                            "IMPS": true,
                                            "ADDRESS": "H NO 534 SBH ABOOPUR BR DRAMBEDKAR BASTI ABOOPUR TEHSIL MODINAGAR GHAZIABAD",
                                            "CITY": "GHAZIABAD",
                                            "CONTACT": "+911232225145",
                                            "STATE": "UTTAR PRADESH",
                                            "SWIFT": null,
                                            "MICR": "110002688",
                                            "BRANCH": "ABOOPUR",
                                            "ISO3166": "IN-UP",
                                            "DISTRICT": "GHAZIABAD",
                                            "BANK": "State Bank of India",
                                            "BANKCODE": "SBIN",
                                            "IFSC": "SBIN0021744"
                                        }
                                    },
                                    "success (1)": {
                                        "value": {
                                            "MICR": "560002356",
                                            "BRANCH": "BOMMASANDRA",
                                            "ADDRESS": "3NACADEKSSIDCINDLAEAIISTAGEJIGANILINKDBOMMASANDAINDSBANGALOE",
                                            "STATE": "KARNATAKA",
                                            "CONTACT": "+918027839267",
                                            "UPI": true,
                                            "RTGS": true,
                                            "CITY": "BANGALORE URBAN",
                                            "CENTRE": "BANGALORE URBAN",
                                            "DISTRICT": "BANGALORE URBAN",
                                            "NEFT": true,
                                            "IMPS": true,
                                            "SWIFT": null,
                                            "ISO3166": "IN-KA",
                                            "BANK": "State Bank of India",
                                            "BANKCODE": "SBIN",
                                            "IFSC": "SBIN0021745"
                                        }
                                    },
                                    "success (2)": {
                                        "value": {
                                            "MICR": "560002355",
                                            "BRANCH": "YELAHANKA",
                                            "ADDRESS": "CRC SQUARE NO 684 3RD A CROSS A SECTORYELAHANKA NEW TOWN",
                                            "STATE": "KARNATAKA",
                                            "CONTACT": "",
                                            "UPI": true,
                                            "RTGS": true,
                                            "CITY": "BANGALORE",
                                            "CENTRE": "BANGALORE",
                                            "DISTRICT": "BANGALORE",
                                            "NEFT": true,
                                            "IMPS": true,
                                            "SWIFT": null,
                                            "ISO3166": "IN-KA",
                                            "BANK": "State Bank of India",
                                            "BANKCODE": "SBIN",
                                            "IFSC": "SBIN0021746"
                                        }
                                    },
                                    "success (3)": {
                                        "value": {
                                            "DISTRICT": "GREATER BOMBAY",
                                            "CONTACT": "+912261606161",
                                            "ADDRESS": "GROUND FLOOR UNIT NO G6 THE CAPITAL G BLOCK BKC BANDRA EAST MUMBAI MAHARASHTRA 400051",
                                            "NEFT": true,
                                            "SWIFT": "HDFCINBB",
                                            "MICR": "400240218",
                                            "CENTRE": "GREATER BOMBAY",
                                            "CITY": "MUMBAI",
                                            "ISO3166": "IN-MH",
                                            "STATE": "MAHARASHTRA",
                                            "BRANCH": "BANDRA KURLA COMPLEX",
                                            "UPI": true,
                                            "RTGS": true,
                                            "IMPS": true,
                                            "BANK": "HDFC Bank",
                                            "BANKCODE": "HDFC",
                                            "IFSC": "HDFC0009595"
                                        }
                                    },
                                    "success (4)": {
                                        "value": {
                                            "MICR": "799002002",
                                            "BRANCH": "AGARTALA",
                                            "ADDRESS": "H.G.BASAK RD., AGARTALA, TRIPURA-779001",
                                            "STATE": "TRIPURA",
                                            "CONTACT": "",
                                            "UPI": true,
                                            "RTGS": true,
                                            "CITY": "AGARTALA",
                                            "CENTRE": "WEST TRIPURA",
                                            "DISTRICT": "WEST TRIPURA",
                                            "NEFT": true,
                                            "IMPS": true,
                                            "SWIFT": "SBININBB476",
                                            "ISO3166": "IN-TR",
                                            "BANK": "State Bank of India",
                                            "BANKCODE": "SBIN",
                                            "IFSC": "SBIN0000002"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404 - Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "examples": {
                                    "404- Not Found": {
                                        "value": "Not Found"
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "You can identify a bank branch details from given IFSC code"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Drop]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                },
                                                "utr": {
                                                    "type": "string"
                                                },
                                                "amount_deposited": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "ef38000f-e732-41ab-8a97-804e0265c4de",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Bank Account details verified successfully.",
                                                "account_exists": true,
                                                "name_at_bank": "John Doe",
                                                "utr": "329613870973",
                                                "amount_deposited": "1"
                                            }
                                        }
                                    },
                                    "200 - Invalid account number or ifsc provided": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "817f1b87-02cd-4e9f-b5be-d2fd53b86e31",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Invalid account number or ifsc provided",
                                                "account_exists": false
                                            }
                                        }
                                    },
                                    "200 - Given account is an NRE account": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1698047469406,
                                            "transaction_id": "33f8ce3e-ca54-4364-ae85-2f54bae21610",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Given account is an NRE account",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - Account is blocked": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "af71c93f-e5d4-4572-9232-47fa44f64009",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Account is blocked",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - IFSC is invalid": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "29a0d534-4425-41c9-bca9-56e1bf5c4c3b",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "IFSC is invalid"
                                            }
                                        }
                                    },
                                    "200 - Source bank declined": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "ffcaa19e-db3b-4884-9ff3-29d5df3b0498",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Source bank declined"
                                            }
                                        }
                                    },
                                    "200 - Beneficiary bank offline": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "6d00b4ad-bba1-419e-92cf-df835ca05183",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Beneficiary bank offline"
                                            }
                                        }
                                    },
                                    "200 - NPCI Unavailable": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "502469ca-de0f-4358-bddf-88f3e8848a8c",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "NPCI Unavailable"
                                            }
                                        }
                                    },
                                    "200 - IMPS Mode fail": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "48b74679-08bc-47d0-bb5a-7410eccc32bd",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "IMPS Mode fail"
                                            }
                                        }
                                    },
                                    "200 - Failed at beneficiary bank": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "5a39a574-2b01-4133-92df-6ddff37557f4",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                                                "message": "Failed at beneficiary bank"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid IFSC pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "f461b973-fe6d-47ed-b68a-02ebd018bb85",
                                            "message": "Invalid IFSC pattern"
                                        }
                                    },
                                    "422 - Please provide a valid bank account": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "d7b2918c-3184-4a90-82ed-941a6706f296",
                                            "message": "Please provide a valid bank account"
                                        }
                                    },
                                    "422 - Invalid IFSC provided": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "6fbee304-2fb7-416f-9fe9-022b11414b44",
                                            "message": "Invalid IFSC provided"
                                        }
                                    },
                                    "422 - Invalid bank account number or ifsc provided": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "ad065901-b05d-4559-bb3c-5f7acab77195",
                                            "message": "Invalid bank account number or ifsc provided"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500 - Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "500 - Failed at bank": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "f4927f48-1a65-490d-8ce1-ba1fb2d011a7",
                                            "message": "Failed at bank"
                                        }
                                    },
                                    "500 - Transaction failed": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "6fde0317-1165-4a7d-bc5d-1e7bd1fa9085",
                                            "message": "Transaction failed"
                                        }
                                    },
                                    "500 - IMPS not supported on Beneficiary account": {
                                        "value": {
                                            "code": 500,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "b7610cd4-27fe-4cc7-a8af-680423942563",
                                            "message": "IMPS not supported on Beneficiary account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "9347e448-855d-4c72-8cf8-878b599bcdde",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Bank account verification or penny drop check as is commonly referred to is a way to verify the authenticity of a customer's bank account. This operation can be used to verify a bank account and ifsc code combination. The operation will return a success response (billable) in two cases:\n\n1. The bank account or ifsc code or both are invalid\n2. The bank account and ifsc combination are verified"
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/bank/{ifsc}/accounts/{account_number}/penniless-verify": {
            "get": {
                "summary": "Bank Account Verification [Penny-Less]",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Name. Max length: 100 characters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "required": false,
                        "description": "`optional` Mobile. Length: 10 digits",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "@in.co.sandbox.bank.account.penny_less_verification_response"
                                                },
                                                "account_exists": {
                                                    "type": "boolean"
                                                },
                                                "name_at_bank": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "31281005-5a3c-4090-8c30-a55a8b725d00",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JOHN DOE"
                                            }
                                        }
                                    },
                                    "Success 2": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "6cbf1075-b26c-40fb-8eb0-8caeb33cd431",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JANE DOE"
                                            }
                                        }
                                    },
                                    "200 - Success Business": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "f370ea3a-d0c0-4697-a6ed-e3053d6a56dc",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JOHN DOE PVT LTD"
                                            }
                                        }
                                    },
                                    "Success Business 2": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "7142a4cb-d974-48e1-baf4-4155a29606ee",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "account_exists": true,
                                                "name_at_bank": "JAKE INCORPORATED"
                                            }
                                        }
                                    },
                                    "200 - Invalid Account or IFSC": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "089f322e-3092-4eed-aae4-c3bf493c9424",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Invalid account number or ifsc provided",
                                                "account_exists": false
                                            }
                                        }
                                    },
                                    "200 - Beneficiary Bank Offline": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "c1af0dee-90b0-4430-a642-6e5372cebb05",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Beneficiary bank offline"
                                            }
                                        }
                                    },
                                    "200 - Account Blocked": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "ea2398f0-1097-4a4c-9cd2-359e737f3093",
                                            "data": {
                                                "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                                                "message": "Account is blocked",
                                                "account_exists": true
                                            }
                                        }
                                    },
                                    "200 - NRE Account": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "4a435863-7cee-4150-8b88-81ebc0733e2a",
                                            "data": {
                                                "message": "Given account is an NRE account",
                                                "account_exist": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid IFSC pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "7a977025-2273-4ad6-895e-f50b5e5785ed",
                                            "message": "Invalid IFSC pattern"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "596cbb11-40bc-4bf1-94a1-138cc948242d",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "ifsc",
                    "in": "path",
                    "required": true,
                    "description": "11-digit alpha-numeric code used to identify the bank branches",
                    "schema": {
                        "deprecated": false,
                        "type": "string",
                        "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
                    }
                },
                {
                    "name": "account_number",
                    "in": "path",
                    "required": true,
                    "description": "Bank account number. Max length: 40 characters",
                    "schema": {
                        "deprecated": false,
                        "type": "string"
                    }
                }
            ]
        },
        "/kyc/aadhaar/okyc/otp": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Generate OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "OTP Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.response"
                                                        },
                                                        "reference_id": {
                                                            "type": "integer"
                                                        },
                                                        "message": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "OTP Already Generated",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "transaction_id": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "200 - OTP Generated": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "0c28de6c-9337-4cc6-8f57-6d27cd5238eb",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234567,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - OTP Generated | Invalid OTP": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "0fb7bd69-1678-4ada-8e66-25a00c623bbe",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234568,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - OTP Generated | OTP Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "baa6a557-4e91-4f7e-b433-aa8580ac30fd",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234569,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - OTP Generated | Invalid Reference ID": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "0af3c1da-78b0-4a42-a930-1f23980c9408",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234566,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - OTP Generated | Request under process": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "3803b51e-1684-4069-b683-9b30e842473b",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 1234570,
                                                "message": "OTP sent successfully"
                                            }
                                        }
                                    },
                                    "200 - Invalid Aadhaar Card": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "735737ca-6869-4881-a2ed-1b59624ef3dd",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                                                "reference_id": 78829,
                                                "message": "Invalid Aadhaar Card"
                                            }
                                        }
                                    },
                                    "200 - OTP Already Generated": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 123,
                                            "transaction_id": "6441f8d9-de12-4f2c-8ea3-0356f4267fff",
                                            "message": "OTP generated for this aadhaar, please try after 45 sec"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - Invalid Aadhaar number pattern": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "6b98ded6-e64d-4e52-a7c1-f90ed2a13dde",
                                            "message": "Invalid Aadhaar number pattern"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "af40a307-b5e6-430f-bf49-ca2947436c1c",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.request"
                                    },
                                    "aadhaar_number": {
                                        "description": "12-digit number issued by the UIDAI",
                                        "type": "string",
                                        "minLength": 12,
                                        "maxLength": 12
                                    },
                                    "consent": {
                                        "description": "Consent of the end-user to get their information for verification purposes.",
                                        "type": "string",
                                        "enum": [
                                            "Y",
                                            "y"
                                        ]
                                    },
                                    "reason": {
                                        "description": "Indicate the purpose for verification.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "aadhaar_number",
                                    "consent",
                                    "reason"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/aadhaar/okyc/otp/verify": {
            "post": {
                "summary": "Aadhaar Offline e-KYC Verify OTP",
                "tags": [
                    "Aadhaar"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.aadhaar.okyc"
                                                },
                                                "reference_id": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "care_of": {
                                                    "type": "string"
                                                },
                                                "full_address": {
                                                    "type": "string"
                                                },
                                                "date_of_birth": {
                                                    "type": "string"
                                                },
                                                "email_hash": {
                                                    "type": "string"
                                                },
                                                "gender": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "const": "in.co.sandbox.kyc.aadhaar.okyc.address"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "district": {
                                                            "type": "string"
                                                        },
                                                        "house": {
                                                            "type": "string"
                                                        },
                                                        "landmark": {
                                                            "type": "string"
                                                        },
                                                        "pincode": {
                                                            "type": "string"
                                                        },
                                                        "post_office": {
                                                            "type": "string"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        },
                                                        "street": {
                                                            "type": "string"
                                                        },
                                                        "subdistrict": {
                                                            "type": "string"
                                                        },
                                                        "vtc": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "year_of_birth": {
                                                    "type": "string"
                                                },
                                                "mobile_hash": {
                                                    "type": "string"
                                                },
                                                "photo": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "share_code": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Success": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "f54b5d70-eb73-4260-a1f3-a219548c11ee",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "reference_id": 1234567,
                                                "status": "VALID",
                                                "message": "Aadhaar Card Exists",
                                                "care_of": "S/O: Johnny Doe",
                                                "full_address": "Mangal Kanaka Niwas, Main Cross 3rd, Bengaluru, Bengaluru-Karnataka, India ",
                                                "date_of_birth": "21-04-1985",
                                                "email_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                                                "gender": "M",
                                                "name": "John Doe",
                                                "address": {
                                                    "@entity": "in.co.sandbox.kyc.aadhaar.okyc.address",
                                                    "country": "India",
                                                    "district": "Bengaluru",
                                                    "house": "Mangal Kanaka Niwas",
                                                    "landmark": "",
                                                    "pincode": "581615",
                                                    "post_office": "Bengaluru",
                                                    "state": "Karnataka",
                                                    "street": "Main Cross 3rd",
                                                    "subdistrict": "",
                                                    "vtc": "Bengaluru"
                                                },
                                                "year_of_birth": "1985",
                                                "mobile_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                                                "photo": "data:image/jpeg;base64,/9j/4AAQSk.......mj/2Q==",
                                                "share_code": "1234"
                                            }
                                        }
                                    },
                                    "200 - Invalid OTP": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "61ffaf7c-26b8-4f7e-8f96-61e1ea9675b8",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Invalid OTP"
                                            }
                                        }
                                    },
                                    "200 - OTP Expired": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "62574291-f710-4012-94a3-2ba6c8f64e44",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "OTP Expired"
                                            }
                                        }
                                    },
                                    "200 - Request under process": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "7b17b726-ec80-4814-821d-828b2d47f11d",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Request under process, please try after 30 seconds"
                                            }
                                        }
                                    },
                                    "200 - Invalid Reference Id": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "4f95702b-3f9c-4c70-a43a-26631bca2627",
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                                                "message": "Invalid Reference Id"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422 - Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "422 - OTP missing in request": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "498872bc-2ab1-44bc-8e8e-f0216e3fe7bb",
                                            "message": "OTP missing in request"
                                        }
                                    },
                                    "422 - Invalid Reference Id": {
                                        "value": {
                                            "code": 422,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "49d7de85-b4d9-4015-9bc2-f47e1fec2f3f",
                                            "message": "Invalid Reference Id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503 - Source Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "503 - Source Unavailable": {
                                        "value": {
                                            "code": 503,
                                            "timestamp": 1763624128000,
                                            "transaction_id": "8a5f6b4d-0302-40b1-b32a-171a809a8d30",
                                            "message": "Source Unavailable"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.aadhaar.okyc.request"
                                    },
                                    "reference_id": {
                                        "description": "Reference ID received in the Generate OTP response",
                                        "type": "string"
                                    },
                                    "otp": {
                                        "description": "OTP generated to mobile number associated with Aadhaar",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "reference_id",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/init": {
            "post": {
                "summary": "Initiate session",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session.response"
                                                },
                                                "authorization_url": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "session_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - OK": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1751975600361,
                                            "data": {
                                                "@entity": "in.co.sandbox.kyc.digilocker.session.response",
                                                "authorization_url": "https://digilocker.meripehchaan.gov.in/public/oauth2/1/authorize?response_type=code&client_id=IW55C7A3B0&state=e385432b-575c-4b6f-8928-79136dbc0d4f%7Cf1bd0342-cc1d-4051-8301-e8ee17e3a3c3%7Chttps%3A%2F%2Fdeveloper.sandbox.co.in%2F&code_verifier=ADlMHKsr~L8YIwLoIOGgwwRQoouE-m~Z9yu0KWstrsKrdAtUY2IkmOoDWZNn80_G&code_challenge=pnowXsaM5mBqNR3NfSfsaLBC2JYjoy2eRLOwKNVjFY8&code_challenge_method=S256&scope=files.issueddocs&redirect_uri=https%3A%2F%2Fdeveloper.sandbox.co.in%2F&pla=Y&dl_flow=signup&plsignup=Y&amr=driving_license%2Baadhaar%2Bpan%2Bemail%2Busername%2Bmobile%2Bother&verified_mobile=9004813042&req_doctype=PANCR%2CADHAR%2CDRVLC&consent_valid_till=1752061999",
                                                "session_id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3"
                                            },
                                            "transaction_id": "a11c4e00-fae1-4092-a55f-b4f0be92ffeb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "const": "in.co.sandbox.kyc.digilocker.session.request"
                                    },
                                    "flow": {
                                        "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                                        "type": "string",
                                        "enum": [
                                            "signin",
                                            "signup"
                                        ]
                                    },
                                    "doc_types": {
                                        "description": "Documents you need consent for.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "aadhaar",
                                                "pan",
                                                "driving_license"
                                            ]
                                        }
                                    },
                                    "redirect_url": {
                                        "description": "The URL to redirect the user post consent is received",
                                        "type": "string",
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "@entity",
                                    "flow",
                                    "doc_types",
                                    "redirect_url"
                                ]
                            },
                            "examples": {
                                "200 Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.digilocker.session.request",
                                        "flow": "signin",
                                        "doc_types": [
                                            "aadhaar",
                                            "pan"
                                        ],
                                        "redirect_url": "https://sandbox.co.in"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/kyc/digilocker/sessions/{session_id}/status": {
            "get": {
                "summary": "Get session status",
                "tags": [
                    "DigiLocker",
                    "DigiLocker API"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "description": "JWT access token",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "API key for identification",
                        "schema": {
                            "deprecated": false,
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 - OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "integer"
                                                },
                                                "updated_at": {
                                                    "type": "integer"
                                                },
                                                "@entity": {
                                                    "type": "string",
                                                    "const": "in.co.sandbox.kyc.digilocker.session"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "created",
                                                        "succeeded",
                                                        "expired",
                                                        "failed"
                                                    ]
                                                },
                                                "documents_consented": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "aadhaar",
                                                            "pan",
                                                            "driving_license"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "transaction_id": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "200 - Session Created": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1752580258171,
                                            "data": {
                                                "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                                                "created_at": 1752579445983,
                                                "@entity": "in.co.sandbox.kyc.digilocker.session",
                                                "status": "created"
                                            },
                                            "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                                        }
                                    },
                                    "200 - Session Succeeded": {
                                        "value": {
                                            "code": 200,
                                            "timestamp": 1751975475945,
                                            "data": {
                                                "id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3",
                                                "created_at": 1751975341292,
                                                "updated_at": 1751975465494,
                                                "@entity": "in.co.sandbox.kyc.digilocker.session",
                                                "status": "succeeded",
                                                "documents_consented": [
                                                    "aadhaar",
                                                    "pan",
                                                    "driving_license"
                                                ]
                                            },
                                            "transaction_id": "6daaaf0c-21f6-4e32-93b5-19ec4415d7fa"
                                        }
                                    }
                                }
                            }
[...]
