{
  "openapi": "3.1.0",
  "info": {
    "title": "KYC",
    "version": "1.0.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.sandbox.co.in"
    },
    {
      "url": "https://test-api.sandbox.co.in"
    }
  ],
  "paths": {
    "/bank/{ifsc}": {
      "get": {
        "summary": "IFSC Verification",
        "tags": [
          "Bank"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "deprecated": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "MICR": {
                      "type": "string"
                    },
                    "BRANCH": {
                      "type": "string"
                    },
                    "ADDRESS": {
                      "type": "string"
                    },
                    "STATE": {
                      "type": "string"
                    },
                    "CONTACT": {
                      "type": "string"
                    },
                    "UPI": {
                      "type": "boolean"
                    },
                    "RTGS": {
                      "type": "boolean"
                    },
                    "CITY": {
                      "type": "string"
                    },
                    "CENTRE": {
                      "type": "string"
                    },
                    "DISTRICT": {
                      "type": "string"
                    },
                    "NEFT": {
                      "type": "boolean"
                    },
                    "IMPS": {
                      "type": "boolean"
                    },
                    "SWIFT": {
                      "type": "string"
                    },
                    "ISO3166": {
                      "type": "string"
                    },
                    "BANK": {
                      "type": "string"
                    },
                    "BANKCODE": {
                      "type": "string"
                    },
                    "IFSC": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "MICR": "302240007",
                      "BRANCH": "PARK STREET",
                      "ADDRESS": "3 PARK STREET M I ROAD M I ROAD",
                      "STATE": "RAJASTHAN",
                      "CONTACT": "+919875003333",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "JAIPUR",
                      "CENTRE": "JAIPUR",
                      "DISTRICT": "JAIPUR",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": "HDFCINBB",
                      "ISO3166": "IN-RJ",
                      "BANK": "HDFC Bank",
                      "BANKCODE": "HDFC",
                      "IFSC": "HDFC0001234"
                    }
                  },
                  "success": {
                    "value": {
                      "CENTRE": "GHAZIABAD",
                      "UPI": true,
                      "RTGS": true,
                      "NEFT": true,
                      "IMPS": true,
                      "ADDRESS": "H NO 534 SBH ABOOPUR BR DRAMBEDKAR BASTI ABOOPUR TEHSIL MODINAGAR GHAZIABAD",
                      "CITY": "GHAZIABAD",
                      "CONTACT": "+911232225145",
                      "STATE": "UTTAR PRADESH",
                      "SWIFT": null,
                      "MICR": "110002688",
                      "BRANCH": "ABOOPUR",
                      "ISO3166": "IN-UP",
                      "DISTRICT": "GHAZIABAD",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021744"
                    }
                  },
                  "success (1)": {
                    "value": {
                      "MICR": "560002356",
                      "BRANCH": "BOMMASANDRA",
                      "ADDRESS": "3NACADEKSSIDCINDLAEAIISTAGEJIGANILINKDBOMMASANDAINDSBANGALOE",
                      "STATE": "KARNATAKA",
                      "CONTACT": "+918027839267",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE URBAN",
                      "CENTRE": "BANGALORE URBAN",
                      "DISTRICT": "BANGALORE URBAN",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021745"
                    }
                  },
                  "success (2)": {
                    "value": {
                      "MICR": "560002355",
                      "BRANCH": "YELAHANKA",
                      "ADDRESS": "CRC SQUARE NO 684 3RD A CROSS A SECTORYELAHANKA NEW TOWN",
                      "STATE": "KARNATAKA",
                      "CONTACT": "",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE",
                      "CENTRE": "BANGALORE",
                      "DISTRICT": "BANGALORE",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021746"
                    }
                  },
                  "success (3)": {
                    "value": {
                      "DISTRICT": "GREATER BOMBAY",
                      "CONTACT": "+912261606161",
                      "ADDRESS": "GROUND FLOOR UNIT NO G6 THE CAPITAL G BLOCK BKC BANDRA EAST MUMBAI MAHARASHTRA 400051",
                      "NEFT": true,
                      "SWIFT": "HDFCINBB",
                      "MICR": "400240218",
                      "CENTRE": "GREATER BOMBAY",
                      "CITY": "MUMBAI",
                      "ISO3166": "IN-MH",
                      "STATE": "MAHARASHTRA",
                      "BRANCH": "BANDRA KURLA COMPLEX",
                      "UPI": true,
                      "RTGS": true,
                      "IMPS": true,
                      "BANK": "HDFC Bank",
                      "BANKCODE": "HDFC",
                      "IFSC": "HDFC0009595"
                    }
                  },
                  "success (4)": {
                    "value": {
                      "MICR": "799002002",
                      "BRANCH": "AGARTALA",
                      "ADDRESS": "H.G.BASAK RD., AGARTALA, TRIPURA-779001",
                      "STATE": "TRIPURA",
                      "CONTACT": "",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "AGARTALA",
                      "CENTRE": "WEST TRIPURA",
                      "DISTRICT": "WEST TRIPURA",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": "SBININBB476",
                      "ISO3166": "IN-TR",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0000002"
                    }
                  },
                  "200 - success 1": {
                    "value": {
                      "MICR": "560002356",
                      "BRANCH": "BOMMASANDRA",
                      "ADDRESS": "3NACADEKSSIDCINDLAEAIISTAGEJIGANILINKDBOMMASANDAINDSBANGALOE",
                      "STATE": "KARNATAKA",
                      "CONTACT": "+918027839267",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE URBAN",
                      "CENTRE": "BANGALORE URBAN",
                      "DISTRICT": "BANGALORE URBAN",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021745"
                    }
                  },
                  "200 - success 2": {
                    "value": {
                      "MICR": "560002355",
                      "BRANCH": "YELAHANKA",
                      "ADDRESS": "CRC SQUARE NO 684 3RD A CROSS A SECTORYELAHANKA NEW TOWN",
                      "STATE": "KARNATAKA",
                      "CONTACT": "",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE",
                      "CENTRE": "BANGALORE",
                      "DISTRICT": "BANGALORE",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021746"
                    }
                  },
                  "200 - success 3": {
                    "value": {
                      "DISTRICT": "GREATER BOMBAY",
                      "CONTACT": "+912261606161",
                      "ADDRESS": "GROUND FLOOR UNIT NO G6 THE CAPITAL G BLOCK BKC BANDRA EAST MUMBAI MAHARASHTRA 400051",
                      "NEFT": true,
                      "SWIFT": "HDFCINBB",
                      "MICR": "400240218",
                      "CENTRE": "GREATER BOMBAY",
                      "CITY": "MUMBAI",
                      "ISO3166": "IN-MH",
                      "STATE": "MAHARASHTRA",
                      "BRANCH": "BANDRA KURLA COMPLEX",
                      "UPI": true,
                      "RTGS": true,
                      "IMPS": true,
                      "BANK": "HDFC Bank",
                      "BANKCODE": "HDFC",
                      "IFSC": "HDFC0009595"
                    }
                  },
                  "200 - success 4": {
                    "value": {
                      "MICR": "799002002",
                      "BRANCH": "AGARTALA",
                      "ADDRESS": "H.G.BASAK RD., AGARTALA, TRIPURA-779001",
                      "STATE": "TRIPURA",
                      "CONTACT": "",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "AGARTALA",
                      "CENTRE": "WEST TRIPURA",
                      "DISTRICT": "WEST TRIPURA",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": "SBININBB476",
                      "ISO3166": "IN-TR",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0000002"
                    }
                  },
                  "200 - 200 - Success 1": {
                    "value": {
                      "CENTRE": "GHAZIABAD",
                      "UPI": true,
                      "RTGS": true,
                      "NEFT": true,
                      "IMPS": true,
                      "ADDRESS": "H NO 534 SBH ABOOPUR BR DRAMBEDKAR BASTI ABOOPUR TEHSIL MODINAGAR GHAZIABAD",
                      "CITY": "GHAZIABAD",
                      "CONTACT": "+911232225145",
                      "STATE": "UTTAR PRADESH",
                      "SWIFT": null,
                      "MICR": "110002688",
                      "BRANCH": "ABOOPUR",
                      "ISO3166": "IN-UP",
                      "DISTRICT": "GHAZIABAD",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021744"
                    }
                  },
                  "200 - 200 - Success 2": {
                    "value": {
                      "MICR": "560002356",
                      "BRANCH": "BOMMASANDRA",
                      "ADDRESS": "3NACADEKSSIDCINDLAEAIISTAGEJIGANILINKDBOMMASANDAINDSBANGALOE",
                      "STATE": "KARNATAKA",
                      "CONTACT": "+918027839267",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE URBAN",
                      "CENTRE": "BANGALORE URBAN",
                      "DISTRICT": "BANGALORE URBAN",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021745"
                    }
                  },
                  "200 - 200 - Success 3": {
                    "value": {
                      "MICR": "560002355",
                      "BRANCH": "YELAHANKA",
                      "ADDRESS": "CRC SQUARE NO 684 3RD A CROSS A SECTORYELAHANKA NEW TOWN",
                      "STATE": "KARNATAKA",
                      "CONTACT": "",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "BANGALORE",
                      "CENTRE": "BANGALORE",
                      "DISTRICT": "BANGALORE",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": null,
                      "ISO3166": "IN-KA",
                      "BANK": "State Bank of India",
                      "BANKCODE": "SBIN",
                      "IFSC": "SBIN0021746"
                    }
                  },
                  "200 - 200 - Success 4": {
                    "value": {
                      "DISTRICT": "GREATER BOMBAY",
                      "CONTACT": "+912261606161",
                      "ADDRESS": "GROUND FLOOR UNIT NO G6 THE CAPITAL G BLOCK BKC BANDRA EAST MUMBAI MAHARASHTRA 400051",
                      "NEFT": true,
                      "SWIFT": "HDFCINBB",
                      "MICR": "400240218",
                      "CENTRE": "GREATER BOMBAY",
                      "CITY": "MUMBAI",
                      "ISO3166": "IN-MH",
                      "STATE": "MAHARASHTRA",
                      "BRANCH": "BANDRA KURLA COMPLEX",
                      "UPI": true,
                      "RTGS": true,
                      "IMPS": true,
                      "BANK": "HDFC Bank",
                      "BANKCODE": "HDFC",
                      "IFSC": "HDFC0009595"
                    }
                  },
                  "200 - 200 - Success 5": {
                    "value": {
                      "MICR": "302240007",
                      "BRANCH": "PARK STREET",
                      "ADDRESS": "3 PARK STREET M I ROAD M I ROAD",
                      "STATE": "RAJASTHAN",
                      "CONTACT": "+919875003333",
                      "UPI": true,
                      "RTGS": true,
                      "CITY": "JAIPUR",
                      "CENTRE": "JAIPUR",
                      "DISTRICT": "JAIPUR",
                      "NEFT": true,
                      "IMPS": true,
                      "SWIFT": "HDFCINBB",
                      "ISO3166": "IN-RJ",
                      "BANK": "HDFC Bank",
                      "BANKCODE": "HDFC",
                      "IFSC": "HDFC0001234"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 - Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "404- Not Found": {
                    "value": "Not Found"
                  }
                }
              }
            }
          }
        },
        "description": "You can identify a bank branch details from given IFSC code"
      },
      "parameters": [
        {
          "name": "ifsc",
          "in": "path",
          "required": true,
          "description": "11-digit alpha-numeric code used to identify the bank branches",
          "schema": {
            "deprecated": false,
            "type": "string",
            "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
          }
        }
      ]
    },
    "/bank/{ifsc}/accounts/{account_number}/verify": {
      "get": {
        "summary": "Bank Account Verification [Penny-Drop]",
        "tags": [
          "Bank"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "`optional` Name. Max length: 100 characters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "description": "`optional` Mobile. Length: 10 digits",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-accept-cache",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "@in.co.sandbox.bank.account.penny_drop_verification_response"
                        },
                        "message": {
                          "type": "string"
                        },
                        "account_exists": {
                          "type": "boolean"
                        },
                        "name_at_bank": {
                          "type": "string"
                        },
                        "utr": {
                          "type": "string"
                        },
                        "amount_deposited": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "ede162d7-9052-487b-b575-06da8166e014",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Bank Account details verified successfully.",
                        "account_exists": true,
                        "name_at_bank": "John Doe",
                        "utr": "329613870973",
                        "amount_deposited": "1"
                      }
                    }
                  },
                  "200 - Invalid account number or ifsc provided": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "e91ceff1-6b53-4e4d-9c6c-6245183dbcb3",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Invalid account number or ifsc provided",
                        "account_exists": false
                      }
                    }
                  },
                  "200 - Given account is an NRE account": {
                    "value": {
                      "code": 200,
                      "timestamp": 1698047469406,
                      "transaction_id": "33f8ce3e-ca54-4364-ae85-2f54bae21610",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Given account is an NRE account",
                        "account_exists": true
                      }
                    }
                  },
                  "200 - Account is blocked": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "bd614897-7266-4856-ae13-5f9ab9871e01",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Account is blocked",
                        "account_exists": true
                      }
                    }
                  },
                  "200 - IFSC is invalid": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "0293e5e6-0cb4-4521-aec3-d3aa92514d67",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "IFSC is invalid"
                      }
                    }
                  },
                  "200 - Source bank declined": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "cf338ee7-0a6e-4dff-ae1f-d662963ae92c",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Source bank declined"
                      }
                    }
                  },
                  "200 - Beneficiary bank offline": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "f185db31-3087-4da9-a7ae-5d2f18215815",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Beneficiary bank offline"
                      }
                    }
                  },
                  "200 - NPCI Unavailable": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "071d0a04-51e2-4807-be37-98b20fe6a011",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "NPCI Unavailable"
                      }
                    }
                  },
                  "200 - IMPS Mode fail": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "cbc54f8e-743b-4061-a049-ee95bc4e1401",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "IMPS Mode fail"
                      }
                    }
                  },
                  "200 - Failed at beneficiary bank": {
                    "value": {
                      "code": 200,
                      "timestamp": 1763725205000,
                      "transaction_id": "ae6b3fce-a534-4fa6-89ea-1e0652ef44be",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_drop_verification_response",
                        "message": "Failed at beneficiary bank"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 - Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "422 - Invalid IFSC pattern": {
                    "value": {
                      "code": 422,
                      "timestamp": 1765889766000,
                      "transaction_id": "85c1ea4d-2330-4e3f-9cd7-39f049810668",
                      "message": "Invalid IFSC pattern"
                    }
                  },
                  "422 - Please provide a valid bank account": {
                    "value": {
                      "code": 422,
                      "timestamp": 1765889766000,
                      "transaction_id": "c404656e-5768-44b8-9472-875c7d49a80f",
                      "message": "Please provide a valid bank account"
                    }
                  },
                  "422 - Invalid IFSC provided": {
                    "value": {
                      "code": 422,
                      "timestamp": 1765889766000,
                      "transaction_id": "a9f93e76-7b96-43a8-bcfe-3327c84b8835",
                      "message": "Invalid IFSC provided"
                    }
                  },
                  "422 - Invalid bank account number or ifsc provided": {
                    "value": {
                      "code": 422,
                      "timestamp": 1763725205000,
                      "transaction_id": "1e485328-fd2a-4168-932e-7ae84506f658",
                      "message": "Invalid bank account number or ifsc provided"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500 - Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "500 - Failed at bank": {
                    "value": {
                      "code": 500,
                      "timestamp": 1765889766000,
                      "transaction_id": "6f369214-4f71-4d5e-9196-3857ca0f82bf",
                      "message": "Failed at bank"
                    }
                  },
                  "500 - Transaction failed": {
                    "value": {
                      "code": 500,
                      "timestamp": 1765889766000,
                      "transaction_id": "d09e4d24-62b6-44bc-9f8d-0f6b069d5fe8",
                      "message": "Transaction failed"
                    }
                  },
                  "500 - IMPS not supported on Beneficiary account": {
                    "value": {
                      "code": 500,
                      "timestamp": 1765889766000,
                      "transaction_id": "7f9a29c0-eef6-4bbc-af4b-04b47e7d3302",
                      "message": "IMPS not supported on Beneficiary account"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503 - Source Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "value": {
                      "code": 503,
                      "timestamp": 1763725205000,
                      "transaction_id": "5617f76d-eeec-479b-9a1f-644011692ed6",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Bank account verification or penny drop check as is commonly referred to is a way to verify the authenticity of a customer's bank account. This operation can be used to verify a bank account and ifsc code combination. The operation will return a success response (billable) in two cases:\n\n1. The bank account or ifsc code or both are invalid\n2. The bank account and ifsc combination are verified"
      },
      "parameters": [
        {
          "name": "ifsc",
          "in": "path",
          "required": true,
          "description": "11-digit alpha-numeric code used to identify the bank branches",
          "schema": {
            "deprecated": false,
            "type": "string",
            "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
          }
        },
        {
          "name": "account_number",
          "in": "path",
          "required": true,
          "description": "Bank account number. Max length: 40 characters",
          "schema": {
            "deprecated": false,
            "type": "string"
          }
        }
      ]
    },
    "/bank/{ifsc}/accounts/{account_number}/penniless-verify": {
      "get": {
        "summary": "Bank Account Verification [Penny-Less]",
        "tags": [
          "Bank"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "`optional` Name. Max length: 100 characters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "description": "`optional` Mobile. Length: 10 digits",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-accept-cache",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "@in.co.sandbox.bank.account.penny_less_verification_response"
                        },
                        "account_exists": {
                          "type": "boolean"
                        },
                        "name_at_bank": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "e016852b-b33e-4c0c-b151-2cb6a88d50d4",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JOHN DOE"
                      }
                    }
                  },
                  "Success 2": {
                    "value": {
                      "code": 200,
                      "timestamp": 1763725205000,
                      "transaction_id": "54b401ab-3c20-40c4-b306-457fa54de2e0",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JANE DOE"
                      }
                    }
                  },
                  "200 - Success Business": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "3b27f845-e7b6-4676-a691-a75f3bcfd26e",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JOHN DOE PVT LTD"
                      }
                    }
                  },
                  "Success Business 2": {
                    "value": {
                      "code": 200,
                      "timestamp": 1763725205000,
                      "transaction_id": "9da16167-55aa-47f4-8c98-9a47be648d0c",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JAKE INCORPORATED"
                      }
                    }
                  },
                  "200 - Invalid Account or IFSC": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "85951d45-a32e-45b4-b04d-52b40d20f1c6",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "message": "Invalid account number or ifsc provided",
                        "account_exists": false
                      }
                    }
                  },
                  "200 - Beneficiary Bank Offline": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "ef9dd56b-1ec0-4103-9006-0e81d91da4b1",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "message": "Beneficiary bank offline"
                      }
                    }
                  },
                  "200 - Account Blocked": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "cedfa903-c1d8-4350-b3db-f9a7a5ead0cc",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "message": "Account is blocked",
                        "account_exists": true
                      }
                    }
                  },
                  "200 - NRE Account": {
                    "value": {
                      "code": 200,
                      "timestamp": 1763725205000,
                      "transaction_id": "afd092ef-9409-4f61-a0aa-512e382cc591",
                      "data": {
                        "message": "Given account is an NRE account",
                        "account_exist": true
                      }
                    }
                  },
                  "200 - 200 - Success 1": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "73a63015-1083-46ec-8bcc-1f99286d28a5",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JANE DOE"
                      }
                    }
                  },
                  "200 - 200 - Success Business 1": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "75f07abe-1dc6-4c82-a793-8a846ed1cf66",
                      "data": {
                        "@entity": "@in.co.sandbox.bank.account.penny_less_verification_response",
                        "account_exists": true,
                        "name_at_bank": "JAKE INCORPORATED"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 - Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "422 - Invalid IFSC pattern": {
                    "value": {
                      "code": 422,
                      "timestamp": 1763725205000,
                      "transaction_id": "15b01a48-cb62-4333-9b07-6b2c654b75e9",
                      "message": "Invalid IFSC pattern"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503 - Source Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "value": {
                      "code": 503,
                      "timestamp": 1763725205000,
                      "transaction_id": "49555b04-7fa1-4da6-9473-3f8b8fb49eb8",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "ifsc",
          "in": "path",
          "required": true,
          "description": "11-digit alpha-numeric code used to identify the bank branches",
          "schema": {
            "deprecated": false,
            "type": "string",
            "pattern": "^[A-Z]{4}0[0-9A-Z]{6}$"
          }
        },
        {
          "name": "account_number",
          "in": "path",
          "required": true,
          "description": "Bank account number. Max length: 40 characters",
          "schema": {
            "deprecated": false,
            "type": "string"
          }
        }
      ]
    },
    "/kyc/aadhaar/okyc/otp": {
      "post": {
        "summary": "Aadhaar Offline e-KYC Generate OTP",
        "tags": [
          "Aadhaar"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "OTP Generated",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        },
                        "transaction_id": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "@entity": {
                              "type": "string",
                              "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.response"
                            },
                            "reference_id": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "OTP Already Generated",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        },
                        "transaction_id": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "200 - OTP Generated": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "fad04935-d568-4830-a650-7abd4ecec507",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 1234567,
                        "message": "OTP sent successfully"
                      }
                    }
                  },
                  "200 - OTP Generated | Invalid OTP": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "ac014141-750a-488c-ab0b-8f3c3b48273f",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 1234568,
                        "message": "OTP sent successfully"
                      }
                    }
                  },
                  "200 - OTP Generated | OTP Expired": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "5bf077a4-761d-4429-960c-fc8141d0333e",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 1234569,
                        "message": "OTP sent successfully"
                      }
                    }
                  },
                  "200 - OTP Generated | Invalid Reference ID": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "b5f33a5e-c2b2-4c0d-94ac-a6234455358f",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 1234566,
                        "message": "OTP sent successfully"
                      }
                    }
                  },
                  "200 - OTP Generated | Request under process": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "8c6f7e1a-9099-47a1-8d5a-ced48e99f7bb",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 1234570,
                        "message": "OTP sent successfully"
                      }
                    }
                  },
                  "200 - Invalid Aadhaar Card": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "94a81994-c8d5-40a6-960e-c27f2806c500",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc.otp.response",
                        "reference_id": 78829,
                        "message": "Invalid Aadhaar Card"
                      }
                    }
                  },
                  "200 - OTP Already Generated": {
                    "value": {
                      "code": 200,
                      "timestamp": 123,
                      "transaction_id": "3fd92872-1d88-4abe-b37a-579eb5c3bf9b",
                      "message": "OTP generated for this aadhaar, please try after 45 sec"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 - Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "422 - Invalid Aadhaar number pattern": {
                    "value": {
                      "code": 422,
                      "timestamp": 1763725205000,
                      "transaction_id": "11e2af4c-2131-4e2d-88b5-a1501be449c8",
                      "message": "Invalid Aadhaar number pattern"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503 - Source Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "value": {
                      "code": 503,
                      "timestamp": 1763725205000,
                      "transaction_id": "f690d4ac-8270-46c8-8fe1-0d66bfecbd02",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@entity": {
                    "type": "string",
                    "const": "in.co.sandbox.kyc.aadhaar.okyc.otp.request"
                  },
                  "aadhaar_number": {
                    "description": "12-digit number issued by the UIDAI",
                    "type": "string",
                    "minLength": 12,
                    "maxLength": 12
                  },
                  "consent": {
                    "description": "Consent of the end-user to get their information for verification purposes.",
                    "type": "string",
                    "enum": [
                      "Y",
                      "y"
                    ]
                  },
                  "reason": {
                    "description": "Indicate the purpose for verification.",
                    "type": "string"
                  }
                },
                "required": [
                  "@entity",
                  "aadhaar_number",
                  "consent",
                  "reason"
                ]
              }
            }
          }
        }
      }
    },
    "/kyc/aadhaar/okyc/otp/verify": {
      "post": {
        "summary": "Aadhaar Offline e-KYC Verify OTP",
        "tags": [
          "Aadhaar"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "in.co.sandbox.kyc.aadhaar.okyc"
                        },
                        "reference_id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "care_of": {
                          "type": "string"
                        },
                        "full_address": {
                          "type": "string"
                        },
                        "date_of_birth": {
                          "type": "string"
                        },
                        "email_hash": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "@entity": {
                              "type": "string",
                              "const": "in.co.sandbox.kyc.aadhaar.okyc.address"
                            },
                            "country": {
                              "type": "string"
                            },
                            "district": {
                              "type": "string"
                            },
                            "house": {
                              "type": "string"
                            },
                            "landmark": {
                              "type": "string"
                            },
                            "pincode": {
                              "type": "string"
                            },
                            "post_office": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "subdistrict": {
                              "type": "string"
                            },
                            "vtc": {
                              "type": "string"
                            }
                          }
                        },
                        "year_of_birth": {
                          "type": "string"
                        },
                        "mobile_hash": {
                          "type": "string"
                        },
                        "photo": {
                          "type": "string",
                          "format": "uri"
                        },
                        "share_code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "33d55e13-d145-4b95-ae8e-5cbafc1d6e5c",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                        "reference_id": 1234567,
                        "status": "VALID",
                        "message": "Aadhaar Card Exists",
                        "care_of": "S/O: Johnny Doe",
                        "full_address": "Mangal Kanaka Niwas, Main Cross 3rd, Bengaluru, Bengaluru-Karnataka, India ",
                        "date_of_birth": "21-04-1985",
                        "email_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                        "gender": "M",
                        "name": "John Doe",
                        "address": {
                          "@entity": "in.co.sandbox.kyc.aadhaar.okyc.address",
                          "country": "India",
                          "district": "Bengaluru",
                          "house": "Mangal Kanaka Niwas",
                          "landmark": "",
                          "pincode": "581615",
                          "post_office": "Bengaluru",
                          "state": "Karnataka",
                          "street": "Main Cross 3rd",
                          "subdistrict": "",
                          "vtc": "Bengaluru"
                        },
                        "year_of_birth": "1985",
                        "mobile_hash": "044917e2c4c62a439d068.......d9f71bbde10b1d227a914e",
                        "photo": "data:image/jpeg;base64,/9j/4AAQSk.......mj/2Q==",
                        "share_code": "1234"
                      }
                    }
                  },
                  "200 - Invalid OTP": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "98a4f051-7e2a-4117-bd71-3396555c74ee",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                        "message": "Invalid OTP"
                      }
                    }
                  },
                  "200 - OTP Expired": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "cd820d41-3a81-47c8-b370-1e8d9935fb85",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                        "message": "OTP Expired"
                      }
                    }
                  },
                  "200 - Request under process": {
                    "value": {
                      "code": 200,
                      "timestamp": 1765889766000,
                      "transaction_id": "91f0f7e8-c2f5-4951-b20c-6d50ff496bab",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                        "message": "Request under process, please try after 30 seconds"
                      }
                    }
                  },
                  "200 - Invalid Reference Id": {
                    "value": {
                      "code": 200,
                      "timestamp": 1763725205000,
                      "transaction_id": "e4b31b2d-d12a-4b46-9463-238598d506dd",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.aadhaar.okyc",
                        "message": "Invalid Reference Id"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 - Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "422 - OTP missing in request": {
                    "value": {
                      "code": 422,
                      "timestamp": 1765889766000,
                      "transaction_id": "1094c490-a440-4bef-be71-198c04140756",
                      "message": "OTP missing in request"
                    }
                  },
                  "422 - Invalid Reference Id": {
                    "value": {
                      "code": 422,
                      "timestamp": 1763725205000,
                      "transaction_id": "821d8e47-ebdc-46ca-994c-d759f9a7d0dd",
                      "message": "Invalid Reference Id"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503 - Source Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "value": {
                      "code": 503,
                      "timestamp": 1763725205000,
                      "transaction_id": "8ce435b7-a9f6-412d-9e56-393da692e8fb",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@entity": {
                    "type": "string",
                    "const": "in.co.sandbox.kyc.aadhaar.okyc.request"
                  },
                  "reference_id": {
                    "description": "Reference ID received in the Generate OTP response",
                    "type": "string"
                  },
                  "otp": {
                    "description": "OTP generated to mobile number associated with Aadhaar",
                    "type": "string"
                  }
                },
                "required": [
                  "@entity",
                  "reference_id",
                  "otp"
                ]
              }
            }
          }
        }
      }
    },
    "/kyc/digilocker/user/verify": {
      "post": {
        "summary": "Verify User Account",
        "deprecated": false,
        "description": "Verifies if a user with the provided Mobile or Aadhaar Number exists on Digilocker.",
        "operationId": "verifyUserAccount",
        "tags": [
          "kyc",
          "digilocker"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key for identification",
            "required": true,
            "example": "{{api_key}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT access token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API version",
            "required": true,
            "example": "{{version}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload for Digilocker user verification. At least one of the fields 'aadhaar_number' or 'mobile' must be provided.",
                "properties": {
                  "@entity": {
                    "type": "string",
                    "enum": [
                      "in.co.sandbox.kyc.digilocker.user.verification.request"
                    ],
                    "description": "Entity identifier that specifies the type of request being made."
                  },
                  "aadhaar_number": {
                    "type": "string",
                    "pattern": "^[0-9]{12}$",
                    "description": "12-digit Aadhaar number without spaces or separators."
                  },
                  "mobile": {
                    "type": "string",
                    "pattern": "^[0-9]{10}$",
                    "description": "10-digit Indian mobile number without country code."
                  }
                },
                "required": [
                  "@entity"
                ],
                "anyOf": [
                  {
                    "required": [
                      "aadhaar_number"
                    ]
                  },
                  {
                    "required": [
                      "mobile"
                    ]
                  }
                ]
              },
              "example": {
                "@entity": "in.co.sandbox.kyc.digilocker.user.verification.request",
                "aadhaar_number": "{{aadhaar_number}}",
                "mobile": "{{mobile}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp (in milliseconds) indicating when the server generated the response."
                    },
                    "data": {
                      "type": "object",
                      "description": "Response payload containing the requested data or error details.",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "enum": [
                            "in.co.sandbox.kyc.digilocker.user.verification.response"
                          ],
                          "description": "Entity identifier that specifies the type of response being returned."
                        },
                        "user_exists": {
                          "type": "boolean",
                          "description": "Indicates whether a Digilocker account exists for the provided Aadhaar number or mobile number."
                        }
                      },
                      "required": [
                        "@entity",
                        "user_exists"
                      ]
                    },
                    "transaction_id": {
                      "type": "string",
                      "description": "Unique identifier for tracking the request across systems."
                    }
                  },
                  "required": [
                    "code",
                    "timestamp",
                    "data",
                    "transaction_id"
                  ]
                },
                "example": {
                  "code": 200,
                  "timestamp": 1751975600361,
                  "data": {
                    "@entity": "in.co.sandbox.kyc.digilocker.user.verification.response",
                    "user_exists": true
                  },
                  "transaction_id": "a11c4e00-fae1-4092-a55f-b4f0be92ffeb"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [],
        "x-sandbox-client-name": "Digilocker"
      }
    },
    "/kyc/digilocker/sessions/init": {
      "post": {
        "summary": "Initiate session",
        "tags": [
          "DigiLocker",
          "DigiLocker API"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "in.co.sandbox.kyc.digilocker.session.response"
                        },
                        "authorization_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "session_id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "200 - OK": {
                    "value": {
                      "code": 200,
                      "timestamp": 1751975600361,
                      "data": {
                        "@entity": "in.co.sandbox.kyc.digilocker.session.response",
                        "authorization_url": "https://digilocker.meripehchaan.gov.in/public/oauth2/1/authorize?response_type=code&client_id=IW55C7A3B0&state=e385432b-575c-4b6f-8928-79136dbc0d4f%7Cf1bd0342-cc1d-4051-8301-e8ee17e3a3c3%7Chttps%3A%2F%2Fdeveloper.sandbox.co.in%2F&code_verifier=ADlMHKsr~L8YIwLoIOGgwwRQoouE-m~Z9yu0KWstrsKrdAtUY2IkmOoDWZNn80_G&code_challenge=pnowXsaM5mBqNR3NfSfsaLBC2JYjoy2eRLOwKNVjFY8&code_challenge_method=S256&scope=files.issueddocs&redirect_uri=https%3A%2F%2Fdeveloper.sandbox.co.in%2F&pla=Y&dl_flow=signup&plsignup=Y&amr=driving_license%2Baadhaar%2Bpan%2Bemail%2Busername%2Bmobile%2Bother&verified_mobile=9004813042&req_doctype=PANCR%2CADHAR%2CDRVLC&consent_valid_till=1752061999",
                        "session_id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3"
                      },
                      "transaction_id": "a11c4e00-fae1-4092-a55f-b4f0be92ffeb"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@entity": {
                    "type": "string",
                    "const": "in.co.sandbox.kyc.digilocker.session.request"
                  },
                  "flow": {
                    "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                    "type": "string",
                    "enum": [
                      "signin",
                      "signup"
                    ]
                  },
                  "doc_types": {
                    "description": "Documents you need consent for.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "aadhaar",
                        "pan",
                        "driving_license"
                      ]
                    }
                  },
                  "redirect_url": {
                    "description": "The URL to redirect the user post consent is received",
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "@entity",
                  "flow",
                  "doc_types",
                  "redirect_url"
                ]
              },
              "examples": {
                "200 Example": {
                  "value": {
                    "@entity": "in.co.sandbox.kyc.digilocker.session.request",
                    "flow": "signin",
                    "doc_types": [
                      "aadhaar",
                      "pan"
                    ],
                    "redirect_url": "https://sandbox.co.in"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/digilocker/sessions/{session_id}/status": {
      "get": {
        "summary": "Get session status",
        "tags": [
          "DigiLocker",
          "DigiLocker API"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "@entity": {
                          "type": "string",
                          "const": "in.co.sandbox.kyc.digilocker.session"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "created",
                            "succeeded",
                            "expired",
                            "failed"
                          ]
                        },
                        "documents_consented": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "aadhaar",
                              "pan",
                              "driving_license"
                            ]
                          }
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "200 - Session Created": {
                    "value": {
                      "code": 200,
                      "timestamp": 1752580258171,
                      "data": {
                        "id": "839fd8a0-d645-42e1-a904-bb43353b0139",
                        "created_at": 1752579445983,
                        "@entity": "in.co.sandbox.kyc.digilocker.session",
                        "status": "created"
                      },
                      "transaction_id": "800ff751-2191-4b7d-b20a-8301790a3e19"
                    }
                  },
                  "200 - Session Succeeded": {
                    "value": {
                      "code": 200,
                      "timestamp": 1751975475945,
                      "data": {
                        "id": "f1bd0342-cc1d-4051-8301-e8ee17e3a3c3",
                        "created_at": 1751975341292,
                        "updated_at": 1751975465494,
                        "@entity": "in.co.sandbox.kyc.digilocker.session",
                        "status": "succeeded",
                        "documents_consented": [
                          "aadhaar",
                          "pan",
                          "driving_license"
                        ]
                      },
                      "transaction_id": "6daaaf0c-21f6-4e32-93b5-19ec4415d7fa"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "description": "Session id",
          "schema": {
            "deprecated": false,
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/kyc/digilocker/sessions/{session_id}/user/profile": {
      "get": {
        "summary": "Get User Profile",
        "deprecated": false,
        "description": "Gets the User Profile Details from Digilocker.",
        "operationId": "getUserProfile",
        "tags": [
          "kyc",
          "digilocker"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session identifier generated during DigiLocker [Initiate Session API](https://developer.sandbox.co.in/api-reference/kyc/digilocker/endpoints/initiate_session) .",
            "required": true,
            "example": "{{session_id}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key for identification",
            "required": true,
            "example": "{{api_key}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT access token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "description": "",
            "required": true,
            "example": "{{version}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp (in milliseconds) indicating when the server generated the response."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Digilocker Id"
                        },
                        "@entity": {
                          "type": "string",
                          "description": "Entity identifier that specifies the type of response being returned."
                        },
                        "date_of_birth": {
                          "type": "integer",
                          "description": "Date of Birth of User"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Mobile Number of User"
                        },
                        "name": {
                          "type": "string",
                          "description": "Full Name of User"
                        },
                        "gender": {
                          "type": "string",
                          "description": "Gender of User"
                        },
                        "eaadhaar": {
                          "type": "boolean",
                          "description": "Boolean indicating eaadhaar status of User"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email Address of User"
                        }
                      },
                      "required": [
                        "@entity",
                        "id",
                        "name",
                        "date_of_birth",
                        "gender",
                        "eaadhaar",
                        "mobile",
                        "email"
                      ],
                      "description": "Response payload containing the requested data or error details."
                    },
                    "transaction_id": {
                      "type": "string",
                      "description": "Unique identifier for tracking the request across systems."
                    }
                  },
                  "required": [
                    "code",
                    "timestamp",
                    "data",
                    "transaction_id"
                  ]
                },
                "example": {
                  "code": 200,
                  "timestamp": 1771480620597,
                  "data": {
                    "id": "efa8ca1d-da67-4b53-9f01-dea19d454542",
                    "@entity": "in.co.sandbox.kyc.digilocker.user.profile",
                    "date_of_birth": "16/04/2005",
                    "mobile": "9825013730",
                    "name": "Kaival Hemanshu Mehta",
                    "gender": "male",
                    "eaadhaar": true,
                    "email": "kaivalhmehta@gmail.com"
                  },
                  "transaction_id": "df28eea5-58a2-4040-a1d1-559a98326c2b"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [],
        "x-sandbox-client-name": "Digilocker"
      }
    },
    "/kyc/digilocker/sessions/{session_id}/documents/{doc_type}": {
      "get": {
        "summary": "Fetch document",
        "tags": [
          "DigiLocker",
          "DigiLocker API"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "@entity": {
                                "type": "string",
                                "const": "org.quicko.drive.file"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "size": {
                                "type": "integer"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "ContentType": {
                                    "type": "string"
                                  },
                                  "issuer_id": {
                                    "type": "string"
                                  },
                                  "issuer": {
                                    "type": "string"
                                  },
                                  "LastModified": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "200 - OK": {
                    "value": {
                      "code": 200,
                      "timestamp": 1751975529441,
                      "data": {
                        "files": [
                          {
                            "@entity": "org.quicko.drive.file",
                            "url": "https://in-co-sandbox-kyc-digilocker-dev.s3.ap-south-1.amazonaws.com/non-persistent/e385432b-575c-4b6f-8928-79136dbc0d4f/4b4bf7aa-f4da-47a8-9b32-895edfc03630/in.gov.uidai-ADHAR-0d5fe4d692c73e23c59a694eaaabc75a.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=EXAMPLEACCESSKEY%2F20250708%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20250708T115214Z&X-Amz-Expires=3600&X-Amz-Signature=EXAMPLE_SIGNATURE&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject",
                            "size": 16598,
                            "metadata": {
                              "ContentType": "application/xml",
                              "issuer_id": "in.gov.uidai",
                              "issuer": "Unique Identification Authority of India (UIDAI)",
                              "LastModified": "09/05/2025",
                              "description": "Aadhaar Card"
                            }
                          }
                        ]
                      },
                      "transaction_id": "a4d43b74-0f9c-480c-9300-f011100b674b"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "description": "Session id",
          "schema": {
            "deprecated": false,
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "doc_type",
          "in": "path",
          "required": true,
          "description": "Document you want to fetch",
          "schema": {
            "deprecated": false,
            "type": "string",
            "enum": [
              "aadhaar",
              "pan",
              "driving_license"
            ]
          }
        }
      ]
    },
    "/kyc/digilocker-sdk/sessions/create": {
      "post": {
        "summary": "Create Session",
        "tags": [
          "DigiLocker",
          "DigiLocker SDK"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "deprecated": false,
              "type": "string"
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "deprecated": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer"
                    },
                    "transaction_id": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "in.co.sandbox.kyc.digilocker.sdk.session"
                        },
                        "id": {
                          "description": "Session ID",
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "description": "Status of the Session",
                          "type": "string",
                          "enum": [
                            "created"
                          ]
                        },
                        "created_at": {
                          "type": "integer"
                        }
                      }
                    },
                    "code": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "200 - OK": {
                    "value": {
                      "timestamp": 1750331120324,
                      "transaction_id": "5ccad959-0bf4-4472-a3dd-d57e2b61b5a9",
                      "data": {
                        "@entity": "in.co.sandbox.kyc.digilocker.sdk.session",
                        "id": "0454f149-26d0-41ef-9f14-c54f4b5f7b70",
                        "status": "created",
                        "created_at": 1750331120324
                      },
                      "code": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid request body"
                      ]
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "400 - Invalid request body": {
                    "value": {
                      "code": 400,
                      "timestamp": 1760426007752,
                      "message": "Invalid request body",
                      "transaction_id": "f654ccdb-919f-486d-851d-0fc5d0050c17"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "@entity": {
                    "type": "string",
                    "const": "in.co.sandbox.kyc.digilocker.sdk.session.request"
                  },
                  "flow": {
                    "description": "Indicates whether the user is signing in or signing up on DigiLocker",
                    "type": "string",
                    "enum": [
                      "signin",
                      "signup"
                    ]
                  },
                  "doc_types": {
                    "description": "Documents you need consent for.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "aadhaar",
                        "driving_license",
                        "pan"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/digilocker-sdk/sessions/{session_id}/status": {
      "get": {
        "summary": "Session Status",
        "tags": [
          "DigiLocker",
          "DigiLocker SDK"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT access token",
            "schema": {
              "type": "string",
              "deprecated": false
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for identification",
            "schema": {
              "type": "string",
              "deprecated": false
            }
          },
          {
            "name": "x-api-version",
            "in": "header",
            "required": false,
            "schema": {
              "deprecated": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "@entity": {
                          "type": "string",
                          "const": "in.co.sandbox.kyc.digilocker.sdk.session"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "created",
                            "initialized",
                            "authorized",
                            "succeeded",
                            "failed",
                            "expired"
                          ]
                        },
                        "documents_consented": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
[...]
