{
    "openapi": "3.1.0",
    "info": {
        "title": "Sandbox API [Prod]",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.sandbox.co.in"
        },
        {
            "url": "https://test-api.sandbox.co.in"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/kyc/pan": {
            "post": {
                "summary": "PAN Verification [Advance]",
                "description": "",
                "operationId": "pan-verification-advance-api-deprecated",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "pan",
                                    "consent",
                                    "reason"
                                ],
                                "properties": {
                                    "pan": {
                                        "type": "string",
                                        "description": "10-character alphanumeric unique identifier for an income tax-payer"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Purpose for which the user has given their consent."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Valid - Without Aadhar": {
                                        "value": "{\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n  \"data\": {\n\t\t\"pan\": \"AAACJ1234Z\",\n\t\t\"last_name\": \"JOHN DOE PRIVATE LIMITED\",\n\t\t\"full_name\": \"JOHN DOE PRIVATE LIMITED\",\n\t\t\"status\": \"VALID\",\n    \"aadhaar_seeding_status\": \"NA\",\n\t\t\"category\": \"Company\",\n\t\t\"last_updated\": \"01/01/2020\"\n\t}\n}"
                                    },
                                    "Valid - With Aadhar Link": {
                                        "value": "{\n\t\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n  \"data\": {\n\t\t\"@entity\": \"pan\",\n\t\t\"pan\": \"AAAPJ1234Z\",\n\t\t\"first_name\": \"JOHN\",\n\t\t\"middle_name\": \"JAKE\",\n\t\t\"last_name\": \"DOE\",\n\t\t\"full_name\": \"JOHN JAKE DOE\",\n\t\t\"status\": \"VALID\",\n    \"aadhaar_seeding_status\": \"Y\",\n\t\t\"category\": \"Individual\",\n\t\t\"last_updated\": \"01/01/2020\"\n\t}\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Valid - Without Aadhar",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "AAACJ1234Z"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "JOHN DOE PRIVATE LIMITED"
                                                        },
                                                        "full_name": {
                                                            "type": "string",
                                                            "example": "JOHN DOE PRIVATE LIMITED"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "VALID"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "NA"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "Company"
                                                        },
                                                        "last_updated": {
                                                            "type": "string",
                                                            "example": "01/01/2020"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Valid - With Aadhar Link",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "pan"
                                                        },
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "AAAPJ1234Z"
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "JOHN"
                                                        },
                                                        "middle_name": {
                                                            "type": "string",
                                                            "example": "JAKE"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "DOE"
                                                        },
                                                        "full_name": {
                                                            "type": "string",
                                                            "example": "JOHN JAKE DOE"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "VALID"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "Y"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "Individual"
                                                        },
                                                        "last_updated": {
                                                            "type": "string",
                                                            "example": "01/01/2020"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Access Denied": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Access denied\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid Token": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Not a valid token\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Insufficient Credits": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Insufficient Credits\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Access Denied",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Access denied"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid Token",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Not a valid token"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Insufficient Credits",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Insufficient Credits"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Consent Required": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid parameter: Consent is required.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid PAN Pattern": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid Pan pattern\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Insufficient Reason Length": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid parameter: Reason must be atleast 20 characters long.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Consent Required",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid parameter: Consent is required."
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid PAN Pattern",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid Pan pattern"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Insufficient Reason Length",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid parameter: Reason must be atleast 20 characters long."
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Internal Server Error\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 500,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 503,\n  \"message\": \"Source Unavailable\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 503,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Source Unavailable"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/pans/{pan}/verify": {
            "get": {
                "summary": "PAN Verification [Basic]",
                "description": "",
                "operationId": "pan-verification-basic-api-deprecated",
                "parameters": [
                    {
                        "name": "pan",
                        "in": "path",
                        "description": "10-character alphanumeric unique identifier for an income tax-payer",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "consent",
                        "in": "query",
                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y and y",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "y"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "Purpose for which the user has given their consent. Min length: 20 characters",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "For KYC of User"
                        }
                    },
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Valid": {
                                        "value": "{\n\t\"data\": {\n\t\t\"@entity\": \"pan\",\n\t\t\"pan\": \"AAACJ1234Z\",\n\t\t\"full_name\": \"JOHN DOE PRIVATE LIMITED\",\n\t\t\"status\": \"VALID\",\n\t\t\"category\": \"Company\"\n\t},\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Invalid": {
                                        "value": "{\n\t\"data\": {\n\t\t\"@entity\": \"pan\",\n\t\t\"pan\": \"AAACJ1234Z\",\n\t\t\"status\": \"INVALID\",\n\t\t\"category\": \"Company\"\n\t},\n\t\"code\": 200,\n\t\"timestamp\": 1614696176218,\n\t\"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Valid",
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "pan"
                                                        },
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "AAACJ1234Z"
                                                        },
                                                        "full_name": {
                                                            "type": "string",
                                                            "example": "JOHN DOE PRIVATE LIMITED"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "VALID"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "Company"
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid",
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "pan"
                                                        },
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "AAACJ1234Z"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "INVALID"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "Company"
                                                        }
                                                    }
                                                },
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid Token": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Not a valid token\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Access Denied": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Access denied\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Insufficient Credits": {
                                        "value": "{\n  \"code\": 403,\n  \"message\": \"Insufficient credits\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Invalid Token",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Not a valid token"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Access Denied",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Access denied"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Insufficient Credits",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 403,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Insufficient credits"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Invalid PAN Pattern": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid Pan pattern\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Consent Required": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid parameter: Consent is required.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    },
                                    "Insufficient Reason Length": {
                                        "value": "{\n  \"code\": 422,\n  \"message\": \"Invalid parameter: Reason must be atleast 20 characters long.\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Invalid PAN Pattern",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid Pan pattern"
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Consent Required",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid parameter: Consent is required."
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Insufficient Reason Length",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid parameter: Reason must be atleast 20 characters long."
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 500,\n  \"message\": \"Internal Server Error\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 500,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Internal Server Error"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "503",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": 503,\n  \"message\": \"Source Unavailable\",\n  \"timestamp\": 1614696176218,\n  \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": 503,
                                            "default": 0
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Source Unavailable"
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "example": 1614696176218,
                                            "default": 0
                                        },
                                        "transaction_id": {
                                            "type": "string",
                                            "example": "611335dc-8be4-40d1-8438-b86526462939"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/kyc/pan/verify": {
            "post": {
                "summary": "Verify PAN Details",
                "description": "",
                "operationId": "verify-pan-details-api",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "description": "Pass true to accept the cached response. If the header is not passed, or if false is sent as the value, the request will hit the origin.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "pan",
                                    "name_as_per_pan",
                                    "date_of_birth",
                                    "consent",
                                    "reason"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "Entity name",
                                        "default": "in.co.sandbox.kyc.pan_verification.request"
                                    },
                                    "pan": {
                                        "type": "string",
                                        "description": "PAN to be verified. Regular Expression: [A-Z]{3}[PCFTGHLABJ]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}"
                                    },
                                    "name_as_per_pan": {
                                        "type": "string",
                                        "description": "Name of the holder on their PAN card"
                                    },
                                    "date_of_birth": {
                                        "type": "string",
                                        "description": "Date of Birth/Incorporation. Format in DD/MM/YYYY"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values:  `Y` or `y`"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Indicate the purpose for verification."
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.pan_verification.request",
                                        "pan": "XXXPX1234A",
                                        "name_as_per_pan": "John Ronald Doe",
                                        "date_of_birth": "11/11/2001",
                                        "consent": "Y",
                                        "reason": "For onboarding customers"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Valid PAN with Aadhaar Link": {
                                        "value": "{\n  \"code\": 200,\n  \"timestamp\": 1706076565261,\n  \"transaction_id\": \"7a377d40-e3db-4cd2-88f5-52c36e7fe124\",\n  \"data\": {\n    \"@entity\": \"in.co.sandbox.kyc.pan_verification.response\",\n    \"pan\": \"XXXPX1234A\",\n    \"category\" : \"individual\",\n    \"status\": \"valid\",\n    \"remarks\": null,\n    \"name_as_per_pan_match\": true,\n    \"date_of_birth_match\": true,\n    \"aadhaar_seeding_status\": \"y\"\n  }\n}"
                                    },
                                    "Valid PAN (Company)": {
                                        "value": "{\n  \"code\": 200,\n  \"timestamp\": 1706076565261,\n  \"transaction_id\": \"7a377d40-e3db-4cd2-88f5-52c36e7fe124\",\n  \"data\": {\n    \"@entity\": \"in.co.sandbox.kyc.pan_verification.response\",\n    \"pan\": \"XXXCX1234A\",\n    \"category\" : \"company\",\n    \"status\": \"valid\",\n    \"remarks\": \"Under Liquidation\",\n    \"name_as_per_pan_match\": true,\n    \"date_of_birth_match\": true,\n    \"aadhaar_seeding_status\": \"na\"\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Valid PAN with Aadhaar Link",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1706076565261,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "7a377d40-e3db-4cd2-88f5-52c36e7fe124"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_verification.response"
                                                        },
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "XXXPX1234A"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "individual"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "valid"
                                                        },
                                                        "remarks": {},
                                                        "name_as_per_pan_match": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "date_of_birth_match": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "y"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Valid PAN (Company)",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1706076565261,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "7a377d40-e3db-4cd2-88f5-52c36e7fe124"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_verification.response"
                                                        },
                                                        "pan": {
                                                            "type": "string",
                                                            "example": "XXXCX1234A"
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "example": "company"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "valid"
                                                        },
                                                        "remarks": {
                                                            "type": "string",
                                                            "example": "Under Liquidation"
                                                        },
                                                        "name_as_per_pan_match": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "date_of_birth_match": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "na"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Consent Required": {
                                        "value": "{\n  \"code\": 422,\n  \"timestamp\": 1688988955636,\n  \"transaction_id\": \"48b6602b-4157-4887-8c8f-62d30993d7fb\",\n  \"message\": \"Invalid parameter: Consent is required.\"\n}"
                                    },
                                    "Invalid PAN Pattern": {
                                        "value": "{\n  \"code\": 422,\n  \"timestamp\": 1688647903939,\n  \"transaction_id\": \"52eaf81a-e206-409c-9f3b-37833f6fc0d0\",\n  \"message\": \"Invalid Pan pattern\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Consent Required",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1688988955636,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "48b6602b-4157-4887-8c8f-62d30993d7fb"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid parameter: Consent is required."
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid PAN Pattern",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 422,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1688647903939,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "52eaf81a-e206-409c-9f3b-37833f6fc0d0"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Invalid Pan pattern"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/kyc/pan-aadhaar/status": {
            "post": {
                "summary": "PAN-Aadhaar Link Status",
                "description": "",
                "operationId": "pan-aadhaar-link-status-check",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API Version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "pan",
                                    "aadhaar_number",
                                    "consent",
                                    "reason"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "Entity name",
                                        "default": "in.co.sandbox.kyc.pan_aadhaar.status"
                                    },
                                    "pan": {
                                        "type": "string",
                                        "description": "PAN number. Regular Expression: [A-Z]{3}[PCFTGHLABJ]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}"
                                    },
                                    "aadhaar_number": {
                                        "type": "string",
                                        "description": "A 12-digit number issued by the UIDAI to the residents of India"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: Y or y"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Indicate the purpose for verification."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Linked": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1614696176218,\n    \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_aadhaar.status.response\",\n        \"aadhaar_seeding_status\": \"y\",\n        \"message\": \"Your PAN is linked to Aadhaar Number  XXXX XXXX 9999.\"\n    }\n}"
                                    },
                                    "Not linked": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1614696176218,\n    \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_aadhaar.status.response\",\n        \"aadhaar_seeding_status\": \"n\",\n        \"message\": \"PAN not linked with Aadhaar\"\n    }\n}"
                                    },
                                    "Invalid Pan": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1614696176218,\n    \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_aadhaar.status.response\",\n        \"aadhaar_seeding_status\": \"n\",\n        \"message\": \"PAN does not exist\"\n    }\n}"
                                    },
                                    "Invalid Aadhar": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1614696176218,\n    \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_aadhaar.status.response\",\n        \"aadhaar_seeding_status\": \"n\",\n        \"message\": \"Please enter a valid Aadhaar Number\"\n    }\n}"
                                    },
                                    "Linked to another Aadhar": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1614696176218,\n    \"transaction_id\": \"611335dc-8be4-40d1-8438-b86526462939\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_aadhaar.status.response\",\n        \"aadhaar_seeding_status\": \"n\",\n        \"message\": \"Your Aadhaar Number is linked to some other PAN\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Linked",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_aadhaar.status.response"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "y"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Your PAN is linked to Aadhaar Number  XXXX XXXX 9999."
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not linked",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_aadhaar.status.response"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "n"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "PAN not linked with Aadhaar"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid Pan",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_aadhaar.status.response"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "n"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "PAN does not exist"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Invalid Aadhar",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_aadhaar.status.response"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "n"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Please enter a valid Aadhaar Number"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Linked to another Aadhar",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1614696176218,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "611335dc-8be4-40d1-8438-b86526462939"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_aadhaar.status.response"
                                                        },
                                                        "aadhaar_seeding_status": {
                                                            "type": "string",
                                                            "example": "n"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "example": "Your Aadhaar Number is linked to some other PAN"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/kyc/pan/search": {
            "post": {
                "summary": "Search PAN",
                "description": "",
                "operationId": "pan-360",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "header",
                        "description": "JWT access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "API key for identification",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-accept-cache",
                        "in": "header",
                        "description": "Pass true to accept the cached response. If the header is not passed, or if false is sent as the value, the request will hit the origin.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "x-api-version",
                        "in": "header",
                        "description": "API version",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "@entity",
                                    "pan",
                                    "consent",
                                    "reason"
                                ],
                                "properties": {
                                    "@entity": {
                                        "type": "string",
                                        "description": "Entity name",
                                        "default": "in.co.sandbox.kyc.pan_search.request"
                                    },
                                    "pan": {
                                        "type": "string",
                                        "description": "PAN to be verified. Regular Expression: [A-Z]{3}[PCFTGHLABJ]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}"
                                    },
                                    "consent": {
                                        "type": "string",
                                        "description": "Consent of the end-user to get their information for verification purposes. Possible values: `Y` or `y`"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Indicate the purpose for verification."
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "@entity": "in.co.sandbox.kyc.pan_verification.request",
                                        "pan": "XXXPX1234A",
                                        "consent": "y",
                                        "reason": "For Testing"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Success": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1688647903939,\n    \"transaction_id\": \"52eaf81a-e206-409c-9f3b-37833f6fc0d0\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_search.response\",\n        \"status\": \"valid\",\n        \"pan\": \"XXXPX1234A\",\n        \"full_name\": \"JOHN RONALD DOE\",\n        \"name_as_per_pan\": \"JOHN RONALD DOE\",\n        \"category\": \"individual\",\n        \"gender\": \"male\",\n        \"date_of_birth\": \"21-04-1985\",\n        \"masked_aadhaar_number\": \"XXXXXXXXX012\",\n        \"email\": \"johndoe@email.com\",\n        \"mobile_number\": \"999999999\",\n        \"first_name\": \"JOHN\",\n        \"middle_name\": \"RONALD\",\n        \"last_name\": \"DOE\",\n        \"aadhaar_seeding_status\": \"y\",\n        \"address\": {\n            \"@entity\": \"in.co.sandbox.kyc.pan_search.address\",\n            \"full_address\": \"Mangal Kanaka Niwas, Main Cross 3rd, Bengaluru, Bengaluru-Karnataka, India \",\n            \"street\": \"Main Cross 3rd\",\n            \"city\": \"Bengaluru\",\n            \"state\": \"Karnataka\",\n            \"pincode\": 581615,\n            \"country\": \"India\"\n        }\n    }\n}"
                                    },
                                    "Invalid PAN": {
                                        "value": "{\n    \"code\": 200,\n    \"timestamp\": 1688647903939,\n    \"transaction_id\": \"52eaf81a-e206-409c-9f3b-37833f6fc0d0\",\n    \"data\": {\n        \"@entity\": \"in.co.sandbox.kyc.pan_search.response\",\n        \"pan\": \"XXXFX1234J\",\n        \"category\" : \"firm\",\n        \"status\": \"invalid\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Success",
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer",
                                                    "example": 200,
                                                    "default": 0
                                                },
                                                "timestamp": {
                                                    "type": "integer",
                                                    "example": 1688647903939,
                                                    "default": 0
                                                },
                                                "transaction_id": {
                                                    "type": "string",
                                                    "example": "52eaf81a-e206-409c-9f3b-37833f6fc0d0"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "@entity": {
                                                            "type": "string",
                                                            "example": "in.co.sandbox.kyc.pan_search.response"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "valid"
                                                        },
[...]
